<%= form_with model: question do |f| %>
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <h5>
          <%= t('basics.basics') %>
        </h5>
      </div>
      <div class="col-5">
        <span class="no_display incorrect"
              id="question-basics-warning">
          <%= t('warnings.unsaved_changes') %>
        </span>
      </div>
      <div class="col-4">
        <span class="no_display"
              id="question-basics-options">
          <%= f.submit t('buttons.save'),
                      class: "btn btn-primary btn-sm",
                      id: "question-basics-save" %>
          <button type="button"
                  class="btn btn-secondary btn-sm"
                  id="question-basics-cancel"
                  data-id="<%= question.id %>">
            <%= t('buttons.discard') %>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body p-2">
    <div id="tex-preview-question-<%= question.id %>"
         class="bg-edit-question p-2">
      <%= question.parsed_text_with_params %>
    </div>
    <div id="questionParameters"
         class="bg-edit-question p-2">
      <%= render partial: 'questions/edit/parameters',
                 locals: { parameters: question.parameters } %>
    </div>
    <div class="mb-3">
    </div>
    <div class="mb-3">
      <%= f.label :text, t('basics.latex'), class: 'form-label' %>
      <%= f.text_area :text,
                      id: 'tex-area-question-' + question.id.to_s,
                      class: 'form-control',
                      rows: 5,
                      data: { parse: true, id: question.id } %>
    </div>
    <div class="mb-3">
      <label class="form-label"><%= t('basics.type') %>:</label>
      <span id="questionSort" class="ms-2">
        <div class="form-check form-check-inline">
          <%= f.radio_button :question_sort, 'mc', class: 'form-check-input' %>
          <%= f.label :question_sort, t('basics.multiple_choice'), value: 'mc', class: 'form-check-label' %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :question_sort, 'free', class: 'form-check-input' %>
          <%= f.label :question_sort, t('basics.free'), value: 'free', class: 'form-check-label' %>
        </div>
      </span>
    </div>
    <div class="mb-3">
      <label class="form-label"><%= t('basics.level') %>:</label>
      <span id="level" class="ms-2">
        <div class="form-check form-check-inline">
          <%= f.radio_button :level, 0, class: 'form-check-input' %>
          <%= f.label :level, t('basics.level_easy'), value: 0, class: 'form-check-label' %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :level, 1, class: 'form-check-input' %>
          <%= f.label :level, t('basics.level_medium'), value: 1, class: 'form-check-label' %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :level, 2, class: 'form-check-input' %>
          <%= f.label :level, t('basics.level_hard'), value: 2, class: 'form-check-label' %>
        </div>
      </span>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <%= f.check_box :independent, class: 'form-check-input' %>
        <%= f.label :independent, t('admin.question.independent'), class: 'form-check-label' %>
      </div>
    </div>
    <div class="mb-3">
      <%= f.label :hint, t('admin.question.hint'), class: 'form-label' %>
      <%= f.text_area :hint, id: 'tex-area-hint-' + question.id.to_s,
                      class: 'form-control' %>
    </div>
    <div id="tex-preview-hint-<%= question.id %>"
         class="p-2 mb-3">
      <%= question.hint %>
    </div>
    <%= render partial: 'questions/options',
               locals: { question: question } %>
  </div>
<% end %>
