<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-12">
        <h5>
          Details
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body p-2">
    Anzeige
    <div id="tex-preview-question-<%= question.id %>"
         class="bg-edit-question p-2 mb-3">
      <%= question.text %>
    </div>
    <div class="form-group">
      <%= f.label :text, 'LaTEX' %>
      <%= f.text_area :text, id: 'tex-area-question-' + question.id.to_s,
                      class: 'form-control',
                      rows: 5 %>
    </div>
    <div class="form-group">
      <%= f.label :hint, 'Lösungshinweis' %>
      <%= f.text_area :hint, id: 'tex-area-hint-' + question.id.to_s,
                      class: 'form-control' %>
    </div>
    <div id="tex-preview-hint-<%= question.id %>"
         class="p-2 mb-3">
      <%= question.hint %>
    </div>
    <%= render partial: 'questions/options', locals: { question: question } %>
  </div>
</div>
