<div class="border rounded border-info p-2">
  <%= t('admin.question.referencing_quizzes') %>:
  <% if question.proper_quiz_ids.blank? %>
    <%= t('none') %>
  <% else %>
    <ul>
      <% question.proper_quiz_ids.each do |q| %>
        <li>
          <%= Quiz.find_by_id(q).label %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= t('admin.question.global_changes_html') %>
    <% if question.proper_quiz_ids.present? %>
      <%= t('admin.question.all_quizzes_html') %>
      <div class="text-center">
        <button id="button-reassign"
                type="button"
                class="btn btn-sm btn-secondary"
                data-toggle="modal"
                data-target="#reassignModal"
                data-id="<%= question.id %>"
                data-type="Question">
          <%= t('buttons.create_copy') %>
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-3">
  <% if question.parent.present? %>
    <%= t('admin.question.its_a_copy_html',
          original: link_to(question.parent.label,
                            edit_question_path(question.parent),
                            target: :_blank)) %>
  <% end %>
</div>
<% if question.children.present? %>
  <div class="mt-3">
    <%= t('admin.question.copies') %>
    <ul>
      <% question.children.each do |c| %>
        <li>
          <%= link_to c.label,
                      edit_question_path(c),
                      target: :_blank %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
