<% quiz_ids = question.proper_quiz_ids %>
<% quiz_ids -= [quiz_id] if in_quiz %>
<div id="reassign-question-<%= question.id %>">
  <%= bootstrap_form_with model: question,
                          url: { action: "reassign",
                                 controller: "questions",
                                 id: question.id } do |f| %>
    <%= t('admin.question.copy_created') %>
    <% if in_quiz %>
      <%= f.hidden_field 'quiz-' + quiz_id.to_s,
                         value: '1' %>
      <% if quiz_ids.present? %>
        <%= t('admin.question.current_and_checked_html') %>
      <% else %>
        <%= t('admin.question.current_only_html') %>
      <% end %>
    <% else %>
      <%= t('admin.question.checked_only_html') %>
    <% end %>
    <% quiz_ids.each do |q| %>
      <%= f.check_box 'quiz-' + q.to_s,
                      label: Quiz.find_by_id(q).label %>
    <% end %>
    <%= f.hidden_field :type,
                       id: 'reassign_type',
                       value: in_quiz ? 'quiz' : 'edit' %>
    <div class="text-center">
      <%= f.submit t('buttons.copy_edit'),
                   class: 'btn btn-sm btn-primary mt-3'%>
    </div>
  <% end %>
</div>
