<% quiz_ids = question.proper_quiz_ids %>
<% quiz_ids -= [quiz_id] if in_quiz %>
<div id="reassign-question-<%= question.id %>">
  <%= bootstrap_form_with model: question,
                          url: { action: "reassign",
                                 controller: "questions",
                                 id: question.id } do |f| %>
    <% if in_quiz %>
      <%= f.hidden_field 'quiz-' + quiz_id.to_s, value: '1' %>
        Es wird eine Kopie der Frage erstellt.
        Diese wird
        <strong>
          nur im aktuell bearbeiteten Quiz
        </strong>
        <% if quiz_ids.present? %>
          sowie in den
          <strong>
            angekreuzten Quizzes
          </strong>
        <% end %>
        referenziert.
    <% else %>
        Es wird eine Kopie der Frage erstellt.
        Diese wird
        <strong>
          nur in den angekreuzten Quizzes
        </strong>
        referenziert.
    <% end %>
    <% quiz_ids.each do |q| %>
      <%= f.check_box 'quiz-' + q.to_s, label: Quiz.find_by_id(q).label %>
    <% end %>
    <%= f.hidden_field :type, id: 'reassign_type',
                       value: in_quiz ? 'quiz' : 'edit' %>
    <div class="text-center">
      <%= f.submit 'Kopie erstellen und bearbeiten',
                   class: 'btn btn-sm btn-primary mt-3'%>
    </div>
  <% end %>
</div>
