<%= form_with model: question, html: { id: 'solution-form' } do |f| %>
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <h5>
          <%= t('basics.solution') %>
        </h5>
      </div>
      <div class="col-5">
        <span class="no_display incorrect"
              id="question-solution-warning">
          <%= t('warnings.unsaved_changes') %>
        </span>
      </div>
      <div class="col-4">
        <span class="no_display"
              id="question-solution-options">
          <%= f.submit t('buttons.save'),
                      class: "btn btn-primary btn-sm",
                      id: "question-solution-save" %>
          <button type="button"
                  class="btn btn-secondary btn-sm"
                  id="question-solution-cancel"
                  data-id="<%= question.id %>">
            <%= t('buttons.discard') %>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group">
      <span class="mr-2">
        <%= t('basics.type') + ':' %>
      </span>
      <div class="custom-control custom-control-inline custom-radio">
        <%= f.radio_button :solution_type,
                           'MampfExpression',
                           class: 'custom-control-input solutionType',
                           checked: solution.type == 'MampfExpression',
                           data: { type: 'MampfExpression' } %>
        <%= f.label :solution_type,
                    t('math.expression'),
                    value: 'MampfExpression',
                    class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-control-inline custom-radio">
        <%= f.radio_button :solution_type,
                           'MampfMatrix',
                           class: 'custom-control-input solutionType',
                           checked: solution.type == 'MampfMatrix',
                           data: { type: 'MampfMatrix' } %>
        <%= f.label :solution_type,
                    t('math.matrix'),
                    value: 'MampfMatrix',
                    class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-control-inline custom-radio">
        <%= f.radio_button :solution_type,
                           'MampfTuple',
                           class: 'custom-control-input solutionType',
                           checked: solution.type == 'MampfTuple',
                           data: { type: 'MampfTuple' } %>
        <%= f.label :solution_type,
                    t('math.tuple'),
                    value: 'MampfTuple',
                    class: 'custom-control-label' %>
      </div>
    </div>
    <div class="form-group">
      <%= render partial: 'questions/domains/general_form',
                 locals: { f: f,
                           type: solution.type,
                           content: solution.content } %>
    </div>
    <div id="solution-box">
      <%= render partial: 'questions/tex_solution',
                 locals: { solution: solution } %>
    </div>
  </div>
<% end %>