<div class="row bg-lime-lighten-4 p-2 mb-3">
  <div class="col-3">
    <h4 class="bg-lime-lighten-4 p-2">
      <span class="badge badge-secondary">
        Fragenübersicht
      </span>
    </h4>
  </div>
  <div class="col-4">
    <%= paginate @questions %>
  </div>
  <div class="col-5">
    <%= link_to 'zur Quiz-Übersicht', quizzes_path,
                class: 'btn btn-primary' %>
    <%= link_to 'zur Bemerkungs-Übersicht', remarks_path,
                class: 'btn btn-primary' %>
  </div>
</div>
<%= link_to 'Neue Frage', new_question_path,
            class: 'btn btn-primary m-4',
            id: 'new_question_button',
            remote: true %>
<%= render partial: 'questions/form_new', locals: { question: @question } %>
<div class="card">
  <div class="card-body">
    <% @questions.each do |q| %>
      <div class="row border border-secondary mb-1">
        <div class="col-3">
          <span class="pl-4">
            <%= link_to q.label, question_path(q) %>
          </span>
        </div>
        <div class="col-9 bg-edit-question">
          <%= q.text %>
        </div>
      </div>
    <% end %>
  </div>
</div>
