<div class="row p-2 mb-3">
  <div class="col-9">
    <h4 class="p-2">
      <span class="badge badge-secondary">
        Frage
      </span>
      <%= @question.label %>
    </h4>
  </div>
  <div class="col-3">
    <%= link_to 'zur Fragenübersicht', questions_path,
                class: 'btn btn-primary' %>
    <%= link_to 'Frage Löschen', question_path, method: :delete,
        data: { confirm: 'Bist Du sicher? Die Antworten werden dann auch'\
                         'gelöscht.' },
        class: 'btn btn-danger' %>
  </div>
</div>
<%= render partial: 'questions/data', locals: { question: @question } %>
<%= render partial: 'quizzes/reassign_modal' %>
