<% provide(:title, "Home") %>
<% if !user_signed_in? %>
  <div class="alert alert-primary"
       role="alert">
    <%= t('sign_up_html',
          path: link_to(t('sign_up'),
          new_user_registration_path(params: {locale: I18n.locale}))) %>
  </div>
<% end %>
<% if @announcements.present? %>
  <div class="alert alert-secondary"
       role="alert">
    <%= @announcements.html_safe %>
  </div>
<% end %>
<div class="jumbotron bg-mdb-color-lighten-6">
  <h1>
    <%= image_tag '/MaMpf-Logo_96x96.png', class: 'img-fluid mr-2' %>
    <%= t('mampf') %>
  </h1>
  <p>
    <%= t('main.welcome') %>
  </p>
    <%= t('main.about') %>
  <ul>
    <li>
      <%= t('main.kaviar_html') %>
    </li>
    <li>
      <%= t('main.sesam_html') %>
    </li>
    <li>
      <%= t('main.keks_html') %>
    </li>
  </ul>
  <%= t('main.interested_html',
        blog: link_to(t('main.blog'),
                      DefaultSetting::BLOG_LINK, target: :_blank),
        researchgate: link_to(t('main.researchgate'),
                              DefaultSetting::RESEARCHGATE_LINK, target: :_blank),
        guided_tour: link_to(t('here_capital'),
                             DefaultSetting::TOUR_LINK, target: :_blank),
        resources: link_to(t('main.resources'),
                           DefaultSetting::RESOURCES_LINK,
                           target: :_blank)) %>
</div>
