<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_url(protocol: "https"), method: :delete %>
  <%= link_to "Change password", edit_user_registration_path %>
  <%= link_to "Show profile", profile_path %>
<% else %>
  <p><%= link_to "Sign_up", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
<%= link_to "About", about_path%></p>
  <h1>mampf-dev</h1>
  <p>Testumgebung für die Entwicklung des MaMpf-Projektes</p>
