<div class="card mb-2 bg-light-blue-lighten-5">
 	<div class="card-header">
 	 	<div class="row mb-2">
     	<div class="col-10">
       	<h4>
         	MaMpf-News
         	<% if user_signed_in? && current_user.active_news.present? %>
            <span class="badge badge-secondary newsCounter"
            			data-count="<%= @current_user.active_news.count %>">
              <%= @current_user.active_news.count %>
            </span>
          <% end %>
        </h4>
     	</div>
      <div class="col-2 text-right">
      	<% if user_signed_in? && current_user.active_news.present? %>
        	<%= link_to 'alle erledigen',
          		        destroy_news_notifications_path,
             		      class: 'btn btn-sm btn-secondary',
               		    method: :post,
                 	    remote: true %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body"
     	 id="newsCardBody">
    <div class="row" id="newsCardRow">
     	<% if @announcements.present? %>
       	<% @announcements.each do |a| %>
         	<div class="col-12 col-md-6 col-xl-4 col-xxl-4 mb-2"
           	   data-announcementCard="<%= a.id %>">
           	<%= render partial: 'announcements/card',
             	         locals: { announcement: a } %>
         	</div>
       	<% end %>
     	<% else %>
       	<div class="col-12">
         	Es liegen keine MaMpf-News vor.
       	</div>
     	<% end %>
   	</div>
 	</div>
</div>