<h3 class="lecture-pane-header">
  <%= t('categories.announcements') %>
</h3>

<div class="col-12 text-center">
  <%= link_to t('buttons.create_announcement'),
              new_announcement_path(params: { lecture: lecture.id }),
              class: 'btn btn-sm btn-secondary',
              id: 'new-announcement-button',
              remote: true %>
</div>

<div id="announcements-list">
<% announcements.each_with_index do |a, index| %>
  <div class="row px-4 py-2 <%= 'border-bottom' unless index == announcements.size - 1 %>"
        id="row-announcement-<%= a.id %>">
    <%= render partial: 'announcements/row_for_lecture_edit',
                locals: { announcement: a }%>
  </div>
<% end %>
</div>
