<hr class="lecture-pane-separator">
<h3 class="lecture-pane-header">
  <%= t('basics.tutorials') %>
</h3>

  <div class="mb-3">
    <div class="col-12 text-center">
      <%= link_to t('admin.tutorial.new'),
                  new_tutorial_path(params: { lecture_id: lecture.id }),
                  class: 'btn btn-sm btn-primary',
                  id: 'newTutorialButton',
                  data: { cy: 'new-tutorial-btn' },
                  remote: true %>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item bg-light"
          id="tutorialListHeader"
          style="display: <%= show(lecture.tutorials.any?) %>">
      <div class="row">
        <div class="col-4">
          <h6>
            <%= t('basics.title') %>
          </h6>
        </div>
        <div class="col-4">
          <h6>
            <%= t('basics.tutors') %>
            <%= helpdesk(t('tutorial.info.tutors'), true) %>
          </h6>
        </div>
        <div class="col-4">
          <h6>
            <%= t('basics.action') %>
            <%= helpdesk(t('tutorial.destruction_info'), true) %>
          </h6>
        </div>
      </div>
    </div>
    <% lecture.tutorials.each do |t| %>
      <%= render partial: 'tutorials/row',
                  locals: { tutorial: t } %>
    <% end %>
  </div>
