<div
  id="lectureUserModal"
  class="modal fade"
  aria-hidden="true"
  aria-labelledby="lectureUserModalLabel"
  data-backdrop="static"
  data-keyboard="false"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-xl"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="lectureUserModalLabel" class="modal-title">
          <%= t('admin.lecture.subscribers') %>
        </h5>
        <button type="button"
          class="btn-close"
          aria-label="Close"
          data-bs-dismiss="modal">
        </button>
      </div>
      <div class="modal-body">
        <div class="row border bg-mdb-color-lighten-5 mx-2">
          <div class="col-6">
            <%= t('basics.display_name') %>
          </div>
          <div class="col-6">
            <%= t('basics.email') %>
          </div>
        </div>
        <div id="lectureUserModalContent"
          data-filled="false"
          data-lecture="<%= lecture.id %>">
        </div>
        <div class="row my-3">
          <div class="col-12 text-center">
            <button type="button"
              class="btn btn-sm btn-secondary"
              aria-label="Close"
              data-bs-dismiss="modal">
              <%= t('buttons.close') %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
