<div class="modal fade"
     id="publishLectureModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="publishLectureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="publishLectureModalLabel">
          <%= t('admin.lecture.publish') %>
        </h5>
        <button type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <%= form_with model: Medium.new(released: lecture.restricted? ? 'subscribers' : 'all'),
                    url: publish_lecture_path(lecture),
                    remote: true,
                    method: 'post' do |f| %>
        <div class="modal-body">
          <%= t('admin.lecture.publish_request') %>
          <div class="row mt-2 mb-2">
            <div class="col-12">
              <div class="custom-control custom-radio">
                <%= f.radio_button :publish_media,
                                   1,
                                   class: 'form-check-input',
                                   checked: true %>
                <%= f.label :publish_media,
                            t('admin.lecture.publish_all_media'),
                            value: 1,
                            class: 'custom-control-label' %>
              </div>
              <div class="py-3 px-4">
                <span id="access-text">
                  <%= t('admin.lecture.media_access') %>
                  <%= helpdesk(t('admin.medium.info.access_rights'), true) %>
                </span>
                <%= render partial: 'media/access_rights',
                           locals: { f: f,
                                     medium: nil,
                                     suppress_label: true } %>
              </div>
              <div class="custom-control custom-radio">
                <%= f.radio_button :publish_media,
                                    0,
                                    class: 'form-check-input',
                                    checked: false %>
                <%= f.label :publish_media,
                            t('admin.lecture.media_unpublished'),
                            value: 0,
                            class: 'custom-control-label' %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row mt-3">
            <div class="col-12 text-center">
              <%= f.submit t('buttons.publish'),
                           class: 'btn btn-sm btn-danger',
                           data: { confirm: t('confirmation.publish') } %>
              <button type="button"
                      class="btn btn-sm btn-secondary"
                      data-bs-dismiss="modal">
                <%= t('buttons.cancel') %>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>