<div class="row">
  <div class="col-12">
    <%= t('quiz.compile_questions') %>
  </div>
</div>
<%= form_with url: compile_questions_path,
              scope: 'search',
              remote: true,
              method: 'post' do |f| %>
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= f.select :tag_ids,
                   options_for_select([[]]),
                   {},
                   { multiple: true,
                     class: 'selectize',
                     style: 'display: none;',
                     data: { filled: false,
                             ajax: true,
                             model: 'course_tag',
                             course: @course.id } } %>
      <%= f.hidden_field :course_id, value: @course.id %>
    </div>
    <div class="col-1">
      <%= f.submit t('buttons.submit'),
                   class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
<% end %>