<div class="row">
  <div class="col-12 text-center">
    <button class="btn btn-sm btn-light border border-secondary"
            id="toggle_results-<%= round_id %>"
            data-hide="<%= t('admin.quiz.hide') %>"
            data-details="<%= t('basics.details') %>">
      <div>
        <span id="correctness-<%= round_id %>">
        </span>
      </div>
      <div id="toggle_message-<%= round_id %>">
        <%= t('basics.details') %>
      </div>
    </button>
    <% question = Question.find_by_id(question_id) %>
    <% if question&.video %>
        <a href="<%= play_medium_path(question) %>"
           class="no-deco ml-3 fas fa-play fa-2x text-info"
           data-toggle="tooltip"
           data-placement="bottom"
           title="<%= t('admin.quiz.video_info') %>"
           style="position: relative; top: 6px;"
           target="_blank">
        </a>
    <% end %>
    <% if question.manuscript %>
      <a href="<%= display_medium_path(question) %>"
         class="no-deco ml-3 far fa-file-pdf fa-2x text-info"
         data-toggle="tooltip"
         data-placement="bottom"
         title="<%= t('admin.quiz.manuscript_info') %>"
         style="position: relative; top: 6px;"
         target="_blank">
      </a>
    <% end %>
  </div>
</div>
