<div class="row">
  <div class="col-12 text-center">
    <button id="toggle_results-<%= round_id %>"
      class="btn btn-sm btn-light border border-secondary"
      data-details="<%= t('basics.details') %>"
      data-hide="<%= t('admin.quiz.hide') %>">
      <div>
        <span id="correctness-<%= round_id %>">
        </span>
      </div>
      <div id="toggle_message-<%= round_id %>">
        <%= t('basics.details') %>
      </div>
    </button>
    <% question = Question.find_by_id(question_id) %>
    <% if question&.video %>
    <a
      class="no-deco ms-3 fas fa-play fa-2x text-info"
      style="position: relative; top: 6px;"
      data-bs-toggle="tooltip"
      data-placement="bottom"
      href="<%= play_medium_path(question) %>"
      target="_blank"
      title="<%= t('admin.quiz.video_info') %>"
    >
    </a>
    <% end %>
    <% if question.manuscript %>
    <a
      class="no-deco ms-3 far fa-file-pdf fa-2x text-info"
      style="position: relative; top: 6px;"
      data-bs-toggle="tooltip"
      data-placement="bottom"
      href="<%= display_medium_path(question) %>"
      target="_blank"
      title="<%= t('admin.quiz.manuscript_info') %>"
    >
    </a>
    <% end %>
  </div>
</div>
