<% question = Question.find(@quiz_round.vertex[:id]) %>
<% answers = @quiz_round.answers %>
<div class="card bg-question mt-2 border-secondary">
  <div class="card-header bg-light-blue-lighten-5">
    <div class="row">
      <div class="col-<%= question.hint.present? ? 11 : 12 %>">
        <%= question.text %>
      </div>
      <% if question.hint.present? %>
        <div class="col-1 text-right">
          <span >
            <i class="far fa-question-circle"
               id="reveal-hint-<%= question.id %>"
               style="cursor: pointer;" data-toggle="tooltip"
               data-placement="left" title="<%= t('admin.question.hint') %>">
            </i>
          </span>
        </div>
      <% end %>
    </div>
    <% if question.hint.present? %>
      <div class="row no_display" id="hint-<%= question.id %>">
        <div class="col-12">
          <span>
            <em>
              <%= t('admin.question.hint') %>
            </em>
          </span>
          <%= question.hint %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-body" id="body-<%= @quiz_round.round_id %>">
    <div id="results-<%= @quiz_round.round_id %>">
      <%= render partial: "quizzes/question_open",
                 locals: { quiz_round: @quiz_round,
                           answers: answers } %>
    </div>
    <div id="reduced-<%= @quiz_round.round_id %>" style="display: none;">
      <%= render partial: "quizzes/answers_reduced",
                 locals: { answers: answers } %>
    </div>
  </div>
  <div class="card-footer no_display"
       id="footer-<%= @quiz_round.round_id %>">
    <%= t('admin.quiz.loop_info') %>
  </div>
</div>
