<% remark = Remark.find(@quiz_round.vertex[:id]) %>
<div class="card bg-remark mt-2 border-secondary">
  <div class="card-body">
    <%= bootstrap_form_with model: @quiz_round.quiz,
                            url: {action: "proceed"} do |f| %>
      <div class="row p-2 mb-2">
        <div class="col-12">
          <%= remark.text %>
          <%= f.hidden_field :progress, value: @quiz_round.progress %>
          <%= f.hidden_field :counter, value: @quiz_round.counter %>
        </div>
        <% if remark.video || remark.manuscript %>
          <div class="col-12 text-center my-2 remark-infotainment-text">
            Es gibt
            <% if remark.video %>
              ein
              <%= link_to 'Erklärvideo',
                          play_medium_path(remark),
                          target: :_blank %>
            <% end %>
            <% if remark.video && remark.manuscript %>
              und
            <% end %>
            <% if remark.manuscript %>
              ein
              <%= link_to 'Manuskript',
                          display_medium_path(remark),
                          target: :_blank %>
            <% end %>
            zu dieser Erläuterung.
          </div>
          <div class="col-12 text-center my-2 remark-infotainment-icons"
               style="display: none;">
            <% if remark.video %>
              <a href="<%= play_medium_path(remark) %>"
                 class="no-deco ml-3 fas fa-play fa-2x text-info"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Erklärvideo im THymE Player"
                 target="_blank">
              </a>
            <% end %>
            <% if remark.manuscript %>
              <a href="<%= display_medium_path(remark) %>"
                 class="no-deco ml-3 far fa-file-pdf fa-2x text-info"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Manuskript als pdf"
                 target="_blank">
              </a>
            <% end %>
          </div>
        <% end %>
        <div class="col-12 text-center">
          <%= f.submit "Alles klar!",
                       class: "send-it btn btn-secondary ml-2"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
