<div class="row p-2 mb-4">
  <div class="col-4">
    <h4 class="p-2">
      <span class="badge badge-secondary">
        <%= t('basics.quiz') %>
      </span>
      <%= @quiz.description %>
    </h4>
  </div>
  <div class="col-5">
    <div id="quiz-error-messages" class="mt-2">
      <%= render partial: 'quizzes/errors_in_editing',
                 locals: { quiz: @quiz } %>
    </div>
  </div>
  <div class="col-3 text-right">
    <% unless @quiz.sort == 'RandomQuiz' %>
      <%= link_to t('buttons.parent_medium'),
                  edit_medium_path(@quiz),
                  class: 'btn btn-sm btn-primary m-2' %>
    <% end %>
    <%= link_to t('buttons.take_quiz'),
                take_quiz_path(@quiz),
                class: 'btn btn-sm btn-primary m-2',
                target: :_blank %>
  </div>
</div>
<div class="row mx-2 mt-2 mb-4"
     id="quizGraphArea">
  <div class="col-8">
    <%= render partial: 'quizzes/edit/quiz_graph',
               locals: { quiz: @quiz,
                         graph_elements: @graph_elements,
                         linear: @linear } %>
  </div>
  <div class="col-4">
    <div id ="vertexActionArea">
    </div>
  </div>
</div>
<%= render partial: 'quizzes/new_vertex/new_vertex',
           locals: { quiz: @quiz } %>
<div id="vertexTargetArea">
</div>
<div id="quizzableArea">
</div>
<%= render partial: 'quizzes/reassign_modal', locals: { content: false } %>