<div class="row p-2 mb-4">
  <div class="col-7">
    <h4 class="p-2">
      <span class="badge badge-secondary">
        Quiz
      </span>
      <%= @quiz.medium.description %>
    </h4>
  </div>
  <div class="col-5 text-right">
    <%= link_to 'zum Medium', edit_medium_path(@quiz.medium),
                class: 'btn btn-primary m-2' %>
    <%= link_to 'Spielen', play_quiz_path(@quiz),
                class: 'btn btn-primary m-2', target: :_blank %>
  </div>
</div>
<div class="row mx-2 mt-2 mb-4">
  <div class="col-4">
    <div class="card bg-light" id="quiz-basics-edit">
      <%= render partial: 'quizzes/basics', locals: { quiz: @quiz } %>
    </div>
  </div>
  <div class="col-8">
    <div class="card bg-light" id="quiz-preview">
      <div class="card-header">
        <h5>
          Vorschau
        </h5>
      </div>
      <div class="card-body">
        <%= image_tag(@quiz.image_path.remove('public'),
                      class: "img-fluid", id: "quiz-preview-image",
                      data: { id: @quiz.id }) %>
        <div class="text-center mt-3">
          <%= link_to 'vergrößern', preview_quiz_path(@quiz),
                      target: :_blank, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'quizzes/edges_accordion',
           locals: { quiz: @quiz } %>
<%= render partial: 'quizzes/quizzable_modal' %>
<%= render partial: 'quizzes/reassign_modal', locals: { content: false } %>
