<div class="row p-2 mb-4">
  <div class="col-7">
    <h4 class="p-2">
      <span class="badge badge-secondary">
        <%= t('basics.quiz') %>
      </span>
      <%= @quiz.description %>
    </h4>
  </div>
  <div class="col-5 text-right">
    <% unless @quiz.sort == 'RandomQuiz' %>
      <%= link_to t('buttons.parent_medium'),
                  edit_medium_path(@quiz),
                  class: 'btn btn-sm btn-primary m-2' %>
    <% end %>
    <%= link_to t('buttons.take_quiz'),
                take_quiz_path(@quiz),
                class: 'btn btn-sm btn-primary m-2',
                target: :_blank %>
  </div>
</div>
<div class="row mx-2 mt-2 mb-4">
  <div class="col-4">
    <div class="card bg-light"
         id="quiz-basics-edit">
      <%= render partial: 'quizzes/basics',
                 locals: { quiz: @quiz } %>
    </div>
  </div>
  <div class="col-8">
    <div class="card bg-light" id="quiz-preview">
      <div class="card-header">
        <h5>
          <%= t('basics.preview') %>
        </h5>
      </div>
      <div class="card-body">
        <div id="cy"
             data-elements="<%= @graph_elements.to_json %>"
             data-type="quiz">
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'quizzes/edges_accordion',
           locals: { quiz: @quiz } %>
<%= render partial: 'quizzes/quizzable_modal' %>
<%= render partial: 'quizzes/reassign_modal', locals: { content: false } %>