<div class="row">
  <div class="col-12">
    <% if current_user.admin %>
      <%= link_to 'zur Fragenübersicht', questions_path,
                  class: 'btn btn-primary m-4' %>
      <%= link_to 'zur Bemerkungsübersicht', remarks_path,
                  class: 'btn btn-primary m-4' %>
      <%= link_to 'Neues Quiz anlegen', new_quiz_path,
                  class: 'btn btn-primary m-4', id: 'new_quiz_button',
                  remote: true %>
    <%end %>
  </div>
</div>
<div class="row bg-light px-2 py-3">
  <div class="col-6 col-xl-7">
    <strong>
      Titel
    </strong>
  </div>
  <div class="col-3 col-xl-1">
    <strong>
      Niveau
    </strong>
  </div>
  <div class="col-3 col-xl-4">
    <strong>
      Aktionen
    </strong>
  </div>
</div>
<% @quizzes.each do |q| %>
  <div class="row border-bottom px-2 py-3">
    <div class="col-6 col-xl-7">
      <%= q.label %>
    </div>
    <div class="col-3 col-xl-1">
      <% unless q.level.nil? %>
        <span data-toggle="tooltip"
              data-placement="right"
              title="<%= ['leicht', 'mittel', 'schwer'][q.level] %>">
          <% (q.level + 1).times do %>
            <i class="fas fa-plus-circle"></i>
          <% end %>
        </span>
      <% end %>
    </div>
    <div class="col-3 col-xl-4">
      <%= link_to 'Spielen', play_quiz_path(q),
                  class: 'btn btn-primary my-1' %>
        <% if current_user.admin %>
          <%= link_to 'Vorschau', preview_quiz_path(q),
                      class: 'btn btn-primary my-1', target: :_blank %>
          <%= link_to 'Bearbeiten', edit_quiz_path(q),
                      class: 'btn btn-primary my-1' %>
          <%= link_to 'Löschen', quiz_path(q), method: :delete,
                      data: { confirm: 'Bist Du sicher?' },
                      class: 'btn btn-danger my-1' %>
        <% end %>
      </div>
  </div>
<% end %>
