<%= form_with model: announcement  do |f|%>
  <%= f.label :details, 'Text' %>
  <%= f.text_area :details, { class: 'form-control' } %>
  <div class="invalid-feedback"
       id="announcement-error">
  </div>
  <%= f.hidden_field :lecture_id, value: @lecture&.id %>
  <div class="text-center mt-3">
    <%= f.submit t('buttons.save'),
                 class: 'btn btn-primary',
                 data:
                   { confirm: 'Bist Du sicher? Du kannst Die Mitteilung ' \
                              'nach dem Absenden weder bearbeiten noch ' \
                              'löschen.' } %>
    <button type="button"
            class="btn btn-secondary"
            data-dismiss="modal">
      <%= t('buttons.cancel') %>
    </button>
  </div>
<% end %>
