<div class="col-2">
  <%= human_readable_date(announcement.created_at) %>
</div>
<div class="col-2">
  <%= announcement.announcer.name %>
</div>
<div class="col-7">
  <%= announcement.details %>
</div>
<div class="col-1 text-right">
  <% if announcement.active?(current_user) %>
    <%= link_to notification_path(current_user
                                    .matching_notification(announcement)),
                class: 'removeLectureNotification',
                remote: true,
                method: :delete,
                data:
                  { id: current_user.matching_notification(announcement)&.id,
                    lecture: lecture.id,
                    onenew: t('notifications.lecture.one_new'),
                    morenew: t('notifications.lecture.more_new') } do %>
      <i class="fas fa-check text-dark"
         data-toggle="tooltip"
         title="<%= t('basics.mark_as_read') %>">
      </i>
    <% end %>
  <% end %>
</div>
