<div class="col-2">
  <%= human_readable_date(announcement.created_at) %>
</div>
<div class="col-2">
  <%= announcement.announcer.name %>
</div>
<div class="col-7">
  <%= announcement.details.html_safe %>
</div>
<div class="col-1 text-right">
  <%= link_to notification_path(notification),
              class: 'removeLectureNotification',
              remote: true,
              method: :delete,
              data:
                { id: notification.id,
                  lecture: lecture.id,
                  onenew: t('notifications.lecture.one_new'),
                  morenew: t('notifications.lecture.more_new') } do %>
    <i class="fas fa-check text-dark"
       data-toggle="tooltip"
       title="<%= t('basics.mark_as_read') %>">
    </i>
  <% end %>
</div>
