<div class="row mt-3 p-2">
  <div class="col-7">
    <h4>
      <%= t('basics.news') %>
    </h4>
  </div>
  <div class="col-3">
    <%= paginate @announcements, window: 2 %>
  </div>
  <div class="col-2 text-right">
    <%= link_to t('buttons.create_announcement'),
                new_announcement_path,
                class: 'btn btn-sm btn-secondary',
                remote: true %>
  </div>
</div>
<div class="row bg-mdb-color-lighten-2 mx-2 px-4 py-3">
  <div class="col-2 text-light">
    <strong>
      <%= t('basics.date') %>
    </strong>
  </div>
  <div class="col-2 text-light">
    <strong>
      <%= t('basics.author') %>
    </strong>
  </div>
  <div class="col-5 text-light">
    <strong>
      <%= t('basics.text') %>
    </strong>
  </div>
  <div class="col-1 text-light">
    <strong>
      <%= t('admin.announcement.main_page') %>
    </strong>
  </div>
  <div class="col-2 text-light">
    <strong>
      <%= t('basics.action') %>
    </strong>
  </div>
</div>
<div id="row-new-announcement"
     class="border-bottom mx-2 py-2"
     style="display: none;" >
</div>
<% @announcements.each do |a| %>
  <div class="row border-bottom mx-2 px-4 py-2"
       id="row-announcement-<%= a.id %>">
    <%= render partial: 'announcements/row',
               locals: { announcement: a }%>
  </div>
<% end %>
<%= render partial: 'announcements/modal' %>