<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15/Sortable.min.js"></script>
<%= vite_javascript_tag "vignettes/questionnaires/edit/edit.js" %>
<%= vite_javascript_tag "vignettes/questionnaires/edit/change_detection.js" %>
<%= vite_stylesheet_tag "vignettes/questionnaires/edit/edit.scss" %>

<% lecture_edit_path = edit_lecture_path(@questionnaire.lecture, anchor: 'vignettes') %>

<div id="vignettes-wrapper" class="container-md small-width">
  <!-- Back Button -->
  <a id="vignettes-back-btn" class="btn btn-outline-secondary"
    data-navigate-away-message="<%= t('vignettes.unsaved_changes_navigation') %>"
    href="<%= lecture_edit_path %>">
    <i class="bi bi-arrow-left"></i>
    <%= t("buttons.back") %>
  </a>

  <div id="vignette-edit-header">
    <div class="d-flex flex-wrap mb-3">
      <!-- Questionnaire Title -->
      <h1 class="fs-3 fw-bold m-0 me-2">
        <%= @questionnaire.title%>
        <% if !@questionnaire.editable %>
        <i
          class="bi bi-lock-fill text-secondary fs-4 m-0"
          data-bs-content="<%= t('vignettes.editing_locked_info') %>"
          data-bs-title="<%= t('vignettes.editing_locked') %>"
          data-bs-toggle="popover"
          data-bs-trigger="hover focus"
          tabindex="0"
        ></i>
        <% end %>
      </h1>

      <!-- Unsaved changes -->
      <div id="unsaved-changes-warning" class="alert alert-warning d-none m-0 p-1">
        <i class="bi bi-exclamation-triangle"></i>
        <%= t("vignettes.unsaved_changes_warning") %>
      </div>
    </div>

    <!-- Action Items -->
    <div class="d-flex flex-wrap">
      <%= button_to preview_questionnaire_path(@questionnaire),
          :disabled => @questionnaire.slides.empty?,
          class: "btn btn-outline-primary me-2",
      method: :get do %>
      <i class="bi bi-eye"></i>
      <%= t("vignettes.preview") %>
      <% end %>

      <button type="button" class="btn btn-outline-primary me-2"
        data-bs-target="#publishModal" data-bs-toggle="modal">
        <i class="bi bi-globe-europe-africa"></i>
        <%= @questionnaire.published ? t("vignettes.unpublish") : t("vignettes.publish") %>
      </button>

      <button type="button" class="btn btn-outline-secondary me-2"
        data-bs-target="#duplicateModal" data-bs-toggle="modal">
        <i class="bi bi-files"></i>
        <%= t("vignettes.duplicate") %>
      </button>

      <%= button_to export_statistics_questionnaire_path(@questionnaire),
          class: 'btn btn-outline-secondary me-2',
          data: { turbo: false },
      method: :get do %>
      <i class="bi bi-file-earmark-spreadsheet"></i>
      <%= t("vignettes.export_statistics") %>
      <% end %>

      <button type="button" class="btn btn-outline-danger"
        data-bs-target="#deleteQuestionnaireModal" data-bs-toggle="modal">
        <i class="bi bi-trash"></i>
        <%= t("vignettes.delete") %>
      </button>
    </div>
  </div>

  <!-- 🎈 Info Slides -->
  <h2 class="fs-4 fw-bold mt-4 mb-0"><%= t("vignettes.info_slides") %></h2>

  <div id="info_slides" class="accordion">
    <% @questionnaire.info_slides.each() do |info_slide| %>
    <%= turbo_frame_tag info_slide, src: turbo_slide_edit_url(info_slide) %>
    <% end %>
  </div>

  <%= button_to new_questionnaire_info_slide_path(@questionnaire),
      method: :get,
      data: { "turbo-stream": true },
      class: "btn btn-outline-primary mt-2",
  disabled: !@questionnaire.editable do %>
  <i class="bi bi-plus-circle"></i>
  <%= t("vignettes.create_new_info_slide") %>
  <% end %>

  <!-- 🎈 Slides -->
  <h2 class="fs-4 fw-bold mt-4 mb-0"><%= t("vignettes.slides") %></h2>
  <% if @questionnaire.editable && @slides.size > 1%>
  <p><%= t("vignettes.drag_slides_tip") %></p>
  <% end %>

  <div id="slides" class="accordion"
    data-questionnaire-editable="<%= @questionnaire.editable %>"
    data-questionnaire-id="<%= @questionnaire.id %>">
    <% @slides.each() do |slide| %>
    <!-- The div is needed such that slide drag animations work -->
    <div>
      <%= turbo_frame_tag slide, src: turbo_slide_edit_url(slide) %>
    </div>
    <% end %>
  </div>

  <%= button_to new_questionnaire_slide_path(@questionnaire),
      method: :get,
      data: { "turbo-stream": true },
      class: "btn btn-outline-primary mt-2",
  disabled: !@questionnaire.editable do %>
  <i class="bi bi-plus-circle"></i>
  <%= t("vignettes.create_new_slide") %>
  <% end %>
</div>

<!-- Delete Confirmation Modal -->
<div id="deleteQuestionnaireModal" class="modal fade" aria-hidden="true" aria-labelledby="deleteQuestionnaireModalLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="deleteQuestionnaireModalLabel" class="modal-title">
          <%= t("vignettes.delete") %>
        </h5>
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p><%= t("vignettes.confirm_delete") %></p>
      </div>
      <div class="modal-footer">
        <%= button_to t("vignettes.delete"),
          questionnaire_path(@questionnaire),
          method: :delete,
          class: "btn btn-danger"
        %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <%= t("buttons.cancel") %>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Publish Confirmation Modal -->
<div id="publishModal" class="modal fade" aria-hidden="true" aria-labelledby="publishModalLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="publishModalLabel" class="modal-title"><%= t("vignettes.confirm_publication")%></h5>
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <!-- TO DO: Write better message -->
        <% if @questionnaire.published %>
        <%= simple_format(t("vignettes.unpublish_modal")) %>
        <% else %>
        <%= simple_format(t("vignettes.publish_modal")) %>
        <% end %>

      </div>
      <div class="modal-footer">
        <% button_text = @questionnaire.published ? t("vignettes.unpublish") : t("vignettes.publish") %>
        <%= button_to button_text,
              publish_questionnaire_path(@questionnaire),
              method: :patch,
              class: "btn btn-primary"
        %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t("buttons.cancel") %></button>
      </div>
    </div>
  </div>
</div>

<!-- Duplicate Modal -->
<div id="duplicateModal" class="modal fade" aria-hidden="true" aria-labelledby="duplicateModalLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="duplicateModalLabel" class="modal-title"><%= t("vignettes.duplicate") %></h5>
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <%= form_with url: duplicate_questionnaire_path(@questionnaire), method: :post do |form| %>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <%= form.text_field :title, class: 'form-control', required: true,
              placeholder: "", value: "Copy of #{@questionnaire.title}",
          id: "vignettes_new_questionnaire_title" %>
          <%= form.label "vignettes_new_questionnaire_title",
          t("vignettes.duplicate_new_questionnaire_title") %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Duplicate</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t("buttons.cancel") %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Unsaved Changes Modal -->
<div id="unsaved-changes-modal" class="modal fade" aria-hidden="true"
  aria-labelledby="unsavedChangesModalLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 id="unsavedChangesModalLabel" class="modal-title"><%= t("vignettes.unsaved_changes") %></h5>
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <%= t("vignettes.unsaved_changes_modal") %>
      </div>

      <div class="modal-footer">
        <button id="save-changes-btn" type="button" class="btn btn-primary"
          data-bs-dismiss="modal">
          <%= t("buttons.save_changes") %>
        </button>
        <button id="discard-changes-btn" type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">
          <%= t("buttons.discard_changes") %>
        </button>
      </div>

    </div>
  </div>
</div>
