<div class="card bg-mdb-color-lighten-6">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center gap-3">
      <h5 class="mb-0">
        <%= t("admin.lecture.#{lecture.sort}_content") %>
      </h5>
      <% if current_user.admin || lecture.course.edited_by?(current_user) %>
        <%= link_to "",
                    edit_lecture_path(lecture),
                    class: "far fa-edit text-dark",
                    data: { toggle: "tooltip",
                            placement: "bottom" },
              "aria-label": t("buttons.edit"),
                    title: t("buttons.edit"),
                    style: "text-decoration: none;" %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <% if lecture.seminar? %>
      <% if !lecture.talks.any? %>
        <%= t('admin.lecture.no_content_yet') %>
      <% else %>
        <div class="row masonry-grid">
          <%= render partial: 'lectures/show/talk',
                     collection: lecture.talks,
                     cached: false %>
        </div>
      <% end %>
    <% else %>
      <% cache lecture do %>
        <% if !lecture.chapters.any? %>
          <%= t('admin.lecture.no_content_yet') %>
        <% else %>
          <div class="row masonry-grid">
            <%= render partial: 'lectures/show/chapter',
                       collection: lecture.chapters
                                          .select { |c| c.hidden.in?([false, nil]) },
                       cached: true %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
