<%= vite_javascript_tag "lectures/lectures" %>

<div class="row mt-2 mb-2">
  <div id="lecture-details" class="col-12 text-center">
    <h4>
      <span class="badge bg-secondary">
        <%= @lecture.sort_localized %>
      </span>
      <span id="lecture-title" class="me-3">
        <%= @lecture.title_term_info_no_type %>
      </span>
      <% if @lecture.term || !@lecture.disable_teacher_display %>
        <span>
          <% if !@lecture.teacher.archived %>
            <%= link_to @lecture.teacher.name,
                        teacher_path(@lecture.teacher),
                        id: 'lecture-teacher',
                        class: 'text-dark' %>
          <% else %>
            <%= @lecture.teacher.name %>
          <% end %>
        </span>
      <% end %>
      <% privileged = current_user.admin ||
                      current_user.in?(@lecture.editors_with_inheritance) %>
      <%= link_to '',
                  edit_lecture_path(@lecture),
                  id: 'lecture-edit',
                  class: 'far fa-edit text-dark',
                  data: { toggle: 'tooltip',
                          placement: 'bottom' },
                  title: t('buttons.edit'),
                  style: 'text-decoration: none; ' +
                        'display: ' + show_inline(privileged) %>
    </h4>

    <% progress_value = @lecture.section_completion_for_user current_user%>
    <div class="progress mb-3 mt-3" style="height: 25px; position: relative;">
      <% if progress_value == 0 %>
        <span style="position: absolute; width: 100%; text-align: center; line-height: 25px; color: #6c757d;">
        Lecture Completion
        </span>
      <% end %>
      <div class="progress-bar progress-bar-animated bg-success" 
          role="progressbar" 
          style="width: <%= progress_value || 0 %>%;" 
          aria-valuenow="<%= progress_value || 0 %>" 
          aria-valuemin="0" 
          aria-valuemax="100">
        <%= progress_value || 0 %>%
      </div>
    </div>
    
  </div>
</div>
<% privileged = current_user.admin ||
                  current_user.in?(@lecture.editors_with_inheritance) %>
<div class="row" >
  <% if @notifications.present? || @new_topics_count.positive? %>
    <div class="col-12">
      <%= render partial: 'lectures/show/news_card',
                locals: { lecture: @lecture,
                          notifications: @notifications,
                          posts_count:  @new_topics_count } %>
    </div>
  <% end %>
  <% if @lecture.term ||  !@lecture.organizational ||
          !@lecture.organizational_on_top %>
    <div class="col-12">
      <%= render partial: 'lectures/show/content',
                locals: { lecture: @lecture } %>
    </div>
  <% else %>
    <div class="col-12">
      <%= render partial: 'lectures/organizational/organizational',
                 locals: { lecture: @lecture } %>
    </div>
  <% end %>
</div>