<%= form_with model: cohort, id: "new_cohort_form", data: { turbo: true } do |f| %>
  <%= f.hidden_field :lecture_id, value: cohort.context.id %>
  <%= hidden_group_type_field(params[:group_type]) %>
  <div class="modal-body">
    <div class="mb-3">
      <%= f.label :title, t("basics.title"), class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :capacity, t("basics.capacity"), class: "form-label" %>
      <%= f.number_field :capacity, class: "form-control", min: 0, placeholder: "∞" %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t("buttons.cancel") %></button>
    <%= f.submit t("buttons.save"), class: "btn btn-primary" %>
  </div>
<% end %>
