<%= turbo_frame_tag @info_slide do %>
<%= form_with(
    model: @info_slide,
    local: true,
    url: @info_slide.new_record? ? questionnaire_info_slides_path(@questionnaire) : questionnaire_info_slide_path(@questionnaire, @info_slide)) do |form| %>

  <div class="form-floating mb-3">
    <%= form.text_field :title, class: 'form-control',
      required: true, placeholder: "" %>
    <%= form.label t("basics.title") %>
  </div>
  
  <%= form.label(:icon_type, "Icon", class:"form-label") %>
  <div class="d-flex gap-3 mb-3" id="vignettes-icon-selection">
    <label>
      <%= form.radio_button :icon_type, "eye", required: true %>
      <%= vite_image_tag "images/vignettes/eye.svg",
        alt: "Icon of an eye" %>
    </label>

    <label>
      <%= form.radio_button :icon_type, "dotplot", required: true %>
      <%= vite_image_tag "images/vignettes/dotplot.svg",
        alt: "Icon of a dotplot including an error bar and a vertical bar chart" %>
    </label>

    <label>
      <%= form.radio_button :icon_type, "media", required: true %>
      <%= vite_image_tag "images/vignettes/media.svg",
        alt: "Icon of a generic media recorder" %>
    </label>
  </div>

  <%= render partial: 'vignettes/slides/form/content', locals: { form: form } %>

  <div class="d-flex justify-content-end align-items-center mt-3">
    <div class="me-auto">
      <%= form.submit @info_slide.new_record? ? t("vignettes.create_info_slide") : t("vignettes.update_info_slide"),
          class: "btn btn-primary slide-submit-btn d-none" %>
    </div>

    <% unless @info_slide.new_record? %>
    <button type="button" 
            class="btn btn-danger" 
            data-bs-toggle="<%= @info_slide.questionnaire.editable ? 'modal' : '' %>" 
            data-bs-target="#deleteModal<%= @info_slide.id %>"
            <%= 'disabled' unless @info_slide.questionnaire.editable %>>
      <%= t("vignettes.delete_slide") %>
    </button>
    <% end %>
  </div>
<% end %>

<!-- Delete Confirmation Modal -->
<% unless @info_slide.new_record? %>
  <div class="modal fade" id="deleteModal<%= @info_slide.id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><%= t("vignettes.info_slide_confirm_delete") %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t("buttons.cancel") %></button>
          <%= button_to "Delete Info Slide", 
                questionnaire_info_slide_path(@questionnaire, @info_slide),
                method: :delete,
                class: "btn btn-danger"
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
