<div class="modal fade"
     id="watchlistModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="watchlistModalLabel" aria-hidden="true"
     data-keyboard="true">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="watchlistModalTitle">
          <%= t('watchlist.add') %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"
           id="watchlistModalBody">
        <div id="watchlist-select-form">
          <%= render partial: 'watchlists/select_form' %>
        </div>
        <div class="collapse" id="collapseNewWatchlist">
          <%= render partial: 'watchlists/new_form' %>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"
                id="watchlistEntrySubmitButton"
                type="submit"
                form="watchlistSelectForm"
                <%= "disabled" if Watchlist.where(user: current_user).empty? %>><%= t('watchlist.add') %></button>
        <button type="button" class="btn btn-secondary mr-auto" data-bs-dismiss="modal"><%= t('watchlist.close') %></button>
      </div>
    </div>
  </div>
</div>
