<div class="modal fade"
     id="addWatchlistModal"
     data-controller="modal"
     data-modal-prevent-event-listener-value="true"
     tabindex="-1"
     role="dialog"
     aria-labelledby="watchlistModalLabel" aria-hidden="true"
     data-keyboard="true">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= t('watchlist.add') %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "watchlist_form_add", data: { action: "turbo:frame-load->modal#open"} do %>
          <%= render partial: "spinner/loading" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"
                id="watchlistEntrySubmitButton"
                type="submit"
                form="watchlistSelectForm">
                  <%= t('watchlist.add') %>
                </button>
        <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal"><%= t('watchlist.close') %></button>
      </div>
    </div>
  </div>
</div>
