<%= form_with model: @watchlist,
              id: "changeWatchlistForm",
              remote: :true do |f| %>
  <div class="mb-3 row">
    <%= f.label :label,
                t('watchlist.name'),
                class: "form-label" %>
    <div class="input-group mb-3">
      <%= f.text_field :name, placeholder: t('watchlist.enter_name'),
                      class: 'form-control',
                      id: 'watchlistNameField',
                      :required => true %>
      <% if @watchlist.present? && @watchlist.errors.any? %>
        <div class="invalid-feedback">
          <% @watchlist.errors.messages.values.each do |msg| %>
            <% msg.each do |m| %>
              <%= m %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :label,
                t('watchlist.description'),
                class: "form-label" %>
    <div class="input-group mb-3">
      <%= f.text_area :description, placeholder: t('watchlist.enter_description'),
                      class: 'form-control',
                      id: 'watchlistDescriptionField',
                      value: @watchlist.description,
                      rows: 5 %>
    </div>
  </div>
<% end %>