<%= form_with model: Watchlist.new, id: "newWatchlistForm", remote: true do |f| %>
  <% if @medium.present? %>
    <%= f.hidden_field :medium_id, value: @medium.id %>
  <% end %>
  <div class="form-group row">
    <%= f.label :label, t('watchlist.name') %>
    <div class="input-group mb-3">
      <% if @watchlist.present? && @watchlist.errors.any? %>
        <%= f.text_field :name, placeholder: t('watchlist.enter_name'),
                        class: 'form-control is-invalid',
                        id: 'watchlistNameField',
                        value: @watchlist.name,
                        :required => true %>
      <% else %>
        <%= f.text_field :name, placeholder: t('watchlist.enter_name'),
                        class: 'form-control',
                        id: 'watchlistNameField',
                        :required => true %>
      <% end %>
      <% if @medium.present? %>
        <div class="input-group-append">
          <%= f.submit t('watchlist.create'),
                      { class: 'btn btn-primary',
                        id: 'createWatchlistBtn' } %>
        </div>
      <% end %>
      <% if @watchlist.present? && @watchlist.errors.any? %>
        <div class="invalid-feedback">
          <% @watchlist.errors.messages.values.each do |msg| %>
            <% msg.each do |m| %>
              <%= m %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :label, t('watchlist.description') %>
    <div class="input-group mb-3">
      <%= f.text_area :description, placeholder: t('watchlist.enter_description'),
                      class: 'form-control',
                      id: 'watchlistDescriptionField',
                      value: (@watchlist.present? && @watchlist.errors.any? ? @watchlist.description : ''),
                      rows: 5 %>
    </div>
  </div>
<% end %>