<%= form_with model: WatchlistEntry.new,
              remote: true,
              id: "watchlistSelectForm",
              html: { class: "needs-validation",
                      novalidate: true } do |f| %>
	<div class="form-group form-row">
    <%= f.label :watchlist, t('watchlist.select') %>
    <% if @medium.present? %>
      <%= f.hidden_field :medium_id, value: @medium.id %>
    <% end %>
    <div class="input-group mb-3">
      <% if !Watchlist.where(user: current_user).empty? %>
        <% if !@watchlist.present? %>
          <% if @watchlist_entry.present? && @watchlist_entry.errors.any? %>
            <%= f.select :watchlist_id, options_from_collection_for_select(Watchlist.where(user: current_user), :id, :name),
                         {}, { class: 'form-control is-invalid', id: 'watchlistSelect' } %>
          <% else %>
            <%= f.select :watchlist_id, options_from_collection_for_select(Watchlist.where(user: current_user), :id, :name),
                         {}, { class: 'form-control', id: 'watchlistSelect' } %>
          <% end %>
        <% else %>
          <% if @watchlist_entry.present? && @watchlist_entry.errors.any? %>
            <%= f.select :watchlist_id, options_from_collection_for_select(Watchlist.where(user: current_user), :id, :name, @watchlist.id),
                         {}, { class: 'form-control is-invalid', id: 'watchlistSelect' } %>
          <% else %>
            <%= f.select :watchlist_id, options_from_collection_for_select(Watchlist.where(user: current_user), :id, :name, @watchlist.id),
                         {}, { class: 'form-control', id: 'watchlistSelect' } %>
          <% end %>
        <% end %>
      <% else %>
        <%= f.select :watchlist_id, options_from_collection_for_select(Watchlist.where(user: current_user), :id, :name),
                     { prompt: t('watchlist.none')}, { class: 'form-control', disabled: true } %>
      <% end %>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseNewWatchlist"
            aria-expanded="false"
            aria-controls="collapseNewWatchlist"
            id="openNewWatchlistForm">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <% if @watchlist_entry.present? && @watchlist_entry.errors.any? %>
        <div class="invalid-feedback">
          <% @watchlist_entry.errors.full_messages.each do |msg| %>
            <%= msg %>
          <% end %>
        </div>
      <% end %>
    </div>
	</div>
<% end %>