<%# Select watchlist button %>
<li class="nav-item pl-2">
  <div class="input-group">
    <% if @watchlists.size > 1 %>
      <span class="dropdown ml-3">
        <button class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown"
            type="button"
            id="watchlistButton"
            data-id=<%= @watchlist.id %>
            data-owned=<%= @watchlist.ownedBy(current_user) %>>
        <%= @watchlist.name %>
        </button>
        <div class="dropdown-menu">
        <% (@watchlists - [@watchlist]).each do |w| %>
          <%= link_to w.name,
                watchlist_path(w),
                class: 'dropdown-item' %>
        <% end %>
        </div>
      </span>
    <% elsif @watchlists.size == 1%>
      <button class="btn btn-secondary"
          disabled
          id="watchlistButton"
          data-id=<%= @watchlist.id %>
          data-owned=<%= @watchlist.ownedBy(current_user) %>>
        <%= @watchlist.name %>
      </button>
    <% else %>
      <button class="btn btn-secondary" disabled>
        <%= t('watchlist.none') %>
      </button>
    <% end %>
    <div class="input-group-append">
      <%= link_to raw("<i class=\"fa fa-plus\"></i>"),
                  show_new_watchlist_path,
                  class: "btn btn-outline-secondary",
                  id: "openNewWatchlistForm",
                  remote: true %>
    </div>
  </div>
</li>
<%# Description%>
<% if @watchlist.present? && @watchlist.description.present? %>
  <li class="nav-item pl-2 pr-2">
    <a class="btn btn-secondary"
       id="descriptionButton"
       data-toggle="collapse"
       data-target="#collapseDescription"
       role="button"
       aria-expanded="false"
       aria-controls="collapseDescription">
      <%= t('watchlist.description') %>
    </a>
  </li>
<% end %>
<% if @watchlist_entries %>
  <%# Reverse order button%>
  <li class="nav-item pl-2 pr-1">
    <%= link_to t('reverse_order'),
          watchlist_path(@watchlist, params: { reverse: !params[:reverse],
                        all: params[:all],
                        per: params[:per] }),
          class: 'nav-link btn btn-sm bg-grey-lighten-4',
          id: 'reverseButton',
          data: { reverse: params[:reverse] } %>
  </li>
  <%= helpdesk(t('watchlist.order_help'), false) %>
  <%# All button%>
  <% unless @watchlist_entries.page(1).total_pages == 1 || params[:all] %>
    <li class="nav-item pl-2 pr-1">
      <%= link_to t('all'),
            watchlist_path(@watchlist, params: { reverse: params[:reverse],
                          all: true }),
            id: 'allButton',
            class: 'nav-link btn btn-sm text-primary bg-grey-lighten-4' %>
    </li>
  <% end %>
  <%# Per page button %>
  <li class="nav-item pl-1 pr-1">
    <div class="dropdown pl-2">
      <button class="btn btn-sm dropdown-toggle text-primary"
          type="button"
          id="perPageButton"
          data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
        <%= t('per_page') %>
      </button>
      <div class="dropdown-menu">
        <% [3,4,8,12,24,48].each do |hits| %>
        <%= link_to hits.to_s,
              watchlist_path(@watchlist, params: { page: 1,
                            reverse: params[:reverse],
                            per: hits }),
              class: ['dropdown-item', params[:per] == hits.to_s ? 'active' : ''] %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>