<% if @watchlist.present? && @watchlist.owned_by?(current_user) %>
  <li class="nav-item pr-1">
    <%= form_with url: change_visibility_path, method: :patch, data: { turbo: true, controller: 'auto-submit-form' } do %>
      <%= hidden_field_tag :id, @watchlist.id %>

      <div class="form-check">
        <%= check_box_tag :public,
              true,
              @watchlist.public == true,
              class: 'form-check-input',
              id: 'watchlistVisibilityCheck',
              data: { action: 'change->auto-submit-form#change' } %>
        <label class="form-check-label" for="watchlistVisibilityCheck">
          <%= t('watchlist.public') %>
        </label>
      </div>
    <% end %>
  </li>
  <li class="nav-item">
    <%= helpdesk(t('watchlist.public_help'), false) %>
  </li>

  <li class="nav-item ps-2">
    <%= link_to edit_watchlist_path(@watchlist),
                  class: 'btn btn-secondary',
                  id: 'changeWatchlistBtn',
                  title: t('watchlist.change'),
                  aria: { label: t('watchlist.change') },
                  role: 'button',
                  data: { turbo_frame: 'watchlist_form_edit' } do %>
      <%= t('watchlist.change') %>
    <% end %>
  </li>

  <li class="nav-item ps-2">
    <%= link_to t('watchlist.delete'),
          watchlist_path(@watchlist),
          class: 'btn btn-danger',
          style: 'text-decoration: none;',
          id: 'deleteWatchlistBtn',
          data: { toggle: 'tooltip',
              placement: 'bottom',
              confirm: t('watchlist.delete_confirm') },
          title: t('watchlist.delete'),
          method: :delete %>
  </li>
<% end %>
