if(<%= @success %>) {
  if(<%= @medium.present? %>) {

    $('#collapseNewWatchlist').collapse('hide');

    $('#watchlist-select-form').html("<%= j render partial: 'watchlists/select_form',
                                                   locals: { watchlist_entry: @watchlist_entry,
                                                             watchlist: @watchlist,
                                                             medium: @medium } %>");
    $('#collapseNewWatchlist').html("<%= j render partial: 'watchlists/new_form',
                                                   locals: { watchlist_entry: @watchlist_entry,
                                                             watchlist: @watchlist,
                                                             medium: @medium } %>");
                                                             
    $('#watchlistEntrySubmitButton').attr("disabled", false);
    $('#watchlistEntrySubmitButton').removeAttr("data-confirm");

    $('#watchlistSelectForm').append("<span class='badge bg-success'><%= t('watchlist.creation_success')%></span>");
    setTimeout(function() {
      $('#watchlistModalBody').find('.bg-success').remove();
    }, 2000);
  } else {
    location.reload(true);
  }
} else {
  $('#newWatchlistForm').html("<%= j render partial: 'watchlists/new_form', locals: { watchlist_entry: @watchlist_entry, watchlist: @watchlist, medium: @medium } %>")
}