<div class="list-group-item assignmentRow"
       data-id="<%= assignment.id.to_i %>">
  <%= form_with model: assignment do |f| %>
    <div class="form-row">
      <div class="form-group col-2">
        <%= f.text_field :title,
                         class: 'form-control',
                         id: "assignment_title_#{assignment.id}" %>
        <div class="invalid-feedback"
             id="assignment-title-error">
        </div>
      </div>
      <div class="form-group col-3">
        <%= f.text_field :deadline,
                             class: 'form-control',
                             id: "assignment_deadline_#{assignment.id}" %>
        <div class="invalid-feedback"
             id="assignment-deadline-error">
        </div>
      </div>
      <div class="form-group col-3">
        <%= f.select :medium_id,
                     options_for_select(Medium.where(teachable: assignment.lecture,
                                                     sort: 'Nuesse')
                                              .map { |m| [m.local_title_for_viewers, m.id] },
                                        assignment.medium_id ),
                     {},
                     { class: 'form-control',
                       id: "assignment_medium_id_#{assignment.id}" } %>
      </div>
      <div class="form-group col-2">
        <%= f.select :accepted_file_type,
                     options_for_select(Assignment.accepted_file_types
                                                  .map { |t| [t,t] },
                                        assignment.accepted_file_type),
                     {},
                     { class: 'form-control',
                       id: "assignment_medium_id_#{assignment.id}" } %>
      </div>
      <div class="form-group col-2">
        <%= f.submit t('buttons.save'),
                     class: 'btn btn-sm btn-primary ml-2' %>
        <%= link_to t('buttons.cancel'),
                    cancel_editing_assignment_path(assignment),
                    class: 'btn btn-sm btn-secondary',
                    remote: true %>
      </div>
    </div>
    <%= f.hidden_field :lecture_id,
                       value: assignment.lecture.id %>
  <% end %>
</div>