<%= javascript_include_tag 'datetimepicker' %>

<div class="list-group-item assignmentRow"
       data-id="<%= assignment.id.to_i %>">
  <%= form_with model: assignment do |f| %>
    <div class="row">
      <div class="form-group col-2">
        <%= f.text_field :title,
                         class: 'form-control',
                         id: "assignment_title_#{assignment.id}" %>
        <div class="invalid-feedback"
             id="assignment-title-error">
        </div>
      </div>

      <div class="form-group col-3">
        <div class="col-sm-12" id="htmlTarget">
          <div
            class="input-group log-event td-picker"
            id="assignment-picker"
            data-td-target-input="nearest"
            data-td-target-toggle="nearest">
            <%= f.text_field :deadline,
                id: 'assignment-picker-input',
                class: 'form-control',
                autocomplete: 'off',
                'data-td-target': '#assignment-picker' %>
            <span
              class="input-group-text"
              role="button"
              id="assignment-picker-button"
              data-td-target="#assignment-picker"
              data-td-toggle="datetimepicker">
              <i class="bi bi-calendar-fill"></i>
            </span>
          </div>
        </div>

        <div class="invalid-feedback"
             id="assignment-deadline-error">
        </div>
      </div>


      <div class="form-group col-2">
        <%= f.select :medium_id,
                     options_for_select(Medium.where(teachable: assignment.lecture,
                                                    sort: 'Nuesse')
                                              .map { |m| [m.local_title_for_viewers, m.id] },
                                        assignment.medium_id ),
                     { include_blank: true },
                     { id: "assignment_medium_id_#{assignment.id}",
                       class: 'selectize' } %>
      </div>
      <div class="form-group col-2">
        <%= f.select :accepted_file_type,
                     options_for_select(Assignment.accepted_file_types
                                                  .map { |t| [t,t] },
                                        assignment.accepted_file_type),
                     {},
                     { class: 'form-select',
                       id: "assignment_filetype_id_#{assignment.id}" } %>
      </div>
      <div class="form-group col-2">
        <%= f.select :deletion_date,
                     Term.possible_deletion_dates_localized,
                     { selected: assignment.localized_deletion_date },
                     class: 'form-select',
                     id: "assignment_deletion_date_#{assignment.id}" %>
        <div class="invalid-feedback"
             id="assignment-deletion-date-error">
        </div>
      </div>
      <div class="form-group col-1">
        <%= f.submit t('buttons.save'),
                     class: 'btn btn-sm btn-primary ms-2' %>
        <%= link_to t('buttons.cancel'),
                    cancel_editing_assignment_path(assignment),
                    class: 'btn btn-sm btn-secondary',
                    role: 'button',
                    remote: true %>
      </div>
    </div>
    <%= f.hidden_field :lecture_id,
                       value: assignment.lecture.id %>
  <% end %>
</div>