<div class="list-group-item assignmentRow
            <%= 'list-group-item-warning' unless assignment.persisted? %>"
     data-id="<%= assignment.persisted? ? assignment.id : -1 %>">
  <div class="row">
    <div class="col-2">
      <%= assignment.title %>
    </div>
    <div class="col-2">
      <% if assignment.deadline %>
        <%= I18n.l(assignment.deadline, format: :long) %>
      <% end %>
    </div>
    <div class="col-2">
      <% if assignment.medium %>
        <%= link_to assignment.medium.local_title_for_viewers,
                    assignment.medium,
                    data: { toggle: 'tooltip' },
                    title: release_date_info(assignment.medium) %>
      <% end %>
    </div>
    <div class="col-2">
      <%= assignment.accepted_file_type %>
    </div>
    <div class="col-2">
      <% if assignment.deletion_date %>
        <%= I18n.l(assignment.deletion_date, format: :long) %>
      <% end %>
    </div>
    <div class="col-2">
      <% if assignment.persisted? %>
        <%= link_to edit_assignment_path(assignment),
                    class: 'text-dark',
                    data: { toggle: 'tooltip',
                            placement: 'botttom' },
                    style: 'text-decoration: none;',
                    title: t('buttons.edit'),
                    remote: true do %>
          <i class="far fa-lg fa-edit mr-2">
          </i>
        <% end %>
        <% if assignment.destructible? %>
          <%= link_to assignment_path(assignment),
                      class: 'text-dark',
                      data: { toggle: 'tooltip',
                              placement: 'botttom',
                              confirm: t('confirmation.generic') },
                      style: 'text-decoration: none;',
                      title: t('buttons.delete'),
                      method: :delete,
                      remote: true do %>
            <i class="fas fa-lg fa-trash-alt">
            </i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to edit_medium_path(assignment.medium),
                    class: 'text-dark',
                    data: { toggle: 'tooltip',
                            placement: 'botttom' },
                    style: 'text-decoration: none;',
                    title: t('buttons.edit') do %>
          <i class="far fa-lg fa-edit mr-2">
          </i>
        <% end %>
        <%= helpdesk(t('assignment.info.scheduled_assignment'), false) %>
      <% end %>
    </div>
  </div>
</div>