<div class="card bg-light-blue-lighten-5 mb-3">
	<div class="card-header">
		<div class="row">
			<div class="col-10">
	 		  <h5>
   		    Mitteilungen
      		<% if current_user.active_announcements(lecture).present? %>
	      		<span class="activeAnnouncementsCounter"
	      					data-lecture="<%= lecture.id %>"
	      					data-count="<%= current_user.active_announcements(lecture).count %>">
  	     		 (<%= current_user.active_announcements(lecture).count %>)
    				</span>
    			<% end %>
		    </h5>
		  </div>
      <div class="col-2 text-right">
			  <% if current_user.active_announcements(lecture).present? %>
	        <%= link_to 'alle erledigen',
  	                  destroy_lecture_notifications_path(params: { lecture_id: lecture.id }),
    	                class: 'btn btn-sm btn-outline-secondary',
      	              method: :post,
        	            remote: true %>
        <% end %>
     	</div>
    </div>
	</div>
	<div class="card-body">
		<div class="list-group" style="max-height: 10vh; overflow-y: scroll;">
  		<% lecture.announcements.order(:created_at).reverse.each do |a| %>
    		<div class="list-group-item
    								<%= 'list-group-item-info' if a.active?(current_user) %>"
    				 data-listItemNotification="<%= current_user.matching_notification(a)&.id %>">
	      	<div class="row">
  	     		<%= render partial: 'announcements/row_for_lecture',
    	       		       locals: { announcement: a,
    	       		       					 lecture: lecture } %>
      		</div>
    		</div>
    	<% end %>
    </div>
  </div>
</div>