<div id="announcements_accordion" role="tablist">
  <div class="card bg-light">
    <div class="card-header" role="tab" id="announcements_heading">
      <div class="row">
        <div class="col-6">
          <h5>
            Mitteilungen
            (<%= lecture.announcements.count %>)
          </h5>
        </div>
        <div class="col-6 text-right">
          <% unless inspection %>
            <%= link_to 'Mitteilung anlegen',
                         new_announcement_path(params: { lecture: lecture.id }),
                         class: 'btn btn-secondary',
                         id: 'new-announcement-button',
                         remote: true %>
          <% end %>
          <a class="btn btn-primary"
             data-toggle="collapse"
             href="#announcements_collapse"
             id="announcements_collapse_button"
             aria-expanded="false" aria-controls="announcements_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="announcements_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#announcements_accordion">
      <div class="card-body">
        <% announcements.each do |a| %>
          <div class="row border-bottom mx-2 px-4 py-2"
               id="row-announcement-<%= a.id %>">
            <%= render partial: 'announcements/row',
                       locals: { announcement: a }%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
