<div class="card bg-mdb-color-lighten-6">
  <div class="card-header">
    <h5>
      Vorlesungsinhalt
    </h5>
  </div>
  <div class="card-body">
    <div class="card-columns">
      <% if !lecture.chapters.any? %>
        Es liegen noch keine Inhaltsangaben vor.
      <% end %>
      <% lecture.chapters.includes(:sections, :lecture).each do |c| %>
        <% cache c do %>
        <% unless c.hidden %>
        <div class="card bg-mdb-color-lighten-5">
          <div class="card-header bg-mdb-color-lighten-2">
            <span class="text-light">
              <%= c.to_label %>
            </span>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <% c.sections.includes(:chapter).each do |s| %>
                <% cache s do %>
                <% unless s.hidden %>
                <li class="list-group-item bg-mdb-color-lighten-5">
                  <div class="row">
                    <div class="col-6">
                      <span class="text-dark">
                        <strong>
                          <%= link_to s.to_label,
                                      section_path(s),
                                      class: 'text-dark' %>
                        </strong>
                      </span>
                    </div>
                    <div class="col-6">
                      <% s.lessons.includes(:tags).order(:date).each do |l| %>
                        <%= link_to  l.date_de,
                                     lesson_path(l),
                                     class: 'badge badge-secondary lecture-lesson',
                                     id: 'lecture-' + dom_id(l),
                                     data: { id: l.id,
                                             tags: l.tags.map(&:id) }  %>
                      <% end %>
                    </div>
                    <div class="col-12 mt-2">
                      <% s.tags.includes(:lessons).each do |t| %>
                        <%= link_to shorten(t.title, 50),
                                    tag_path(t),
                                    id: 'lecture-' + dom_id(t),
                                    class: "badge badge-light lecture-tag tagbadge",
                                    title: (t.title if t.title.length > 50),
                                    data: { id: t.id,
                                            lessons: t.lessons.map(&:id),
                                            toggle: 'tooltip',
                                            placement: 'bottom' } %>
                        <%= link_to shorten(t.title, 20),
                                    tag_path(t),
                                    id: 'lecture-' + dom_id(t),
                                    class: "badge badge-light lecture-tag tagbadgeshort",
                                    style: "display: none;",
                                    title: (t.title if t.title.length > 50),
                                    data: { id: t.id,
                                            lessons: t.lessons.map(&:id),
                                            toggle: 'tooltip',
                                            placement: 'bottom' } %>
                      <% end %>
                    </div>
                  </div>
                </li>
                <% end %>
                <% end %>
              <% end%>
            </ul>
          </div>
        </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
