<div class="card bg-mdb-color-lighten-5">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <h5>
          Vorlesungsinhalt
          <i id="show-media-button"
             class="far fa-list-alt clickable"
             data-toggle="tooltip"
             title="Medien einblenden">
          </i>
        </h5>
      </div>
      <div class="col-2">
        <% unless inspection %>
        zum Workflow
          <i class="far fa-question-circle helpdesk"
             tabindex="-1"
             data-toggle="popover" data-trigger="focus"
             title="Info"
             data-content="Wir beschreiben im Folgenden einen sinnvollen
             Workflow. Hierbei sollte man unterscheiden, ob die Vorlesung
             <i>videobasiert</i> oder <i>skriptbasiert</i> ist.
             <ul>
             <li>
             <i>
             videobasiert:
             </i>
             Zunächst legt man die Kapitel und Abschnitte an und tagged diese.
             Danach werden Sitzungen und zugeordnete Medien angelegt, diese
             erben dann die entsprechenden Tags. Andersherum geht es natürlich
             auch, dann ist jedoch ein höherer Aufwand beim Tagging
             erforderlich.
             </li>
             <li>
             <i>
             skriptbasiert:
             </i>
             Es empfiehlt sich, in der .tex-Datei das
             <a href='/mampf.sty' download='mampf.sty'>MaMpf-Paket</a>
             einzubinden
             und alles, was gelabelt werden soll, mit \mampflabels zu versehen.
             Das so entstandene Skript wird in Mampf hochgeladen und die
             Gliederung in MaMpf importiert. Dabei ist es möglich, dass
             in MaMpf automatisch zugehörige Tags angelegt werden. Danach kann
             man Sitzungen anlegen, bei denen man jeweils die Einträge aus dem
             Skript auswählt, die die Sitzung begrenzen.
             </li>
             </ul>
             In gewissem Umfang kann man auch versuchen, die Vorteile beider
             Varianten zu kombinieren. Hat man eine videobasierte Vorlesung,
             kann man natürlich trotzdem ein Skript hochladen und daraus die
             grobe Gliederung importieren."
             data-html="true">
          </i>
        <% end %>
      </div>
      <% unless inspection %>
        <div class="col-2">
          <span id="no-effect-warning">
            Du musst zunächst die anderen Änderungen speichern oder verwerfen.
          </span>
        </div>
        <div class="col-5 text-right">
          <%= link_to 'Kapitel anlegen',
                       new_chapter_path(lecture_id: lecture.id),
                       remote: true,
                       class: 'btn btn-secondary new-in-lecture',
                       id: 'new_chapter_button' %>
          <%= link_to 'Sitzung anlegen',
                       new_lesson_path(lecture_id: lecture.id),
                       remote: true,
                       class: 'btn btn-secondary new-in-lecture',
                       id: 'new_lesson_button'%>
        </div>
      <% end %>
    </div>
    <% unless inspection %>
    <div class="row">
      <div class="col-12">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio"
                 id="video-based"
                 name="content_mode"
                 <%= lecture.content_mode == 'video' ? 'checked ' : '' %>
                 class="custom-control-input content-mode"
                 data-lecture="<%= lecture.id %>">
          <label class="custom-control-label"
                 for="video-based">
            videobasiert</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio"
                 id="manuscript-based"
                 name="content_mode"
                 <%= lecture.content_mode == 'manuscript' ? 'checked ' : '' %>
                 class="custom-control-input content-mode"
                 data-lecture="<%= lecture.id %>">
          <label class="custom-control-label"
                 for="manuscript-based">
            skriptbasiert</label>
        </div>
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover" data-trigger="focus"
           title="Info"
           data-content="Damit legst Du fest, wie MaMpf die detaillierten
           Inhalte von Abschnitten bzw. Sitzungen ermittelt:
           <ul>
           <li>
           <i>
           videobasiert:
           </i>
           MaMpf legt für den Inhalt alle Items zugrunde, die im THymE-Editor
           für den entsprechenden Abschnitt angelegt wurden bzw. zu denjenigen
           Videos gehören, die zu der Sitzung assoziiert sind.
           Diese werden nach der Zeit ihres Auftretens im Video sortiert.
           </li>
           <li>
           <i>
           skriptbasiert:
           </i>
           MaMpf legt für den Inhalt alle Items zugrunde, die im Skript für
           denjenigen Abschnitt mit einem MaMpf-Label versehen wurden,
           bzw. diejenigen, die beim Editieren der Sitzung davon ausgewählt
           wurden. Damit dass funktioniert, müssen die MaMpf-Labels im
           LaTEX-File für das Manuskript mit dem
           <a href='/mampf.sty' download='mampf.sty'>MaMpf-Paket</a>
           erzeugt werden
           und nach dem Hochladen des Skriptes in MaMpf übernommen werden.
           </li>
           </ul>"
           data-html="true">
        </i>
      </div>
    </div>
    <% end %>
  </div>
  <div class="card-body">
    <div id="new-chapter-area"
         class="bg-green-lighten-4 p-2 mb-3 rounded">
    </div>
    <div id="new-lesson-area"
         class="bg-green-lighten-4 p-2 mb-3 rounded">
    </div>
    <% if lecture.chapters.present? %>
      <div class="card-columns">
        <% lecture.chapters.includes([:sections,:lecture]).each do |c| %>
          <div class="card <%= chapter_card_color(c) %>">
            <div id="<%= dom_id(c) %>"
                 class="card-header <%= chapter_header_color(c) %>">
              <div class="row">
                <div class="col-10">
                  <% if inspection %>
                    <span class="text-light">
                      <%= c.to_label %>
                    </span>
                  <% else %>
                    <span class="text-light">
                      <%= c.to_label %>
                    </span>
                    <a href="<%= edit_chapter_path(c) %>"
                       class="text-light"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Bearbeiten"
                       data-remote="true">
                      <i class="far fa-edit text">
                      </i>
                    </a>
                  <% end %>
                </div>
                <% unless inspection %>
                  <div class="col-2 text-right">
                    <a href="<%= new_section_path(chapter_id: c.id) %>"
                       class="text-light new-in-lecture"
                       data-remote="true"
                       data-toggle="tooltip" title="Abschnitt anlegen">
                      <i class="fas fa-plus-circle">
                      </i>
                    </a>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="card-body">
              <div id="new-section-area-<%= c.id %>"
                   class="bg-green-lighten-4 p-2 mb-3 rounded"
                   style="display: none;">
              </div>
              <ul class="list-group">
                <% c.sections.includes(:chapter, :tags).each do |s| %>
                  <li class="list-group-item <%= section_background_color(s) %>"
                      id="<%= dom_id(s) %>">
                    <div class="row">
                      <div class="col-6">
                        <strong>
                          <span class="<%= section_color(s) %>">
                          <%= s.to_label %>
                          </span>
                          <% unless inspection %>
                            <a href="<%= edit_section_path(s) %>"
                               class="text-dark"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Bearbeiten"
                               data-remote="true"
                               style="text-decoration: none;">
                              <i class="far fa-edit">
                              </i>
                            </a>
                          <% end %>
                          <a href="<%= display_section_path(s) %>"
                               class="text-dark"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Inhalt"
                               data-remote="true">
                              <i class="fas fa-list-ol">
                              </i>
                          </a>
                        </strong>
                      </div>
                      <div class="col-6">
                        <% s.lessons.includes(:tags).order(:date).each do |l| %>
                          <%= link_to l.date_de,
                                      lesson_link(l, inspection),
                                      class: 'badge badge-secondary' +
                                             ' lecture-lesson',
                                      id: 'lecture-' + dom_id(l),
                                      remote: true,
                                      data: { id: l.id,
                                              tags: l.tags.map(&:id) } %>
                        <% end %>
                      </div>
                      <div class="col-12 mt-2">
                        <% s.tags.includes(:lessons).each do |t| %>
                          <%= link_to shorten(t.title, 45),
                                      edit_tag_path(t),
                                      id: 'lecture-' + dom_id(t),
                                      class: 'badge badge-light lecture-tag',
                                      title: (t.title if t.title.length > 45),
                                      data: { id: t.id,
                                              lessons: t.lessons.map(&:id),
                                              toggle: 'tooltip',
                                              placement: 'bottom' } %>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      Es sind noch keine Kapitel vorhanden.
    <% end %>
    <% if lecture.orphaned_lessons.present? %>
      Verwaiste Sitzungen:
      <% lecture.orphaned_lessons.each do |l| %>
        <%= link_to  l.date_de,
                     edit_lesson_path(l),
                     remote: true,
                     class: 'badge badge-light' %>
      <% end %>
    <% end %>
  </div>
</div>
