<div id="tags_accordion" role="tablist">
  <div class="card bg-mdb-color-lighten-6">
    <div class="card-header"
         role="tab" id="tags_heading">
      <div class="row">
        <div class="col-6">
          <h5 class="text-dark">
            Verknüpfte Begriffe
            <%= ' (' + lecture.tags.count.to_s + ') '%>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-primary"
             data-toggle="collapse" href="#tags_collapse"
             aria-expanded="false" aria-controls="tags_collapse">
            Ein-/Ausklappen
          </a>
        </div>
      </div>
    </div>
    <div id="tags_collapse" class="collapse" role="tabpanel"
         aria-labelledby="heading"
         data-parent="#tags_accordion">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-12 mb-2">
            Begriffe aus dem zugehörigen Kurs
            <%= link_to lecture.course.title, inspect_course_path(lecture.course) %>
            <%= ' (' + lecture.course.tags.count.to_s + ')' %>
          </div>
          <div class="col-12">
            <% if lecture.course.tags.present? %>
              <% lecture.course.tags.sort_by(&:title).each do |t| %>
                <%= link_to t.title, inspect_tag_path(t),
                                class: "badge badge-light" %>
              <% end %>
            <% else %>
              Es sind noch keine Begriffe vorhanden.
            <% end %>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 form-group">
            <% if inspection %>
              Für diese Vorlesung zusätzlich aktivierte Begriffe
            <% else %>
              <%= f.label :additional_tag_ids,
                          'Für diese Vorlesung zusätzlich aktivierte Begriffe' %>
              <button type="button" class="btn btn-sm ml-2 mb-2 btn-outline-secondary"
                      id="lecture-additional-tags-links">
                Links einblenden
              </button>
              <%= f.select :additional_tag_ids,
                            options_for_select(Tag.select { |t| !lecture.course.in?(t.courses) }
                                                  .map { |t| [t.title, t.id] },
                                                  lecture.additional_tags.map(&:id)),
                            {}, { multiple: true, class: 'selectize' } %>
            <% end %>
            <div id="lecture-additional-tag-list" style="display: <%= show(inspection) %>"
                 data-show="0">
              <%= render partial: "tags/list",
                         locals: { tags: lecture.additional_tags,
                                   inspection: true } %>
            </div>
            <div class="invalid-feedback"
                 id="additional-tags-error">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 form-group">
            <% if inspection %>
              Für diese Vorlesung deaktivierte Begriffe
            <% else %>
              <%= f.label :disabled_tag_ids,
                          'Für diese Vorlesung deaktivierte Begriffe' %>
              <button type="button" class="btn btn-sm ml-2 mb-2 btn-outline-secondary"
                      id="lecture-disabled-tags-links">
                Links einblenden
              </button>
              <%= f.select :disabled_tag_ids,
                           options_for_select(lecture.course.tags.map { |t| [t.title, t.id] },
                                              lecture.disabled_tags.map(&:id)),
                           {}, { multiple: true, class: 'selectize' } %>
            <% end %>
            <div id="lecture-disabled-tag-list" style="display: <%= show(inspection) %>"
                 data-show="0">
               <%= render partial: "tags/list",
                          locals: { tags: lecture.disabled_tags,
                                    inspection: true } %>
            </div>
            <div class="invalid-feedback"
                 id="disabled-tags-error">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
