<div class="card bg-mdb-color-lighten-5">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <h5>
          Vorlesungsinhalt
        </h5>
      </div>
      <% unless inspection %>
        <div class="col-3">
          <span id="no-effect-warning" style="display: none; color: red;">
            Du musst zunächst die anderen Änderungen speichern oder verwerfen.
          </span>
        </div>
        <div class="col-6 text-right">
            <%= link_to 'Kapitel anlegen',
                        new_chapter_path(lecture_id: lecture.id),
                        remote: true, class: 'btn btn-secondary new-in-lecture',
                        id: 'new_chapter_button' %>
            <%= link_to 'Sitzung anlegen',
                        new_lesson_path(lecture_id: lecture.id),
                        remote: true, class: 'btn btn-secondary new-in-lecture',
                        id: 'new_lesson_button'%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div id="new-chapter-area" style="display: none;"
         class="bg-green-lighten-4 p-2 mb-3 rounded">
    </div>
    <div id="new-lesson-area" style="display: none;"
         class="bg-green-lighten-4 p-2 mb-3 rounded">
    </div>
    <% if lecture.chapters.present? %>
      <div class="card-columns">
      <% lecture.chapters.includes([:sections,:lecture]).each do |c| %>
        <div class="card bg-mdb-color-lighten-5">
          <div id="<%= dom_id(c) %>" class="card-header bg-mdb-color-lighten-2">
            <div class="row">
              <div class="col-6">
                <% if inspection %>
                  <span class="text-light">
                    <%= c.to_label %>
                  </span>
                <% else %>
                  <span class="text-light">
                    <%= c.to_label %>
                  </span>
                  <a href="<%= edit_chapter_path(c) %>" class="text-light" data-toggle="tooltip"
                     data-placement="bottom" title="Bearbeiten"
                     data-remote="true">
                    <i class="far fa-edit">
                    </i>
                  </a>
                <% end %>
              </div>
              <% unless inspection %>
                <div class="col-6 text-right">
                  <div id="new_section_button_<%= c.id %>" data-from="lecture"
                       class="new-in-lecture">
                    <%= link_to 'Abschnitt anlegen',
                                new_section_path(chapter_id: c.id),
                                remote: true,
                                class: 'btn btn-outline-light' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
            <div class="card-body">
              <div id="new-section-area-<%= c.id %>"
                   class="bg-green-lighten-4 p-2 mb-3 rounded"
                   style="display: none;">
              </div>
              <ul class="list-group">
            <% c.sections.includes(:chapter, :tags).each do |s| %>
              <li class="list-group-item bg-mdb-color-lighten-6" id="<%= dom_id(s) %>">
                <div class="row">
                  <div class="col-6">
                    <strong>
                      <% if inspection %>
                        <%= s.to_label %>
                      <% else %>
                        <%= s.to_label %>
                        <a href="<%= edit_section_path(s) %>" class="text-dark" data-toggle="tooltip"
                           data-placement="bottom" title="Bearbeiten"
                           data-remote="true">
                          <i class="far fa-edit">
                          </i>
                        </a>
                      <% end %>
                    </strong>
                  </div>
                  <div class="col-6">
                    <% s.lessons.order(:date).each do |l| %>
                      <% lesson_link = inspection ? inspect_lesson_path(l) : edit_lesson_path(l) %> 
                      <%= link_to  l.date.day.to_s + '.' + l.date.month.to_s +
                                   '.' + l.date.year.to_s, lesson_link,
                                   class: 'badge badge-secondary lecture-lesson', 
                                   id: 'lecture-' + dom_id(l),
                                   remote: !inspection,
                                   data: { id: l.id, tags: l.tags.map(&:id) } %>
                    <% end %>
                  </div>
                  <div class="col-12 mt-2">
                    <% s.tags.each do |t| %>
                      <% if inspection %>
                        <%= link_to t.title, inspect_tag_path(t),
                                    class: "badge badge-light lecture-tag",
                                    data: { id: t.id } %>
                      <% else %>
                        <%= link_to t.title, edit_tag_path(t),
                                    class: "badge badge-light lecture-tag",
                                    data: { id: t.id } %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end%>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
      Es sind noch keine Kapitel vorhanden.
  <% end %>
  <% if lecture.orphaned_lessons.present? %>
    Verwaiste Sitzungen:
    <% lecture.orphaned_lessons.each do |l| %>
      <%= link_to  l.date.day.to_s + '.' + l.date.month.to_s +
                   '.' + l.date.year.to_s, edit_lesson_path(l),
                   class: 'badge badge-light' %>
    <% end %>
  <% end %>
</div>
</div>
