<div id="lecture-area">
  <div class="row px-4 py-2 mt-2">
    <div class="col-7">
      <h4 class="pl-2">
        <span class="badge badge-secondary">
          Vorlesung
        </span>
        <%= lecture.title_with_teacher %>
      </h4>
    </div>
    <div class="col-5 text-right">
      <% if inspection_and_editor?(inspection, lecture) %>
        <%= link_to 'Bearbeiten', edit_lecture_path(lecture),
                     class: 'btn btn-primary my-1' %>
      <% elsif !inspection %>
        <%= link_to 'Ansehen', inspect_lecture_path(lecture),
                    class: 'btn btn-primary my-1' %>
      <% end %>
      <%= link_to 'zum Modul',
                  inspect_or_edit_course_from_lecture(inspection, lecture),
                  class: 'btn btn-primary' %>
      <% if lecture_deletable?(lecture, inspection) %>
        <%= link_to 'Vorlesung löschen', lecture_path, method: :delete,
                    data: { confirm: 'Bist Du sicher?' },
                    class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  <div class="row px-4 py-2">
    <div id="lecture-content-card" class="col-9">
      <%= render partial: 'lectures/editable_content',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div>
    <div id="lecture-media-card" class="col-3">
      <%= render partial: 'lectures/media',
                 locals: { media: lecture.media_with_inheritance,
                           inspection: inspection,
                           lecture: lecture } %>
    </div>
  </div>
  <div class="row px-4 py-2 mt-3">
    <div class="col-12">
      <%= render partial: 'lectures/tags',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div>
    <div class="col-12">
      <%= render partial: 'lectures/people',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div>
    <div class="col-12">
      <%= render partial: 'lectures/announcements',
                 locals: { lecture: lecture,
                           announcements: announcements,
                           inspection: inspection } %>
    </div>
    <div class="col-12">
      <%= render partial: 'lectures/preferences',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div>
  </div>
</div>
<%= render partial: 'lessons/modal' %>
<% unless inspection %>
  <%= render partial: 'tags/modal' %>
  <%= render partial: 'announcements/modal' %>
<% end %>
