<div id="lecture-area">
  <div class="row px-4 py-2 mt-2">
    <div class="col-7">
      <h4 class="pl-2">
        <span class="badge badge-secondary">
          <%= t('basics.lecture') %>
        </span>
        <% unless lecture.published? %>
          <span class="badge badge-warning">
            <%= t('access.unpublished') %>
          </span>
        <% end %>
        <%= lecture.title_with_teacher %>
      </h4>
    </div>
    <div class="col-5 text-right">
      <%= link_to t('buttons.course'),
                  edit_or_inspect_course_path(lecture.course),
                  class: 'btn btn-outline-primary' %>
      <% if !inspection && !lecture.published? %>
        <button type="button" class="btn btn-outline-danger"
                data-toggle="modal" data-target="#publishLectureModal">
          <%= t('buttons.publish') %>
        </button>
      <% end %>
      <% if lecture_deletable?(lecture, inspection) %>
        <%= link_to t('buttons.delete'),
                    lecture_path,
                    method: :delete,
                    data: { confirm: t('confirmation.generic') },
                    class: 'btn btn-outline-danger' %>
      <% end %>
    </div>
  </div>
  <div class="row px-4 py-2">
    <div id="lecture-content-card" class="col-12 col-xxxl-9 mb-1">
      <%= render partial: 'lectures/editable_content',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div>
    <div id="lecture-media-card" class="col-12 col-xxxl-3 mb-1">
      <%= render partial: 'lectures/media',
                 locals: { media: lecture.media_with_inheritance,
                           inspection: inspection,
                           lecture: lecture } %>
    </div>
  </div>
  <div class="row px-4 py-2 mt-3">
    <div class="accordion col-12" id="lectureAccordion">
      <%= render partial: 'lectures/tags',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
      <%= render partial: 'lectures/people',
                 locals: { lecture: lecture,
                           inspection: inspection,
                           users: lecture.users } %>
      <%= render partial: 'lectures/organizational_concept',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
      <%= render partial: 'lectures/announcements',
                 locals: { lecture: lecture,
                           announcements: announcements,
                           inspection: inspection } %>
      <%= render partial: 'lectures/forum',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
      <%= render partial: 'lectures/preferences',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div>
  </div>
</div>
<%= render partial: 'lessons/modal' %>
<%= render partial: 'sections/content_modal' %>
<% unless inspection %>
  <%= render partial: 'tags/modal' %>
  <%= render partial: 'announcements/modal' %>
  <%= render partial: 'lectures/publish',
             locals: { lecture: lecture } %>
<% end %>
