<div id="lecture-area">
  <div class="row px-4 py-2 mt-2">
    <div class="col-7">
      <h4 class="pl-2">
        <span class="badge badge-secondary">
          Vorlesung
        </span>
        <%= lecture.title %>
      </h4>
    </div>
    <div class="col-5 text-right">
      <% if inspection && (current_user.admin ||
          current_user.in?(@lecture.editors_with_inheritance)) %>
        <%= link_to 'Bearbeiten', edit_lecture_path(lecture),
                     class: 'btn btn-primary my-1' %>
      <% else %>
        <%= link_to 'Ansehen', inspect_lecture_path(lecture),
                    class: 'btn btn-primary my-1' %>
      <% end %>
      <%= link_to 'zur Vorlesungsübersicht', lectures_path,
                  class: 'btn btn-primary' %>
      <% if !inspection && lecture.lessons.empty? && lecture.media.empty? &&
            (current_user.admin? || lecture.editors_with_inheritance.include?(current_user)) %>
        <%= link_to 'Vorlesung löschen', lecture_path, method: :delete,
                    data: { confirm: 'Bist Du sicher?' },
                    class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  <div class="row px-4 py-2">
    <div class="col-12">
      <%= render partial: 'lectures/editable_content',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div>
  </div>
  <div class="row px-4 py-2 mt-3">
    <div class="col-12">
      <%= render partial: 'media/card',
                 locals: { media: lecture.media_with_inheritance, small: false,
                           collapsible: true, teachable_id: lecture.id,
                           teachable_type: 'Lecture', inspection: inspection, 
                           tag_ids: nil } %>
    </div>
    <div class="col-12">
      <%= render partial: 'lectures/tags',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div>
    <div class="col-12">
      <%= render partial: 'lectures/people',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div>
    <div class="col-12">
      <%= render partial: 'lectures/preferences',
                 locals: { lecture: lecture,
                           inspection: inspection } %>
    </div> 
  </div>
</div>
<% unless inspection %>
  <%= render partial: 'lessons/modal' %>
  <%= render partial: 'sections/display_number_modal' %>
  <%= render partial: 'tags/modal' %>
<% end %>