<div class="card bg-mdb-color-lighten-6">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <h5>
          Medien
          <% unless inspection %>
            <a href="<%= new_medium_path(params: { teachable_id: lecture.id,
                                                   teachable_type: 'Lecture' }) %>"
               class="fas fa-plus-circle new-in-lecture text-dark"
               style="text-decoration: none; "
               data-toggle="tooltip" title="Medium anlegen"
               id="create-new-medium">
            </a>        
          <% end %> 
        </h5>
      </div>
      <div class="col-3">
        <i class="far fa-question-circle helpdesk ml-2" 
           tabindex="0"  
           data-toggle="popover" data-trigger="focus" 
           title="Info" 
           data-content="Hier werden alle Medien angezeigt, die direkt zu dieser Vorlesung oder zu Sitzungen dieser Vorlesung assoziiert sind.
           Sollte es Medien geben, die auf der Ebene des zugehörigen Moduls
           angesiedelt sind, so wird darauf hingeweisen.">
        </i>
      </div>
      <div class="col-3 text-right">
        <i id="hide-media-button"
           class="far fa-window-close clickable"
           data-toggle="tooltip" title="Medien ausblenden">
        </i> 
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <ul class="nav flex-column nav-pills" id="edited-media-tab" role="tablist">
          <% media_sorts.each do |s| %>
            <li class="nav-item">
              <a class="nav-link <%= active(s == 'kaviar') %>"
                 id="<%= s %>-tab"
                 data-toggle="tab" href="#<%= s %>-media" role="tab"
                 aria-controls="<%= s%>-media" aria-selected="true">
                <%= media_names[s] %>
                (<%= media.where(sort: media_types[s]).count %>)
              </a>
           </li>
          <% end %>
        </ul>
      </div>
      <div class="col-8">
        <div class="tab-content" id="edited-media-tabContent">
          <% media_sorts.each do |s| %>
            <div class="tab-pane fade <%= show_tab(s == 'kaviar') %>"
                 id="<%= s %>-media"
                 role="tabpanel" aria-labelledby="<%= s %>-tab">
              <ul>
                <% media.includes(:tags).where(sort: media_types[s])
                                        .order(created_at: :desc).each do |m| %>
                  <li>
                    <% if inspection %>
                      <%= link_to m.local_info, inspect_medium_path(m), 
                                  id: "lecture-#{dom_id(m)}",
                                  data: { type: m.teachable.class.to_s,
                                          id: m.teachable.id,
                                          tags: m.tags.map(&:id) } %>
                    <% else %>
                      <%= link_to m.local_info, edit_medium_path(m),
                                  id: "lecture-#{dom_id(m)}",
                                  data: { type: m.teachable.class.to_s,
                                          id: m.teachable.id,
                                          tags: m.tags.map(&:id) } %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
              <% course_material = Medium.where(teachable: lecture.course,
                                                sort: media_types[s]) %>
              <% if course_material.present? %>
                Es gibt 
                <%= course_material.count %> 
                <%= course_material.count == 1 ? 'Medium' : 'Medien' %>
                dieses Typs, die auf der Ebene des zugehörigen 
                Moduls
                <%= link_to lecture.course.title,
                            inspection ? inspect_course_path(lecture.course) : edit_course_path(lecture.course) %>  
                angesiedelt sind.
              <% end %>   
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>