<% unless from == 'course' %>
  <div class="row">
    <div class="col-12">
      <h6>
        <%= t('admin.lecture.new_lecture') %>
      </h6>
    </div>
  </div>
<% end %>
<% if Course.count == 0 %>
  <%= t('admin.lecture.no_courses_yet') %>
<% elsif Term.count == 0 %>
  <%= t('admin.lecture.no_terms_yet') %>
<% else %>
  <%= form_with model: lecture do |f| %>
    <% term_independent = (from != 'course' && first_course_independent?) ||
                            (from == 'course' && lecture.course.term_independent) %>
    <div class="row">
      <div class="col-8">
        <%= f.label :course_id, t('basics.course'),
                    class: "form-label" %>
        <%= helpdesk(t('admin.lecture.info.course'), false) %>
        <%= f.select :course_id,
                     options_for_select(current_user
                                          .select_administrated_courses
                                          .natural_sort_by(&:first),
                                        lecture.course&.id),
                     {},
                     { class: 'selectize',
                       disabled: from == 'course',
                       required: true,
                       data: { terminfo: Course.pluck(:id, :term_independent) } } %>
        <% if from == 'course' %>
          <%= f.hidden_field :course_id, value: lecture.course.id %>
        <% end %>
        <div class="invalid-feedback"
             id="new-lecture-course-error">
        </div>
      </div>
      <div class="col-4" id="newLectureTerm"
           style="<%= term_independent ? 'display: none;' : '' %>">
        <%= f.label :term_id,
                    t('basics.term'),
                    class: "form-label" %>
        <%= helpdesk(t('admin.lecture.info.term'), false) %>
        <%= f.select :term_id,
                     options_for_select(Term.select_terms),
                     {},
                     { class: 'form-control',
                       disabled: term_independent } %>
        <div class="invalid-feedback"
             id="new-lecture-term-error">
        </div>
      </div>
      <div class="col-12">
        <%= f.label :teacher_id,
                    t('basics.teacher'),
                    class: "form-label" %>
        <%= helpdesk(t('admin.lecture.info.teacher'), false) %>
        <%= f.select :teacher_id,
                     options_for_select([[current_user.info, current_user.id]],
                                        current_user.id),
                     {},
                     { class: 'selectize',
                       data: { ajax: true,
                               model: 'user',
                               filled: false,
                               placeholder: t('basics.enter_two_letters'),
                               no_results: t('basics.no_results'),
                               current: current_user.id,
                               modal: modal } } %>
      </div>
      <div class="col-12" id="newLectureSort"
           style="<%= term_independent ? 'display: none;' : '' %>">
        <%= f.label :sort,
                    t('basics.type'),
                    class: "form-label" %>
        <%= f.select :sort,
                     options_for_select(Lecture.sort_localized.invert.to_a,
                                        'lecture'),
                     {},
                     { class: 'form-control'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <%= f.submit t('buttons.save'),
            class: 'btn btn-primary' %>
        <button type="button"
                id="cancel-new-lecture"
                class="btn btn-secondary">
          <%= t('buttons.cancel') %>
        </button>
      </div>
    </div>
    <%= f.hidden_field :from, value: from %>
    <%= f.hidden_field :content_mode, value: 'video' %>
  <% end %>
<% end %>
