<div class="card bg-light-blue-lighten-5 mb-3" id="newsCard">
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-sm-10">
        <h5>
          <%= t('notifications.lecture.title') %>
        </h5>
      </div>
      <div class="col-12 col-sm-2 text-end">
        <% if notifications.present? %>
          <%= link_to t('notifications.check_notifications'),
                      destroy_lecture_notifications_path(params: { lecture_id: lecture.id }),
                      class: 'btn btn-sm btn-outline-secondary',
                      method: :post,
                      remote: true %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <% if notifications.present? %>
      <div class="mb-2 activeAnnouncementsCounter"
           data-lecture="<%= lecture.id %>"
           data-count="<%= notifications.size %>">
        <% if notifications.size == 1 %>
          <%= t('notifications.lecture.one_new') %>
        <% else %>
          <%= t('notifications.lecture.more_new') %>
        <% end %>
      </div>
      <div class="list-group mb-2" style="max-height: 10vh; overflow-y: scroll;">
        <%= render partial: 'announcements/row_for_lecture',
                   locals: { lecture: lecture },
                   collection: notifications,
                   as: :notification %>
      </div>
    <% end %>
    <% if lecture.forum? && posts_count.positive? %>
      <div id="unreadPosts">
        <% if posts_count == 1 %>
          <%= t('notifications.lecture.new_post_html',
                board: link_to(t('categories.board'),
                               '/forum/' + lecture.forum.slug,
                               target: :blank)) %>
        <% else %>
          <%= t('notifications.lecture.new_posts_html',
                board: link_to(t('categories.board'),
                               '/forum/' + lecture.forum.slug,
                               target: :blank),
                count: posts_count) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
