<div id="people_accordion"
     role="tablist">
  <div class="card bg-light">
    <div class="card-header"
         role="tab"
         id="people_heading">
      <div class="row">
        <div class="col-6">
          <h5>
            <%= t('basics.people') %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-primary"
             data-toggle="collapse"
             href="#people_collapse"
             id="people_collapse_button"
             aria-expanded="false" aria-controls="people_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="people_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#people_accordion">
      <div class="card-body">
        <%= form_with model: lecture, html: { id: 'lecture-form' } do |f| %>
          <div class="form-row">
            <div class="col-4 form-group">
              <%= f.label :teacher_id,
                          t('basics.teacher') %>
              <% unless inspection %>
                <a href="<%= update_teacher_path(lecture) %>"
                   class="far fa-edit text-dark"
                   data-toggle="tooltip"
                   id="update-teacher-button"
                   style="text-decoration: none;"
                   data-placement="bottom" title="<%= t('buttons.edit') %>"
                   data-remote="true">
                </a>
              <% end %>
              <%= helpdesk(t('admin.lecture.info.teacher'), false) %>
              <div id="lecture_teacher_select" %>
                <%= f.select :teacher_id,
                             options_for_select([[lecture.teacher.info,
                                                  lecture.teacher.id]],
                                                lecture.teacher.id),
                             {},
                             { class: 'selectize', disabled: true } %>
                <div class="invalid-feedback" id="lecture-teacher-error">
                </div>
              </div>
              <div id="lecture_teacher_info">
                <%= lecture.teacher.name %>
              </div>
            </div>
            <div class="col-4">
              <%= t('basics.course_editors') %>
              <%= helpdesk(t('admin.lecture.info.course_editors'), false) %>
              <% if lecture.course.editors.present? %>
                <ul>
                  <% lecture.course.editors.each do |e| %>
                    <li>
                      <%= e.name %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <br>
                <%= t('admin.lecture.no_course_editors') %>
              <% end %>
            </div>
            <div class="col-4 form-group">
              <%= f.label :editor_ids,
                          t('basics.lecture_editors') %>
              <% unless inspection %>
                <a href="<%= update_editors_path(lecture) %>"
                   class="far fa-edit text-dark"
                   id="update-editors-button"
                   style="text-decoration: none;"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="<%= t('buttons.edit') %>"
                   data-remote="true">
                 </a>
              <% end %>
              <%= helpdesk(t('admin.lecture.info.lecture_editors'), false) %>
              <div id="lecture_editors_select" %>
                <%= f.select :editor_ids,
                             options_for_select([[t('none'), '']] +
                                                lecture.select_editors,
                                                lecture.editors.map(&:id)),
                             {},
                             { multiple: true,
                               class: 'selectize',
                               disabled: true } %>
              </div>
              <div id="lecture_editors_info">
                <% if lecture.editors.present? %>
                  <ul>
                    <% lecture.editors.each do |e| %>
                      <li>
                        <%= e.name %>
                      </li>
                    <% end %>
                  </ul>
                <% else %>
                  <br>
                  <%= t('admin.lecture.no_lecture_editors') %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <%= t('admin.lecture.subscribers_count',
                    count: lecture.users&.count) %>
              <%= helpdesk(t('admin.lecture.info.subscribers_count'), false) %>
            </div>
          </div>
          <% unless inspection %>
            <div class="row border bg-mdb-color-lighten-5 mx-2">
              <div class="col-6">
                <%= t('basics.display_name') %>
              </div>
              <div class="col-6">
                <%= t('basics.email') %>
              </div>
            </div>
            <div style="max-height: 30vh; overflow-y: scroll;">
              <% lecture.users.find_each do |u| %>
                <% cache u do %>
                  <div class="row mx-2 border-left border-right border-bottom">
                    <div class="col-6">
                      <%= u.name %>
                    </div>
                    <div class="col-6">
                      <%= u.email %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <div class="row mt-3">
            <div class="col-12 text-center">
              <div id="lecture-basics-warning">
                <%= t('warnings.unsaved_changes') %>
                <%= f.submit t('buttons.save'),
                    class: "btn btn-primary" %>
                <button type="button"
                        class="btn btn-secondary ml-2"
                        id="lecture-basics-cancel"
                        data-id="<%= lecture.id %>">
                  <%= t('buttons.discard') %>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
