  <div class="card bg-light">
    <div class="card-header" role="tab" id="preferences_heading">
      <div class="row">
        <div class="col-6">
          <h5>
            <%= t('basics.preferences') %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-primary"
             data-toggle="collapse"
             href="#preferences_collapse"
             id="preferences_collapse_button"
             aria-expanded="false" aria-controls="preferences_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="preferences_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#lectureAccordion">
      <div class="card-body">
        <%= form_with model: lecture,
                      html: { id: 'lecture-preferences-form' } do |f| %>
          <div class="form-row">
            <div class="col-3 form-group">
              <%= f.label :term_id,
                          t('basics.term') %>
              <%= helpdesk(t('admin.lecture.info.term'), false) %>
              <%= f.select :term_id,
                           options_for_select(Term.select_terms,
                                              lecture.term.id),
                           {},
                           { class: 'form-control',
                             disabled: inspection } %>
              <div class="invalid-feedback"
                   id="lecture-term-error">
              </div>
            </div>
            <div class="col-3 form-group">
              <%= f.label :start_chapter, t('admin.lecture.first_chapter') %>
              <%= helpdesk(t('admin.lecture.info.first_chapter'), false) %>
              <%= f.number_field :start_chapter,
                                 value: lecture.start_chapter || 1,
                                 class: 'form-control',
                                 disabled: inspection  %>
            </div>
            <div class="col-3 mt-6">
              <div id="start-section-input">
                <%= f.label :start_section,
                            t('admin.lecture.first_section') %>
                <%= helpdesk(t('admin.lecture.info.first_section'), false) %>
                <%= f.number_field :start_section,
                                   value: lecture.start_section || 1,
                                   class: 'form-control',
                                   disabled: inspection ||
                                               !lecture.absolute_numbering %>
              </div>
            </div>
            <div class="col-3 mt-6">
              <div class="custom-control custom-checkbox">
                <%= f.check_box :absolute_numbering,
                                class: 'custom-control-input',
                                disabled: inspection %>
                <%= f.label :absolute_numbering,
                            t('admin.lecture.absolute_numbering'),
                            { class: 'custom-control-label' } %>
                <%= helpdesk(t('admin.lecture.info.absolute_numbering'),
                             false) %>
              </div>
            </div>
          </div>
          <% unless inspection %>
          <div class="form-row">
            <div class="col-auto form-group">
              <%= f.label :passphrase, t('admin.lecture.passphrase') %>
              <%= helpdesk(t('admin.lecture.info.passphrase'), false) %>
              <%= f.text_field :passphrase,
                               { class: 'form-control',
                                 size: 50 } %>
            </div>
          </div>
          <% end %>
          <div class="form-group">
            <%= t('basics.language') %>
            <div class="form-row ml-2">
            <% I18n.available_locales.each do |locale| %>
              <div class="custom-control custom-radio custom-control-inline">
                <%= f.radio_button :locale,
                                   locale.to_s,
                                   class: 'custom-control-input' %>
                <%= f.label :locale,
                            t('locales.' + locale.to_s),
                            value: locale.to_s,
                            class: 'custom-control-label' %>
              </div>
            <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <div id="lecture-preferences-warning">
                <%= t('warnings.unsaved_changes') %>
                <%= f.submit t('buttons.save_and_exit'),
                             class: "btn btn-primary" %>
                <button type="button" id="cancel-lecture-preferences"
                        class="btn btn-secondary">
                  <%= t('buttons.cancel') %>
               </button>
             </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
