<div id="preferences_accordion" role="tablist">
  <div class="card bg-light">
    <div class="card-header" role="tab" id="preferences_heading">
      <div class="row">
        <div class="col-6">
          <h5>
            Einstellungen
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-primary"
             data-toggle="collapse"
             href="#preferences_collapse"
             id="preferences_collapse_button"
             aria-expanded="false" aria-controls="preferences_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="preferences_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#preferences_accordion">
      <div class="card-body">
        <%= form_with model: lecture,
                      html: { id: 'lecture-preferences-form' } do |f| %>
          <div class="form-row">
            <div class="col-3 form-group">
              <%= f.label :term_id,
                          'Semester' %>
              <i class="far fa-question-circle helpdesk"
                 tabindex="-1"
                 data-toggle="popover"
                 data-trigger="focus"
                 title="Info"
                 data-content="Hier kannst Du das Semester auswählen, in dem
                 diese Vorlesung stattfindet bzw. stattgefunden hat.">
              </i>
              <%= f.select :term_id,
                           options_for_select(Term.select_terms,
                                              lecture.term.id),
                           {},
                           { class: 'form-control',
                             disabled: inspection } %>
              <div class="invalid-feedback"
                   id="lecture-term-error">
              </div>
            </div>
            <div class="col-3 form-group">
              <%= f.label :start_chapter, 'Nummer des ersten Kapitels' %>
              <i class="far fa-question-circle helpdesk"
                 tabindex="-1"
                 data-toggle="popover"
                 data-trigger="focus"
                 title="Info"
                 data-content="Soll das erste Kapitel eine von eins
                 verschiedene Nummer haben, so kann dies hier eingetragen
                 werden. Anwendungsmöglichkeiten sind z.B.
                 Kapitelnummerierungen, die in Fortsetzungsvorlesungen
                 weitergeführt werden.">
              </i>
              <%= f.number_field :start_chapter,
                                 value: lecture.start_chapter || 1,
                                 class: 'form-control',
                                 disabled: inspection  %>
            </div>
            <div class="col-3 mt-6">
              <div id="start-section-input">
                <%= f.label :start_section,
                            'Startabschnitt' %>
                <i class="far fa-question-circle helpdesk"
                   tabindex="-1"
                   data-toggle="popover" data-trigger="focus"
                   title="Info"
                   data-content="Ist die absolute Nummerierung für Abschnitte
                   aktiviert, so kann hier die Nummer des ersten Abschnitts
                   eingestellt werden.">
                </i>
                <%= f.number_field :start_section,
                                   value: lecture.start_section || 1,
                                   class: 'form-control',
                                   disabled: inspection ||
                                               !lecture.absolute_numbering %>
              </div>
            </div>
            <div class="col-3 mt-6">
              <div class="custom-control custom-checkbox">
                <%= f.check_box :absolute_numbering,
                                class: 'custom-control-input',
                                disabled: inspection %>
                <%= f.label :absolute_numbering,
                            'absolute Nummerierung',
                            { class: 'custom-control-label' } %>
                <i class="far fa-question-circle helpdesk"
                   tabindex="-1"
                   data-toggle="popover"
                   data-trigger="focus"
                   title="Info"
                   data-content="Standardmäßig wird für Abschnitte eine
                   Nummerierung relativ zum Kapitel angezeigt:
                   Der dritte Abschnitt in Kapitel 4 ist etwa §4.3.
                   Durch Aktivierung der absoluten Nummerierung wird dieses
                   Verhalten abgestellt, Abschnitte werden über Kapitelgrenzen
                   weitergezählt. ">
                </i>
              </div>
            </div>
          </div>
          <% unless inspection %>
          <div class="form-row">
            <div class="col-auto form-group">
              <%= f.label :passphrase, 'Zugangsschlüssel' %>
              <i class="far fa-question-circle helpdesk"
                 tabindex="-1"
                 data-toggle="popover"
                 data-trigger="focus"
                 title="Info"
                 data-content="Wenn Du hier etwa eingibst, können
                 NutzerInnen diese Vorlesung nur unter Angabe dieses
                 Schlüssels abonnieren. Medien, die zu dieser Vorlesung
                 oder Sitzungen davon assoziiert sind, sind für NutzerInnen,
                 die diese Vorlesung nicht abonniert haben, unsichtbar.">
              </i>
              <%= f.text_field :passphrase,
                               { class: 'form-control',
                                 size: 50 } %>
            </div>
          </div>
          <% end %>
          <div class="form-group">
            Sprache
            <div class="form-row ml-2">
            <% I18n.available_locales.each do |locale| %>
              <div class="custom-control custom-radio custom-control-inline">
                <%= f.radio_button :locale,
                                   locale.to_s,
                                   class: 'custom-control-input' %>
                <%= f.label :locale,
                            t('locales.' + locale.to_s,
                              locale: I18n.default_locale),
                              value: locale.to_s,
                              class: 'custom-control-label' %>
              </div>
            <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <div id="lecture-preferences-warning">
                <%= t('warnings.unsaved_changes') %>
                <%= f.submit t('buttons.save_and_exit'),
                             class: "btn btn-primary" %>
                <button type="button" id="cancel-lecture-preferences"
                        class="btn btn-secondary">
                  <%= t('buttons.cancel') %>
               </button>
             </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
