<div class="modal fade"
     id="publishLectureModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="publishLectureModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="publishLectureModalLabel">
          Vorlesung veröffentlichen
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <%= form_with model: Medium.new(released: lecture.restricted? ? 'subscribers' : 'all'),
                    url: publish_lecture_path,
                    remote: true,
                    method: 'post' do |f| %>
        <div class="modal-body">
          Beim Veröffentlichen der Vorlesung sollen
          <div class="row mt-2 mb-2">
            <div class="col-12">
              <div class="custom-control custom-radio">
                <%= f.radio_button :publish_media,
                                   1,
                                   class: 'custom-control-input',
                                   checked: true %>
                <%= f.label :publish_media,
                            'sämtliche verknüpfte Medien ebenfalls ' \
                            'veröffentlicht werden.',
                            value: 1,
                            class: 'custom-control-label' %>
              </div>
              In diesem Fall gelten für die Medien die folgenden Zugriffsrechte:
              <%= render partial: 'media/access_rights',
                         locals: { f: f,
                                   medium: nil } %>
              <div class="custom-control custom-radio">
                <%= f.radio_button :publish_media,
                                    0,
                                    class: 'custom-control-input',
                                    checked: false %>
                <%= f.label :publish_media,
                            'unveröffentlichte verknüpfte Medien '\
                            'weiterhin unveröffentlicht bleiben.',
                            value: 0,
                            class: 'custom-control-label' %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row mt-3">
            <div class="col-12 text-center">
              <%= f.submit 'Veröffentlichen',
                           class: 'btn btn-danger',
                           data: { confirm: 'Bist Du sicher? ' \
                                            'Die Veröffentlichung kann nicht ' \
                                            'rückgängig gemacht werden.' } %>
              <button type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal">
                abbrechen
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>