<div class="col-3">
  <%= lecture.course.title %>
</div>
<div class="col-2">
  <%= lecture.term.to_label_short %>
</div>
<div class="col-3">
  <ul class="list-unstyled">
    <% lecture.teacher_and_editors_with_inheritance.each do |e| %>
      <li>
        <div class="row">
        <div class="col-6">
        <%= e.name  %>
      </div>
        <div class="col-6">
        <% if e.editor? %>
          <span class="badge badge-light">
            EditorIn
          </span>
        <% end %>
        <% if e == lecture.teacher %>
          <span class="badge badge-light">
            DozentIn
          </span>
        <% end %>
      </div>
    </div>
      </li>
    <% end %>
  </ul>
</div>
<div class="col-4">
  <% if current_user.admin? || lecture.editors_with_inheritance.include?(current_user) %>
    <%= link_to 'Bearbeiten', edit_lecture_path(lecture),
                class: 'btn btn-outline-primary my-1' %>
  <% end %>
    <%= link_to 'Ansehen', inspect_lecture_path(lecture),
                class: 'btn btn-outline-primary my-1' %>
  <% if lecture.lessons.empty? && lecture.media.empty? &&
        (current_user.admin? || lecture.editors.include?(current_user)) %>
    <%= link_to 'Löschen', lecture_path(lecture), method: :delete,
                data: { confirm: 'Bist Du sicher?' },
                remote: true,
                class: 'btn btn-outline-danger my-1' %>
  <% end %>
</div>
