<div id="tags_accordion" role="tablist">
  <div class="card bg-light">
    <div class="card-header"
         role="tab" id="tags_heading">
      <div class="row">
        <div class="col-6">
          <h5 class="text-dark">
            Verknüpfte Begriffe
            <%= ' (' + lecture.tags.count.to_s + ') '%>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-primary"
             data-toggle="collapse" href="#tags_collapse"
             aria-expanded="false" aria-controls="tags_collapse">
            Ein-/Ausklappen
          </a>
        </div>
      </div>
    </div>
    <div id="tags_collapse" class="collapse" role="tabpanel"
         aria-labelledby="heading"
         data-parent="#tags_accordion">
      <div class="card-body">
        <ul>
          <li class="mb-2">
            <h6>
              (Bisher) behandelte Begriffe aus dem zugehörigen Modul
              <%= link_to lecture.course.title, inspect_course_path(lecture.course) %>
              <%= ' (' + lecture.course_tags.count.to_s + ')' %>
              <i class="far fa-question-circle helpdesk ml-2" 
                 tabindex="0"  
                 data-toggle="popover" data-trigger="focus" 
                 title="Info" 
                 data-content="Hier werden diejenigen Tags aus dem zugeordneten Modul angezeigt, die in mindestens einem Abschnitt dieser Vorlesung vorkommen.">
              </i>
            </h6>
            <% if lecture.course_tags.present? %>
              <%= render partial: "tags/list",
                         locals: { tags: lecture.course_tags.sort_by(&:title),
                                   inspection: inspection } %>
            <% else %>
              Es sind noch keine Begriffe vorhanden.
            <% end %>
          </li>
          <li class="mb-2">
            <h6>
              Zusätzlich behandelte Begriffe
              <%= ' (' + lecture.extra_tags.count.to_s + ')' %>
              <i class="far fa-question-circle helpdesk ml-2" 
                 tabindex="0"  
                 data-toggle="popover" data-trigger="focus" 
                 title="Info" 
                 data-content="Hier werden diejenigen Tags angezeigt, welche in mindestens einem Abschnitt dieser Vorlesung vorkommen, jedoch kein Tag des zugeordneten Moduls sind.">
              </i>
            </h6>
            <%= render partial: "tags/list",
                         locals: { tags: lecture.extra_tags.sort_by(&:title),
                                   inspection: inspection } %>
          </li>
        <li>
          <h6>
            (Noch) nicht behandelte Begriffe
            <%= ' (' + lecture.deferred_tags.count.to_s + ')' %>
            <i class="far fa-question-circle helpdesk ml-2" 
                 tabindex="0"  
                 data-toggle="popover" data-trigger="focus" 
                 title="Info" 
                 data-content="Hier werden diejenigen Tags aus dem zugeordneten Modul angezeigt, die in keinem Abschnitt dieser Vorlesung vorkommen.">
              </i>
          </h6>
          <%= render partial: "tags/list",
                     locals: { tags: lecture.deferred_tags.sort_by(&:title),
                               inspection: inspection } %>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
