<div id="tags_accordion" role="tablist">
  <div class="card bg-light">
    <div class="card-header"
         role="tab" id="tags_heading">
      <div class="row">
        <div class="col-6">
          <h5 class="text-dark">
            <%= t('admin.lecture.related_tags') %>
            <%= ' (' + lecture.tags.count.to_s + ') '%>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-primary"
             data-toggle="collapse"
             href="#tags_collapse"
             aria-expanded="false" aria-controls="tags_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="tags_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#tags_accordion">
      <div class="card-body">
        <ul>
          <li class="mb-2">
            <h6>
              <%= t('admin.lecture.course_tags_html',
                    course: link_to(lecture.course.title,
                                    edit_or_inspect_course_path(lecture.course)),
                    count: lecture.course_tags.count) %>
              <%= helpdesk(t('admin.lecture.info.course_tags'), false) %>
            </h6>
            <% if lecture.course_tags.present? %>
              <%= render partial: "tags/list",
                         locals: { tags: lecture.course_tags
                                                .natural_sort_by(&:title) } %>
            <% else %>
              <%= t('admin.lecture.no_course_tags') %>
            <% end %>
          </li>
          <li class="mb-2">
            <h6>
              <%= t('admin.lecture.additional_tags',
                    count: lecture.extra_tags.count) %>
              <%= helpdesk(t('admin.lecture.info.additional_tags'), false) %>
            </h6>
            <%= render partial: "tags/list",
                         locals: { tags: lecture.extra_tags
                                                .natural_sort_by(&:title) } %>
          </li>
          <li>
            <h6>
              <%= t('admin.lecture.untreated_tags',
                    count: lecture.deferred_tags.count) %>
              <%= helpdesk(t('admin.lecture.info.untreated_tags'), false) %>
            </h6>
            <%= render partial: "tags/list",
                       locals: { tags: lecture.deferred_tags
                                              .natural_sort_by(&:title) } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
