<div class="jumbotron">
<div class="row">
<h2><span class="badge badge-secondary mr-3">Vorlesung</span>
  <%= link_to @lecture.course.title, course_path(@lecture.course) %>
  <%= ', ' + @lecture.term.to_label %>
</h2>
</div>
<div class="row pt-3">
<h5>Dozent: <%= link_to @lecture.teacher.name, teacher_path(@lecture.teacher) %></h5>
</div>
<hr>
<p class>
<h5>News:</h5> Noch nicht implementiert.
</p>
<hr>
</div>
<% unless @lecture.lessons.empty? %>
<div class="row pt-5">
<div class="col-12">
  <%= render partial: 'lessons/lessons', locals: { lessons: @lecture.lessons,
                                                lessons_description: 'Verknüpfte Sitzungen',
                                                id: @lecture.id} %>
</div>
</div>
<% end %>
<% unless @lecture.tags.empty? %>
<div class="row pt-5">
<div class="col-12">
  <%= render partial: 'tags/many_related_tags', locals: { many_related_tags: @lecture.tags,
                                                tags_description: 'Verknüpfte Begriffe',
                                                id: @lecture.id} %>
</div>
</div>
<% end %>
