<div class="row mt-2 mb-2">
  <div id="lecture-details" class="col-12 text-center">
    <h4>
      <span id="lecture-title" class="mr-3">
        <%= @lecture.title_for_viewers %>
      </span>
      <span>
        <%= link_to @lecture.teacher.name,
                    teacher_path(@lecture.teacher),
                    id: 'lecture-teacher',
                    class: 'text-dark' %>
      </span>
      <% privileged = current_user.admin ||
                      current_user.in?(@lecture.editors_with_inheritance) %>
      <a href="<%= edit_lecture_path(@lecture) %>"
         id="lecture-edit"
         class="far fa-edit text-secondary"
         data-toggle="tooltip"
         data-placement="bottom"
         title="Bearbeiten"
         style="text-decoration: none;
                display: <%= show_inline(privileged) %>">
      </a>
    </h4>
  </div>
</div>
<% privileged = current_user.admin ||
                  current_user.in?(@lecture.editors_with_inheritance) %>
<div class="row">
  <% if current_user.active_announcements(@lecture).any? ||
        @lecture.unread_forum_topics_count(current_user)&.positive? %>
    <div class="col-12">
      <%= render partial: 'lectures/news_card',
                 locals: { lecture: @lecture,
                           announcements: @lecture.active_announcements(current_user),
                           posts_count:  @lecture.unread_forum_topics_count(current_user) } %>
    </div>
  <% end %>
  <% cache @lecture do %>
    <div class="col-12">
      <%= render partial: 'lectures/content',
                 locals: { lecture: @lecture } %>
    </div>
  <% end %>
</div>
