<div class="card">
  <div class="card-header">
    <h5>
      <%= t('categories.test.singular') %>
    </h5>
  </div>
  <div class="card-body">
    <%= t('test.info', count: @course.questions_count) %>
    <%= form_with url: random_quiz_path(@course),
                  scope: 'quiz',
                  method: :post,
                  local: true,
                  html: { target: :_blank } do |f| %>
      <div class="row my-2">
        <div class="col-auto">
          <%= f.label :random_quiz_count,
                      t('quiz.number_of_questions_label'),
                      class: "form-label" %>
          <%= helpdesk(t('quiz.info.reduced_questions'), false) %>
        </div>
        <div class="col-auto ms-2">
          <%= f.select :random_quiz_count,
                       options_for_select([5, 10, 15]),
                       {},
                       { class: 'form-control',
                         data: { course: @course.id } } %>
        </div>
      </div>
      <% if @course.question_tags.count.positive? %>
        <%= f.label :search_course_tag_ids,
                    t('quiz.compile_tags'),
                    class: "form-label" %>
        <%= helpdesk(t('quiz.info.compile_tags'), false) %>
        <%= f.select :search_course_tag_ids,
                     [[]],
                     {},
                     { multiple: true,
                       id: 'search_course_tag_ids',
                       class: 'selectize',
                       data: { ajax: true,
                               filled: false,
                               model: 'course_tag',
                               course: @course.id,
                               placeholder: t('basics.enter_two_letters'),
                               no_results: t('basics.no_results') } } %>
      <% end %>
      <div id="questionCounter">
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <%= f.submit t('test.start'),
                       class: 'btn btn-primary my-4',
                       data: { disable_with: false } %>
        </div>
      </div>
    <% end %>
    <div class="mt-3">
      <span class="badge badge-secondary">
        <%= t('basics.note') %>.
      </span>
      <%= t('test.notation') %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="<%= t('test.notation_header') %>"
         data-content="<%= t('test.notation_examples_html') %>"
         data-html="true">
      </i>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <%= t('quiz.question_tags_info') %>
      </div>
      <div class="col-12 mt-2">
        <%= render partial: 'courses/quiz_tags',
                   locals: { tags: @course.question_tags } %>
      </div>
    </div>
  </div>
</div>