<%= form_with url: search_courses_path,
              scope: 'search',
              remote: true,
              method: :get do |f| %>
  <div class="form-row p-2">
    <div class="col-6 col-lg-3 form-group"
         id="editorSearch">
      <%= f.label :editor_ids, t('basics.editors') %>
      <%= helpdesk(t('admin.lecture.info.search_teacher'), true) %>

      <%= f.select :editor_ids,
                   options_for_select(add_prompt(User.select_teachers)),
                   {},
                   { multiple: true,
                     class: 'selectize',
                     disabled: true } %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :all_editors,
                        class: 'custom-control-input',
                        checked: true,
                        data: { id: 'search_editor_ids' } %>
        <%= f.label :all_editors,
                    t('basics.all'),
                    { class: 'custom-control-label' } %>
      </div>
    </div>
    <div class="col-6 col-lg-3 form-group">
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :term_independent,
                        class: 'custom-control-input' %>
        <%= f.label :term_independent,
                    t('admin.course.term_independent'),
                    { class: 'custom-control-label' } %>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <%= f.submit t('basics.search'),
                   class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>