<%= form_with url: search_courses_path,
              scope: 'search',
              remote: true,
              method: :get do |f| %>
  <div class="row p-2">
    <div class="col-6 col-lg-3 mb-3"
         id="editorSearch">
      <%= f.label :editor_ids, t('basics.editors'),
                  class: 'form-label' %>
      <%= helpdesk(t('admin.lecture.info.search_teacher'), true) %>

      <%= f.select :editor_ids,
                   options_for_select(add_prompt(User.select_teachers)),
                   {},
                   { multiple: true,
                     class: 'selectize',
                     disabled: true,
                     required: true } %>
      <div class="form-check mb-2">
        <%= f.check_box :all_editors,
                        class: 'form-check-input',
                        checked: true,
                        data: { id: 'search_editor_ids' } %>
        <%= f.label :all_editors,
                    t('basics.all'),
                    { class: 'form-check-label' } %>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-3">
      <%= f.label :course_program_ids,
                  t('basics.programs'),
                  class: 'form-label' %>
      <%= helpdesk(t('admin.lecture.info.search_program'), true) %>
      <%= f.select :program_ids,
                   options_for_select(Program.select_programs),
                   { prompt: t('basics.select') },
                   { id: 'search_course_program_ids',
                     multiple: true,
                     class: 'selectize',
                     disabled: true,
                     required: true } %>
      <div class="form-check mb-2">
        <%= f.check_box :all_programs,
                        id: 'search_all_course_programs',
                        class: 'form-check-input',
                        checked: true,
                        data: { id: 'search_course_program_ids' } %>
        <%= f.label :all_course_programs,
                    t('basics.all'),
                    { class: 'form-check-label' } %>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-3">
      <%= f.label :fulltext, t('basics.fulltext'),
                  class: 'form-label' %>
      <%= helpdesk(t('admin.lecture.info.search_fulltext'), false) %>
      <%= f.text_field :fulltext,
                        class: 'form-control' %>
    </div>
    <div class="col-6 col-lg-3 mb-3">
      <%= f.label :per, t('basics.hits_per_page'),
                  class: 'form-label' %>
      <%= f.select :per,
                   options_for_select(hits_per_page(true),
                                      default_hits_per_page(true)),
                   {},
                   { class: 'form-select'} %>

    </div>
    <div class="col-6 col-lg-3 mb-3">
      <div class="form-check mb-2">
        <%= f.check_box :term_independent,
                        class: 'form-check-input' %>
        <%= f.label :term_independent,
                    t('admin.course.term_independent'),
                    { class: 'form-check-label' } %>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <%= f.submit t('basics.search'),
                   class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>