<%= bootstrap_devise_error_messages! %>

<h2><%= t('devise.edit.title') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="mb-3">
    <%= f.label :email, t('devise.edit.email'),
                class: "form-label" %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :current_password, t('devise.edit.current_password'),
                class: "form-label" %>
    <%= helpdesk(t('devise.edit.need_password'), true) %>
    <%= f.password_field :current_password, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :password, t('devise.edit.new_password'),
                class: "form-label" %>
    <%= helpdesk(t('devise.edit.no_change'), true) %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, t('devise.edit.confirm_new_password'),
                class: "form-label" %>
    <%= helpdesk(t('devise.edit.no_change'), true) %>
    <%= f.password_field :password_confirmation, class: 'form-control'  %>
  </div>

  <div class="mb-3">
    <%= f.submit t('devise.edit.update'), class: 'btn btn-primary' %>
    <%= link_to t('back'), :back, class: 'btn btn-secondary' %>
  </div>
<% end %>
