<%= bootstrap_devise_error_messages! %>

<h1>Passwort ändern</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Aktuelles Passwort' %> <i>(wir benötigen Dein aktuelles Passwort, um die Änderung zu bestätigen )</i>
    <%= f.password_field :current_password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Neues Passwort' %> <i>(freilassen, wenn Du das Passwort doch nicht ändern willst)</i>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'Bestätigung des neuen Passworts' %>
    <%= f.password_field :password_confirmation, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.submit t('.update', default: 'Update'), class: 'btn btn-primary' %>
  </div>
<% end %>

<p>Unzufrieden? <%= link_to 'Account löschen', registration_path(resource_name), data: { confirm: 'Bist Du sicher?' }, method: :delete %>.</p>

<%= link_to 'Zurück', :back %>
