<div class="<%= container_class %>">
  <%= form.label html.label_for, label, class: "form-label" %>

  <% if show_help_text? %>
    <span id="<%= html.help_text_id %>">
      <%= helpers.helpdesk(help_text, true) %>
    </span>
  <% end %>

  <%= form.select name, collection, html.select_tag_options, field_html_options %>

  <% if show_content? %>
    <%= capture(self, &content) %>
  <% end %>
</div>