<h2> Slide <%= slide.position %> </h2>
<%= slide.content %>
<%= slide.question.question_text %>

<br>

<%= form_with(model: answer, url: vignettes_questionnaire_slide_answers_path(@questionnaire, @slide), local: true) do |form| %>
  <% case slide.question.type %> 
    <% when "Vignettes::TextQuestion" %>
      <%= form.label :text, "Your Answer" %>
      <%= form.text_area :text%>
    <% when "Vignettes::MultipleChoiceQuestion" %>
      <% slide.question.options.each do |option| %>
        <%= option.text %> <br>
        <%= form.check_box :option_ids, {multiple: true}, option.id, nil %>
    <% end %>
  <% end %>
<% end %>