<%= form_with(url: vignettes_questionnaires_path, scope: :vignettes_questionnaire) do |form| %>
  <%= form.hidden_field :lecture_id, value: lecture.id %>
  
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'Enter title', required: true %>
  </div>
  
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <%= form.submit 'Create Vignette', class: 'btn btn-primary' %>
  </div>
<% end %>