<%= form_with(url: questionnaires_url) do |form| %>
  <%= form.hidden_field :lecture_id, value: lecture.id %>
  
  <div class="modal-body">
    <div class="form-floating">
      <%= form.text_field :title, class: 'form-control', required: true %>
      <%= form.label :title, class: 'form-label' %>
    </div>
  </div>
  
  <div class="modal-footer">
    <%= form.submit 'Create Vignette', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
<% end %>