<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15/Sortable.min.js"></script>
<%= javascript_include_tag 'vignettes/edit' %>

<div class="container-md small-width">
    <!-- Slides -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="fs-4 fw-bold mb-0">Slides</h1>
        
        <!-- Publish Questionnaire -->
        <%= button_to @questionnaire.published ? 'Published' : 'Publish', 
                      publish_vignettes_questionnaire_path(@questionnaire),
                      method: :patch,
                      class: "btn #{@questionnaire.published ? 'btn-success' : 'btn-danger'}",
                      disabled: @questionnaire.published,
                      form_class: 'd-inline-block',
                      id: "vignettes-publish-btn" %>
    </div>

    <p>Drag the slides to change their order.</p>

    <div class="accordion" id="vignettes-slides-accordion"
         data-questionnaire-id="<%= @questionnaire.id %>">
        <% @slides.each() do |slide| %>
            <%= render partial: "slide_accordion_item", locals: { slide: slide } %>
        <% end %>
    </div>

    <!-- Add new slide (at the end of the list) -->
    <button type="button" id="vignettes-new-slide-btn" 
            class="btn btn-outline-primary mt-2" 
            <%= 'disabled' if @questionnaire.published %>
            >
        <i class="bi bi-plus-circle"></i>
        Add new slide
    </button>

    <br>
    <br>
    <br>
    <br>

    <!-- Info Slides -->
    <h1 class="vignette-edit-header">Info slides</h1>
    <ul>
        <% @questionnaire.info_slides.each() do |info_slide| %>
            <li>
                <%= link_to info_slide.title, edit_vignettes_questionnaire_info_slide_path(@questionnaire, info_slide) %>
            </li>
        <%end%>
    </ul>
    <%= button_to 'Create new info slide', new_vignettes_questionnaire_info_slide_path(@questionnaire), method: :get, class: 'btn btn-primary' %>

    <!-- Export -->
    <%= button_to "Export answers", export_answers_vignettes_questionnaire_path(@questionnaire), method: :get, class: 'btn btn-primary' %>
</div>
