<%= stylesheet_link_tag 'vignettes-edit' %>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15/Sortable.min.js"></script>
<%= javascript_include_tag 'vignettes/edit' %>

<div class="container-md small-width">
    <!-- Slides -->
    <h1 class="vignette-edit-header"> Slides </h1>

    <ul id="vignettes-slides-list" class="list-group">
        <% @slides.each() do |slide| %>
            <li class="list-group-item">
                <%= link_to slide.position, edit_vignettes_questionnaire_slide_path(@questionnaire, slide) %>
            </li>
        <% end %>
    </ul>
    <%= button_to 'Create new slide', new_vignettes_questionnaire_slide_path(@questionnaire), method: :get, class: 'btn btn-primary' %>

    <!-- Info Slides -->
    <h1 class="vignette-edit-header">Info slides</h1>
    <ul>
        <% @questionnaire.info_slides.each() do |info_slide| %>
            <li>
                <%= link_to info_slide.title, edit_vignettes_questionnaire_info_slide_path(@questionnaire, info_slide) %>
            </li>
        <%end%>
    </ul>
    <%= button_to 'Create new info slide', new_vignettes_questionnaire_info_slide_path(@questionnaire), method: :get, class: 'btn btn-primary' %>

    <!-- Export -->
    <%= button_to "Export answers", export_answers_vignettes_questionnaire_path(@questionnaire), method: :get, class: 'btn btn-primary' %>
</div>
