<h1> Slides </h1>

<ul>
    <% @slides.each() do |slide| %>
        <li>
            <%= link_to slide.position, edit_vignettes_questionnaire_slide_path(@questionnaire, slide) %>
        </li>
    <%end%>
</ul>
<%= button_to 'Create new slide', new_vignettes_questionnaire_slide_path(@questionnaire), method: :get, class: 'btn btn-primary' %>
<h1> Info slides </h1>
<ul>
    <% @questionnaire.info_slides.each() do |info_slide| %>
        <li>
            <%= link_to info_slide.title, edit_vignettes_questionnaire_info_slide_path(@questionnaire, info_slide) %>
        </li>
    <%end%>
</ul>
<%= button_to 'Create new info slide', new_vignettes_questionnaire_info_slide_path(@questionnaire), method: :get, class: 'btn btn-primary' %>

<br>

<%= button_to "Export answers", export_answers_vignettes_questionnaire_path(@questionnaire), method: :get, class: 'btn btn-primary' %>
