<%= stylesheet_link_tag 'vignettes-edit' %>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15/Sortable.min.js"></script>
<%= javascript_include_tag 'vignettes/edit' %>

<div class="container-md small-width">
    <!-- Slides -->
    <h1 class="vignette-edit-header"> Slides </h1>

    <div class="accordion" id="vignettes-slides-accordion"
         data-questionnaire-id="<%= @questionnaire.id %>">
        <% @slides.each() do |slide| %>
        <div class="accordion-item">

            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                    data-slide-id="<%= slide.id %>"
                    data-bs-toggle="collapse" data-bs-target="#slides-collapse-<%= slide.id %>"
                    aria-expanded="false" aria-controls="slides-collapse-<%= slide.id %>">
                    <!-- TODO: show useful information here, e.g. answer type -->
                    Slide with id <%= slide.id %>
                </button>
            </h2>

            <div id="slides-collapse-<%= slide.id %>"
                 class="accordion-collapse collapse collapse"
                 data-bs-parent="#vignettes-slides-accordion">

                <div class="accordion-body slides-edit-form-container"
                     id="slide-edit-form-container-<%= slide.id %>">
                    <!-- The slide edit form will be dynamically loaded here -->
                </div>

            </div>
        </div>
        <% end %>
    </div>

    <br>
    <br>

    <%= button_to 'Create new slide', new_vignettes_questionnaire_slide_path(@questionnaire), method: :get, class: 'btn btn-primary' %>

    <!-- Info Slides -->
    <h1 class="vignette-edit-header">Info slides</h1>
    <ul>
        <% @questionnaire.info_slides.each() do |info_slide| %>
            <li>
                <%= link_to info_slide.title, edit_vignettes_questionnaire_info_slide_path(@questionnaire, info_slide) %>
            </li>
        <%end%>
    </ul>
    <%= button_to 'Create new info slide', new_vignettes_questionnaire_info_slide_path(@questionnaire), method: :get, class: 'btn btn-primary' %>

    <!-- Export -->
    <%= button_to "Export answers", export_answers_vignettes_questionnaire_path(@questionnaire), method: :get, class: 'btn btn-primary' %>
</div>
