<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15/Sortable.min.js"></script>
<%= javascript_include_tag 'vignettes/edit' %>
<%=stylesheet_link_tag 'vignettes-edit' %>

<% lecture_edit_path = edit_lecture_path(@questionnaire.lecture, anchor: 'vignettes') %>


<div class="container-md small-width" id="vignettes-wrapper">
  <!-- Back Button -->
  <a href="<%= lecture_edit_path %>" id="vignettes-back-btn"
    class="btn btn-outline-secondary">
    <i class="bi bi-arrow-left"></i>
    <%= t("buttons.back") %>
  </a>

  <div id="vignette-edit-header">
    <h1 class="fs-3 fw-bold">
      <%= @questionnaire.title%>
    </h1>

    <!-- Action Items -->
    <div class="d-flex flex-wrap">
      <%= button_to preview_questionnaire_path(@questionnaire),
          :disabled => @questionnaire.slides.empty?,
          class: "btn btn-outline-primary me-2",
          method: :get do %>
        <i class="bi bi-eye"></i>
        <%= t("vignettes.preview") %>
      <% end %>

      <button type="button" class="btn btn-outline-primary me-2"
              data-bs-toggle="modal" data-bs-target="#publishModal">
        <i class="bi bi-globe-europe-africa"></i>
        <%= @questionnaire.published ? t("vignettes.unpublish") : t("vignettes.publish") %>
      </button>

      <button type="button" class="btn btn-outline-secondary me-2"
              data-bs-toggle="modal" data-bs-target="#duplicateModal">
        <i class="bi bi-files"></i>
        <%= t("vignettes.duplicate") %>
      </button>

      <%= button_to export_answers_questionnaire_path(@questionnaire),
          class: 'btn btn-outline-secondary me-2',
          method: :get do %>
        <i class="bi bi-file-earmark-spreadsheet"></i>
        <%= t("vignettes.export_answers") %>
      <% end %>

      <button type="button" class="btn btn-outline-danger"
              data-bs-toggle="modal" data-bs-target="#deleteQuestionnaireModal">
        <i class="bi bi-trash"></i>
        <%= t("vignettes.delete") %>
      </button>
    </div>
  </div>

  <!-- Unsaved changes -->
  <div id="unsaved-changes-warning" class="alert alert-warning d-none mt-3">
    <i class="bi bi-exclamation-triangle"></i>
    <%= t("vignettes.unsaved_changes_warning") %>
  </div>

  <!-- Info Slides -->
  <h2 class="fs-4 fw-bold mt-4 mb-0">Info Slides</h1>

  <div class="accordion" id="info-vignettes-slides-accordion">
    <% @questionnaire.info_slides.each() do |info_slide| %>
      <%= render partial: "slide_accordion_item", locals: { slide: info_slide } %>
    <% end %>
  </div>

  <button type="button" id="info-vignettes-new-slide-btn"
          class="btn btn-outline-primary mt-2" 
          <%= 'disabled' unless @questionnaire.editable %>>
    <i class="bi bi-plus-circle"></i>
    <%= t("vignettes.create_new_info_slide") %>
  </button>

  <!-- Slides -->
  <h2 class="fs-4 fw-bold mt-4 mb-0">Slides</h1>
  <% if @questionnaire.editable && @slides.size > 1%>
  <p>Drag the slides to change their order.</p>
  <% end %>

  <div class="accordion" id="vignettes-slides-accordion"
        data-questionnaire-id="<%= @questionnaire.id %>"
        data-questionnaire-editable="<%= @questionnaire.editable %>">
    <% @slides.each() do |slide| %>
      <%= render partial: "slide_accordion_item", locals: { slide: slide } %>
    <% end %>
  </div>

  <button type="button" id="vignettes-new-slide-btn" 
          class="btn btn-outline-primary mt-2" 
          <%= 'disabled' unless @questionnaire.editable %>>
    <i class="bi bi-plus-circle"></i>
    <%= t("vignettes.create_new_slide") %>
  </button>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteQuestionnaireModal" tabindex="-1" aria-labelledby="deleteQuestionnaireModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteQuestionnaireModalLabel">
            <%= t("vignettes.delete") %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= t("vignettes.confirm_delete") %></p>
      </div>
      <div class="modal-footer">
        <%= button_to t("vignettes.delete"), 
          questionnaire_path(@questionnaire),
          method: :delete,
          class: "btn btn-danger"
          %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <%= t("buttons.cancel") %>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Publish Confirmation Modal -->
<div class="modal fade" id="publishModal" tabindex="-1" aria-labelledby="publishModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="publishModalLabel"><%= t("vignettes.confirm_publication")%></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- TO DO: Write better message -->
        <% if @questionnaire.published %>
          <%= simple_format(t("vignettes.unpublish_modal")) %>
        <% else %>
          <%= simple_format(t("vignettes.publish_modal")) %>
        <% end %>

      </div>
      <div class="modal-footer">
        <% button_text = @questionnaire.published ? t("vignettes.unpublish") : t("vignettes.publish") %>
        <%= button_to button_text, 
              publish_questionnaire_path(@questionnaire),
              method: :patch,
              class: "btn btn-primary"
        %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t("buttons.cancel") %></button>
      </div>
    </div>
  </div>
</div>

<!-- Duplicate Modal -->
<div class="modal fade" id="duplicateModal" tabindex="-1" aria-labelledby="duplicateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="duplicateModalLabel"><%= t("vignettes.duplicate") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with url: duplicate_questionnaire_path(@questionnaire), method: :post do |form| %>
        <div class="modal-body">
          <div class="form-floating mb-3">
            <%= form.text_field :title, class: 'form-control', required: true,
              placeholder: "", value: "Copy of #{@questionnaire.title}",
              id: "vignettes_new_questionnaire_title" %>
            <%= form.label "vignettes_new_questionnaire_title",
              t("vignettes.duplicate_new_questionnaire_title") %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Duplicate</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t("buttons.cancel") %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Unsaved Changes Modal -->
<div class="modal fade" id="unsaved-changes-modal" tabindex="-1" aria-labelledby="unsavedChangesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unsavedChangesModalLabel"><%= t("vignettes.unsaved_changes") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= t("vignettes.unsaved_changes_modal") %>
      </div>
      <div class="modal-footer">
        <button type="button" id="save-changes-btn" class="btn btn-primary"><%= t("buttons.save_changes") %></button>
        <button type="button" id="discard-changes-btn" class="btn btn-secondary"><%= t("buttons.discard_changes") %></button>
      </div>
    </div>
  </div>
</div>