<%= stylesheet_link_tag 'vignettes-take' %>
<%= javascript_include_tag 'vignettes/take_questionnaire' %>

<!-- Info Slide Modals -->
<% @slide.info_slides.each_with_index do |info_slide, index| %>
    <%= render partial: 'vignettes/info_slides/take_modal',
                        locals: { index: index, info_slide: info_slide } %>
<% end %>

<!-- Slide -->
<%= form_with(model: @answer, id: "vignettes-answer-form",
              url: submit_answer_questionnaire_url(@questionnaire),
              data: { preview: @preview || false },
              local: true) do |form| %>

<div id="vignette-take-card" class="container-md small-width card">

    <!-- Header -->
    <div class="slide-header text-light">
        <!-- TODO: add a proper user-defined slide title -->
        <!-- TODO: add a marker where the user currently is, e.g. (1/5) -->
        <p class="mb-0 fs-5 fw-bold"> Slide <%= @slide.position %></p>
    </div>

    <!-- Main Content -->
    <div class="card-body">
        <%= @slide.content %>
    </div>

    <!-- Additional information section -->
    <% if @slide.info_slides.any? %>
    <div class="card-body">
        <div class="mb-3 text-center">
            <p class="mb-0">Additional information</p>
        </div>
        
        <div class="d-flex flex-wrap gap-3 justify-content-center">
            <% @slide.info_slides.each_with_index do |info_slide, index| %>
            <button type="button"
                    class="btn open-info-slide-btn d-flex align-items-center"
                    title="Find information about: <%= info_slide.title %>"
                    data-bs-toggle="modal"
                    data-bs-target="#vignette-info-slide-modal-<%= index %>"
                    data-info-slide-id="<%= info_slide.id %>"
                    data-info-slide-index="<%= index %>">
                <%= image_tag select_info_slide_icon_path(info_slide), class: "me-2", style: "height: 90px;" %>
                <p class="mb-0 text-start">
                    <%= info_slide.title %>
                </p>
            </button>
            <% end %>
        </div>
    </div>
    <% end %>

    <!-- Answer Section -->
    <div class="card-footer vignette-answer">
        <p>
            <%= @slide.question.question_text %>
        </p>

        <%= form.hidden_field :slide_id, value: @slide.id %>
        <%= form.fields_for :slide_statistic do |stat_form| %>
            <%= stat_form.hidden_field :user_id, value: current_user.id %>
            <%= stat_form.hidden_field :time_on_slide, id: "time-on-slide-field" %>
            <%= stat_form.hidden_field :time_on_info_slides, id: "time-on-info-slides-field" %>
            <%= stat_form.hidden_field :info_slides_access_count, id:"info-slides-access-count-field" %>
            <%= stat_form.hidden_field :info_slides_first_access_time, id: "info-slides-first-access-times-field" %>
        <% end %>

        <% case @slide.question.type %>
            <% when "Vignettes::TextQuestion" %>
                <%= render partial: 'vignettes/answer_types/text', locals: { f: form } %>
            <% when "Vignettes::NumberQuestion" %>
                <%= render partial: 'vignettes/answer_types/number', locals: { f: form } %>
            <% when "Vignettes::MultipleChoiceQuestion" %>
                <%= render partial: 'vignettes/answer_types/multiple_choice',
                                    locals: { f: form } %>
            <% when "Vignettes::LikertScaleQuestion" %>
                <%= render partial: 'vignettes/answer_types/likert_scale', locals: { f: form } %>
        <% end %>

        <!-- Navigation -->
        <% if !@preview %>
            <div class="d-flex justify-content-end mt-3">
                <!-- TODO: Do a better differentiation here -->
                <% if @slide.question.type == "" %>
                    <%= form.submit "Next Slide", class: "btn slide-footer-btn" %>
                <% else %>
                    <%= form.submit "Submit answer", class: "btn slide-footer-btn" %>
                <% end %>
            </div>
        <% else %>
            <div class="d-flex justify-content-end mt-3">
                <%= link_to "Return to Edit View", edit_questionnaire_path(@questionnaire), class: "btn btn-slide-footer-btn" %>
                <%= link_to "Next slide", preview_questionnaire_path(@questionnaire, position: @position.to_i + 1), class: "btn slide-footer-btn" %>
            </div>
        <% end %>
    </div>

</div>

<% end %>
