<%= stylesheet_link_tag 'vignettes-take' %>
<%= javascript_include_tag 'vignettes/take_questionnaire' %>

<!-- Info Slide Modals -->
<% @slide.info_slides.each_with_index do |info_slide, index| %>
    <%= render partial: 'vignettes/info_slides/take_modal',
                        locals: { index: index, info_slide: info_slide } %>
<% end %>

<!-- Slide -->
<%= form_with(model: @answer, id: "vignettes-answer-form",
              url: submit_answer_vignettes_questionnaire_url(@questionnaire),
              local: true) do |form| %>

<div id="vignette-take-card" class="container-md small-width card">

    <!-- Header -->
    <div class="slide-header text-light">
        <!-- TODO: add a proper user-defined slide title -->
        <!-- TODO: add a marker where the user currently is, e.g. (1/5) -->
        <p class="mb-0 fs-5 fw-bold"> Slide <%= @slide.position %></p>
    </div>

    <!-- Main Content -->
    <div class="card-body">
        <%= @slide.content %>
    </div>

    <!-- Additional information Buttons -->
    <% if @slide.info_slides.any? %>
    <div class="card-body">
        <p class="mb-0 d-flex align-items-center">
            <i class="me-1">Additional information</i>

            <!-- TODO: ensure that sorting here is consistent from the backend -->
            <% @slide.info_slides.each_with_index do |info_slide, index| %>
            <!-- TODO: if really needed, add back the possibility for an "image" button -->
            <!-- via the class info-slide-icon-button -->
            <button type="button" class="btn open-info-slide-btn"
                    title="Find information about: <%= info_slide.title %>"
                    data-bs-toggle="modal" data-bs-target="#vignette-info-slide-modal-<%= index %>"
                    data-info-slide-index="<%= index %>">
                <i class="bi bi-info-circle-fill me-1"></i>
                <%= info_slide.title %>
            </button>
            <% end %>
        </p>
    </div>
    <% end %>

    <!-- Answer Section -->
    <div class="card-footer vignette-answer">
        <p>
            <%= @slide.question.question_text %>
        </p>

        <%= form.hidden_field :slide_id, value: @slide.id %>
            <%= form.fields_for :slide_statistic do |stat_form| %>
                <%= stat_form.hidden_field :user_id, value: current_user.id %>
                <%= stat_form.hidden_field :time_on_slide, id: "time-on-slide-field" %>
                <%= stat_form.hidden_field :time_on_info_slides, id: "time-on-info-slides-field" %>
                <%= stat_form.hidden_field :info_slides_access_count, id:"info-slides-access-count-field" %>
            <% end %>

            <% case @slide.question.type %>
                <% when "Vignettes::TextQuestion" %>
                    <%= render partial: 'vignettes/answer_types/text', locals: { f: form } %>
                <% when "Vignettes::MultipleChoiceQuestion" %>
                    <% @slide.question.options.each do |option| %>
                        <%= option.text %>
                        <%= check_box_tag "vignettes_answer[option_ids][]", option.id, @answer.option_ids.include?(option.id) %>
                    <% end %>
                <% when "Vignettes::LikertScaleQuestion" %>
                    <%= render partial: 'vignettes/answer_types/likert_scale', locals: { f: form } %>
        <% end %>

        <!-- Navigation -->
        <div class="d-flex justify-content-end mt-3">
            <% if @slide.question.type == "" %>
                <%= form.submit "Next Slide", class: "btn slide-footer-btn" %>
            <% else %>
                <%= form.submit "Submit answer", class: "btn slide-footer-btn" %>
            <% end %>
        </div>
    </div>

</div>

<% end %>
