<%= stylesheet_link_tag 'vignettes-take' %>
<%= javascript_include_tag 'vignettes/take_questionnaire' %>

<!-- Info Slide Modals -->
<% @slide.info_slides.each_with_index do |info_slide, index| %>
    <%= render partial: 'vignettes/info_slides/take_modal',
                        locals: { index: index, info_slide: info_slide } %>
<% end %>

<!-- Slide -->
<%= form_with(model: @answer, id: "vignettes-answer-form",
              url: submit_answer_vignettes_questionnaire_url(@questionnaire),
              local: true) do |form| %>

<div id="vignette-take-card" class="container-md small-width card">

    <!-- Header -->
    <div class="slide-header text-light">
        <!-- TODO: add a proper user-defined slide title -->
        <!-- TODO: add a marker where the user currently is, e.g. (1/5) -->
        <h4 class="mb-0"> Slide <%= @slide.position %></h4>
    </div>

    <!-- Additional information (Info Slides) -->
    <% if @slide.info_slides.any? %>
    <div class="card-body">
        <p class="mb-0">
            <i>Additional information</i>

            <% @slide.info_slides.each_with_index do |info_slide, index| %>
            <!-- TODO: if really needed, add back the possibility for an "image" button -->
            <!-- via the class info-slide-icon-button -->
            <button type="button" class="btn" title="Find information about: <%= info_slide.title %>"
                    data-bs-toggle="modal" data-bs-target="#vignette-info-slide-modal-<%= index %>">
                <i class="bi bi-info-circle-fill"></i>
                <%= info_slide.title %>
            </button>
            <% end %>
        </p>
    </div>
    <% end %>

    <!-- Main Content -->
    <div class="card-body">
        <%= @slide.content %>
    </div>

    <!-- Answer Section -->
    <div class="card-body">
        <%= @slide.question.question_text %>

        <%= form.hidden_field :slide_id, value: @slide.id %>
            <%= form.fields_for :slide_statistic do |stat_form| %>
                <%= stat_form.hidden_field :user_id, value: current_user.id %>
                <%= stat_form.hidden_field :time_on_slide, id: "time-on-slide-field" %>
                <%= stat_form.hidden_field :time_on_info_slides, id: "time-on-info-slides-field" %>
                <%= stat_form.hidden_field :info_slides_access_count, id:"info-slides-access-count-field" %>
            <% end %>

            <% case @slide.question.type %>
                <% when "Vignettes::TextQuestion" %>
                    <%= render partial: 'vignettes/answer_types/text', locals: { f: form } %>
                <% when "Vignettes::MultipleChoiceQuestion" %>
                    <% @slide.question.options.each do |option| %>
                        <%= option.text %>
                        <%= check_box_tag "vignettes_answer[option_ids][]", option.id, @answer.option_ids.include?(option.id) %>
                    <% end %>
                <% when "Vignettes::LikertScaleQuestion" %>
                    <% Vignettes::LikertScaleQuestion::LIKERT_LABELS.each do |value, label| %>
                    <div>
                        <%= form.radio_button :likert_scale_value, value %>
                        <%= form.label :likert_scale_value, label %>
                    </div>
                    <% end %>
            <br>
                    
        <% end %>
    </div>

    <!-- Navigation Controls -->
    <div class="card-footer d-flex justify-content-end">
        <% if @slide.question.type == "" %>
            <%= form.submit "Next Slide", class: "slide-footer-btn" %>
        <% else %>
            <%= form.submit "Submit answer", class: "slide-footer-btn" %>
        <% end %>
    </div>

</div>

<% end %>
