<div class="card bg-light" id="quiz-preview">
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <h5>
          <%= t('admin.quiz.graph') %>
        </h5>
      </div>
      <div class="col-10 text-start">
        <div id="quiz_buttons">
          <%= link_to t('buttons.create_vertex'),
                      new_quiz_vertex_path(quiz_id: quiz.id),
                      remote: true,
                      class: 'btn btn-sm btn-secondary basicQuizButton' %>
          <%= link_to t('buttons.linearize_quiz'),
                      linearize_quiz_path(quiz),
                      class: 'btn btn-sm btn-secondary basicQuizButton',
                      method: 'patch',
                      data: { confirm: t('confirmation.linearize') } %>
          <button type="button"
                  id="selectQuizRoot"
                  class="btn btn-sm btn-secondary basicQuizButton">
            <%= t('admin.quiz.start_vertex') %>
          </button>
          <span id="selectRootInfo">
            <%= t('admin.quiz.select_root') %>
            <button type="button"
                    id="cancelQuizRoot"
                    class="btn btn-sm btn-secondary">
              <%= t('buttons.cancel') %>
            </button>
          </span>
          <button type="button"
                  id="selectQuizLevel"
                  class="btn btn-sm btn-secondary basicQuizButton">
            <%= t('basics.level') %>
          </button>
        </div>
        <span id="quizLevelForm">
          <span class="me-4">
            <%= t('basics.level') %>
          </span>
          <div class="form-check form-check-inline">
            <input type="radio"
                   id="quiz_easy"
                   name="quizLevel"
                   <%= quiz.level == 0 ? 'checked ' : '' %>
                   class="form-check-input quiz-level"
                   data-quiz="<%= quiz.id %>"
                   data-level="0">
            <label class="form-label"
                   for="quiz_easy">
              <%= t('basics.level_easy') %>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio"
                   id="quiz_medium"
                   name="quizLevel"
                   <%= quiz.level == 1 ? 'checked ' : '' %>
                   class="form-check-input quiz-level"
                   data-quiz="<%= quiz.id %>"
                   data-level="1">
            <label class="form-label"
                   for="quiz_medium">
              <%= t('basics.level_medium') %>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio"
                   id="quiz_hard"
                   name="quizLevel"
                   <%= quiz.level == 2 ? 'checked ' : '' %>
                   class="form-check-input quiz-level"
                   data-quiz="<%= quiz.id %>"
                   data-level="2">
            <label class="form-label"
                   for="quiz_hard">
              <%= t('basics.level_hard') %>
            </label>
          </div>
          <button type="button"
                  id="cancelQuizLevel"
                  class="btn btn-sm btn-secondary">
            <%= t('buttons.back') %>
          </button>
        </span>
        <div id="vertex-buttons">
        </div>
        <span id="selectTargetInfo">
          <%= t('admin.quiz.select_default_target') %>
          <button type="button"
                  id="cancelDefaultTarget"
                  class="btn btn-sm btn-secondary">
            <%= t('buttons.cancel') %>
          </button>
          <button type="button"
                  id="saveDefaultTarget"
                  class="btn btn-sm btn-primary">
            <%= t('buttons.save') %>
          </button>
        </span>
        <span id="deleteEdgeButtons">
          <button type="button"
                  id="deleteEdge"
                  class="btn btn-sm btn-danger">
            <%= t('buttons.delete_edge') %>
          </button>
          <button type="button"
                  id="cancelDeleteEdge"
                  class="btn btn-sm btn-secondary">
            <%= t('buttons.cancel') %>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="cy"
         data-elements="<%= graph_elements %>"
         data-type="quiz"
         data-linear="<%= linear %>"
         data-quiz="<%= quiz.id %>">
    </div>
  </div>
</div>