<div id="quiz-preview" class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <h5>
          <%= t('admin.quiz.graph') %>
        </h5>
      </div>
      <div class="col-10 text-start">
        <div id="quiz_buttons">
          <%= link_to t('buttons.create_vertex'),
                      new_quiz_vertex_path(quiz_id: quiz.id),
                      remote: true,
          class: 'btn btn-sm btn-secondary basicQuizButton' %>
          <%= link_to t('buttons.linearize_quiz'),
                      linearize_quiz_path(quiz),
                      class: 'btn btn-sm btn-secondary basicQuizButton',
                      method: 'patch',
          data: { confirm: t('confirmation.linearize') } %>
          <button id="selectQuizRoot"
            type="button"
            class="btn btn-sm btn-secondary basicQuizButton">
            <%= t('admin.quiz.start_vertex') %>
          </button>
          <span id="selectRootInfo">
            <%= t('admin.quiz.select_root') %>
            <button id="cancelQuizRoot"
              type="button"
              class="btn btn-sm btn-secondary">
              <%= t('buttons.cancel') %>
            </button>
          </span>
          <button id="selectQuizLevel"
            type="button"
            class="btn btn-sm btn-secondary basicQuizButton">
            <%= t('basics.level') %>
          </button>
        </div>
        <span id="quizLevelForm">
          <span class="me-4">
            <%= t('basics.level') %>
          </span>
          <div class="form-check form-check-inline">
            <input
              id="quiz_easy"
              type="radio"
              name="quizLevel"
              <%= quiz.level == 0 ? 'checked ' : '' %>
              class="form-check-input quiz-level"
              data-level="0"
              data-quiz="<%= quiz.id %>"
            >
            <label class="form-check-label"
              for="quiz_easy">
              <%= t('basics.level_easy') %>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              id="quiz_medium"
              type="radio"
              name="quizLevel"
              <%= quiz.level == 1 ? 'checked ' : '' %>
              class="form-check-input quiz-level"
              data-level="1"
              data-quiz="<%= quiz.id %>"
            >
            <label class="form-check-label"
              for="quiz_medium">
              <%= t('basics.level_medium') %>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              id="quiz_hard"
              type="radio"
              name="quizLevel"
              <%= quiz.level == 2 ? 'checked ' : '' %>
              class="form-check-input quiz-level"
              data-level="2"
              data-quiz="<%= quiz.id %>"
            >
            <label class="form-check-label"
              for="quiz_hard">
              <%= t('basics.level_hard') %>
            </label>
          </div>
          <button id="cancelQuizLevel"
            type="button"
            class="btn btn-sm btn-secondary">
            <%= t('buttons.back') %>
          </button>
        </span>
        <div id="vertex-buttons">
        </div>
        <span id="selectTargetInfo">
          <%= t('admin.quiz.select_default_target') %>
          <button id="cancelDefaultTarget"
            type="button"
            class="btn btn-sm btn-secondary">
            <%= t('buttons.cancel') %>
          </button>
          <button id="saveDefaultTarget"
            type="button"
            class="btn btn-sm btn-primary">
            <%= t('buttons.save') %>
          </button>
        </span>
        <span id="deleteEdgeButtons">
          <button id="deleteEdge"
            type="button"
            class="btn btn-sm btn-danger">
            <%= t('buttons.delete_edge') %>
          </button>
          <button id="cancelDeleteEdge"
            type="button"
            class="btn btn-sm btn-secondary">
            <%= t('buttons.cancel') %>
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="cy"
      data-elements="<%= graph_elements %>"
      data-linear="<%= linear %>"
      data-quiz="<%= quiz.id %>"
      data-type="quiz">
    </div>
  </div>
</div>
