<%= t('search.info',
      search_string: @search_string,
      count: @filtered_tags.count) %>
<% if @tags.count != @filtered_tags.count %>
  <%= t('search.omitted_html',
        profile: link_to(t('search.settings'), edit_profile_path),
        count: @tags.count - @filtered_tags.count) %>
<% end %>
<% if @filtered_tags.present? %>
  <div class="row">
    <div class="col-12 col-lg-8 pt-3 pb-3">
      <%= render partial: 'tags/tags',
                 locals: { related_tags: @filtered_tags,
                           tags_description:
                             t('search.results',
                               search_string: @search_string),
                           small: true } %>
    </div>
  </div>
<% end %>
<% if @tags.empty? %>
  <% if @filtered_similar_tags.present? %>
    <%= t('search.alternative') %>
    <div class="row">
      <div class="col-12 col-lg-8 pt-3 pb-3">
        <%= render partial: 'tags/tags',
                   locals: { related_tags: @filtered_similar_tags,
                             tags_description: t('search.similar',
                                                 search_string: @search_string),
                             small: true } %>
      </div>
    </div>
  <% end %>
<% end %>
