<div data-controller="password-strength"
     data-password-strength-weak-text-value="<%= t('devise.passwords_strength.weak', default: 'Very weak') %>"
     data-password-strength-fair-text-value="<%= t('devise.passwords_strength.fair', default: 'Weak') %>"
     data-password-strength-good-text-value="<%= t('devise.passwords_strength.good', default: 'Good') %>"
     data-password-strength-strong-text-value="<%= t('devise.passwords_strength.strong', default: 'Strong') %>"
  data-password-strength-too-short-text-value="<%= t('devise.passwords_strength.too_short', default: 'Must be at least 12 characters') %>">
  <%= yield %>
</div>