<%= t('exception.exception_report',
			host: ENV['URL_HOST']) %>
<strong>
	<%= @exception.response %> (<%= @exception.status %>)
</strong>
<p>
	<%= @exception.message %>
</p>
<div><pre><%= @exception.trace %></pre></div>