<%= t('exception.exception_report',
			host: ENV['URL_HOST']) %>
<strong>
	<%= @exception.response %> (<%= @exception.status %>)
</strong>
<p>
	<%= @exception.message %>
</p>
<div><pre><%= @exception.trace %></pre></div>
<div>
<h3>Request Params</h3>
<%= @exception.request.params.to_s
%></div>