<!DOCTYPE html>
<html>
  <head>
    <title>Thredded | <%= yield :thredded_page_title %></title>
    <link rel="manifest" href="/manifest.json">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <%= vite_stylesheet_tag "thredded", 'data-turbolinks-track': 'reload' %>
    <%= vite_stylesheet_tag "styles/thredded_katex", 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "thredded_timeago",
                               defer: true,
                               'data-turbolinks-track': 'reload'%>
    <%== RailsGravatar.prefetch_dns_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <%= yield %>
  </body>
</html>