<%= render "roster/components/lifecycle_help" %>
<%= render "roster/components/workflow_help" %>
<%= render "roster/components/group_types_help", lecture: component.lecture %>

<div class="card border-top-0">
  <% groups.each_with_index do |group, index| %>
    <%= render "roster/components/groups_tab/group_header",
               group: group,
               component: component,
               group_type: group_type %>

    <%= render "roster/components/groups_tab/group_table",
               group: group,
               component: component,
               group_type: group_type %>
  <% end %>
</div>
