<%= render "roster/components/lifecycle_help" %>
<%= render "roster/components/group_types_help", lecture: component.lecture %>
<%= render "roster/components/workflow_help" %>
<%= render "roster/components/management_help" %>

<div>
  <% component.sections.each_with_index do |group, index| %>
    <div class="card section-card mb-4">
      <%= render "roster/components/groups_tab/group_header",
                 group: group,
                 component: component,
                 group_type: group_type %>

      <%= render "roster/components/groups_tab/group_table",
                 group: group,
                 component: component,
                 group_type: group_type %>
    </div>
  <% end %>
</div>
