<%= vite_stylesheet_tag "lectures/search/_search.scss" %>

<div id="lecture-search">
  <div id="lecture-search-container">

    <div class="row justify-content-center mb-5">
      <h2 class="text-center mb-4"><%= t("lecture.search.title") %></h2>
      
      <%= form_with url: search_lectures_path,
                    method: :get,
                    data: { remote: false,
                            turbo_stream: true,
                            controller: "lecture-search" } do |f| %>

        <div class="input-group input-group-lg">
          <%= f.text_field "search[fulltext]",
                            class: "form-control",
                            id: "lecture-fulltext-search",
                            placeholder: t('search.placeholder.lecture_title'),
                            "aria-label": t('search.placeholder.lecture_title'),
                            data: { action: "input->lecture-search#search" } %>
          <%= f.button nil, class: "btn btn-primary" do %>
            <i class="bi bi-search"></i>
          <% end %>
        </div>

      <% end %>
      
    </div>

    <div id="lecture-search-results">
      <!-- filled via Turbo Stream -->
    </div>

  </div>
</div>
