<div id="<%= dom_prefix %>" data-cy="achievement-dashboard">
  <div class="mb-3">
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <h1 class="h3 mb-1"><%= achievement.title %></h1>
      </div>

      <div>
        <%= link_to t("back"), back_path,
                    class: "btn btn-sm btn-outline-secondary",
                    data: { turbo_stream: true } %>
      </div>
    </div>
  </div>

  <%= render partial: "student_performance/achievements/settings",
             locals: { achievement: achievement, lecture: lecture } %>

  <% if grading_enabled? %>
    <hr class="my-4">
    <h2 class="h5 mb-3"><%= t("assessment.grading") %></h2>
    <%= render AchievementMarkingTableComponent.new(
      achievement: achievement
    ) %>
  <% end %>
</div>
