<div class="card">
  <div class="card-header bg-primary text-white">
    <%= t('admin.main.my_media') %>
    (<%= current_user.edited_media.count %>)
    <%= helpdesk(t('admin.main.info.medium_definition'), true) %>
    </i>
  </div>
  <div class="card-body">
    <% if current_user.edited_media.exists? %>
      <ul>
        <% current_user.edited_media.order(:updated_at)
                       .reverse.first(25)
                       .each do |m| %>
          <li>
            <%= link_to m.title,
                        edit_medium_path(m),
                        class: textcolor(m) %>
          </li>
        <% end %>
      </ul>
      <% if current_user.edited_media.count > 25 %>
        Es werden nur die 25 zuletzt geupdateten Medien angezeigt.
        Mehr Medien findest Du über die
        <%= link_to 'Mediensuche', media_catalog_path %>
        oder in Deinem
        <%= link_to 'Nutzerprofil', elevated_profile_path(current_user) %>.
      <% end %>
    <% else %>
      Es gibt keine Medien, für die Du als EditorIn eingetragen bist.
    <% end %>
  </div>
</div>