<div class="card">
  <div class="card-header bg-primary text-white">
    <div class="row">
      <div class="col-8">
        <%= t('admin.main.my_courses') %>
        (<%= current_user.edited_courses.count  %>)
        <%= helpdesk(t('admin.main.info.course_definition'), true) %>
      </div>
      <div class="col-4 text-right">
        <% if current_user.admin? %>
          <%= link_to '', new_course_path,
                      class: 'fas fa-plus-circle text-light admin-index-button',
                      id: 'new-course-button',
                      data: { remote: true, toggle: 'tooltip' },
                      title: t('admin.main.create_course') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body card-compact">
    <div id="new-course-area"
         class="bg-green-lighten-4 p-3 mb-3 rounded"
         style="display: none;">
      <%= render partial: 'courses/new',
                 locals: { course: Course.new } %>
    </div>
    <% if current_user.edited_courses.exists? %>
      <%= render partial: 'administration/courses_card',
                 locals: { courses:
                             current_user.edited_courses
                                         .natural_sort_by(&:title),
                           inspection: false } %>
    <% else %>
      <%= t('admin.main.no_edited_courses') %>
    <% end %>
  </div>
</div>