<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <%= image_tag '/MaMpf-Logo_32x32.png',
                class: 'img-fluid mr-2' %>
  <%= link_to "MaMpf", exit_administration_path,
              class: 'navbar-brand',
              title: 'Administration beenden',
              data: { toggle: 'tooltip' } %>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsingNavbarLg">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <div class="navbar-collapse collapse"
       id="collapsingNavbarLg">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= active_controller?('administration', 'index') %>">
        <a href="<%= administration_path %>"
             class="fas fa-home fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="Übersicht">
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= destroy_user_session_path %>"
             class="fas fa-sign-out-alt fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             data-method="delete"
             title="Logout">
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <%= render partial: 'administration/dropdown_teachables',
                 locals: { courses: editable_courses_dropdown } %>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= active_controller?('media') %>">
        <a href="<%= media_catalog_path %>"
           class="far fa-file-video fa-lg text-light nav-link"
           style="text-decoration: none; "
           data-toggle="tooltip"
           title="Mediensuche">
        </a>
      </li>
      <li class="nav-item <%= active_controller?('tags') %>">
        <a href="<%= tags_path %>"
           class="fas fa-tags fa-lg text-light nav-link"
           style="text-decoration: none; "
           data-toggle="tooltip"
           title="Tagübersicht">
        </a>
      </li>
      <% if current_user.admin? %>
        <li class="nav-item <%= active_controller?('terms') %>">
          <a href="<%= terms_path %>"
             class="far fa-calendar-alt fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="Semester">
          </a>
        </li>
        <li>
          <a href="<%= announcements_path %>"
             class="far fa-newspaper fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="News">
          </a>
        </li>
      <% end %>
    </ul>
    <% if current_user.admin? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= active_controller?('users') %>">
        <a href="<%= users_path %>"
           class="fas fa-users-cog fa-lg text-light nav-link"
           style="text-decoration: none; "
           data-toggle="tooltip"
           title="Nutzerverwaltung">
        </a>
      </li>
    </ul>
    <% end %>
    <ul class="navbar-nav">
      <li class="nav-item <%= active_controller?('administration', 'profile') %>">
        <a href="<%= elevated_profile_path %>"
           class="fas fa-user fa-lg text-light nav-link"
           style="text-decoration: none; "
           data-toggle="tooltip"
           title="Profil">
        </a>
      </li>
    </ul>
  </div>
</nav>
