<% I18n.with_locale(current_user.try(:locale)) do %>
<nav class="navbar navbar-expand-md navbar-dark bg-dark"
     id="first-admin-nav">
  <%= link_to image_tag('/MaMpf-Logo_32x32.png',
                        class: 'img-fluid mr-2'),
              exit_administration_path,
              title: t('admin.navbar.exit'),
              data: { toggle: 'tooltip' }%>
  <%= link_to t('mampf'),
              exit_administration_path,
              class: 'navbar-brand',
              title: t('admin.navbar.exit'),
              data: { toggle: 'tooltip' } %>
    <ul class="navbar-nav mr-auto" id="adminMain">
      <li class="nav-item"
          id="adminHome">
        <%= link_to '', administration_path,
                    class: 'fas fa-home fa-lg text-light nav-link',
                    style: 'text-decoration: none;',
                    data: { toggle: "tooltip" },
                    title: t('admin.navbar.main') %>
      </li>
      <% if current_user.current_lecture_id
                        .in?(current_user.teaching_related_lectures.map(&:id)) %>
        <li class="nav-item"
            id="adminCurrentLecture">
          <%= link_to '',
                      edit_lecture_path(Lecture.find_by_id(current_user.current_lecture_id)),
                      class: 'fas fa-chalkboard-teacher fa-lg text-light nav-link',
                      style: 'text-decoration: none;',
                      data: { toggle: "tooltip" },
                      title: t('admin.navbar.current_lecture') %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to '', destroy_user_session_path,
                    class: 'fas fa-sign-out-alt fa-lg text-light nav-link',
                    style: 'text-decoration: none;',
                    data: { toggle: 'tooltip', method: 'delete' },
                    title: t('admin.navbar.logout') %>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" id="adminDetails">
      <li class="nav-item">
        <%= link_to '', media_catalog_path,
                    class: 'far fa-file-video fa-lg text-light nav-link',
                    style: 'text-decoration: none;',
                    data: { toggle: 'tooltip' },
                    title: t('admin.navbar.media_search') %>
      </li>
      <li class="nav-item">
        <%= link_to '', tags_path,
                    class: 'fas fa-tags fa-lg text-light nav-link',
                    style: 'text-decoration: none;',
                    data: { toggle: 'tooltip' },
                    title: t('admin.navbar.tags') %>
      </li>
      <li class="nav-item">
        <%= link_to '', search_teachables_path,
                    class: 'fas fa-chalkboard fa-lg text-light nav-link',
                    style: 'text-decoration: none;',
                    data: { toggle: 'tooltip' },
                    title: t('admin.navbar.teachables') %>
      </li>
      <% if current_user.admin? %>
        <li class="nav-item">
          <%= link_to '', terms_path,
                      class: 'far fa-calendar-alt fa-lg text-light nav-link',
                      style: 'text-decoration: none;',
                      data: { toggle: 'tooltip' },
                      title: t('admin.navbar.terms') %>
        </li>
        <li class="nav-item">
          <%= link_to '',
                      classification_path,
                      class: 'fas fa-clipboard-list fa-lg text-light nav-link',
                      style: 'text-decoration: none;',
                      data: { toggle: 'tooltip' },
                      title: t('admin.navbar.classification') %>
        </li>
        <li>
          <%= link_to '', announcements_path,
                      class: 'far fa-newspaper fa-lg text-light nav-link',
                      style: 'text-decoration: none;',
                      data: { toggle: 'tooltip' },
                      title: t('admin.navbar.news') %>
        </li>
        <li>
          <%= link_to '', thredded_path,
                      class: 'fas fa-comment-alt fa-lg text-light nav-link',
                      style: 'text-decoration: none;',
                      data: { toggle: 'tooltip' },
                      title: t('admin.navbar.boards'),
                      target: :_blank %>
        </li>
        <li>
          <%= link_to '', sidekiq_web_path,
                      class: 'fas fa-chart-line fa-lg text-light nav-link',
                      style: 'text-decoration: none;',
                      data: { toggle: 'tooltip' },
                      title: t('admin.navbar.stats'),
                      target: :_blank %>
        </li>
        <li>
          <%= link_to '', interactions_path,
                      class: 'fas fa-download fa-lg text-light nav-link',
                      style: 'text-decoration: none;',
                      data: { toggle: 'tooltip' },
                      title: t('admin.navbar.export_stats') %>
        </li>
      <% end %>
    </ul>
    <% if current_user.admin? %>
      <ul class="navbar-nav mr-auto" id="adminUsers">
        <li class="nav-item <%= active_controller?('users') %>">
          <%= link_to '', users_path,
                      class: 'fas fa-users-cog fa-lg text-light nav-link',
                      style: 'text-decoration: none;',
                      data: { toggle: 'tooltip' },
                      title: t('admin.navbar.users') %>
        </li>
      </ul>
    <% end %>
    <ul class="navbar-nav" id="adminProfile">
      <li class="nav-item">
        <%= link_to '', elevated_profile_path,
                    class: 'fas fa-user fa-lg text-light nav-link',
                    style: 'text-decoration: none;',
                    data: { toggle: 'tooltip' },
                    title: t('admin.navbar.profile') %>
      </li>
    </ul>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark" id="second-admin-nav"
     style="display: none;">
</nav>
<% end %>