 <div class="card">
  <div class="card-header bg-teal-lighten-4">
    <%= t('admin.main.other_lectures') %>
    (<%= current_user.teaching_unrelated_lectures.count  %>)
    <%= helpdesk(t('admin.main.info.other_lectures'), false) %>
  </div>
  <div class="card-body card-tiny">
    <% if current_user.teaching_unrelated_lectures.present? %>
      <%= render partial: 'administration/lectures_card',
                 locals: { lectures:
                             Lecture.sort_by_date(current_user
                                                    .teaching_unrelated_lectures),
                           inspection: true,
                           teacher: true } %>
    <% else %>
      <%= t('admin.main.no_other_lectures') %>
    <% end %>
  </div>
</div>