<div class="row mt-3 pr-2">
  <div class="col-12 col-md-8">
    <div class="row">
      <div class="col-12 col-xxxl-7 mb-2">
        <%= render partial: 'administration/index/my_lectures' %>
      </div>
      <div class="col-12 col-xxxl-5 mb-2">
        <%= render partial: 'administration/index/my_courses' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-xxxl-7 mt-2">
        <%= render partial: 'administration/index/other_lectures' %>
      </div>
      <div class="col-12 col-xxxl-5 mt-2 mb-2">
        <%= render partial: 'administration/index/other_courses' %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <%= render partial: 'administration/index/my_media' %>
  </div>
</div>
