<div class="row mt-2">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        Meine Module
        (<%= current_user.edited_courses.count  %>)
      </div>
      <div class="card-body">
        <ul>
        <% current_user.edited_courses.each do |c| %>
          <li>
            <%= link_to c.title, edit_course_path(c) %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        Meine Vorlesungen
        (<%= current_user.edited_lectures_with_inheritance.count %>)
      </div>
      <div class="card-body">
        <% if current_user.edited_lectures.present? %>
        als Vorlesungeditor:
        <ul>
        <% current_user.edited_lectures.each do |c| %>
          <li>
            <%= link_to c.title, edit_lecture_path(c) %>
          </li>
        <% end %>
        </ul>
        <% end %>
        <% if current_user.lectures_as_module_editor.present? %>
        als Moduleditor:
        <ul>
          <% current_user.lectures_as_module_editor.each do |c| %>
            <li>
              <%= link_to c.title, edit_lecture_path(c) %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        Meine Sitzungen
        (<%= current_user.edited_lessons_with_inheritance.count %>)
      </div>
      <div class="card-body">
        <ul>
        <% current_user.edited_lessons_with_inheritance.sort_by(&:date).reverse.first(10).each do |l| %>
          <li>
            <%= link_to l.lecture.short_title + ', ' + l.to_label, edit_lesson_path(l) %>
          </li>
        <% end %>
        </ul>
        <% if current_user.edited_lessons_with_inheritance.count > 10 %>
          Es werden nur die letzten 10 Sitzungen angezeigt.
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        Meine Medien
        (<%= current_user.edited_media.count %>)
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
