<div class="row mt-3">
  <div class="col-8">
    <div class="row">
      <div class="col-7">
        <div class="card">
          <div class="card-header bg-primary text-white">
            Meine Vorlesungen
          </div>
          <div class="card-body">
            <% if current_user.given_lectures.present? %>
              als DozentIn
              (<%= current_user.given_lectures.count %>)
              <%= render partial: 'administration/lectures_card',
                         locals: { lectures: Lecture.sort_by_date(current_user.given_lectures),
                                   inspection: false,
                                   teacher: false } %>
            <% end %>
            <% if current_user.edited_lectures.present? %>
              als zusätzlicher Vorlesungeditor
              (<%= current_user.edited_lectures.count %>)
              <%= render partial: 'administration/lectures_card',
                         locals: { lectures: Lecture.sort_by_date(current_user.edited_lectures),
                                   inspection: false,
                                   teacher: true } %>
            <% end %>
            <% if current_user.lectures_as_module_editor.present? %>
              als Moduleditor
              (<%= current_user.lectures_as_module_editor.count %>)
              <%= render partial: 'administration/lectures_card',
                         locals: { lectures: Lecture.sort_by_date(current_user.lectures_as_module_editor),
                                   inspection: false,
                                   teacher: true } %>
            <% end %>
            <% if current_user.given_lectures.empty? &&
                  current_user.edited_lectures.empty? &&
                  current_user.lectures_as_module_editor.empty? %>
              Es gibt keine Vorlesung, für die Du als DozentIn oder EditorIn
              eingetragen bist.
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card">
          <div class="card-header bg-primary text-white">
            Meine Module
            (<%= current_user.edited_courses.count  %>)
          </div>
          <div class="card-body">
            <% if current_user.edited_courses.present? %>
              <%= render partial: 'administration/courses_card',
                         locals: { courses: current_user.edited_courses.sort_by(&:title),
                                   inspection: false } %>
            <% else %>
              Es gibt keine Module, für die Du als EditorIn eingetragen bist.
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-7">
        <div class="card">
          <div class="card-header bg-teal-lighten-4">
            Sonstige Vorlesungen
            (<%= current_user.teaching_unrelated_lectures.count  %>)
          </div>
          <div class="card-body">
            <% if current_user.teaching_unrelated_lectures.present? %>
              <%= render partial: 'administration/lectures_card',
                         locals: { lectures: Lecture.sort_by_date(current_user.teaching_unrelated_lectures),
                                   inspection: true,
                                   teacher: true } %>
            <% else %>
              Es gibt keine sonstigen Vorlesungen.
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card">
          <div class="card-header bg-teal-lighten-4">
            Sonstige Module
            (<%= Course.count - current_user.edited_courses.count  %>)
          </div>
          <div class="card-body">
            <% if (Course.all - current_user.edited_courses).present? %>
              <%= render partial: 'administration/courses_card',
                         locals: { courses: (Course.all - current_user.edited_courses).sort_by(&:title),
                                   inspection: true } %>
            <% else %>
              Es gibt keine sonstigen Module.
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Meine Medien
        (<%= current_user.edited_media.count %>)
      </div>
      <div class="card-body">
        <% if current_user.edited_media.present? %>
          <ul>
            <% current_user.edited_media.order(:updated_at).reverse.first(25).each do |m| %>
              <li>
                <%= link_to m.title, edit_medium_path(m) %>
              </li>
            <% end %>
          </ul>
          <% if current_user.edited_media.count > 25 %>
            Es werden nur die 25 zuletzt geupdateten Medien angezeigt.
            Mehr Medien findest Du über die
            <%= link_to 'Medien-Suche', media_catalog_path %>.
          <% end %>
        <% else %>
          Es gibt keine Medien, für die Du als EditorIn eingetragen bist.
        <% end %>
      </div>
    </div>
  </div>
</div>
