<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= t('errors.messages.not_saved', count: resource.errors.count, resource: resource.class.model_name.human.downcase) %></h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1><%= t('.resend_unlock_instructions') %></h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, html: { role: 'form' } }) do |f| %>
  <div class="mb-3">
    <%= f.label :email,
                class: "form-label" %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.submit t('.resend_unlock_instructions'), class: 'btn btn-primary'%>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
