<table class="table table-hover mb-4">
  <thead>
    <tr>
      <th><%= t('admin.assignment.title') %></th>
      <th><%= t('medium.singular') %></th>
      <th><%= t('admin.assignment.filetype') %></th>
      <th class="text-center"><%= t('assessment.tasks') %></th>
      <th><%= t('admin.assignment.deletion') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="assessment-assessments-list">
    <% assessables.each do |assessable| %>
      <%= render AssessmentListItemComponent.new(assessable: assessable, lecture: lecture) %>
    <% end %>
  </tbody>
</table>
