<% if media.any? %>
  <div class="row border bg-mdb-color-lighten-5 mx-2">
    <div class="col-3">
      <%= t('admin.medium.sort') %>
    </div>
    <div class="col-3">
      <%= t('basics.description') %>
    </div>
    <div class="col-3">
      <%= t('basics.associated_to') %>
    </div>
    <div class="col-1">
      <%= t('basics.status') %>
    </div>
    <div class="col-2">
      <%= t('basics.action') %>
    </div>
  </div>
  <div style="max-height: 30vh; overflow-y: scroll;" class="mb-3">
    <% media.each do |m| %>
      <div class="row mx-2 border-start border-end border-bottom imported-medium-row"
           data-medium="<%= m.id %>">
        <div class="col-3">
          <%= m.sort_localized %>
        </div>
        <div class="col-3">
          <%= m.local_info %>
        </div>
        <div class="col-3">
          <%= m.teachable.title %>
        </div>
        <div class="col-1 text-center">
          <%= render partial: 'media/catalog/access_info',
                     locals: { medium: m } %>
          <% unless m.free? || m.for_users? %>
            <i class="fas fa-exclamation-circle"
               style="padding-top: 12px; color: red;"
               data-toggle="tooltip"
               title="<%= t('admin.lecture.info.imported_medium_invisible') %>">
            </i>
          <% end %>
        </div>
        <div class="col-2">
          <% if current_user.admin ||
                  m.editors_with_inheritance.include?(current_user) %>
            <%= link_to '',
                        edit_medium_path(m),
                        class: 'fas fa-edit text-dark',
                        style: 'text-decoration: none; padding-top: 12px;',
                        data: { toggle: "tooltip" },
                        title: t('buttons.edit') %>
          <% else %>
            <%= link_to '',
                        inspect_medium_path(m),
                        class: 'fas fa-eye text-dark',
                        style: 'text-decoration: none; padding-top: 12px;',
                        data: { toggle: "tooltip" },
                        title: t('buttons.inspect') %>
          <% end %>
          <%= link_to '',
                      lecture_remove_imported_medium_path(lecture,
                                                          params:
                                                            { medium: m.id }),
                      class: 'fas fa-trash-alt text-dark ms-2',
                      style: 'text-decoration: none; padding-top: 12px;',
                      data: { toggle: "tooltip" },
                      title: t('buttons.delete'),
                      method: :delete,
                      remote: true %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= t('admin.lecture.no_imported_media') %>
<% end %>