<%= form_with model: term  do |f|%>
<div class="row py-2">
  <div class="col-2">
    <%= f.select :year,
                   ((Time.current.year - 5)..(Time.current.year + 2)).to_a,
    {}, { class: 'form-select' }%>
  </div>
  <div class="col-2">
    <%= f.select :season,
                   ['WS', 'SS'],
                   {},
    { class: 'form-select' } %>
  </div>
  <div class="col-4">
    <ul>
      <% term.lectures.each do |l| %>
      <li>
        <%= l.title_teacher_info  %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-4">
    <%= f.submit t('buttons.save'),
    class: 'btn btn-sm btn-primary' %>
    <button id="cancel-term-edit"
      type="button"
      class="btn btn-sm btn-secondary"
      data-new="<%= new_action %>"
      data-term="<%= term.id %>">
      <%= t('buttons.cancel') %>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div id="term-error"
      class="invalid-feedback">
    </div>
  </div>
</div>
  </div>
<% end %>
