<div class="col-2">
  <%= term.year %>
</div>
<div class="col-2">
  <%= term.season %>
</div>
<div class="col-4">
  <ul class="list-unstyled">
    <% term.lectures.each do |l| %>
      <li>
        <%= link_to l.title_teacher_info,
                    edit_or_inspect_lecture_path(l)  %>
      </li>
    <% end %>
  </ul>
</div>
<div class="col-4">
  <%= link_to 'Bearbeiten',
              edit_term_path(term),
              class: 'btn btn-outline-primary my-1',
              remote: true %>
  <% if term.lectures.empty? %>
    <%= link_to t('buttons.delete'),
                term_path(term),
                method: :delete,
                data: { confirm: 'Bist Du sicher?' },
                remote: true,
                class: 'btn btn-outline-danger my-1' %>
  <% end %>
</div>
