<div class="row my-3 p-2">
  <div class="col-8">
    <%= link_to 'Neues Semester anlegen', new_term_path,
                class: 'btn btn-primary', id: 'new_medium_button',
                remote: true %>
  </div>
  <div class="col-4 text-right">
    <%= paginate @terms %>
  </div>
</div>
<div id='new_medium' style='display: none;'>
  <div class='row'>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card m-3">
        <div class='card-header'>
          Semester anlegen
        </div>
        <div class='card-body'>
          <%= form_with model: @term do |f| %>
            <%= f.text_field :title %>
            <div class='text-center'>
              <%= f.submit 'Speichern' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row bg-light px-4 py-3">
  <div class="col-1">
    <strong>
      Jahr
    </strong>
  </div>
  <div class="col-1">
    <strong>
      Typ
    </strong>
  </div>
  <div class="col-6">
    <strong>
      Vorlesungen
    </strong>
  </div>
  <div class="col-4">
    <strong>
      Aktionen
    </strong>
  </div>
</div>
<% @terms.each do |t| %>
  <div class="row border-bottom px-4" id="row-term-<%= t.id %>">
    <%= render partial: 'terms/row', locals: { term: t }%>
  </div>
<% end %>
