<div class="row">
  <div class="col-12">
    <h6>
      <%= t('admin.clicker.new_clicker') %>
    </h6>
  </div>
</div>
<%= form_with url: clickers_path(clicker),
              method: 'post',
              local: true,
              scope: 'clicker' do |f|%>
  <%= f.hidden_field :editor_id, value: current_user.id %>
  <div class="form-row">
    <div class="col-8 form-group">
      <%= f.label :title, t('basics.title') %>
      <%= helpdesk(t('admin.clicker.info.title'), false) %>
      <%= f.text_field :title, { class: 'form-control',
                                 id: 'new_clicker_title' } %>
      <div class="invalid-feedback"
           id="new-clicker-title-error">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'),
                   class: 'btn btn-primary' %>
      <button type="button"
              id="cancel-new-clicker"
              class="btn btn-secondary">
        <%= t('buttons.cancel') %>
      </button>
    </div>
  </div>
<% end %>