<div class="row mt-3">
  <div class="col-12">
    <% if user_signed_in? %>
      Das ist die authentifizierte Seite zum Bearbeiten des Clickers.
    <% else %>
      Das ist die unauthentifizierte Seite zum Bearbeiten des Clickers.
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= t('admin.clicker.user_link') %>:
    <%= link_to @user_path,
                @user_path %>
  </div>
</div>
<% if user_signed_in? %>
  <div class="row">
    <div class="col-12">
      <%= t('admin.clicker.editor_link') %>:
      <%= link_to @editor_path,
                  @editor_path %>
    </div>
  </div>
<% end %>
<div class="row mt-3">
  <div class="col-12">
    <%= link_to t('admin.clicker.close'),
                close_clicker_path(@clicker,
                                   params: { code: @code }),
                id: 'closeClickerButton',
                class: 'btn btn-primary',
                style: "display: #{show_no_block(@clicker.open?)}",
                remote: true %>
    <%= link_to t('admin.clicker.open'),
                open_clicker_path(@clicker,
                                  params: { code: @code }),
                id: 'openClickerButton',
                class: 'btn btn-primary',
                style: "display: #{show_no_block(@clicker.closed?)}",
                remote: true %>
  </div>
</div>
<div id="clickerClosed"
     style='display: <%= "#{show(@clicker.closed?)}" %>'>
  <div class="row">
    <div class="col-12">
      <%= t('admin.clicker.alternatives') %>:
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% (2..6).each do |i| %>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio"
                 name="clickerAlternatives"
                 id="clickerAlternatives_<%= i %>"
                 data-clicker="<%= @clicker.id %>"
                 data-alternatives="<%= i %>"
                 <%= @clicker.alternatives == i ? 'checked' : '' %>
                 class="clickerAlternatives custom-control-input">
          <label class="custom-control-label"
                 for="clickerAlternatives_<%= i %>">
            <%= i %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>