<% if @clicker.open? %>
  <div id="clickerOpen">
    <ul class="list-group mt-2">
      <% if @clicker.question %>
        <li class="list-group-item">
          <%= @clicker.question.text %>
        </li>
      <% end %>
      <% (1..@clicker.alternatives).each do |i| %>
        <%= link_to(votes_path(params: { vote: { value: i,
                                                 clicker_id: @clicker.id }}),
                    method: :post,
                    remote: true,
                    class: 'list-group-item list-group-item-action voteClicker',
                    data: { value: i }) do %>
          <% if @clicker.question %>
            <span class="mr-3" style="font-size: 1.5em;">
              <%= %w(A B C D E F)[i-1] %>
            </span>
            <span>
              <%= @clicker.question.answers.pluck(:text)[i-1] %>
            </span>
          <% else %>
            <div class="text-center" style="font-size: 3em;">
              <%= %w(A B C D E F)[i-1] %>
            </div>
          <% end %>
        <% end %>
        <li class="list-group-item votedClicker"
            style="display: none;"
            data-value="<%= i%>">
          <% if @clicker.question %>
            <span class="mr-3 text-light" style="font-size: 1.5em;">
              <%= %w(A B C D E F)[i-1] %>
            </span>
            <span class="text-light">
              <%= @clicker.question.answers.pluck(:text)[i-1] %>
            </span>
          <% else %>
            <div class="text-center text-light" style="font-size: 3em;">
              <%= %w(A B C D E F)[i-1] %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="votedAlready" style="display: none;">
    <div class="d-flex justify-content-center mt-3">
      <div class="spinner-border text-primary" role="status">
      </div>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center mt-3">
    <div class="spinner-border text-primary" role="status">
    </div>
  </div>
<% end %>
