<div class="form-group"
     id="polynomialDegree"
     data-degree="<%= content.degree %>">
  <span class="mr-2">
    <%= "#{t('math.degree')}:" %>
  </span>
  <% (0..5).each do |i| %>
    <div class="custom-control custom-control-inline custom-radio">
      <%= f.radio_button 'solution_content[degree]',
                         i,
                         class: 'custom-control-input polDegree',
                         checked: content.degree == i,
                         data: { degree: i } %>
      <%= f.label 'solution_content[degree]',
                  '$\leq$' + "#{i}",
                  value: i,
                  class: 'custom-control-label' %>
    </div>
  <% end %>
</div>
<div class="form-group form-inline">
  <% (0..5).reverse_each do |i| %>
    <div class="col-2 polynomialCoefficient"
         style="display: <%= show_no_block(i <= content.degree) %>"
         data-deg="<%= i %>">
      <div class="input-group">
        <%= render partial: 'questions/domains/number',
                   locals: { f: f,
                             content: content.coefficients[i],
                             counter: "[#{i}]" } %>
        <div class="input-group-append">
          <div class="input-group-text">
          <%= if i > 1
                "$X^{#{i}}$"
              elsif i == 1
                '$X$'
              elsif i == 0
                '$1$'
              end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
