<div class="card card-fixed-xxl">
  <div class="card-header bg-primary text-white">
    <div class="row">
      <div class="col-8">
        <%= t('admin.main.my_lectures') %>
        <%= helpdesk(t('admin.main.info.lecture_definition'), true) %>
      </div>
      <div class="col-4 text-end">
        <% if LectureAbility.new(current_user).can? :new, Lecture.new %>
          <%= link_to '', new_lecture_path,
                      class: 'fas fa-plus-circle text-light admin-index-button',
                      id: 'new-lecture-button',
                      data: { toggle: 'tooltip', turbo_frame: dom_id(Lecture.new), testid: 'new-lecture-button-admin-index' },
                      title: t('admin.main.create_lecture') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body scrollable">
    <%= turbo_frame_tag Lecture.new %>
    
    <%= turbo_frame_tag "lectures" do%>
      <%= render 'administration/index/lectures_list' %>
    <% end %>
  </div>
</div>