<div class="card">
  <div class="card-header bg-teal-lighten-4">
    <%= t('admin.main.other_courses') %>
    (<%= Course.count - current_user.edited_courses.count  %>)
    <%= helpdesk(t('admin.main.info.other_courses'), false) %>
  </div>
  <div class="card-body card-tiny">
    <% if (Course.all - current_user.edited_courses).present? %>
      <%= render partial: 'administration/index/courses_card',
                 locals: { courses: non_edited_courses.natural_sort_by(&:title),
                           inspection: true } %>
    <% else %>
      <%= t('admin.main.no_other_courses') %>
    <% end %>
  </div>
</div>