<% if medium.video.present? %>
  <div class="me-2">
    <a href="<%= play_medium_path(medium) %>"
       class="no-deco"
       target="_blank">
      <i class="material-icons text-secondary"
         data-bs-toggle="tooltip"
         data-placement="bottom"
         title="<%= t('video.play') %>">
        play_arrow
      </i>
    </a>
  </div>
<% end %>

<% if medium.manuscript.present? %>
  <div class="me-2">
    <a href="<%= ref_link.blank? ? display_medium_path(medium) : ref_link %>"
       class="no-deco"
       target="_blank">
      <i class="material-icons text-secondary"
         data-bs-toggle="tooltip"
         data-placement="bottom"
         title="<%= t('manuscript.view') %>">
        library_books
      </i>
    </a>
  </div>
<% end %>

<% if medium.geogebra.present? %>
  <div class="me-2">
    <a href="<%= geogebra_medium_path(medium) %>"
       class="no-deco"
       target="_blank">
      <i class="material-icons text-secondary"
         data-bs-toggle="tooltip"
         data-placement="bottom"
         title="<%= t('geogebra.view') %>">
        leak_add
      </i>
    </a>
  </div>
<% end %>

<% if medium.external_reference_link.present? %>
  <div class="me-2">
    <a href="<%= medium.external_reference_link %>"
       class="no-deco"
       target="_blank">
      <i class="material-icons text-secondary"
         data-bs-toggle="tooltip"
         data-placement="bottom"
         title="<%= t('external_link_lc') %>">
        link
      </i>
    </a>
  </div>
<% end %>

<% if medium.sort == 'Quiz' && medium.quiz_graph %>
  <div class="me-2">
    <a href="<%= take_quiz_path(medium) %>"
       class="no-deco"
       target="_blank">
      <i class="material-icons text-secondary"
         data-bs-toggle="tooltip"
         data-placement="bottom"
         title="<%= t('quiz.start') %>">
        videogame_asset
      </i>
    </a>
  </div>
<% end %>

<div class="me-2">
  <a href="<%= medium_path(medium) %>"
     class="no-deco">
    <i class="material-icons text-secondary"
       data-bs-toggle="tooltip"
       data-placement="bottom"
       title="<%= t('medium.details') %>">
      info
    </i>
  </a>
</div>

<% if medium.video.present? %>
  <div class="download-button me-2">
    <a href="<%= medium.video_download_url %>"
       download="<%= video_download_file(medium) %>"
       class="triggerDownload"
       data-medium="<%= medium.id %>"
       data-sort="video">
      <span>
        <span class="badge bg-secondary"
              data-bs-toggle="tooltip"
              data-placement="bottom"
              title="<%= t('video.download') %>">
          &darr;mp4
        </span>
      </span>
    </a>
  </div>
<% end %>

<% if medium.manuscript.present? %>
  <div class="download-button">
    <a href="<%= medium.manuscript_download_url %>"
       download="<%= manuscript_download_file(medium) %>"
       class="triggerDownload"
       data-medium="<%= medium.id %>"
       data-sort="manuscript">
      <span>
        <span class="badge bg-secondary"
              data-bs-toggle="tooltip"
              data-placement="bottom"
              title="<%= t('manuscript.download') %>">
          &darr;pdf
        </span>
      </span>
    </a>
  </div>
<% end %>