<% if medium.video.present? %>
  <div class="m-1">
    <a href="<%= play_medium_path(medium) %>"
       class="no-deco"
       target="_blank">
      <i class="bi bi-play-fill text-secondary fs-5"
        title="<%= t('video.play') %>"></i>
    </a>
  </div>
<% end %>

<% if medium.manuscript.present? %>
  <div class="m-1">
    <a href="<%= ref_link.blank? ? display_medium_path(medium) : ref_link %>"
       class="no-deco"
       target="_blank">
      <i class="bi bi-file-earmark-text-fill text-secondary fs-5"
        title="<%= t('manuscript.view') %>"></i>
    </a>
  </div>
<% end %>

<% if medium.geogebra.present? %>
  <div class="m-1">
    <a href="<%= geogebra_medium_path(medium) %>"
       class="no-deco"
       target="_blank">
      <i class="bi bi-bullseye text-secondary fs-5"
        title="<%= t('geogebra.view') %>"></i>
    </a>
  </div>
<% end %>

<% if medium.external_reference_link.present? %>
  <div class="m-1">
    <a href="<%= medium.external_reference_link %>"
       class="no-deco"
       target="_blank">
      <i class="bi bi-link-45deg text-secondary fs-5"
        title="<%= external_link_description_not_empty(medium) %>"></i>
    </a>
  </div>
<% end %>

<% if medium.sort == 'Quiz' && medium.quiz_graph %>
  <div class="m-1">
    <a href="<%= take_quiz_path(medium) %>"
       class="no-deco"
       target="_blank">
      <i class="bi bi-joystick text-secondary fs-5"
        title="<%= t('quiz.start') %>"></i>
    </a>
  </div>
<% end %>

<div class="m-1">
  <a href="<%= medium_path(medium) %>"
     class="no-deco">
    <i class="bi bi-info-circle-fill text-secondary fs-5"
      title="<%= t('medium.details') %>"></i>
  </a>
</div>

<% if medium.video.present? %>
  <div class="download-button m-1 d-flex align-items-center">
    <a href="<%= medium.video_download_url %>"
       download="<%= video_download_file(medium) %>"
       class="triggerDownload"
       data-medium="<%= medium.id %>"
       data-sort="video">
      <span>
        <span class="badge bg-secondary"
              data-bs-toggle="tooltip"
              data-placement="bottom"
              title="<%= t('video.download') %>">
          &darr;mp4
        </span>
      </span>
    </a>
  </div>
<% end %>

<% if medium.manuscript.present? %>
  <div class="download-button d-flex align-items-center">
    <a href="<%= medium.manuscript_download_url %>"
       download="<%= manuscript_download_file(medium) %>"
       class="triggerDownload"
       data-medium="<%= medium.id %>"
       data-sort="manuscript">
      <span>
        <span class="badge bg-secondary"
              data-bs-toggle="tooltip"
              data-placement="bottom"
              title="<%= t('manuscript.download') %>">
          &darr;pdf
        </span>
      </span>
    </a>
  </div>
<% end %>
