<% if medium.video.present? %>
<div class="m-1">
  <a class="btn btn-outline-secondary"
    href="<%= play_medium_path(medium) %>" role="button"
    target="_blank" title="<%= t('video.play') %>">
    <i class="bi bi-play-fill fs-6"></i>
  </a>
</div>
<% end %>

<% if medium.manuscript.present? %>
<div class="m-1">
  <a class="btn btn-outline-secondary"
    href="<%= ref_link.blank? ? display_medium_path(medium) : ref_link %>" role="button"
    target="_blank" title="<%= t('manuscript.view') %>">
    <i class="bi bi-file-earmark-text-fill fs-6"></i>
  </a>
</div>
<% end %>

<% if medium.geogebra.present? %>
<div class="m-1">
  <a class="btn btn-outline-secondary"
    href="<%= geogebra_medium_path(medium) %>" role="button"
    target="_blank" title="<%= t('geogebra.view') %>">
    <i class="bi bi-bullseye fs-6"></i>
  </a>
</div>
<% end %>

<% if medium.external_reference_link.present? %>
<div class="m-1">
  <a class="btn btn-outline-secondary"
    href="<%= medium.external_reference_link %>" role="button"
    target="_blank" title="<%= external_link_description_not_empty(medium) %>">
    <i class="bi bi-link-45deg fs-6"></i>
  </a>
</div>
<% end %>

<% if medium.sort == 'Quiz' && medium.quiz_graph %>
<div class="m-1">
  <a class="btn btn-outline-secondary"
    href="<%= take_quiz_path(medium) %>" role="button"
    target="_blank" title="<%= t('quiz.start') %>">
    <i class="bi bi-joystick fs-6"></i>
  </a>
</div>
<% end %>

<div class="m-1">
  <a class="btn btn-outline-secondary"
    href="<%= medium_path(medium) %>" role="button"
    title="<%= t('medium.details') %>">
    <i class="bi bi-info-circle-fill fs-6"></i>
  </a>
</div>

<div class="media-download-buttons">
  <% if medium.video.present? %>
  <a
    class="triggerDownload download-button btn btn-outline-secondary"
    data-medium="<%= medium.id %>"
    data-sort="video"
    download="<%= video_download_file(medium) %>"
    href="<%= medium.video_download_url %>"
    role="button"
    title="<%= t('video.download') %>"
  >
    &darr;mp4
  </a>
  <% end %>

  <% if medium.manuscript.present? %>
  <a
    class="triggerDownload download-button btn btn-outline-secondary"
    data-medium="<%= medium.id %>"
    data-sort="manuscript"
    download="<%= manuscript_download_file(medium) %>"
    href="<%= medium.manuscript_download_url %>"
    role="button"
    title="<%= t('manuscript.download') %>"
  >
    &darr;pdf
  </a>
  <% end %>
</div>
