<div class="col-sm-6 col-lg-6 p-2">
  <div class="card <%= chapter_card_color(chapter) %> p-8">
    <div id="<%= dom_id(chapter) %>"
        class="card-header <%= chapter_header_color(chapter) %>">
      <div class="row">
        <div class="col-8">
          <%= link_to chapter.to_label,
                      edit_chapter_path(chapter),
                      class: 'text-light' %>
        </div>
        <div class="col-4 text-end">
          <%= link_to t('buttons.create_section'),
                      new_section_path(chapter_id: chapter.id),
                      remote: true,
                      class: 'btn btn-sm btn-secondary new-in-lecture',
                      id: 'new_lesson_button' %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <% unless chapter.details.blank? %>
        <%= chapter.details.html_safe %>
      <% end %>
      <ul class="list-group mt-2">
        <% chapter.sections.each do |s| %>
          <% cache s do %>
            <%= render partial: 'lectures/edit/section',
                      locals: { section: s } %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>