  <div class="card bg-light">
    <div class="card-header" role="tab" id="comments_heading">
      <div class="row">
        <div class="col-6">
          <h5>
            <%= t('categories.comments') %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-sm btn-outline-primary"
             data-toggle="collapse"
             href="#comments_collapse"
             id="comments_collapse_button"
             aria-expanded="false" aria-controls="comments_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="comments_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#lectureAccordion">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center" id="comments-buttons">
            <% unless inspection %>
              <%= link_to t('buttons.close_comments'),
                          lecture_close_comments_path(lecture),
                          class: 'btn btn-sm btn-primary' %>
              <%= link_to t('buttons.open_comments'),
                          lecture_open_comments_path(lecture),
                          class: 'btn btn-sm btn-primary' %>
            <% end %>
          </div>
        </div>
        <%= form_with model: lecture,
                      html: { id: 'lecture-comments-form' } do |f| %>
          <div class="form-row my-3 ml-2">
            <div class="custom-control custom-checkbox">
              <%= f.check_box :comments_disabled,
                              class: 'custom-control-input',
                              disabled: inspection %>
              <%= f.label :comments_disabled,
                          t('admin.lecture.comments_disabled'),
                          { class: 'custom-control-label' } %>
              <%= helpdesk(t('admin.lecture.info.comments_disabled'),
                       false) %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <div id="lecture-comments-warning">
                <%= t('warnings.unsaved_changes') %>
                <%= f.submit t('buttons.save_and_exit'),
                             class: "btn btn-sm btn-primary" %>
                <button type="button" id="cancel-lecture-comments"
                        class="btn btn-sm btn-secondary">
                  <%= t('buttons.cancel') %>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>