  <div class="card bg-light">
    <div class="card-header clickable"
         role="tab"
         id="comments_heading"
         data-toggle="collapse"
         data-target="#comments_collapse"
         aria-expanded="false" aria-controls="comments_collapse">
      <div class="row">
        <div class="col-12">
          <h5>
            <%= t('categories.comments') %>
          </h5>
        </div>
      </div>
    </div>
    <div id="comments_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#lectureAccordion">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center" id="comments-buttons">
            <%= link_to t('buttons.close_comments'),
                        lecture_close_comments_path(lecture),
                        class: 'btn btn-sm btn-primary' %>
            <%= link_to t('buttons.open_comments'),
                        lecture_open_comments_path(lecture),
                        class: 'btn btn-sm btn-primary' %>
          </div>
        </div>
        <%= form_with model: lecture,
                      html: { id: 'lecture-comments-form' } do |f| %>
          <div class="form-row my-3 ml-2">
            <div class="custom-control custom-checkbox">
              <%= f.check_box :comments_disabled,
                              class: 'custom-control-input' %>
              <%= f.label :comments_disabled,
                          t('admin.lecture.comments_disabled'),
                          { class: 'custom-control-label' } %>
              <%= helpdesk(t('admin.lecture.info.comments_disabled'),
                       false) %>
            </div>
          </div>
          <!-- EMERGENCY BUTTON -->
          <div class="form-group">
            Enable Emergency Button?
            <div class="form-row ml-2">
              <div class="custom-control custom-radio custom-control-inline">
                <%= f.radio_button :annotations_status,
                                   1,
                                   class: 'custom-control-input' %>
                <%= f.label :annotations_status,
                            'yes',
                            value: 1,
                            class: 'custom-control-label' %>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <%= f.radio_button :annotations_status,
                                   -1,
                                   class: 'custom-control-input' %>
                <%= f.label :annotations_status,
                            'no',
                            value: -1,
                            class: 'custom-control-label' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <div id="lecture-comments-warning">
                <%= t('warnings.unsaved_changes') %>
                <%= f.submit t('buttons.save_and_exit'),
                             class: "btn btn-sm btn-primary" %>
                <button type="button" id="cancel-lecture-comments"
                        class="btn btn-sm btn-secondary">
                  <%= t('buttons.cancel') %>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
