<div class="card bg-mdb-color-lighten-5">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <h5>
          <%= t("admin.lecture.#{lecture.sort}_content") %>
          <i id="show-media-button"
             class="far fa-list-alt clickable"
             data-bs-toggle="tooltip"
             title="<%= t('admin.lecture.show_media') %>">
          </i>
        </h5>
      </div>
      <div class="col-2">
        <%= t('admin.lecture.workflow') %>
        <%= helpdesk(t('admin.lecture.info.workflow'), true) %>
      </div>
      <div class="col-2">
        <span id="no-effect-warning">
          <%= t('warnings.save_before') %>
        </span>
      </div>
      <div class="col-5 text-end">
        <% if lecture.importable_toc? %>
          <button type="button"
                  class="btn btn-sm btn-secondary"
                  data-bs-toggle="modal"
                  data-bs-target="#importLectureTocModal">
            <%= t('buttons.import_lecture_toc') %>
          </button>
        <% end %>
        <%= link_to t("buttons.create_#{lecture.chapter_name}"),
                    new_chapter_path(lecture_id: lecture.id),
                    remote: true,
                    class: 'btn btn-sm btn-secondary new-in-lecture',
                    id: 'new_chapter_button' %>
        <% if lecture.sections.any?%>
          <%= link_to t('buttons.create_lesson'),
                      new_lesson_path(lecture_id: lecture.id),
                      remote: true,
                      class: 'btn btn-sm btn-secondary new-in-lecture',
                      id: 'new_lesson_button' %>
        <% else %>
          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="<%= t('admin.lecture.info.section_needed') %>" >
            <%= link_to t('buttons.create_lesson'),
                        "",
                        class: 'btn btn-sm btn-secondary new-in-lecture disabled',
                        id: 'new_lesson_button' %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <% if lecture.chapters.any? %>
      <div class="row" data-masonry='{"percentPosition": true }'>
        <% lecture.chapters.each do |c| %>
          <% cache c do %>
            <%= render partial: 'lectures/edit/chapter',
                       locals: { chapter: c } %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= t('admin.lecture.no_chapters') %>
    <% end %>
    <% if lecture.orphaned_lessons.present? %>
      <%= t('admin.lecture.orphaned_lessons') %>:
      <%= helpdesk(t('admin.lecture.info.orphaned_lessons'), false) %>
      <% lecture.orphaned_lessons.each do |l| %>
        <%= link_to  l.date_localized,
                     edit_lesson_path(l),
                     class: 'badge bg-light text-dark' %>
      <% end %>
    <% end %>
  </div>
</div>
