<div class="card bg-mdb-color-lighten-5">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <h5>
          <%= t("admin.lecture.#{lecture.sort}_content") %>
          <i id="show-media-button"
             class="far fa-list-alt clickable"
             data-toggle="tooltip"
             title="<%= t('admin.lecture.show_media') %>">
          </i>
        </h5>
      </div>
      <div class="col-2">
        <% unless inspection %>
          <%= t('admin.lecture.workflow') %>
          <%= helpdesk(t('admin.lecture.info.workflow'), true) %>
        <% end %>
      </div>
      <% unless inspection %>
        <div class="col-2">
          <span id="no-effect-warning">
            <%= t('warnings.save_before') %>
          </span>
        </div>
        <div class="col-5 text-right">
          <%= link_to t("buttons.create_#{lecture.chapter_name}"),
                      new_chapter_path(lecture_id: lecture.id),
                      remote: true,
                      class: 'btn btn-sm btn-secondary new-in-lecture',
                      id: 'new_chapter_button' %>
          <%= link_to t('buttons.create_lesson'),
                      new_lesson_path(lecture_id: lecture.id),
                      remote: true,
                      class: 'btn btn-sm btn-secondary new-in-lecture',
                      id: 'new_lesson_button'%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div id="new-chapter-area"
         class="bg-green-lighten-4 p-2 mb-3 rounded">
    </div>
    <div id="new-lesson-area"
         class="bg-green-lighten-4 p-2 mb-3 rounded">
    </div>
    <% if lecture.chapters.present? %>
      <div class="card-columns">
        <% lecture.chapters.includes([:sections, :lecture]).each do |c| %>
          <% cache [c, inspection] do %>
            <%= render partial: 'lectures/edit/chapter',
                       locals: { chapter: c,
                                 inspection: inspection } %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= t('admin.lecture.no_chapters') %>
    <% end %>
    <% if lecture.orphaned_lessons.present? %>
      <%= t('admin.lecture.orphaned_lessons') %>:
      <%= helpdesk(t('admin.lecture.info.orphaned_lessons'), false) %>
      <% lecture.orphaned_lessons.each do |l| %>
        <%= link_to  l.date_localized,
                     edit_lesson_path(l),
                     remote: true,
                     class: 'badge badge-light' %>
      <% end %>
    <% end %>
  </div>
</div>
