<div class="card bg-light">
    <div class="card-header" role="tab" id="erdbeere_structures_heading">
      <div class="row">
        <div class="col-6">
          <h5 id="erdbeereStructures"
              data-lecture="<%= lecture.id %>">
            <%= t('categories.erdbeere.singular') %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-sm btn-outline-primary"
             data-toggle="collapse"
             data-lecture="<%= lecture.id %>"
             data-loading="<%= t('basics.loading_data') %>"
             href="#erdbeere_structures_collapse"
             id="erdbeere_structures_collapse_button"
             aria-expanded="false" aria-controls="erdbeere_structures_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="erdbeere_structures_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#lectureAccordion">
      <div class="card-body" id="erdbeereStructuresBody">
      </div>
    </div>
</div>