  <div class="card bg-light">
    <div class="card-header" role="tab" id="forum_heading">
      <div class="row">
        <div class="col-6">
          <h5>
            <%= t('categories.board') %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-sm btn-outline-primary"
             data-toggle="collapse"
             href="#forum_collapse"
             id="forum_collapse_button"
             aria-expanded="false" aria-controls="forum_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="forum_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#lectureAccordion">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center" id="forum-buttons">
            <% if inspection %>
              Forum: <%= lecture.forum? ? 'Ja' : 'Nein' %>
            <% else %>
            <% if lecture.forum? && lecture.forum %>
              <% if lecture.forum&.locked %>
                <%= link_to t('buttons.unlock_board'),
                            unlock_forum_path(lecture),
                            class: 'btn btn-sm btn-primary' %>
              <% else %>
                <%= link_to t('buttons.lock_board'),
                            lock_forum_path(lecture),
                            class: 'btn btn-sm btn-primary' %>
              <% end %>
              <%= link_to t('buttons.delete_board'),
                          destroy_forum_path(lecture),
                          class: 'btn btn-sm btn-danger' %>
            <% else %>
              <%= link_to t('buttons.add_board'),
                          add_forum_path(lecture),
                          class: 'btn btn-sm btn-primary' %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>