<% cache lecture do %>
  <div id="lecture-area">
    <%= render partial: 'lectures/edit/header',
               locals: { lecture: lecture } %>
    
    <!-- Menu to switch between "tabs" ("pillars") -->
    <nav>
      <div class="nav nav-pills container small-width flex-column flex-sm-row"
          id="lecture-nav-pills" role="tablist">
        <button class="nav-link active lecture-nav-pill-button"
            id="lecture-nav-content" type="button" role="tab"
            data-bs-toggle="pill" data-bs-target="#lecture-pane-content"
            aria-controls="lecture-pane-content" aria-selected="true">
          <!-- TODO (Lectures): Localize -->
          Content
        </button>
        <button class="nav-link lecture-nav-pill-button"
            id="lecture-nav-settings" type="button" role="tab"
            data-bs-toggle="pill" data-bs-target="#lecture-pane-settings"
            aria-controls="lecture-pane-settings" aria-selected="false">
          Settings
        </button>
        <button class="nav-link lecture-nav-pill-button"
            id="lecture-nav-people" type="button" role="tab"
            data-bs-toggle="pill" data-bs-target="#lecture-pane-people"
            aria-controls="lecture-pane-people" aria-selected="false">
          People
        </button>
        <button class="nav-link lecture-nav-pill-button"
            id="lecture-nav-orga" type="button" role="tab"
            data-bs-toggle="pill" data-bs-target="#lecture-pane-orga"
            aria-controls="lecture-pane-orga" aria-selected="false">
          Orga
        </button>
        <button class="nav-link lecture-nav-pill-button"
            id="lecture-nav-communication" type="button" role="tab"
            data-bs-toggle="pill" data-bs-target="#lecture-pane-communication"
            aria-controls="lecture-pane-communication" aria-selected="false">
          Communication
        </button>
        <button class="nav-link lecture-nav-pill-button"
            id="lecture-nav-homework" type="button" role="tab"
            data-bs-toggle="pill" data-bs-target="#lecture-pane-homework"
            aria-controls="lecture-pane-homework" aria-selected="false">
          Homework
        </button>
        <button class="nav-link lecture-nav-pill-button"
          id="lecture-nav-info" role="link" type="button" role="tab"
          data-bs-toggle="pill" data-bs-target="#lecture-pane-info"
          aria-controls="lecture-pane-info" aria-selected="false">
          Info
        </button>
      </div>
    </nav>

    <div class="tab-content">
      <!-- Content (structure & media) -->
      <div class="tab-pane fade show active" id="lecture-pane-content"
          role="tabpanel" aria-labelledby="lecture-nav-content" tabindex="0">
        <div class="row px-4 py-2">
          <% if !lecture.seminar? || lecture.legacy_seminar %>
            <div id="lecture-content-card" class="col-12 col-xxl-9 mb-1">
              <%= render partial: 'lectures/edit/content',
                  locals: { lecture: lecture } %>
            </div>
          <% else %>
            <div id="lecture-content-card" class="col-12 col-xxl-9 mb-1">
              <%= render partial: 'lectures/edit/seminar_content',
                  locals: { lecture: lecture } %>
            </div>
          <% end %>
          <div id="lecture-media-card" class="col-12 col-xxl-3 mb-1">
            <%= render partial: 'lectures/edit/media',
                locals: { media: media, lecture: lecture } %>
          </div>
        </div>
      </div>
      
      <!-- Settings -->
      <div class="tab-pane fade" id="lecture-pane-settings"
          role="tabpanel" aria-labelledby="lecture-nav-settings" tabindex="0">
        <div class="container small-width">
          <%= render partial: 'lectures/edit/preferences',
              locals: { lecture: lecture } %>
        </div>
      </div>

      <!-- People -->
      <div class="tab-pane fade" id="lecture-pane-people"
          role="tabpanel" aria-labelledby="lecture-nav-people" tabindex="0">
        <div class="container small-width">
          <%= render partial: 'lectures/edit/people',
              locals: { lecture: lecture } %>
          <%= render partial: 'lectures/edit/tutorials',
              locals: { lecture: lecture } %>
        </div>
      </div>

      <!-- Organisation -->
      <div class="tab-pane fade" id="lecture-pane-orga"
          role="tabpanel" aria-labelledby="lecture-nav-orga" tabindex="0">
        <div class="container small-width">
          <%= render partial: 'lectures/edit/organizational_concept',
              locals: { lecture: lecture } %>
        </div>
      </div>

      <!-- Communication -->
      <div class="tab-pane fade" id="lecture-pane-communication"
          role="tabpanel" aria-labelledby="lecture-nav-communication" tabindex="0">
        <div class="container small-width">
          <%= render partial: 'lectures/edit/announcements',
              locals: { lecture: lecture, announcements: announcements } %>
          <%= render partial: 'lectures/edit/forum',
              locals: { lecture: lecture } %>
          <%= render partial: 'lectures/edit/comments',
              locals: { lecture: lecture } %>
        </div>
      </div>

      <!-- Homework -->
      <div class="tab-pane fade" id="lecture-pane-homework"
          role="tabpanel" aria-labelledby="lecture-nav-homework" tabindex="0">
        <div class="container small-width">
          <%= render partial: 'lectures/edit/assignments',
              locals: { lecture: lecture } %>
        </div>
      </div>

      <!-- Info -->
      <div class="tab-pane fade" id="lecture-pane-info"
          role="tabpanel" aria-labelledby="lecture-nav-info" tabindex="0">
        <div class="container small-width">
          <%= render partial: 'lectures/edit/tags',
              locals: { lecture: lecture } %>
          <%= render partial: 'lectures/edit/imported_media',
              locals: { lecture: lecture } %>
          <%= render partial: 'lectures/edit/erdbeere',
              locals: { lecture: lecture } %>
        </div>
      </div>
    </div>
  </div>


  <!-- TODO (Lectures): Find out when these partials are used -->
  <%= render partial: 'media/modal' %>
  <%= render partial: 'sections/content_modal' %>
  <%= render partial: 'tags/modal' %>
  <%= render partial: 'announcements/modal' %>
  <%= render partial: 'lectures/publish/publish',
             locals: { lecture: lecture } %>
   
  <% unless lecture.stale? %>
    <%= render partial: 'lectures/edit/user_modal',
               locals: { lecture: lecture } %>
  <% end %>

  <% if !lecture.seminar? || lecture.legacy_seminar %>
    <%= render partial: 'chapters/modal',
               locals: { lecture: lecture } %>
    <%= render partial: 'sections/modal' %>
    <%= render partial: 'lessons/modal' %>
  <% else %>
    <%= render partial: 'talks/modal',
               locals: { lecture: lecture } %>
  <% end %>

  <% if lecture.importable_toc? %>
    <%= render partial: 'lectures/edit/import_toc_modal',
              locals: { lecture: lecture } %>
  <% end %>

<% end %>
