<div class="modal fade"
     id="importLectureTocModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="importLectureTocModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="importLectureTocModalLabel">
          <%= t('admin.lecture.import_toc') %>
        </h5>
        <button type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <%= form_with url: import_lecture_toc_path(lecture),
                    remote: true,
                    method: 'post' do |f| %>
        <div class="modal-body">
          <div class="row mt-2 mb-2">
            <div class="col-12">
              <%= f.label :imported_lecture_id,
                  t('basics.lecture') %>
              <%= f.select :imported_lecture_id,
                           options_for_select(lecture.neighbours
                                                     .map{ |l| [l.title_with_teacher,
                                                                l.id]}),
                           {},
                           { class: 'form-control' } %>
              <div class="custom-control form-checkbox my-2">
                <%= f.check_box :import_chapters,
                                class: 'custom-control-input',
                                checked: true,
                                disabled: true %>
                <%= f.label :import_chapters,
                            t('admin.lecture.import_chapters'),
                            class: 'custom-control-label' %>
              </div>
              <div class="custom-control form-checkbox mb-2">
                <%= f.check_box :import_sections,
                                class: 'custom-control-input',
                                checked: true %>
                <%= f.label :import_sections,
                            t('admin.lecture.import_sections'),
                            class: 'custom-control-label' %>
              </div>
              <div class="custom-control form-checkbox">
                <%= f.check_box :import_tags,
                                class: 'custom-control-input',
                                checked: true %>
                <%= f.label :import_tags,
                            t('admin.lecture.import_tags'),
                            class: 'custom-control-label' %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row mt-3">
            <div class="col-12 text-center">
              <%= f.submit t('buttons.import'),
                           class: 'btn btn-sm btn-primary' %>
              <button type="button"
                      class="btn btn-sm btn-secondary"
                      data-bs-dismiss="modal">
                <%= t('buttons.cancel') %>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>