<% cache media do%>
<div class="card bg-mdb-color-lighten-6">
  <div class="card-header">
    <div class="row">
      <div class="col-4">
        <h5>
          <%= t('basics.media') %>
          <%= helpdesk(t('admin.lecture.info.media'), false) %>
        </h5>
      </div>
      <div class="col-6">
        <%= link_to t('buttons.create_medium'),
                    new_medium_path(params:
                                      { sort: 'Kaviar',
                                        teachable_id: lecture.id,
                                        teachable_type: 'Lecture' }),
                    class: 'btn btn-sm btn-secondary new-in-lecture',
                    id: 'create-new-medium',
                    remote: true %>
      </div>
      <div class="col-2 text-right">
        <i id="hide-media-button"
           class="far fa-window-close clickable"
           data-toggle="tooltip"
           title="<%= t('buttons.hide_media') %>">
        </i>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <ul class="nav flex-column nav-pills"
            id="edited-media-tab"
            role="tablist">
          <% media_sorts.each do |s| %>
            <li class="nav-item">
              <a class="nav-link <%= active(s == 'kaviar') %>"
                 id="<%= s %>-tab"
                 data-toggle="tab" href="#<%= s %>-media" role="tab"
                 aria-controls="<%= s%>-media" aria-selected="true"
                 data-sort="<%= media_types[s].first %>">
                <%= media_names[s] %>
                (<%= media.select { |m| m.sort.in?(media_types[s]) }.size %>)
              </a>
           </li>
          <% end %>
        </ul>
      </div>
      <div class="col-8">
        <div class="tab-content" id="edited-media-tabContent">
          <% media_sorts.each do |s| %>
            <div class="tab-pane fade <%= show_tab(s == 'kaviar') %>"
                 id="<%= s %>-media"
                 role="tabpanel"
                 aria-labelledby="<%= s %>-tab">
              <ul>
                <% media.select { |m| m.sort.in?(media_types[s]) }
                        .sort_by(&:created_at)
                        .reverse
                        .first(50)
                        .each do |m| %>
                  <li>
                    <%= link_to m.local_info_for_admins,
                                inspect_or_edit_medium_path(m, false),
                                id: "lecture-#{dom_id(m)}",
                                class: textcolor(m),
                                data: { type: m.teachable.class.to_s,
                                        id: m.teachable.id,
                                        tags: m.tags.pluck(:id) } %>
                  </li>
                <% end %>
              </ul>
              <% if media.select { |m| m.sort.in?(media_types[s]) }
                         .size > 50 %>
                <%= t('admin.medium.use_search_html',
                      media_search: link_to(t('admin.main.media_search'),
                                            media_catalog_path)) %>
              <% end %>
              <% course_material = Medium.where(teachable: lecture.course,
                                                sort: media_types[s]).load %>
              <% if course_material.any? %>
                <% if course_material.size == 1 %>
                  <%= t('admin.medium.course_medium_html',
                        course: course_link_or_text(lecture.course, current_user)) %>
                <% else %>
                  <%= t('admin.medium.course_media_html',
                        count: course_material.size,
                        course: course_link_or_text(lecture.course, current_user)) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>