  <div class="card bg-light">
    <div class="card-header clickable"
         role="tab"
         id="organizational_heading"
         data-toggle="collapse"
         data-target="#organizational_collapse"
         aria-expanded="false" aria-controls="organizational_collapse">
      <div class="row">
        <div class="col-12">
          <h5>
            <%= t('categories.organizational_html') %>
          </h5>
        </div>
      </div>
    </div>
    <div id="organizational_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#lectureAccordion">
      <div class="card-body">
        <%= form_with model: lecture,
                      html: { id: 'lecture-organizational-form' } do |f| %>
          <div class="form-row mb-3">
            <div class="col-6">
              <div class="custom-control custom-checkbox">
                <%= f.check_box :organizational,
                                class: 'custom-control-input',
                                disabled: inspection %>
                <%= f.label :organizational,
                            t('admin.lecture.organizational_visible'),
                            { class: 'custom-control-label' } %>
                <%= helpdesk(t('admin.lecture.info.organizational'), false) %>
              </div>
            </div>
            <div class="col-6">
              <div class="custom-control custom-checkbox">
                <%= f.check_box :muesli,
                                class: 'custom-control-input',
                                disabled: inspection %>
                <%= f.label :muesli,
                            t('admin.lecture.uses_muesli'),
                            { class: 'custom-control-label' } %>
                <%= helpdesk(t('admin.lecture.info.muesli'), false) %>
              </div>
            </div>
            <% if !lecture.term && lecture.organizational %>
              <div class="col-6">
                <div class="custom-control custom-checkbox">
                  <%= f.check_box :organizational_on_top,
                                  class: 'custom-control-input',
                                  disabled: inspection %>
                  <%= f.label :organizational_on_top,
                              t('admin.lecture.organizational_on_top'),
                                { class: 'custom-control-label' } %>
                  <%= helpdesk(t('admin.lecture.info.organizational_on_top'),
                               false) %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-12">
              <% if inspection %>
                <%= lecture.organizational_concept&.html_safe %>
              <% else %>
              <input id="lecture-concept-input" value="<%=lecture.organizational_concept%>" hidden=true>
              <trix-editor id='lecture-concept-trix' name="organizational_concept"
                            value="lecture-concept-input"
                ></trix-editor>
              <% end %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-center">
              <div id="lecture-organizational-warning">
                <%= t('warnings.unsaved_changes') %>
                <%= f.submit t('buttons.save_and_exit'),
                             class: "btn btn-primary" %>
                <button type="button" id="cancel-lecture-organizational"
                        class="btn btn-secondary">
                  <%= t('buttons.cancel') %>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>