  <div class="card bg-light">
    <div class="card-header"
         role="tab"
         id="people_heading">
      <div class="row">
        <div class="col-6">
          <h5>
            <%= t('basics.people') %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-sm btn-outline-primary"
             data-toggle="collapse"
             href="#people_collapse"
             id="people_collapse_button"
             aria-expanded="false" aria-controls="people_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="people_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#lectureAccordion">
      <div class="card-body">
        <%= form_with model: lecture, html: { id: 'lecture-form' } do |f| %>
          <div class="form-row">
            <div class="col-4 form-group">
              <%= f.label :teacher_id,
                          t('basics.teacher') %>
              <%= helpdesk(t('admin.lecture.info.teacher'), false) %>
              <% if inspection %>
                <div id="lecture_teacher_info">
                  <%= lecture.teacher.name %>
                </div>
              <% else %>
                <div id="lecture_teacher_select" %>
                  <%= f.select :teacher_id,
                                 options_for_select([[lecture.teacher.info,
                                                      lecture.teacher.id]],
                                                    lecture.teacher.id),
                                 {},
                                 { class: 'selectize',
                                   data: { ajax: true,
                                           model: 'user',
                                           filled: false } } %>
                  <div class="invalid-feedback" id="lecture-teacher-error">
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-4">
              <%= t('basics.course_editors') %>
              <%= helpdesk(t('admin.lecture.info.course_editors'), false) %>
              <% if lecture.course.editors.present? %>
                <ul>
                  <% lecture.course.editors.each do |e| %>
                    <li>
                      <%= e.name %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <br>
                <%= t('admin.lecture.no_course_editors') %>
              <% end %>
            </div>
            <div class="col-4 form-group">
              <%= f.label :editor_ids,
                          t('basics.lecture_editors') %>
              <%= helpdesk(t('admin.lecture.info.lecture_editors'), false) %>
              <% if inspection %>
                <div id="lecture_editors_info">
                  <% if lecture.editors.present? %>
                    <ul>
                      <% lecture.editors.each do |e| %>
                        <li>
                          <%= e.name %>
                        </li>
                      <% end %>
                    </ul>
                  <% else %>
                    <br>
                    <%= t('admin.lecture.no_lecture_editors') %>
                  <% end %>
                </div>
              <% else %>
                <div id="lecture_editors_select" %>
                  <%= f.select :editor_ids,
                               options_for_select([[t('none'), '']] +
                                                  lecture.select_editors,
                                                  lecture.editors.map(&:id)),
                               {},
                               { multiple: true,
                                 class: 'selectize',
                                 data: { ajax: true,
                                         model: 'user',
                                         filled: false } } %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <%= t('basics.subscribers_count_nc') %>
              <span id="lectureUserCounter">
              </span>
              <%= helpdesk(t('admin.lecture.info.subscribers_count'), false) %>
              <% if !inspection && lecture.users.any? %>
                <button type="button"
                        id="lectureUserModalButton"
                        class="ml-3 btn btn-outline-primary btn-sm"
                        data-toggle="modal"
                        data-target="#lectureUserModal">
                  <%= t('basics.details') %>
                </button>
              <% end %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-center">
              <div id="lecture-basics-warning">
                <%= t('warnings.unsaved_changes') %>
                <%= f.submit t('buttons.save'),
                    class: "btn btn-sm btn-primary" %>
                <button type="button"
                        class="btn btn-sm btn-secondary ml-2"
                        id="lecture-basics-cancel"
                        data-id="<%= lecture.id %>">
                  <%= t('buttons.discard') %>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
