  <div class="card bg-light">
    <div class="card-header clickable"
         role="tab"
         id="preferences_heading"
         data-toggle="collapse"
         data-target="#preferences_collapse"
         aria-expanded="false" aria-controls="preferences_collapse">
      <div class="row">
        <div class="col-12">
          <h5>
            <%= t('basics.preferences') %>
          </h5>
        </div>
      </div>
    </div>
    <div id="preferences_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#lectureAccordion">
      <div class="card-body">
        <%= form_with model: lecture,
                      html: { id: 'lecture-preferences-form' } do |f| %>
          <div class="form-row">
            <% unless lecture.course.term_independent %>
              <div class="col-2 form-group">
                <%= f.label :term_id,
                            t('basics.term') %>
                <%= helpdesk(t('admin.lecture.info.term'), false) %>
                <%= f.select :term_id,
                             options_for_select(@terms,
                                                lecture.term&.id),
                             {},
                             { class: 'form-control',
                               disabled: inspection } %>
                <div class="invalid-feedback"
                     id="lecture-term-error">
                </div>
              </div>
            <% end %>
            <% unless lecture.course.term_independent %>
              <div class="col-3 form-group">
                <%= f.label :sort,
                            t('basics.type') %>
                <%= f.select :sort,
                             options_for_select(Lecture.sort_localized.invert.to_a,
                                                lecture.sort),
                             {},
                             { class: 'form-control',
                               disabled: inspection } %>
                <div class="invalid-feedback"
                     id="lecture-term-error">
                </div>
              </div>
            <% end %>
            <div class="col-2 form-group">
              <%= f.label :start_chapter, t('admin.lecture.first_chapter') %>
              <%= helpdesk(t('admin.lecture.info.first_chapter'), false) %>
              <%= f.number_field :start_chapter,
                                 value: lecture.start_chapter || 1,
                                 class: 'form-control',
                                 disabled: inspection  %>
            </div>
            <% unless lecture.seminar? %>
              <div class="col-2 mt-6">
                <div id="start-section-input">
                  <%= f.label :start_section,
                              t('admin.lecture.first_section') %>
                  <%= helpdesk(t('admin.lecture.info.first_section'), false) %>
                  <%= f.number_field :start_section,
                                     value: lecture.start_section || 1,
                                     class: 'form-control',
                                     disabled: inspection ||
                                                 !lecture.absolute_numbering %>
                </div>
              </div>
              <div class="col-3 mt-6">
                <div class="custom-control custom-checkbox">
                  <%= f.check_box :absolute_numbering,
                                  class: 'custom-control-input',
                                  disabled: inspection %>
                  <%= f.label :absolute_numbering,
                              t('admin.lecture.absolute_numbering'),
                              { class: 'custom-control-label' } %>
                  <%= helpdesk(t('admin.lecture.info.absolute_numbering'),
                               false) %>
                </div>
              </div>
            <% end %>
          </div>
          <% unless inspection %>
          <div class="form-row">
            <div class="col-auto form-group">
              <%= f.label :passphrase, t('admin.lecture.passphrase') %>
              <%= helpdesk(t('admin.lecture.info.passphrase'), false) %>
              <%= f.text_field :passphrase,
                               { class: 'form-control',
                                 size: 50 } %>
            </div>
          </div>
          <% end %>
          <div class="form-group">
            <%= t('basics.language') %>
            <div class="form-row ml-2">
            <% I18n.available_locales.each do |locale| %>
              <div class="custom-control custom-radio custom-control-inline">
                <%= f.radio_button :locale,
                                   locale.to_s,
                                   class: 'custom-control-input',
                                   disabled: inspection %>
                <%= f.label :locale,
                            t('locales.' + locale.to_s),
                            value: locale.to_s,
                            class: 'custom-control-label' %>
              </div>
            <% end %>
            </div>
          </div>
          <div class="form-group">
            <%= t('admin.lecture.content_mode') %>
            <%= helpdesk(t('admin.lecture.info.variants'), true) %>
            <div class="form-row ml-2">
              <div class="custom-control custom-radio custom-control-inline">
                <%= f.radio_button :content_mode,
                                   'video',
                                   class: 'custom-control-input',
                                   disabled: inspection %>
                <%= f.label :content_mode,
                            t('admin.lecture.video_based'),
                            value: 'video',
                            class: 'custom-control-label' %>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <%= f.radio_button :content_mode,
                                   'manuscript',
                                   class: 'custom-control-input',
                                   disabled: inspection %>
                <%= f.label :content_mode,
                            t('admin.lecture.script_based'),
                            value: 'manuscript',
                            class: 'custom-control-label' %>
              </div>
            </div>
          </div>
          <% if !lecture.term %>
            <div class="row">
              <div class="col-12">
                <div class="custom-control custom-checkbox">
                  <%= f.check_box :disable_teacher_display,
                                  class: 'custom-control-input',
                                  disabled: inspection %>
                  <%= f.label :disable_teacher_display,
                              t('admin.lecture.disable_teacher_display'),
                              { class: 'custom-control-label' } %>
                  <%= helpdesk(t('admin.lecture.info.disable_teacher_display'),
                             false) %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-12 text-center">
              <div id="lecture-preferences-warning">
                <%= t('warnings.unsaved_changes') %>
                <%= f.submit t('buttons.save_and_exit'),
                             class: "btn btn-primary" %>
                <button type="button" id="cancel-lecture-preferences"
                        class="btn btn-secondary">
                  <%= t('buttons.cancel') %>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
