<ul>
  <li class="mb-2">
    <h6>
      <%= t('admin.lecture.course_tags_html',
            course: course_link_or_text(lecture.course, current_user),
            count: @course_tags.size) %>
      <%= helpdesk(t('admin.lecture.info.course_tags'), false) %>
    </h6>
    <% if @course_tags %>
      <%= render partial: "tags/tag",
                  collection: @course_tags.natural_sort_by(&:title),
                  cached: true %>
    <% else %>
      <%= t('admin.lecture.no_course_tags') %>
    <% end %>
  </li>
  <li class="mb-2">
    <h6>
      <%= t('admin.lecture.additional_tags',
            count: @extra_tags.size) %>
      <%= helpdesk(t('admin.lecture.info.additional_tags'), false) %>
    </h6>
    <%= render partial: "tags/tag",
                collection: @extra_tags.natural_sort_by(&:title),
                cached: true %>
  </li>
  <li>
    <h6>
      <%= t('admin.lecture.untreated_tags',
            count: @deferred_tags.size) %>
      <%= helpdesk(t('admin.lecture.info.untreated_tags'), false) %>
    </h6>
    <%= render partial: "tags/tag",
                collection: @deferred_tags.natural_sort_by(&:title),
                cached: true %>
  </li>
</ul>
