<% if lecture.active_voucher_of_sort(:tutor) %>
  <% voucher = lecture.active_voucher_of_sort(:tutor) %>
  <div>
    <span>
        <%= t('admin.voucher.secure_hash') %>:
        <%= voucher.secure_hash %>
    </span>
    <i class="clipboardpopup far fa-copy clickable text-secondary clipboard-btn
              ms-3 clipboard-button"
       data-clipboard-text="<%= voucher.secure_hash %>"
       data-bs-toggle="tooltip"
       data-id="<%= voucher.secure_hash %>"
       title="<%= t('buttons.copy_to_clipboard') %>">
      <span class="clipboardpopuptext token-clipboard-popup"
            data-id="<%= voucher.secure_hash %>">
        <%= t('basics.code_copied_to_clipboard') %>
      </span>
    </i>
    <%= link_to voucher_path(voucher),
                class: 'text-dark ms-2',
                data: { toggle: 'tooltip',
                        placement: 'botttom',
                        confirm: t('confirmation.generic') },
                style: 'text-decoration: none;',
                title: t('buttons.delete'),
                method: :delete,
                remote: true do %>
        <i class="fas fa-lg fa-trash-alt"></i>
        </i>
    <% end %>
    <p>
      <%= t('admin.voucher.expires_at') %>:
      <%= l(voucher.expires_at, format: :long) %>
    </p>
  </div>
<% else %>
  <%= t('admin.lecture.no_active_tutor_voucher') %>
  <%= link_to t('buttons.create_voucher'),
              vouchers_path(params: { lecture_id: lecture.id,
                                            sort: :tutor }),
              class: 'btn btn-sm btn-primary',
              method: :post,
              remote: true %>
<% end %>
