<div class="card bg-light">
  <div class="card-header clickable"
       role="tab"
       id="exercises_heading"
       data-toggle="collapse"
       data-target="#exercises_collapse"
       aria-expanded="false" aria-controls="exercises_collapse">
    <div class="row">
      <div class="col-12">
        <h5>
          <%= t('basics.tutorials') %>
        </h5>
      </div>
    </div>
  </div>
  <div id="exercises_collapse"
       class="collapse"
       role="tabpanel"
       aria-labelledby="heading"
       data-parent="#lectureAccordion">
    <div class="card-body">
      <% unless inspection %>
        <div class="row mb-3">
          <div class="col-12 text-center">
            <%= link_to t('admin.tutorial.new'),
                        new_tutorial_path(params: { lecture_id: lecture.id }),
                        class: 'btn btn-sm btn-primary',
                        id: 'newTutorialButton',
                        remote: true %>
          </div>
        </div>
      <% end %>
      <div class="list-group">
        <div class="list-group-item bg-light"
             id="tutorialListHeader"
             style="display: <%= show(lecture.tutorials.any?) %>">
          <div class="row">
            <div class="col-4">
              <h6>
                <%= t('basics.title') %>
              </h6>
            </div>
            <div class="col-4">
              <h6>
                <%= t('basics.tutors') %>
              </h6>
            </div>
            <div class="col-4">
              <h6>
                <%= t('basics.action') %>
                <%= helpdesk(t('tutorial.destruction_info'), true) %>
              </h6>
            </div>
          </div>
        </div>
        <% lecture.tutorials.each do |t| %>
          <%= render partial: 'tutorials/row',
                     locals: { tutorial: t,
                               inspection: inspection } %>
        <% end %>
      </div>
    </div>
  </div>
</div>