  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card bg-light">
        <div class="card-header bg-generic-card-header">
          <h5>
            <%= t('basics.basics') %>
          </h5>
        </div>
        <div class="card-body">
          <%= render partial: 'talks/base_data',
                     locals: { talk: talk,
                               assemble: true } %>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <strong>
                  <%= f.label :tag_ids, t('basics.related_tags') %>:
                  <%= helpdesk(t('admin.talk.info.tags'), false) %>
                </strong>
                <%= f.select :tag_ids,
                             options_for_select(talk.tags
                                                    .map { |t| t.extended_title_id_hash }
                                                    .map { |t| [t[:title], t[:id]] },
                                                talk.tag_ids),
                             {},
                             { multiple: true,
                               class: 'selectize',
                               style: 'display: none;',
                               data: { ajax: true,
                                       filled: false,
                                       model: 'tag',
                                       drag: false,
                                       locale: I18n.locale } } %>
                <div class="invalid-feedback"
                     id="talk-tags-error">
              </div>
            </div>
          </div>
          <div class="col-12">
            <strong>
              <%= t('basics.related_media') %>:
              <%= helpdesk(t('admin.talk.info.media'), false) %>
            </strong>
            <%= link_to '',
                        new_medium_path(params: { teachable_id: talk.id,
                                                  teachable_type: 'Talk' }),
                        class: 'fas fa-plus-circle text-dark',
                        id: 'create-new-talk-medium',
                        data: { toggle: 'tooltip' },
                        title: t('buttons.create_medium'),
                        style: 'text-decoration: none;',
                        remote: true %>
            <% if talk.media.present? %>
              <ul id="sortableTalkMedia">
                <% talk.media.each do |m| %>
                  <li>
                    <%= link_to m.sort_localized + ', ' + m.local_info,
                                edit_or_show_medium_path(m),
                                class: textcolor(m),
                                data: { id: m.id } %>
                  </li>
                <% end %>
              </ul>
              <%= f.hidden_field :media_order,
                                 value: talk.media.map(&:id).to_json %>
            <% else %>
              <p>
                <%= t('admin.talk.no_media') %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card bg-light">
        <div class="card-header bg-generic-card-header">
          <h5>
            <%= t('content') %>
            <%= helpdesk(t('admin.talk.info.description'), false) %>
          </h5>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-12">
              <div class="custom-control form-checkbox">
                <%= f.check_box :display_description,
                                class: 'custom-control-input' %>
                <%= f.label :display_description,
                            t('admin.talk.display_description'),
                            { class: 'custom-control-label' } %>
                <%= helpdesk(t('admin.talk.info.display_description'),
                             false) %>
              </div>
              <% if talk.description.present? && !talk.display_description %>
                <div class="col-12 text-dark ml-2 border border-warning
                            rounded bg-yellow-lighten-5 my-2">
                  <span class="badge badge-secondary">
                    <%= t('basics.info') %>
                  </span>
                  <%= t('admin.talk.description_warning') %>
                </div>
              <% end %>
            </div>
          </div>
          <%= f.trix_editor :description,
                            class: 'bg-light',
                            id: 'talk-description-trix',
                            data: { content: talk.description,
                                    preview: 'talk-description-preview' } %>
          <div class="row my-2">
            <div class="col-12">
              <%= t('basics.preview') %>
            </div>
          </div>
          <div class="alert alert-dark bg-mdb-color-lighten-6"
               id="talk-description-preview">
            <%= sanitize talk.description %>
          </div>
        </div>
      </div>
    </div>
  </div>