<h5>
  <%= t('admin.talk.speakers') %>:
  <%= speaker_list(talk) %>
</h5>
<h5>
  <%= t('basics.date') %>:
  <%= date_list(talk) %>
</h5>
<% if talk.details.present? %>
  <h5>
    <%= t('basics.details') %>:
    <%= helpdesk(t('admin.talk.info.details_info'), false) %>
  </h5>
<% end %>
<%= talk.details&.html_safe %>
<% unless assemble %>
  <% if talk.description.present? %>
    <h5>
      <%= t('content') %>:
      <%= helpdesk(t('admin.talk.info.description_info'), false) %>
    </h5>
    <%= talk.description&.html_safe %>
  <% end %>
<% end %>