<div class="card bg-mdb-color-lighten-5 %>">
  <div id="<%= dom_id(talk) %>"
       class="card-header <%= talk_card_color(talk, current_user) %>">
    <div class="row">
      <div class="col-12 talkheader">
        <div>
        <% if edit %>
          <%= link_to talk.to_label,
                      edit_talk_path(talk),
                      class: 'text-light' %>
        <% else %>
          <%= link_to talk.to_label,
                      talk_path(talk),
                      class: 'text-light' %>
          <% if current_user.in?(talk.speakers) %>
            <%= link_to '',
                        assemble_talk_path(talk),
                        class: 'far fa-edit text-light text-right',
                        data: { toggle: 'tooltip',
                                placement: 'bottom' },
                        title: t('buttons.edit'),
                        style: 'text-decoration: none; ' +
                               'display: inline;' %>
          <% end %>
        <% end %>
        </div>
        <div>
          <% talk.dates.each do |d| %>
            <%= link_to localize(d, format: :concise),
                        talk_path(talk),
                        class: 'badge badge-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
    <% if talk.speakers.any? %>
      <div class="row">
        <div class="col-12">
          <span class="text-light">
            (<%= talk.speakers.map(&:tutorial_name).join(', ') %>)
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <%= raw(talk.details) %>
    <div class="row">
      <div class="col-12 mt-2">
        <%= render partial: 'tags/show/tag',
                   collection: talk.tags,
                   cached: true %>
      </div>
    </div>
  </div>
</div>