<%= turbo_frame_tag "talk_user" do %>
  <strong>
    <%= t('admin.talk.speakers') %>:
  </strong>
  <%= speaker_list(talk) %>
  
  <% if talk.allow_self_add?(current_user) %>
    <%= link_to self_add_talk_path(
      talk,
      type: "Talk",
      partial: "talks/talker",
      variable: "talk",
      turbo_frame: "talk_user"
    ),
    data: { turbo_method: :post },
    class: "btn btn-sm btn-outline-success" do %>
      <i class="bi bi-plus"></i>
    <% end %>
  <% else %>
    <button class="btn btn-sm btn-outline-secondary" disabled> 
      <i class="bi bi-plus"></i> 
    </button>
  <% end %>

  <% if talk.allow_self_remove?(current_user) %>
    <%= link_to self_remove_talk_path(
      talk,
      type: "Talk",
      partial: "talks/talker",
      variable: "talk",
      turbo_frame: "talk_user"
    ),
    data: { turbo_method: :delete },
    class: "btn btn-sm btn-outline-danger" do %>
      <i class="bi bi-subtract"></i>
    <% end %>
  <% else %>
    <button class="btn btn-sm btn-outline-secondary" disabled> 
      <i class="bi bi-subtract"></i> 
    </button>
  <% end %>
<% end %>