<%= form_with url: modify_talk_path(@talk),
              method: 'post',
              scope: 'talk',
              html: { id: 'talk-form' } do |f|%>
  <div class="row py-2 mt-2">
    <div class="col-12 col-lg-4">
      <h4 class="ps-2">
        <span class="badge bg-secondary">
          <%= t('basics.talk') %>
        </span>
        <%= @talk.to_label %>
        <%= link_to '',
                    talk_path(@talk),
                    class: 'fas fa-eye text-dark mt-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.show'),
                    style: 'text-decoration: none;' %>
      </h4>
    </div>
    <div class="col-12 col-lg-4">
      <div id="talk-basics-warning">
        <%= t('warnings.unsaved_changes') %>
        <%= f.submit t('buttons.save'),
                     class: 'btn btn-sm btn-primary' %>
        <button type="button"
                class="btn btn-sm btn-secondary ms-2"
                id="cancel-talk-assemble">
          <%= t('buttons.discard') %>
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-4 text-end">
      <%= link_to t('buttons.parent_lecture'),
                  lecture_path(@talk.lecture),
                  class: 'btn btn-sm btn-outline-primary mb-2' %>
    </div>
  </div>
  <div class="row mb-2 p-2">
    <div class="col-12">
      <%= render partial: "talks/assemble_form",
                 locals: { talk: @talk,
                           lecture: @talk.lecture,
                           f: f } %>
    </div>
  </div>
<% end %>
<%= render partial: 'media/modal' %>