<div class="row">
  <div class="col-10">
    <h2>
      <span class="badge badge-secondary mr-3">
        <%= t('basics.talk') %>
      </span>
      <%= @talk.to_label %>
      <%= t('from') %>
      <% if current_user.lectures.include?(@talk.lecture) %>
        <%= link_to @talk.lecture.title,
                    @talk.lecture.path(current_user),
                    class: 'text-dark' %>
      <% else %>
        <span>
          <%= @talk.lecture.title %>
        </span>
      <% end %>
      <% if current_user.admin ||
          @talk.lecture.edited_by?(current_user) %>
        <%= link_to '',
                    edit_talk_path(@talk),
                    class: 'far fa-edit fa-sm text-dark mt-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.edit'),
                    style: 'text-decoration: none;' %>
      <% end %>
    </h2>
  </div>
  <div class="col-2 text-right ">
    <% if @talk.previous.present? %>
      <a href="<%= talk_path(@talk.previous) %>"
         class="text-secondary material-icons mr-2"
         style="text-decoration:none; font-size: 3em;"
         data-toggle="tooltip"
         title="<%= t('previous_lesson') %>">
        keyboard_arrow_left
      </a>
    <% end %>
    <% if @talk.next.present? %>
      <a href="<%= talk_path(@talk.next) %>"
         class="text-secondary material-icons"
         style="text-decoration:none; font-size: 3em;"
         data-toggle="tooltip"
         title="<%= t('next_lesson') %>">
        keyboard_arrow_right
      </a>
    <% end %>
  </div>
</div>
<%= render partial: 'talks/base_data',
           locals: { talk: @talk } %>