<div class="row">
  <div class="col-10">
    <h4>
      <span class="badge badge-secondary mr-3">
        <%= t('basics.talk') %>
      </span>
      <%= @talk.to_label %>
      <% if current_user.admin ||
          @talk.lecture.edited_by?(current_user) %>
        <%= link_to '',
                    edit_talk_path(@talk),
                    class: 'far fa-edit fa-sm text-dark mt-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.edit'),
                    style: 'text-decoration: none;' %>
      <% elsif current_user.in?(@talk.speakers) %>
        <%= link_to '',
                    assemble_talk_path(@talk),
                    class: 'far fa-edit fa-sm text-dark mt-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.edit'),
                    style: 'text-decoration: none;' %>
      <% end %>
      <%= t('in') %>
      <% if current_user.lectures.include?(@talk.lecture) %>
        <%= link_to @talk.lecture.title,
                    @talk.lecture.path(current_user),
                    class: 'text-dark' %>
      <% else %>
        <span>
          <%= @talk.lecture.title %>
        </span>
      <% end %>
    </h4>
  </div>
  <div class="col-2 text-right ">
    <% if @talk.previous.present? %>
      <a href="<%= talk_path(@talk.previous) %>"
         class="text-secondary material-icons mr-2"
         style="text-decoration:none; font-size: 3em;"
         data-toggle="tooltip"
         title="<%= t('previous_lesson') %>">
        keyboard_arrow_left
      </a>
    <% end %>
    <% if @talk.next.present? %>
      <a href="<%= talk_path(@talk.next) %>"
         class="text-secondary material-icons"
         style="text-decoration:none; font-size: 3em;"
         data-toggle="tooltip"
         title="<%= t('next_lesson') %>">
        keyboard_arrow_right
      </a>
    <% end %>
  </div>
</div>
<div class="row p-2">
  <div class="col-12 col-lg-12 col-xl-9 col-xxl-9 mb-3">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'talks/data',
                   locals: { talk: @talk } %>
      </div>
      <% if @talk.display_description && @talk.description.present? %>
        <div class="col-12 mt-3">
          <div class="card bg-light">
            <div class="card-header bg-generic-card-header">
              <h5>
                <%= t('content') %>
                <%= helpdesk(t('admin.talk.info.description_info'), false) %>
              </h5>
            </div>
            <div class="card-body">
              <%= @talk.description&.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-12 col-xl-3 col-xxl-3">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'media/flat_related_media',
                   locals: { media: @talk.proper_media
                                         .select { |m| m.visible_for_user?(current_user) },
                             tags: true,
                             from: 'talk',
                             questions: false } %>
      </div>
    </div>
  </div>
</div>
