<div class="<%= container_class %>">
  <%= render checkbox_control %>

  <% if show_help_text? %>
    <span id="<%= html.help_text_id %>">
      <%= helpers.helpdesk(help_text, false) %>
    </span>
  <% end %>

  <% if show_content? %>
    <%= capture(self, &content) %>
  <% end %>
</div>