<div class="<%= container_class %>">
  <%= form.label html.label_for, label, class: "form-label" %>

  <% if show_help_text? %>
    <%= helpers.helpdesk(help_text, true) %>
  <% end %>

  <%= form.select name, collection, html.select_tag_options, field_html_options %>

  <% if show_checkbox? %>
    <%= render(checkbox) %>
  <% end %>

  <% if show_radio_group? %>
    <%= render_radio_group %>
  <% end %>

  <% if show_content? %>
    <%= capture(self, &content) %>
  <% end %>
</div>