<div class="<%= container_classes %>">
  <%= form.label label_for, label, class: "form-label" %>
  
  <% if show_help_text? %>
    <%= helpers.helpdesk(help_text, false) %>
  <% end %>
  
  <%= form.select name, collection, select_tag_options, field_html_options %>
  
  <% if show_content? %>
    <%= capture(self, &content) %>
  <% end %>
</div>