<div class="<%= container_class %>">
  <%= form.label html.label_for, label, class: "form-label" %>

  <% if show_help_text? %>
    <div id="<%= html.help_text_id %>" class="form-text">
      <%= helpers.helpdesk(help_text, false) %>
    </div>
  <% end %>

  <%= form.text_field name, html.field_html_options %>

  <% if show_content? %>
    <%= capture(self, &content) %>
  <% end %>
</div>