<% if user.teacher? %>
  Gehaltene Vorlesungen (<%= user.given_lectures.count %>):
  <ul>
    <% user.given_lectures.each do |l| %>
      <li>
        <%= l.title_term_info %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user.edited_courses.any? %>
  Editierte Kurse (<%= user.edited_courses.count %>):
  <ul>
    <% user.edited_courses.each do |c| %>
      <li>
        <%= link_to c.title, edit_course_path(c) %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user.edited_lectures.any? %>
  Editierte Vorlesungen (<%= user.edited_lectures.count %>):
  <ul>
    <% user.edited_lectures.each do |l| %>
      <li>
        <%= l.title_term_info %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user.edited_media.any? %>
  Editierte Medien (<%= user.edited_media.count %>):
  <ul class="nav nav-tabs my-3" id="edited-media-tab" role="tablist">
    <% media_sorts.each do |s| %>
      <li class="nav-item">
        <a class="nav-link <%= active(s == 'kaviar') %>"
           id="<%= s %>-tab"
           data-toggle="tab" href="#<%= s %>-media" role="tab"
           aria-controls="<%= s%>-media" aria-selected="true">
          <%= media_names[s] %>
          (<%= user.edited_media.where(sort: media_types[s]).count %>)
        </a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="edited-media-tabContent">
    <% media_sorts.each do |s| %>
      <div class="tab-pane fade <%= show_tab(s == 'kaviar') %>"
           id="<%= s %>-media"
           role="tabpanel" aria-labelledby="<%= s %>-tab">
        <%= render partial: 'users/edited_media',
                   locals: { user: user, sort: s} %>
      </div>
    <% end %>
  </div>
<% end %>
