<div class="form-group">
  <%= f.label :name, 'Anzeigename' %>
  <i class="far fa-question-circle helpdesk"
     tabindex="-1"
     data-toggle="popover" data-trigger="focus"
     title="Info"
     data-content="Hier kannst Du den Anzeigename eingeben. Der Anzeigename
     wird bei der Anzeige von DozentInnen, EditorInnen etc. verwendet.">
  </i>
  <%= f.text_field :name, { class: 'form-control' } %>
  <div class="invalid-feedback" id="user-name-error">
  </div>
</div>
<div class="form-group">
  <%= f.label :email,
              'Email (Achtung: Mit dieser erfolgt auch die Nutzeranmeldung.)' %>
  <i class="far fa-question-circle helpdesk"
     tabindex="-1"
     data-toggle="popover"
     data-trigger="focus"
     title="Info"
     data-content="Hier kannst Du die Emailadresse eingeben. Mit dieser erfolgt
     dann auch die Nutzeranmeldung, außerdem werden Emails bezüglich
     Passwortzurücksetzung dorthin geschickt.">
  </i>
  <%= f.text_field :email,
                   { class: 'form-control' } %>
  <div class="invalid-feedback"
       id="user-email-error">
  </div>
</div>
  <div class="form-group form-row"
       style="display: <%= hide(profile) %>">
    <div class="col-12">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :admin,
                        class: 'custom-control-input',
                        disabled: user == current_user %>
        <%= f.label :admin,
                    'Administrator',
                    { class: 'custom-control-label' } %>
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Hier kannst Du anklicken, ob die NutzerIn
           Administratorenrechte haben soll oder nicht. Dir selbst kannst Du
           nicht die Administratorenrechte entziehen, das kann nur ein von
           Dir verschiedener Administrator.">
        </i>
      </div>
    </div>
  </div>
<div class="form-group">
  <%= f.label :current_lecture_id,
              'Aktuelle Vorlesung' %>
  <%= helpdesk('Hier kannst Du auswählen, welche Vorlesung aktuell für Dich primär ist. Ein entsprechendes Icon in der Navigationsleiste führt Dich direkt zu ihr.', false) %>
  <%= f.select :current_lecture_id,
               options_for_select(current_user.teaching_related_lectures
                                              .map { |l| [l.title, l.id] },
                                  current_user.current_lecture_id),
               { prompt: t('basics.select') },
               { class: 'selectize' } %>
</div>
<div class="form-group">
  <%= f.label :homepage %>
  <i class="far fa-question-circle helpdesk"
     tabindex="-1"
     data-toggle="popover"
     data-trigger="focus"
     title="Info"
     data-content="Hier kannst Du die Adresse einer Homepage eingeben. Das
     macht z.B. bei DozentInnen Sinn.">
  </i>
  <div class="row">
    <div class="col-10">
      <%= f.text_field :homepage,
                       { class: 'form-control' } %>
      <div class="invalid-feedback"
           id="user-homepage-error">
      </div>
    </div>
    <div class="col-2">
      <button id="test-link"
              type="button"
              class="btn btn-sm btn-outline-info">
        Test
      </button>
    </div>
  </div>
</div>
Profilbild(kommt noch...)
<i class="far fa-question-circle helpdesk"
   tabindex="-1"
   data-toggle="popover"
   data-trigger="focus"
   title="Info"
   data-content="Hier wirst Du demnächst die Möglichkeit haben, ein
   Profilbild hochzuladen.">
</i>
