<div class="form-group">
  <%= f.label :name, t('basics.display_name') %>
  <%= helpdesk(t('admin.user.info.display_name'), false) %>
  <%= f.text_field :name, { class: 'form-control' } %>
  <div class="invalid-feedback" id="user-name-error">
  </div>
</div>
<div class="form-group">
  <%= f.label :email,
              t('basics.email') %>
  <%= helpdesk(t('admin.user.info.email'), false) %>
  <%= f.text_field :email,
                   { class: 'form-control' } %>
  <div class="invalid-feedback"
       id="user-email-error">
  </div>
</div>
  <div class="form-group form-row"
       style="display: <%= hide(profile) %>">
    <div class="col-12">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :admin,
                        class: 'custom-control-input',
                        disabled: user == current_user %>
        <%= f.label :admin,
                    t('basics.administrator'),
                    { class: 'custom-control-label' } %>
        <%= helpdesk(t('admin.user.info.administrator'), false) %>
      </div>
    </div>
  </div>
<div class="form-group">
  <%= f.label :current_lecture_id,
              t('admin.user.current_lecture') %>
<%= helpdesk(t('admin.user.info.current_lecture'), false) %>
  <%= f.select :current_lecture_id,
               options_for_select(user.teaching_related_lectures
                                              .map { |l| [l.title, l.id] },
                                  user.current_lecture_id),
               { prompt: t('basics.select') },
               { class: 'selectize' } %>
</div>
<div class="form-group">
  <%= f.label :homepage,
              t('admin.user.homepage') %>
  <%= helpdesk(t('admin.user.info.homepage'), false) %>
  <div class="row">
    <div class="col-10">
      <%= f.text_field :homepage,
                       { class: 'form-control' } %>
      <div class="invalid-feedback"
           id="user-homepage-error">
      </div>
    </div>
    <div class="col-2">
      <button id="test-homepage"
              type="button"
              class="btn btn-sm btn-outline-info">
        <%= t('buttons.test') %>
      </button>
    </div>
  </div>
</div>
<%= t('admin.users.profile_image') %>
(<%= t('basics.coming_soon') %>)
<%= helpdesk(t('admin.user.info.profile_image'), false) %>
