<% if user.teacher? %>
  Gehaltene Vorlesungen (<%= user.given_lectures.count %>)
  <i class="far fa-question-circle helpdesk"
     tabindex="-1"
     data-toggle="popover"
     data-trigger="focus"
     title="Info"
     data-content="Dies ist die Liste aller Vorlesungen, die als DozentIn
     verantwortet wurden bzw. werden.">
  </i>
  <ul>
    <% user.given_lectures.each do |l| %>
      <li>
        <%= link_to l.title_term_info,
                    edit_lecture_path(l) %>
        <% unless l.published? %>
          (unveröffentlicht)
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user.edited_courses.any? %>
  Editierte Module (<%= user.edited_courses.count %>)
  <i class="far fa-question-circle helpdesk"
     tabindex="-1"
     data-toggle="popover"
     data-trigger="focus"
     title="Info"
     data-content="Dies ist die Liste aller Module, für die
     Moduleditorenrechte bestehen.">
  </i>
  <ul>
    <% user.edited_courses.each do |c| %>
      <li>
        <%= link_to c.title,
                    edit_course_path(c) %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user.edited_lectures.any? %>
  Zusätzlich editierte Vorlesungen
  (<%= user.edited_lectures.count %>)
  <i class="far fa-question-circle helpdesk"
     tabindex="-1"
     data-toggle="popover"
     data-trigger="focus"
     title="Info"
     data-content="Dies ist die Liste aller Vorlesungen, für die
     zusätzliche Editorenrechte bestehen.">
  </i>
  <ul>
    <% user.edited_lectures.each do |l| %>
      <li>
        <%= link_to l.title_term_info,
                    edit_lecture_path(l) %>
        <% unless l.published? %>
          (unveröffentlicht)
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user.edited_media.any? %>
  Editierte Medien
  (<%= user.edited_media.count %>)
  <i class="far fa-question-circle helpdesk"
     tabindex="-1"
     data-toggle="popover"
     data-trigger="focus"
     title="Info"
     data-content="Dies ist die Liste aller Medien, für die
     Medieneditorenrechte bestehen.">
  </i>
  <%= render partial: 'media/table',
             locals: { media: user.edited_media,
                       small: false,
                       inspection: false } %>
<% end %>
