<% if user.teacher? %>
  Gehaltene Vorlesungen (<%= user.given_lectures.count %>):
  <ul>
    <% user.given_lectures.each do |l| %>
      <li>
        <%= l.title_term_info %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user.edited_courses.any? %>
  Editierte Kurse (<%= user.edited_courses.count %>):
  <ul>
    <% user.edited_courses.each do |c| %>
      <li>
        <%= link_to c.title, edit_course_path(c) %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user.edited_lectures.any? %>
  Editierte Vorlesungen (<%= user.edited_lectures.count %>):
  <ul>
    <% user.edited_lectures.each do |l| %>
      <li>
        <%= l.title_term_info %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if user.edited_media.any? %>
  Editierte Medien (<%= user.edited_media.count %>):
  <%= render partial: 'media/table',
             locals: { media: user.edited_media } %>
<% end %>
