<div class="row p-2">
  <div class="col-12 col-lg-5">
    <div class="card bg-light mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col-5">
            <h5>
              <%= t('basics.basics') %>
            <h5>
          </div>
          <div class="col-6 text-end">
            <% if user.admin? %>
              <span class="badge badge-info">
                <%= t('basics.administrator_short') %>
              </span>
            <% end %>
            <% if user.editor? %>
              <span class="badge badge-info">
                <%= t('basics.editor') %>
              </span>
            <% end %>
            <% if user.teacher? %>
              <span class="badge badge-info">
                <%= t('basics.teacher') %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= render partial: 'users/basics',
                   locals: { user: user,
                             f: f,
                             profile: profile } %>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-7">
    <div class="card bg-light">
      <div class="card-header">
        <h5>
          <%= t('admin.user.edited_content') %>
        </h5>
      </div>
      <div class="card-body">
        <% if user.edited_courses.any? || user.edited_lectures.any? ||
              user.given_lectures.any? %>
          <%= render partial: 'users/content',
                     locals: { user: user,
                               f: f } %>
        <% else %>
          <%= t('admin.user.no_content') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
