<div class="col-3">
  <%= user.name %>
</div>
<div class="col-3">
  <%= user.email %>
  <i class="clipboardpopup far fa-copy clickable
          text-secondary clipboard-btn ml-3
          clipboard-button"
     data-clipboard-text="<%= user.email %>"
     data-toggle="tooltip"
     data-id="<%= user.id %>"
     title="<%= t('buttons.copy_to_clipboard') %>">
    <span class="clipboardpopuptext token-clipboard-popup"
          data-id="<%= user.id %>">
      <%= t('basics.email_copied_to_clipboard') %>
    </span>
  </i>
</div>
<div class="col-3">
  <% if user.admin? %>
    <span class="badge badge-info">
      <%= t('basics.administrator_short') %>
    </span>
  <% end %>
  <% if user.editor? %>
    <span class="badge badge-info">
      <%= t('basics.editor') %>
    </span>
  <% end %>
  <% if user.teacher? %>
    <span class="badge badge-info">
      <%= t('basics.teacher') %>
    </span>
  <% end %>
</div>
<div class="col-3">
  <%= link_to t('buttons.edit'),
              edit_user_path(user),
              class: 'btn btn-sm btn-outline-primary my-1' %>
  <%= link_to t('buttons.delete'),
              user_path(user),
              class: 'btn btn-sm btn-outline-danger my-1',
              method: :delete,
              remote: true,
              data: { confirm: t('confirmation.generic') } %>
</div>
