<div id="user-search-form">
  <% if generic_users.present? %>
    <%= form_with url: elevate_user_path, scope: 'generic_user',
                  method: 'get' do |f| %>
      <div class="form-group form-row">
        <div class="col-12">
          <%= f.select :id,
                       options_for_select([['auswählen','']] +
                       generic_users.map { |u| [u.info, u.id] }, nil),
                       {}, { class: 'selectize' } %>
        </div>
      </div>
      <div class="form-group form-row generic-user no_display">
        <div class="col-6">
          <div class="custom-control custom-checkbox">
            <%= f.check_box :admin, class: 'custom-control-input' %>
            <%= f.label :admin, 'zum Administrator befördern',
                        { class: 'custom-control-label' } %>
            <i class="far fa-question-circle helpdesk"
               tabindex="0"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Wenn Du das anklickst, wird die NutzerIn zur
               AdministratorIn befördert.">
            </i>
          </div>
        </div>
        <div class="col-3">
          <span id="submit-user-elevate" class="no_display">
          <%= f.submit 'Speichern',
                       class: 'btn btn-primary' %>
          </span>
        </div>
        <div class="col-3 text-right">
          <%= link_to 'Löschen', nil, method: :delete,
                      data: { confirm: 'Bist Du sicher?' },
                      id: 'delete-generic-user',
                      class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
