<div class="row bg-light px-4 py-3">
  <div class="col-2">
    <strong>
      Email
    </strong>
  </div>
  <div class="col-2">
    <strong>
      Rolle
    </strong>
  </div>
  <div class="col-2">
    <strong>
      Abo-Typ
    </strong>
  </div>
  <div class="col-4">
    <strong>
      Abonnierte Kurse
    </strong>
  </div>
  <div class="col-2">
    <strong>
      Aktionen
    </strong>
  </div>
</div>
<div class="px-4 row">
  <div class="col-2">
    <%= user.email %>
  </div>
  <div class="col-2">
    <% if user.teacher.present? %>
      <span class="badge badge-secondary">
        DozentIn
      </span>
    <% end %>
  </div>
  <div class="col-2">
    <%= user.subscription_type %>
  </div>
  <div class="col-4">
    <ul class="list-unstyled">
      <% user.courses.each do |c| %>
        <li>
          <%= c.title %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-2">
    <%= link_to 'Bearbeiten', edit_user_path(user),
                class: 'btn btn-outline-primary my-1',
                remote: true %>
    <% unless user.admin? %>
      <%= link_to 'Löschen', user_path(user), method: :delete,
                  data: { confirm: 'Bist Du sicher?' },
                  remote: true,
                  class: 'btn btn-outline-danger my-1' %>
    <% end %>
  </div>
</div class="row">
