<div id="user-search-form">
  <% if generic_users.present? %>
    <%= form_with url: elevate_user_path,
                  scope: 'generic_user',
                  method: 'get' do |f| %>
      <div class="form-group row">
        <div class="col-12">
          <%= f.select :id,
                       options_for_select([[]], nil),
                       { prompt: t('basics.select') },
                       { class: 'selectize',
                         data: { ajax: true,
                                 model: 'user_generic',
                                 filled: false } } %>
        </div>
      </div>
      <div class="form-group row generic-user no_display">
        <div class="col-6">
          <div class="custom-control form-check">
            <%= f.check_box :admin,
                            class: 'form-check-input' %>
            <%= f.label :admin,
                        t('admin.user.elevate'),
                        { class: 'custom-control-label' } %>
            <%= helpdesk(t('admin.user.info.elevate'), false) %>
          </div>
        </div>
        <div class="col-3">
          <span id="submit-user-elevate"
                class="no_display">
          <%= f.submit t('buttons.save'),
                       class: 'btn btn-sm btn-primary' %>
          </span>
        </div>
        <div class="col-3 text-end">
          <%= link_to t('buttons.delete'),
                      nil,
                      method: :delete,
                      data: { confirm: t('confirmation.generic') },
                      id: 'delete-generic-user',
                      class: 'btn btn-sm btn-danger' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
