<div class="col-2">
  <%= user.name %>
</div>
<div class="col-3">
  <%= user.email %>
</div>
<div class="col-3">
  <% if user.admin? %>
    <span class="badge badge-info">
      <%= t('basics.administrator_short') %>
    </span>
  <% end %>
  <% if user.editor? %>
    <span class="badge badge-info">
      <%= t('basics.editor') %>
    </span>
  <% end %>
  <% if user.teacher? %>
    <span class="badge badge-info">
      <%= t('basics.teacher') %>
    </span>
  <% end %>
</div>
<div class="col-2">
  <%= user.edited_media.count %>
</div>
<div class="col-2">
  <%= link_to t('buttons.edit'),
              edit_user_path(user),
              class: 'btn btn-sm btn-outline-primary my-1' %>
</div>
