<div class="row mt-3 p-2">
  <div class="col-12">
    <h4>
      <%= t('admin.user.administration') %>
    </h4>
  </div>
</div>
<ul class="nav nav-pills m-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="users-tab" data-toggle="pill"
       href="#users_catalog">
      <%= t('basics.search') %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="flagged-tab" data-toggle="pill"
       href="#flagged_catalog">
      <%= t('admin.user.flagged', n: @flagged.size) %>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="users_catalog">
    <div class="row px-2">
      <div class="col-12">
        <%= render partial: 'users/search_form' %>
      </div>
      <div class="col-12" id="user-search-results"></div>
    </div>
  </div>
  <div class="tab-pane fade" id="flagged_catalog">
    <div class="row px-2">
      <div class="col-12">
        <%= render partial: 'users/flagged' %>
      </div>
    </div>
</div>
<%= render partial: 'users/modal',
           locals: { generic_users: @generic_users } %>
