<% relevant_notifications = current_user.notifications
                                        .sort_by(&:created_at).reverse %>
<% if relevant_notifications.present? %>
  <ul class="navbar-nav mr-3"
      id="notificationDropdown">
    <li class="nav-item">
      <div class="btn-group">
        <a class="btn btn-primary btn-sm"
           href="<%= notifications_path %>">
          <i class="far fa-bell text-light">
          </i>
          <span class="badge badge-light notificationCounter"
                data-count="<%= relevant_notifications.count %>">
            <%= relevant_notifications.count %>
          </span>
        </a>
        <button type="button"
                class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">
            Toggle Dropdown
          </span>
        </button>
        <div class="dropdown-menu">
          <% relevant_notifications.first(5).each do |n| %>
            <a href="<%= n.path(current_user) %>"
               class="dropdown-item border-top"
               style="font-size: 0.8em;"
               data-removeNotification="<%= n.id %>"
               data-itemNotification="<%= n.id %>">
              <%= render partial: 'notifications/menu_item',
                         locals:  { notification: n } %>
            </a>
          <% end %>
          <div class="dropdown-divider">
          </div>
          <a href="<%= notifications_path %>"
             class="dropdown-item">
            alle anzeigen
          </a>
          <a href="<%= destroy_all_notifications_path %>"
             class="dropdown-item"
             data-remote="true"
             data-method="post">
            alle erledigen
          </a>
        </div>
      </div>
    </li>
  </ul>
<% end %>