<% relevant_notifications = current_user.notifications
.sort_by(&:created_at).reverse %>
<% if relevant_notifications.present? %>
<ul id="notificationDropdown"
  class="navbar-nav"
  data-cy="notification-dropdown">
  <li class="nav-item">
    <div class="btn-group">
      <a class="btn btn-primary btn-sm"
        href="<%= notifications_path %>">
        <i class="far fa-bell text-light">
        </i>
        <span class="badge text-dark lecture-tag notificationCounter"
          "
          data-count="<%= relevant_notifications.count %>" data-cy="notification-dropdown-counter">
          <%= relevant_notifications.count %>
        </span>
      </a>
      <button type="button"
        class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split"
        aria-expanded="false"
        aria-haspopup="true" data-bs-toggle="dropdown">
        <span class="sr-only">
          <%= t('buttons.toggle') %>
        </span>
      </button>
      <div class="dropdown-menu" data-cy="notification-dropdown-menu">
        <% relevant_notifications.first(5).each do |n| %>
        <a class="dropdown-item border-top"
          style="font-size: 0.8em;"
          data-itemNotification="<%= n.id %>"
          data-removeNotification="<%= n.id %>"
          href="<%= n.path(current_user) %>">
          <%= render partial: 'notifications/menu_item',
          locals:  { notification: n } %>
        </a>
        <% end %>
        <div class="dropdown-divider">
        </div>
        <a class="dropdown-item"
          href="<%= notifications_path %>">
          <%= t('notifications.show_all') %>
        </a>
        <a class="dropdown-item"
          data-method="post"
          data-remote="true"
          href="<%= destroy_all_notifications_path %>">
          <%= t('notifications.check_notifications') %>
        </a>
      </div>
    </div>
  </li>
</ul>
<% end %>
