<% current_course = Course.find_by_id(cookies[:current_course]) %>
<% current_course ||= current_user.courses&.first %>
<% current_lecture = Lecture.find_by_id(cookies[:current_lecture]) %>
<li class="nav-item">
  <% if courses.size > 1 && !current_user.new_design then %>
    <div class="btn-group">
      <%= link_to current_course.title,
                  course_path(current_course),
                  class: 'btn btn-primary text-light courseMenuItem',
                  id: 'current-course-button' %>
      <%= link_to current_course.short_title,
                  course_path(current_course),
                  class: 'btn btn-primary text-light courseMenuItemShort',
                  id: 'current-course-button',
                  style: 'display: none;' %>
      <button type="button"
              class="btn btn-primary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <span class="sr-only">
          <%= t('buttons.toggle') %>
        </span>
      </button>
      <div class="dropdown-menu">
        <% courses.natural_sort_by(&:title).each do |c| %>
          <% unless c == current_course %>
            <%= link_to c.title,
                        c,
                        class: 'dropdown-item courseMenuItem' %>
            <%= link_to c.short_title,
                        c,
                        class: 'dropdown-item courseMenuItemShort',
                        style: 'display: none;' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% elsif courses.size == 1 && !curent_user.new_design %>
    <%= link_to current_course.title,
                current_course,
                class: 'btn btn-primary text-light' %>
  <% elsif current_user.new_design && current_lecture &&
            !(controller_name == 'main' && action_name == 'start') %>
    <%= link_to current_lecture.title_for_viewers,
                current_lecture,
                class: 'btn btn-primary text-light' %>
  <% end %>
</li>
