<div class="row">
  <div class="col-12 bg-grey-lighten-4 pt-3 pb-3">
    &copy; MaMpf Team 2018. MaMpf ist auf
    <%= link_to 'github', 'https://github.com/fosterfarrell9/mampf' %>.
    Powered by
    <%= link_to 'Rails','http://rubyonrails.org/', target: :_blank %>,
    <%= link_to 'Bootstrap', 'https://getbootstrap.com/', target: :_blank %>,
    <%= link_to 'Docker', 'https://www.docker.com/', target: :_blank %> and
    <%= link_to 'Basecamp', 'https://basecamp.com/', target: :_blank %>.
    <br>
    Bugs meldest Du am besten
    <%= link_to 'hier', 'https://github.com/fosterfarrell9/mampf/issues',
                target: :_blank %>.
    Weiteres Feedback kannst Du gerne auch an
    <%= mail_to DefaultSetting::PROJECT_EMAIL, nil %>
    schicken.
  </div>
</div>
<div class="row">
  <div class="col-9 bg-grey-lighten-5 pt-3 pb-3">
    MaMpf / "ZurLAmitMu" wird im Rahmen des Programms
    <%= link_to 'PLACE aktuell',
                'https://hse-heidelberg.de/forschung/forschungsprojekte',
                target: :_blank %>
    der
    <%= link_to 'Heidelberg School of Education',
                'https://hse-heidelberg.de/ueber-die-hse',
                target: :_blank %>
    gefördert.
  </div>
  <div class="col-3 bg-grey-lighten-5 pt-3 pb-3">
    <img src="/HD-HSE-Logo.png" width="168" height="60" align="middle">
  </div>
</div>
<div class="row pr-2">
  <div class="col-12 bg-grey-lighten-6 text-right">
    <%= link_to 'Impressum',
                 'https://www.uni-heidelberg.de/impressum.html',
                 target: :_blank, class:'mr-2' %>
    <%= link_to 'Datenschutzerklärung',
                'https://www.uni-heidelberg.de/datenschutzerklaerung_web.html',
                target: :_blank %>
  </div>
</div>
