<%= javascript_include_tag :footer_modal %>

<% I18n.with_locale(current_user.try(:locale)) do %>

<%# Sponsors modal %>
<div id="sponsors" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Sponsors list modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-4">
      <%= render partial: 'main/sponsors' %>
    </div>
  </div>
</div>

<%# Footbar %>
<div class="container-fluid bg-grey-lighten-6 p-3">
  <div class="row">
    <div class="col text-md-left">
      <%= t('footer.text_html',
             github: link_to('GitHub',
                             'https://github.com/MaMpf-HD/mampf',
                             target: :blank),
             rails:  link_to('Rails',
                             'http://rubyonrails.org/',
                             target: :_blank),
             bootstrap: link_to('Bootstrap',
                                'https://getbootstrap.com/',
                                target: :_blank),
             cytoscape: link_to('Cytoscape.js',
                                'https://js.cytoscape.org/',
                                target: :_blank),
             nerdamer: link_to('Nerdamer',
                               'https://nerdamer.com',
                               target: :_blank),
             katex: link_to('KaTeX',
                            'https://katex.org',
                            target: :_blank),
             thredded: link_to('Thredded',
                               'https://github.com/thredded/thredded',
                               target: :_blank),
             docker: link_to('Docker',
                             'https://www.docker.com/',
                             target: :_blank),
             basecamp: link_to('Basecamp',
                               'https://basecamp.com/',
                               target: :_blank),
             bugs: link_to(t('here'),
                            'https://github.com/MaMpf-HD/mampf/issues',
                            target: :_blank),
             feedback: mail_to(DefaultSetting::PROJECT_EMAIL, nil),
             background_photo_credit: link_to('Junpeng Ouyang',
                            'https://unsplash.com/photos/nGs0d1dGFng',
                            target: :_blank)) %>
    </div>
    <div class="col text-md-right">
      <a href="#sponsors" data-toggle="modal"
          data-target="#sponsors"><%= t('basics.sponsors') %></a>
      <span style="margin-left: 20px;"></span>
      <a href="https://hse-heidelberg.de/"
         target="_blank"
         style="text-decoration: none">
        <img src="/HD-HSE-Logo_RGB_210dpi.png" height="60" align="middle">
      </a>
      <a href="https://uni-heidelberg.de"
         target="_blank">
        <img src="/uni_hd_logo.png" height="60" align="middle"
             style="margin-left: 20px;">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm text-center text-md-right">
      <%= link_to t('disclosure'),
                   'https://www.uni-heidelberg.de/impressum.html',
                   target: :_blank, class:'mr-2' %>
      <%= link_to t('policy'),
                  'https://www.uni-heidelberg.de/datenschutzerklaerung_web.html',
                  target: :_blank %>
    </div>
  </div>

</div>
<% end %>
