<div class="row">
<div class="col-12 bg-grey-lighten-4 pt-3 pb-3">
&copy; MaMpf Team 2017. MaMpf ist auf <%= link_to 'github', 'https://github.com/fosterfarrell9/mampf' %>.
Powered by <%= link_to 'Rails','http://rubyonrails.org/', target: :_blank %>, <%= link_to 'Bootstrap', 'https://getbootstrap.com/', target: :_blank %> and
<%= link_to 'Docker', 'https://www.docker.com/', target: :_blank %>.
<br>
Bugs meldest Du am besten <%= link_to 'hier', 'https://github.com/fosterfarrell9/mampf/issues', target: :_blank %>.
Weiteres Feedback kannst Du gerne auch an <%= mail_to 'mampf@mathi.uni-heidelberg.de', nil %> schicken.
</div>
</div>
