<% I18n.with_locale(current_user.try(:locale)) do %>
<nav class="navbar navbar-expand navbar-dark bg-dark" id="firstnav">
  <%= link_to image_tag('/MaMpf-Logo_32x32.png',
                        class: 'img-fluid mr-2'),
              home_path %>
  <%= link_to "MaMpf",
              home_path,
              class: 'navbar-brand',
              id: 'mampfbrand' %>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <a href="<%= edit_profile_path %>"
             class="fas fa-user-cog fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="<%= t('navbar.profile') %>">
          </a>
        </li>
        <% if current_user.admin || current_user.editor? || current_user.teacher? %>
          <li class="nav-item">
            <a href="<%= administration_path %>"
               class="fas fa-tools fa-lg text-light nav-link"
               style="text-decoration: none; "
               data-toggle="tooltip"
               title="<%= t('navbar.administration') %>">
            </a>
          </li>
        <% end %>
        <li class="nav-item">
          <a href="<%= comments_path %>"
             id="commentsIcon"
             class="far fa-comments fa-lg <%= current_user.unread_comments ? 'text-primary' : 'text-light' %> nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="<%= t('navbar.comments') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= news_path %>"
             class="far fa-newspaper fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="<%= t('navbar.news') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= DefaultSetting::BLOG_LINK %>"
             class="fas fa-blog fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="<%= t('navbar.blog') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= destroy_user_session_path(params: { locale: current_user.locale }) %>"
             class="fas fa-sign-out-alt fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             data-method="delete"
             title="<%= t('navbar.logout') %>">
          </a>
        </li>
      <% else %>
        <li class="nav-item">
          <a href="<%= new_user_session_path(params: { locale: I18n.locale}) %>"
             class="fas fa-sign-in-alt fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="<%= t('navbar.login') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= news_path(params: { locale: I18n.locale}) %>"
             class="far fa-newspaper fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="<%= t('navbar.news') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= DefaultSetting::BLOG_LINK %>"
             class="fas fa-blog fa-lg text-light nav-link"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="<%= t('navbar.blog') %>">
          </a>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto" id="lecturesDropdown">
        <%= render partial: 'shared/dropdown_lectures',
                   locals: { lecture: @lecture || current_lecture } %>
      </ul>
      <%= render partial: 'shared/dropdown_notifications'%>
      <%= form_tag(search_index_path,
                   method: 'get',
                   class: 'form-inline mt-2 mt-md-0',
                   id: 'searchField') do %>
        <%= search_field_tag 'search',
                             nil,
                             class: 'form-control mr-sm-2',
                             placeholder: t('navbar.search') %>
      <% end %>
    <% end %>
    <% if !user_signed_in?  && I18n.available_locales.count > 1 %>
      <ul class="navbar-nav" id="languagesDrop">
        <%= render partial: 'shared/dropdown_locales' %>
      </ul>
    <% end %>
  </div>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark" id="secondnav"
     style="display: none;">
</nav>
<% end %>
