<% I18n.with_locale(current_user.try(:locale)) do %>
<%= stylesheet_link_tag 'navbar' %>
<div class="navbars-container">
  <nav class="navbar navbar-expand" id="firstnav">
    <%= link_to image_tag('MaMpf-Logo.svg',
                          class: 'mr-2',
                          id: 'mampf-logo'),
                home_path %>
    <%= link_to "MaMpf",
                home_path,
                class: 'navbar-brand',
                id: 'mampfbrand' %>
      <ul class="navbar-nav mr-auto" id="navbar-buttons">
        <li class="nav-item">
          <a href="<%= start_path %>"
            class="nav-link bi bi-house-fill"
            data-toggle="tooltip"
            title="<%= t('navbar.home') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= edit_profile_path %>"
            class="nav-link bi bi-person-circle"
            data-toggle="tooltip"
            title="<%= t('navbar.profile') %>">
          </a>
        </li>
        <% if current_user.admin || current_user.editor? || current_user.teacher? %>
          <li class="nav-item">
            <a href="<%= administration_path %>"
              class="nav-link bi bi-wrench-adjustable-circle-fill"
              data-toggle="tooltip"
              title="<%= t('navbar.administration') %>">
            </a>
          </li>
        <% end %>
        <li class="nav-item">
          <a href="<%= watchlists_path %>"
            id="watchlistsIcon"
            class="nav-link bi bi-tv-fill"
            data-toggle="tooltip"
            title="<%= t('navbar.watchlist') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= comments_path %>"
            id="commentsIcon"
            class="nav-link bi bi-chat-quote-fill <%= current_user.unread_comments ? 'new-comment' : '' %>"
            data-toggle="tooltip"
            title="<%= t('navbar.comments') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= news_path %>"
            class="nav-link bi bi-megaphone-fill"
            data-toggle="tooltip"
            title="<%= t('navbar.news') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= DefaultSetting::BLOG_LINK %>"
            class="nav-link bi bi-newspaper"
            data-toggle="tooltip"
            title="<%= t('navbar.blog') %>">
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= destroy_user_session_path(params: { locale: current_user.locale }) %>"
            class="nav-link bi bi-box-arrow-right"
            data-toggle="tooltip"
            data-method="delete"
            title="<%= t('navbar.logout') %>">
          </a>
        </li>
      </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto" id="lecturesDropdown">
          <%= render partial: 'shared/dropdown_lectures',
                    locals: { lecture: @lecture || current_lecture } %>
        </ul>
        <%= render partial: 'shared/dropdown_notifications'%>
        <%= form_tag(search_index_path,
                    method: 'get',
                    class: 'form-inline mt-2 mt-md-0',
                    id: 'searchField') do %>
          <%= search_field_tag 'search',
                              nil,
                              class: 'form-control mr-sm-2',
                              placeholder: t('navbar.search') %>
        <% end %>
      <% end %>
      <% if !user_signed_in?  && I18n.available_locales.count > 1 %>
        <ul class="navbar-nav" id="languagesDrop">
          <%= render partial: 'shared/dropdown_locales' %>
        </ul>
      <% end %>
  </nav>
  <nav class="navbar navbar-expand" id="secondnav"
      style="display: none;">
  </nav>
</div>
<% end %>
