<%= vite_stylesheet_tag "styles/sidebar.scss" %>

<% I18n.with_locale(lecture&.locale_with_inheritance) do %>
<ul class="nav nav-pills flex-column">

  <%# Overview %>
  <% if lecture %>
    <% fullpath = lecture_path(lecture)%>
    <% active_class = get_class_for_path(lecture_path(lecture)) %>
    <li class="sidebar-item nav-link <%= active_class %>
            <%= !lecture ? "disabled" : ""%>">
      <a href="<%= url_for(fullpath)%>">
        <i class="bi bi-house<%= active_class.present? ? "-fill" : "" %>"></i>
        <%= t('basics.overview') %>
      </a>
    </li>
  <% end %>

  <%# LessonMaterials %>
  <% project_name = 'lesson_material' %>
  <% fullpath = lecture_material_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.lesson_material?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-collection-play<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.lesson_material.plural') %>
    </a>
  </li>
  
  <%# Script %>
  <% project_name = 'script' %>
  <% fullpath = lecture_material_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.script?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-file-earmark<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.script.singular') %>
    </a>
  </li>

  <%# Divider %>
  <span class="border-top my-3"></span>

  <%# Exercises %>
  <% project_name = 'exercise' %>
  <% fullpath = lecture_material_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.exercise?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-pencil<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.exercise.plural') %>
    </a>
  </li>

  <%# Tutorials %>
  <% if lecture %>
    <% if current_user.in?(lecture.tutors)
        link_text, path = [t('categories.tutorials'), lecture_tutorials_path(lecture)]
        exists = true
      elsif current_user.editor_or_teacher_in?(lecture)
        link_text, path = [t('categories.tutorials'), lecture_tutorial_overview_path(lecture)]
        exists = lecture.tutorials.any?
      else
        link_text, path = [t('categories.submissions'), lecture_submissions_path(lecture)]
        exists = lecture.assignments.any? && lecture.tutorials.any?
      end %>
    <% active_class = get_class_for_any_path(
        [lecture_tutorials_path(lecture),
        lecture_tutorial_overview_path(lecture),
        lecture_submissions_path(lecture)]) %>
    <li class="sidebar-item nav-link <%= active_class %>
            <%= !exists ? "disabled" : ""%>">
      <a href="<%= url_for(path)%>">
        <i class="bi bi-people<%= active_class.present? ? "-fill" : "" %>"></i>
        <%= link_text %>
      </a>
    </li>
  <% end %>

  <% if lecture %>
    <%# Müsli (external link) %>
    <li class="sidebar-item nav-link <%= !lecture.muesli ? "disabled" : ""%>">
      <a href="<%= DefaultSetting::MUESLI_LINK %>" target="_blank" %>
        <i class="bi bi-list-check"></i>
        <%= t('categories.muesli') %>
      </a>
    </li>
  <% end %>

  <%# Divider %>
  <span class="border-top my-3"></span>

  <%# Quizzes %>
  <% project_name = 'quiz' %>
  <% fullpath = lecture_material_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.quiz?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-question-square<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.quiz.plural') %>
    </a>
  </li>

  <!-- Should Vignettes (Questionnaires) be needed in the sidebar, refer to this commit: -->
  <!-- be62caccda12f9d6c6c96cb52 -->
  <!-- https://github.com/MaMpf-HD/mampf/pull/737/commits/be62caccda12f9d6c6c96cb52 -->

  <%# Self test %>
  <% path = show_random_quizzes_path(lecture) %>
  <% active_class = get_class_for_path(path) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.course.enough_questions? ? "disabled" : ""%>">
    <a href="<%= url_for(path)%>">
      <i class="bi bi-star<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.test.singular') %>
    </a>
  </li>

  <%# Worked Examples %>
  <% project_name = 'worked_example' %>
  <% fullpath = lecture_material_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.worked_example?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-mortarboard<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.worked_example.plural') %>
    </a>
  </li>

  <%# Examples (Erdbeere) %>
  <% path = show_structures_path(lecture) %>
  <% active_class = get_class_for_path(path) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.structure_ids.any? ? "disabled" : ""%>">
    <a href="<%= url_for(path)%>">
      <i class="bi bi-box<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.erdbeere.plural') %>
    </a>
  </li>

  <%# Repetition %>
  <% project_name = 'repetition' %>
  <% fullpath = lecture_material_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.repetition?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-layers<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.repetition.singular') %>
    </a>
  </li>

  <%# Miscellaneous %>
  <% project_name = 'miscellaneous' %>
  <% fullpath = lecture_material_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.miscellaneous?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-circle<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.miscellaneous.singular') %>
    </a>
  </li>

  <% if lecture %>
    <%# Divider %>
    <span class="border-top my-3"></span>

    <%# Forum %>
    <% forum_present = lecture.forum? %>
    <% path = forum_present ? "/forum/" + lecture.forum.slug : "nothing" %>
    <li class="sidebar-item nav-link <%= !forum_present ? "disabled" : ""%>">
      <a href="<%= url_for(path)%>" target="_blank">
        <%# Will never become active as this is an external link %>
        <i class="bi bi-chat"></i>
        <%= t('categories.board') %>
      </a>
    </li>

    <%# Announcements %>
    <% path = show_announcements_path(lecture) %>
    <% active_class = get_class_for_path(path) %>
    <li class="sidebar-item nav-link <%= active_class %>
            <%= !lecture.announcements.exists? ? "disabled" : ""%>">
      <a href="<%= url_for(path)%>">
        <i class="bi bi-megaphone<%= active_class.present? ? "-fill" : "" %>"></i>
        <%= t('categories.announcements') %>
      </a>
    </li>

    <%# Organizational %>
    <% path = organizational_path(lecture) %>
    <% active_class = get_class_for_path(path) %>
    <li class="sidebar-item nav-link <%= active_class %>
            <%= !lecture.organizational ? "disabled" : ""%>">
      <a href="<%= url_for(path)%>">
        <i class="bi bi-info-square<%= active_class.present? ? "-fill" : "" %>"></i>
        <%= t('categories.organizational_html') %>
      </a>
    </li>

    <%# Modul %>
    <% path = display_course_path(lecture) %>
    <% active_class = get_class_for_path(path) %>
    <li class="sidebar-item nav-link <%= active_class %>">
      <a href="<%= url_for(path)%>">
        <i class="bi bi-hexagon<%= active_class.present? ? "-fill" : "" %>"></i>
        <%= t('categories.course') %>
      </a>
    </li>
  <% end %>
</ul>
<% end %>