<% lecture ||= Lecture.find_by_id(params[:active]) %>
<% lecture ||= Lecture.find_by_id(params[:lecture_id]) %>
<% lecture ||= Lecture.find_by_id(cookies[:current_lecture]) %>
<% lecture ||= course.primary_lecture(current_user) %>
  <% if course.subscribed_lectures(current_user) == [lecture] %>
    <%= link_to lecture.title_for_viewers,
                lecture.path(current_user),
                class: 'btn btn-primary btn-sm' %>
  <% elsif lecture %>
    <ul class="navbar-nav" id="termDropdown">
      <li class="nav-item">
        <div class="btn-group dropright">
          <%= link_to starred_title(lecture,current_user).html_safe,
                      lecture.path(current_user),
                      class: 'btn btn-primary btn-sm' %>
          <button class="btn btn-primary btn-sm dropdown-toggle mr-3"
                  type="button"
                  data-toggle="dropdown">
          </button>
          <div class="dropdown-menu">
            <% (course.subscribed_lectures(current_user) - [lecture]).each do |l| %>
              <%= link_to starred_term(l, current_user),
                          l.lecture_path,
                          class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  <% end %>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <% if (lecture && !lecture.kaviar?) || (!lecture && !course.strict_kaviar?) %>
        <span class="nav-link disabled">
          <%= t('categories.kaviar.plural') %>
        </span>
      <% else %>
        <%= link_to t('categories.kaviar.plural'),
                    course_food_path(course_id: course.id,
                                     params:
                                       { project: 'kaviar',
                                         lecture_id: lecture&.id }),
                    class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if (lecture && !lecture.script?) || (!lecture && !course.strict_script?) %>
        <span class="nav-link disabled">
          <%= t('categories.script') %>
        </span>
      <% else %>
        <%= link_to t('categories.script'),
                    course_food_path(course_id: course.id,
                                     params: { project: 'script',
                                               lecture_id: lecture&.id }),
                    class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if (lecture && !lecture.nuesse?) || (!lecture && !course.strict_nuesse?) %>
        <span class="nav-link disabled">
          <%= t('categories.exercises.plural') %>
        </span>
      <% else %>
        <%= link_to t('categories.exercises.plural'),
                          course_food_path(course_id: course.id,
                                           params:
                                             { project: 'nuesse',
                                               lecture_id: lecture&.id }),
                          class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if (lecture && !lecture.keks?) || (!lecture && !course.strict_keks?) %>
        <a href="<%= DefaultSetting::KEKS_LINK %>"
           class="nav-link" target="_blank">
           <%= t('categories.quiz.plural') %>
           <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% else %>
        <%= link_to t('categories.quiz.plural'),
                      course_food_path(course_id: course.id,
                                       params: { project: 'keks',
                                                 lecture_id: lecture&.id }),
                      class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if (lecture && !lecture.sesam?) || (!lecture && !course.strict_sesam?) %>
        <span class="nav-link disabled">
          <%= t('categories.sesam.plural') %>
        </span>
      <% else %>
        <%= link_to t('categories.sesam.plural'),
                    course_food_path(course_id: course.id,
                                     params: { project: 'sesam',
                                               lecture_id: lecture&.id }),
                    class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if (lecture && !lecture.erdbeere?) || (!lecture && !course.strict_erdbeere?) %>
        <a href="<%= DefaultSetting::ERDBEERE_LINK %>"
           class="nav-link"
           target="_blank" %>
           <%= t('categories.erdbeere') %>
           <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% else %>
        <%= link_to t('categories.erdbeere'),
                    course_food_path(course_id: course.id,
                                     params: { project: 'erdbeere',
                                               lecture_id: lecture&.id }),
                    class: "nav-link",
                    target: :blank %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if (lecture && !lecture.kiwi?) || (!lecture && !course.strict_kiwi?) %>
        <span class="nav-link disabled">
          <%= t('categories.kiwi') %>
        </span>
      <% else %>
        <%= link_to t('categories.kiwi'),
                    course_food_path(course_id: course.id,
                                     params: { project: 'kiwi',
                                               lecture_id: lecture&.id }),
                    class: 'nav-link' %>
      <% end %>
    </li>
  <% if lecture %>
    <span class="border-top my-3">
    </span>
    <li class="nav-item">
      <% if lecture.organizational %>
        <%= link_to t('categories.organizational'),
                    organizational_path(lecture),
                    class: 'nav-link' %>
      <% else %>
        <span class="nav-link disabled">
          <%= t('categories.organizational') %>
        </span>
      <% end %>
    </li>
    <% if lecture.announcements.exists? %>
      <%= link_to t('categories.announcements'),
                  show_announcements_path(lecture),
                  class: 'nav-link' %>
    <% else %>
      <li class="nav-link disabled">
        <%= t('categories.announcements') %>
      </li>
    <% end %>
    <li class="nav-item">
      <% if !lecture.forum? %>
        <span class="nav-link disabled">
          <%= t('categories.board') %>
        </span>
      <% else %>
        <a href="<%= '/forum/' + lecture.forum.slug %>"
           class="nav-link"
           target="_blank">
          <%= t('categories.board') %>
          <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% end %>
    </li>
    <li class="nav-item">
      <% if lecture.muesli %>
        <a href="<%= DefaultSetting::MUESLI_LINK %>"
           class="nav-link"
           target="_blank" %>
          <%= t('categories.muesli') %>
          <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% else %>
        <span class="nav-link disabled">
          <%= t('categories.muesli') %>
        </span>
      <% end %>
    </li>
    <% end %>
  </ul>