<nav class="col-sm-3 col-md-2 d-block bg-blue-gray-lighten-5 pt-3">
  <ul class="nav nav-pills flex-column">
    <% if user_signed_in? %>
      <li class="nav-item">
        <% if Course.find_by_id(course_id).nil? ||
              !Course.find_by_id(course_id).kaviar?%>
          <span class="nav-link disabled">
            KaViaR
          </span>
        <% else %>
            <%= link_to 'KaViaR', course_food_path(course_id: course_id,
                                                   params: { project: 'kaviar'}),
                        class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if Course.find_by_id(course_id).nil? ||
              !Course.find_by_id(course_id).sesam?%>
          <span class="nav-link disabled">
            SeSAM
          </span>
        <% else %>
            <%= link_to 'SeSAM', course_food_path(course_id: course_id,
                                                  params: { project: 'sesam'}),
                        class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if Course.find_by_id(course_id).nil? ||
              !Course.find_by_id(course_id).kiwi?%>
          <span class="nav-link disabled">
            KiWi
          </span>
        <% else %>
            <%= link_to 'KIWi', course_food_path(course_id: course_id,
                                                  params: { project: 'kiwi'}),
                        class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if Course.find_by_id(course_id).nil? ||
              !Course.find_by_id(course_id).kiwi?%>
          <span class="nav-link disabled">
            RestE
          </span>
        <% else %>
            <%= link_to 'RestE', course_food_path(course_id: course_id,
                                                  params: { project: 'reste'}),
                        class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if Course.find_by_id(course_id).nil? ||
              !Course.find_by_id(course_id).keks?%>
          <a href="<%= DefaultSetting::KEKS_LINK %>"
             class="nav-link" target="_blank">
            KeKs
          </a>
        <% else %>
            <%= link_to 'KeKs', course_food_path(course_id: course_id,
                                                  params: { project: 'keks'}),
                        class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <a href="<%= DefaultSetting::ERDBEERE_LINK %>"
           class="nav-link" target="_blank">
          <img src="/erdbeere-16x16.png" width="16" height="16">
          ErDBeere
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= DefaultSetting::MUESLI_LINK %>" class="nav-link" target="_blank">
          <img src="/muesli-16x16.png" width="16" height="16">
          MÜSLI
        </a>
      </li>
    <% else %>
      <span class='nav-link disabled'>
        KaViaR
      </span>
      <span class='nav-link disabled'>
        SeSAM
      </span>
      <span class='nav-link disabled'>
        KIWi
      </span>
      <span class='nav-link disabled'>
        RestE
      </span>
      <span class='nav-link disabled'>
        KeKs
      </span>
      <span class='nav-link disabled'>
        <img src="/erdbeere-16x16.png" width="16" height="16">
        ErDBeere
      </span>
      <span class='nav-link disabled'>
        <img src="/muesli-16x16.png" width="16" height="16">
        Müsli
      </span>
    <% end %>
  </ul>
</nav>
