<% lecture ||= Lecture.find_by_id(params[:active]) %>
<% lecture ||= Lecture.find_by_id(params[:lecture_id]) %>
<% lecture ||= Lecture.find_by_id(cookies[:current_lecture]) %>
<% lecture ||= course.primary_lecture(current_user) %>
  <%= link_to lecture.title_for_viewers,
                course_path(course, active: lecture.id),
                class: 'badge badge-secondary mb-2' %>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <% if !lecture.kaviar? %>
        <span class="nav-link disabled">
          <%= t('categories.kaviar') %>
        </span>
      <% else %>
        <%= link_to t('categories.kaviar'),
                    course_food_path(course_id: course.id,
                                     params:
                                       { project: 'kaviar',
                                         lecture_id: lecture.id }),
                    class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if !lecture.nuesse? || !current_user.nuesse?(course) %>
        <span class="nav-link disabled">
          <%= t('categories.manuscript') %>
        </span>
      <% else %>
        <%= link_to t('categories.manuscript'),
                    course_food_path(course_id: course.id,
                                     params: { project: 'nuesse',
                                               lecture_id: lecture.id }),
                    class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if !lecture.nuesse? || !current_user.nuesse?(course) %>
        <span class="nav-link disabled">
          <%= t('categories.exercises') %>
        </span>
      <% else %>
        <%= link_to t('categories.exercises'),
                          course_food_path(course_id: course.id,
                                           params:
                                             { project: 'nuesse',
                                               lecture_id: lecture.id }),
                          class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if !current_user.keks?(course) %>
        <a href="<%= DefaultSetting::KEKS_LINK %>"
           class="nav-link" target="_blank">
           <%= t('categories.keks') %>
           <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% else %>
        <%= link_to t('categories.keks'),
                      course_food_path(course_id: course.id,
                                       params: { project: 'keks'}),
                      class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if !lecture.sesam? || !current_user.sesam?(course) %>
        <span class="nav-link disabled">
          <%= t('categories.sesam') %>
        </span>
      <% else %>
        <%= link_to t('categories.sesam'),
                    course_food_path(course_id: course.id,
                                     params: { project: 'sesam',
                                               lecture_id: lecture.id }),
                    class: 'nav-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if !current_user.erdbeere?(course) %>
        <a href="<%= DefaultSetting::ERDBEERE_LINK %>"
           class="nav-link"
           target="_blank" %>
           <%= t('categories.erdbeere') %>
           <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% else %>
        <%= link_to t('categories.erdbeere'),
                    course_food_path(course_id: course.id,
                                     params: { project: 'erdbeere',
                                               lecture_id: lecture.id }),
                    class: "nav-link",
                    target: :blank %>
      <% end %>
    </li>
    <li class="nav-item">
      <% if !lecture.kiwi? || !current_user.kiwi?(course) %>
        <span class="nav-link disabled">
          <%= t('categories.kiwi') %>
        </span>
      <% else %>
        <%= link_to t('categories.kiwi'),
                    course_food_path(course_id: course.id,
                                     params: { project: 'kiwi',
                                               lecture_id: lecture.id }),
                    class: 'nav-link' %>
      <% end %>
    </li>
    <span class="border-top my-3">
    </span>
    <li class="nav-link disabled">
      <%= t('categories.organizational') %>
    </li>
    <li class="nav-item">
      <% if !lecture.forum? %>
        <span class="nav-link disabled">
          <%= t('categories.board') %>
        </span>
      <% else %>
        <a href="<%= '/forum/' + lecture.forum.slug %>"
           class="nav-link"
           target="_blank">
          <%= t('categories.board') %>
          <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% end %>
    </li>
    <li class="nav-item">
      <a href="<%= DefaultSetting::MUESLI_LINK %>"
         class="nav-link"
         target="_blank" %>
        <%= t('categories.muesli') %>
        <i class="fas fa-external-link-alt fa-xs"></i>
      </a>
    </li>
  </ul>
