<% I18n.with_locale(lecture&.locale_with_inheritance) do %>
<% if lecture && lecture.in?(current_user.lectures) &&
        lecture.course.subscribed_lectures(current_user).count > 1 %>
  <ul class="navbar-nav"
      id="termDropdown">
    <li class="nav-item">
      <div class="btn-group dropright">
        <%= link_to lecture_path(lecture),
                    class: 'btn btn-primary btn-sm' do %>
          <%= lecture.title_for_viewers %>
          <% unless lecture.published? %>
            <i class="fas fa-eye-slash redtext"
               tabindex="-1"
               data-toggle="tooltip"
               title="<%=t('lecture.unpublished') %>">
            </i>
          <% end %>
        <% end %>
        <button class="btn btn-primary btn-sm dropdown-toggle mr-3"
                type="button"
                data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
          <% (lecture.course.subscribed_lectures(current_user) - [lecture]).each do |l| %>
            <%= link_to lecture_path(l),
                        class: 'dropdown-item' do %>
              <%= l.title_term_short %>
              <% unless l.published? %>
                <i class="fas fa-eye-slash redtext"
                   tabindex="-1"
                   data-toggle="tooltip"
                   title="<%=t('lecture.unpublished') %>">
                </i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
<% end %>
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <% if !lecture || !lecture.kaviar?(current_user) %>
      <span class="nav-link disabled">
        <%= t('categories.kaviar.plural') %>
      </span>
    <% else %>
      <%= link_to t('categories.kaviar.plural'),
                  lecture_food_path(lecture,
                                    params:
                                      { project: 'kaviar' }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if !lecture || !lecture.script?(current_user) %>
      <span class="nav-link disabled">
        <%= t('categories.script.singular') %>
      </span>
    <% else %>
      <%= link_to t('categories.script.singular'),
                  lecture_food_path(lecture,
                                    params: { project: 'script' }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if !lecture || !lecture.nuesse?(current_user) %>
      <span class="nav-link disabled">
        <%= t('categories.exercises.plural') %>
      </span>
    <% else %>
      <%= link_to t('categories.exercises.plural'),
                  lecture_food_path(lecture,
                                    params:
                                      { project: 'nuesse' }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if !lecture || !lecture.keks?(current_user) %>
      <span class="nav-link disabled">
        <%= t('categories.quiz.plural') %>
      </span>
    <% else %>
      <%= link_to t('categories.quiz.plural'),
                    lecture_food_path(lecture,
                                      params: { project: 'keks' }),
                    class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if !lecture || !lecture.course.enough_questions? %>
      <span class="nav-link disabled">
        <%= t('categories.test.singular') %>
      </span>
    <% else %>
      <%= link_to t('categories.test.singular'),
                  show_random_quizzes_path(lecture),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if !lecture || !lecture.sesam?(current_user) %>
      <span class="nav-link disabled">
        <%= t('categories.sesam.plural') %>
      </span>
    <% else %>
      <%= link_to t('categories.sesam.plural'),
                  lecture_food_path(lecture,
                                    params: { project: 'sesam' }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if !lecture || !lecture.structure_ids.any? %>
      <span class="nav-link disabled">
        <%= t('categories.erdbeere.singular') %>
      </span>
    <% else %>
      <%= link_to t('categories.erdbeere.singular'),
                  show_structures_path(lecture),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if !lecture || !lecture.kiwi?(current_user) %>
      <span class="nav-link disabled">
        <%= t('categories.kiwi.singular') %>
      </span>
    <% else %>
      <%= link_to t('categories.kiwi.singular'),
                  lecture_food_path(lecture,
                                    params: { project: 'kiwi' }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if !lecture || !lecture.reste?(current_user) %>
      <span class="nav-link disabled">
        <%= t('categories.reste.singular') %>
      </span>
    <% else %>
      <%= link_to t('categories.reste.singular'),
                  lecture_food_path(lecture,
                                    params: { project: 'reste' }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <% if lecture %>
    <span class="border-top my-3">
    </span>
    <li class="nav-item">
      <% if lecture.organizational %>
        <%= link_to t('categories.organizational_html'),
                    organizational_path(lecture),
                    class: 'nav-link' %>
      <% else %>
        <span class="nav-link disabled">
          <%= t('categories.organizational_html') %>
        </span>
      <% end %>
    </li>
    <% if lecture.announcements.exists? %>
      <%= link_to t('categories.announcements'),
                  show_announcements_path(lecture),
                  class: 'nav-link' %>
    <% else %>
      <li class="nav-link disabled">
        <%= t('categories.announcements') %>
      </li>
    <% end %>
    <li class="nav-item">
      <% if !lecture.forum? %>
        <span class="nav-link disabled">
          <%= t('categories.board') %>
        </span>
      <% else %>
        <a href="<%= '/forum/' + lecture.forum.slug %>"
           class="nav-link"
           target="_blank">
          <%= t('categories.board') %>
          <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% end %>
    </li>
    <li class="nav-item">
      <% if lecture.muesli %>
        <a href="<%= DefaultSetting::MUESLI_LINK %>"
           class="nav-link"
           target="_blank" %>
          <%= t('categories.muesli') %>
          <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% else %>
        <span class="nav-link disabled">
          <%= t('categories.muesli') %>
        </span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to t('categories.course'),
                  display_course_path(lecture),
                  class: 'nav-link' %>
    </li>
  <% end %>
</ul>
<% end %>