<% lecture ||= Lecture.find_by_id(params[:lecture_id]) %>
<% lecture = nil unless lecture&.id.in?(current_user.lecture_ids) %>
<% lecture ||= Lecture.find_by_id(cookies[:current_lecture]) %>
<% lecture ||= course.primary_lecture(current_user) %>
<% I18n.with_locale(lecture&.locale_with_inheritance || course.locale) do %>
<% if course.subscribed_lectures(current_user) == [lecture] %>
  <%= link_to lecture.title_for_viewers,
              lecture_path(lecture),
              class: 'btn btn-primary btn-sm' %>
<% elsif lecture %>
  <ul class="navbar-nav"
      id="termDropdown">
    <li class="nav-item">
      <div class="btn-group dropright">
        <%= link_to starred_title(lecture,current_user).html_safe,
                    lecture_path(lecture),
                    class: 'btn btn-primary btn-sm' %>
        <button class="btn btn-primary btn-sm dropdown-toggle mr-3"
                type="button"
                data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
          <% (course.subscribed_lectures(current_user) - [lecture]).each do |l| %>
            <%= link_to starred_term(l, current_user),
                        lecture_path(l),
                        class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
<% end %>
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <% if (lecture && !lecture.kaviar?(current_user)) ||
          (!lecture && !course.kaviar?(current_user)) %>
      <span class="nav-link disabled">
        <%= t('categories.kaviar.plural') %>
      </span>
    <% else %>
      <%= link_to t('categories.kaviar.plural'),
                  course_food_path(course_id: course.id,
                                   params:
                                     { project: 'kaviar',
                                       lecture_id: lecture&.id }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if (lecture && !lecture.script?(current_user)) ||
          (!lecture && !course.script?(current_user)) %>
      <span class="nav-link disabled">
        <%= t('categories.script') %>
      </span>
    <% else %>
      <%= link_to t('categories.script'),
                  course_food_path(course_id: course.id,
                                   params: { project: 'script',
                                             lecture_id: lecture&.id }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if (lecture && !lecture.nuesse?(current_user)) ||
          (!lecture && !course.nuesse?(current_user)) %>
      <span class="nav-link disabled">
        <%= t('categories.exercises.plural') %>
      </span>
    <% else %>
      <%= link_to t('categories.exercises.plural'),
                  course_food_path(course_id: course.id,
                                   params:
                                     { project: 'nuesse',
                                       lecture_id: lecture&.id }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if (lecture && !lecture.keks?(current_user)) ||
            (!lecture && !course.keks?(current_user)) %>
      <span class="nav-link disabled">
        <%= t('categories.quiz.plural') %>
      </span>
    <% else %>
      <%= link_to t('categories.quiz.plural'),
                    course_food_path(course_id: course.id,
                                     params: { project: 'keks',
                                               lecture_id: lecture&.id }),
                    class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if !course.enough_questions? %>
      <span class="nav-link disabled">
        <%= t('categories.test.singular') %>
      </span>
    <% else %>
      <%= link_to t('categories.test.singular'),
                  show_random_quizzes_path(course,
                                           params: { lecture_id: lecture&.id }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if (lecture && !lecture.sesam?(current_user)) ||
            (!lecture && !course.sesam?(current_user)) %>
      <span class="nav-link disabled">
        <%= t('categories.sesam.plural') %>
      </span>
    <% else %>
      <%= link_to t('categories.sesam.plural'),
                  course_food_path(course_id: course.id,
                                   params: { project: 'sesam',
                                             lecture_id: lecture&.id }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if (lecture && !lecture.erdbeere?(current_user)) ||
            (!lecture && !course.erdbeere?(current_user)) %>
      <a href="<%= DefaultSetting::ERDBEERE_LINK %>"
         class="nav-link"
         target="_blank" %>
         <%= t('categories.erdbeere') %>
         <i class="fas fa-external-link-alt fa-xs"></i>
      </a>
    <% else %>
      <%= link_to t('categories.erdbeere'),
                  course_food_path(course_id: course.id,
                                   params: { project: 'erdbeere',
                                             lecture_id: lecture&.id }),
                  class: "nav-link",
                  target: :blank %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if (lecture && !lecture.kiwi?(current_user)) ||
         (!lecture && !course.kiwi?(current_user)) %>
      <span class="nav-link disabled">
        <%= t('categories.kiwi') %>
      </span>
    <% else %>
      <%= link_to t('categories.kiwi'),
                  course_food_path(course_id: course.id,
                                   params: { project: 'kiwi',
                                             lecture_id: lecture&.id }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <li class="nav-item">
    <% if (lecture && !lecture.reste?(current_user)) ||
         (!lecture && !course.reste?(current_user)) %>
      <span class="nav-link disabled">
        <%= t('categories.reste') %>
      </span>
    <% else %>
      <%= link_to t('categories.reste'),
                  course_food_path(course_id: course.id,
                                   params: { project: 'reste',
                                             lecture_id: lecture&.id }),
                  class: 'nav-link' %>
    <% end %>
  </li>
  <% if lecture %>
    <span class="border-top my-3">
    </span>
    <li class="nav-item">
      <% if lecture.organizational %>
        <%= link_to t('categories.organizational'),
                    organizational_path(lecture),
                    class: 'nav-link' %>
      <% else %>
        <span class="nav-link disabled">
          <%= t('categories.organizational') %>
        </span>
      <% end %>
    </li>
    <% if lecture.announcements.exists? %>
      <%= link_to t('categories.announcements'),
                  show_announcements_path(lecture),
                  class: 'nav-link' %>
    <% else %>
      <li class="nav-link disabled">
        <%= t('categories.announcements') %>
      </li>
    <% end %>
    <li class="nav-item">
      <% if !lecture.forum? %>
        <span class="nav-link disabled">
          <%= t('categories.board') %>
        </span>
      <% else %>
        <a href="<%= '/forum/' + lecture.forum.slug %>"
           class="nav-link"
           target="_blank">
          <%= t('categories.board') %>
          <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% end %>
    </li>
    <li class="nav-item">
      <% if lecture.muesli %>
        <a href="<%= DefaultSetting::MUESLI_LINK %>"
           class="nav-link"
           target="_blank" %>
          <%= t('categories.muesli') %>
          <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
      <% else %>
        <span class="nav-link disabled">
          <%= t('categories.muesli') %>
        </span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to t('categories.course'),
                  display_course_path(lecture.course,
                                      params: { lecture_id: lecture&.id }),
                  class: 'nav-link' %>
    </li>
  <% end %>
</ul>
<% end %>