<%= stylesheet_link_tag 'sidebar' %>

<% I18n.with_locale(lecture&.locale_with_inheritance) do %>
<ul class="nav nav-pills flex-column">

  <%# Overview %>
  <% fullpath = lecture_path(lecture)%>
  <% active_class = get_class_for_path(lecture_path()) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-house<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('basics.overview') %>
    </a>
  </li>

  <%# Lectures (Kaviar) %>
  <% project_name = 'kaviar' %>
  <% fullpath = lecture_food_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.kaviar?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-collection-play<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.kaviar.plural') %>
    </a>
  </li>
  
  <%# Script %>
  <% project_name = 'script' %>
  <% fullpath = lecture_food_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.script?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-file-earmark<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.script.singular') %>
    </a>
  </li>

  <%# Exercises (Nüsse) %>
  <% project_name = 'nuesse' %>
  <% fullpath = lecture_food_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.nuesse?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-pencil<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.exercises.plural') %>
    </a>
  </li>

  <%# Divider %>
  <span class="border-top my-3"></span>

  <%# Quiz (Keks) %>
  <% project_name = 'keks' %>
  <% fullpath = lecture_food_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.keks?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-question-square<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.quiz.plural') %>
    </a>
  </li>

  <%# Self test %>
  <% path = show_random_quizzes_path(lecture) %>
  <% active_class = get_class_for_path(path) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.course.enough_questions? ? "disabled" : ""%>">
    <a href="<%= url_for(path)%>">
      <i class="bi bi-star<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.test.singular') %>
    </a>
  </li>

  <%# Worked Examples (Sesam) %>
  <% project_name = 'sesam' %>
  <% fullpath = lecture_food_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.sesam?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-mortarboard<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.sesam.plural') %>
    </a>
  </li>

  <%# Examples (Erdbeere) %>
  <% path = show_structures_path(lecture) %>
  <% active_class = get_class_for_path(path) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.structure_ids.any? ? "disabled" : ""%>">
    <a href="<%= url_for(path)%>">
      <i class="bi bi-box<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.erdbeere.plural') %>
    </a>
  </li>

  <%# Repetition (Kiwi) %>
  <% project_name = 'kiwi' %>
  <% fullpath = lecture_food_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.kiwi?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-layers<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.kiwi.singular') %>
    </a>
  </li>

  <%# Diverse (Rest) %>
  <% project_name = 'reste' %>
  <% fullpath = lecture_food_path(lecture, params: { project: project_name })%>
  <% active_class = get_class_for_project(project_name) %>
  <li class="sidebar-item nav-link <%= active_class %>
          <%= !lecture || !lecture.reste?(current_user) ? "disabled" : ""%>">
    <a href="<%= url_for(fullpath)%>">
      <i class="bi bi-circle<%= active_class.present? ? "-fill" : "" %>"></i>
      <%= t('categories.reste.singular') %>
    </a>
  </li>


  <% if lecture %>
    <%# Divider %>
    <span class="border-top my-3"></span>

    <%# Forum %>
    <% path = "/forum/" + lecture.forum.slug %>
    <li class="sidebar-item nav-link <%= !lecture.forum? ? "disabled" : ""%>">
      <a href="<%= url_for(path)%>" target="_blank">
        <%# Will never become active as this is an external link %>
        <i class="bi bi-chat"></i>
        <%= t('categories.board') %>
      </a>
    </li>

    <%# Tutorien %>
    <% if current_user.in?(lecture.tutors)
        link_text, path = [t('categories.tutorials'), lecture_tutorials_path(lecture)]
        exists = true
      elsif current_user.editor_or_teacher_in?(lecture)
        link_text, path = [t('categories.tutorials'), lecture_tutorial_overview_path(lecture)]
        exists = lecture.tutorials.any?
      else
        link_text, path = [t('categories.submissions'), lecture_submissions_path(lecture)]
        exists = lecture.assignments.any? && lecture.tutorials.any?
      end %>
    <% active_class = get_class_for_any_path(
        [lecture_tutorials_path(lecture),
        lecture_tutorial_overview_path(lecture),
        lecture_submissions_path(lecture)]) %>
    <li class="sidebar-item nav-link <%= active_class %>
            <%= !exists ? "disabled" : ""%>">
      <a href="<%= url_for(path)%>">
        <i class="bi bi-people<%= active_class.present? ? "-fill" : "" %>"></i>
        <%= link_text %>
      </a>
    </li>

    <%# Müsli (external link) %>
    <li class="sidebar-item nav-link">
      <% if lecture.muesli %>
        <a href="<%= DefaultSetting::MUESLI_LINK %>" target="_blank" %>
          <i class="bi bi-list-check<%= active_class.present? ? "-fill" : "" %>"></i>
          <%= t('categories.muesli') %>
        </a>
      <% else %>
        <span class="nav-link">
          <%= t('categories.muesli') %>
        </span>
      <% end %>
    </li>

    <%# Divider %>
    <span class="border-top my-3"></span>

    <%# Announcements %>
    <% path = show_announcements_path(lecture) %>
    <% active_class = get_class_for_path(path) %>
    <li class="sidebar-item nav-link <%= active_class %>
            <%= !lecture.announcements.exists? ? "disabled" : ""%>">
      <a href="<%= url_for(path)%>">
        <i class="bi bi-megaphone<%= active_class.present? ? "-fill" : "" %>"></i>
        <%= t('categories.announcements') %>
      </a>
    </li>

    <%# Organizational %>
    <% path = organizational_path(lecture) %>
    <% active_class = get_class_for_path(path) %>
    <li class="sidebar-item nav-link <%= active_class %>
            <%= !lecture.organizational ? "disabled" : ""%>">
      <a href="<%= url_for(path)%>">
        <i class="bi bi-info-square<%= active_class.present? ? "-fill" : "" %>"></i>
        <%= t('categories.organizational_html') %>
      </a>
    </li>

    <%# Modul %>
    <% path = display_course_path(lecture) %>
    <% active_class = get_class_for_path(path) %>
    <li class="sidebar-item nav-link <%= active_class %>
            <%= !lecture.announcements.exists? ? "disabled" : ""%>">
      <a href="<%= url_for(path)%>">
        <i class="bi bi-hexagon<%= active_class.present? ? "-fill" : "" %>"></i>
        <%= t('categories.course') %>
      </a>
    </li>
  <% end %>
</ul>
<% end %>