<% course = Course.find_by_id(course_id) %>
<nav class="col-sm-3 col-md-2 d-block bg-blue-gray-lighten-5 pt-3">
  <ul class="nav nav-pills flex-column">
    <% if user_signed_in? && course.present? %>
      <% lectures = course.subscribed_lectures_by_date(current_user) %>
      <li class="nav-item">
        <% if course.nil? ||
              (!lectures.any? { |l| l.kaviar? } && !course.kaviar?) %>
          <span class="nav-link disabled">
            KaViaR
          </span>
        <% else %>
          <% if lectures.count == 1 %>
            <%= link_to 'KaViaR',
                        course_food_path(course_id: course_id,
                                         params:
                                           { project: 'kaviar',
                                             lecture_id: lectures.first.id }),
                        class: 'nav-link' %>
          <% else %>
            <span class="text-primary nav-link">
              KaViaR
            </span>
            <ul id="kaviar-sidebar" class="nav nav-pills flex-column">
              <% lectures.select { |l| l.kaviar? }.each do |l| %>
                <li class="nav-item">
                  <%= link_to l.term.to_label_short,
                              course_food_path(course_id: course_id,
                                               params: { project: 'kaviar',
                                                         lecture_id: l.id }),
                              class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if !current_user.sesam?(course) %>
          <span class="nav-link disabled">
            SeSAM
          </span>
        <% else %>
            <%= link_to 'SeSAM', course_food_path(course_id: course_id,
                                                  params: { project: 'sesam'}),
                        class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if !current_user.kiwi?(course) %>
          <span class="nav-link disabled">
            KiWi
          </span>
        <% else %>
            <%= link_to 'KIWi', course_food_path(course_id: course_id,
                                                  params: { project: 'kiwi'}),
                        class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if !current_user.nuesse?(course) %>
          <span class="nav-link disabled">
            NÜSsE
          </span>
        <% else %>
            <%= link_to 'NÜSsE', course_food_path(course_id: course_id,
                                                  params: { project: 'nuesse'}),
                        class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if !current_user.keks?(course) %>
          <a href="<%= DefaultSetting::KEKS_LINK %>"
             class="nav-link" target="_blank">
            KeKs
          </a>
        <% else %>
            <%= link_to 'KeKs', course_food_path(course_id: course_id,
                                                  params: { project: 'keks'}),
                        class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if !current_user.erdbeere?(course) %>
          <a href="<%= DefaultSetting::ERDBEERE_LINK %>"
             class="nav-link" target="_blank">
            <img src="/erdbeere-16x16.png" width="16" height="16">
            ErDBeere
          </a>
        <% else %>
          <a href="<%= course_food_path(course_id: course_id,
                                        params: { project: 'erdbeere' }) %>"
             class="nav-link" target="_blank">
            <img src="/erdbeere-16x16.png" width="16" height="16">
            ErDBeere
          </a>
        <% end %>
      </li>
      <li class="nav-item">
        <a href="<%= DefaultSetting::MUESLI_LINK %>"
           class="nav-link" target="_blank">
          <img src="/muesli-16x16.png" width="16" height="16">
          MÜSLI
        </a>
      </li>
    <% else %>
      <span class='nav-link disabled'>
        KaViaR
      </span>
      <span class='nav-link disabled'>
        SeSAM
      </span>
      <span class='nav-link disabled'>
        KIWi
      </span>
      <span class='nav-link disabled'>
        NÜSsE
      </span>
      <span class='nav-link disabled'>
        KeKs
      </span>
      <span class='nav-link disabled'>
        <img src="/erdbeere-16x16.png" width="16" height="16">
        ErDBeere
      </span>
      <span class='nav-link disabled'>
        <img src="/muesli-16x16.png" width="16" height="16">
        Müsli
      </span>
    <% end %>
  </ul>
</nav>
