<div class="row"
     id="clickerAlternativeSelection"
     style="display: <%= show(!clicker.question.present?) %>">
  <div class="col-12">
    <%= t('admin.clicker.alternatives') %>:
  </div>
  <div class="col-12">
    <% (2..6).each do |i| %>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"
               name="clickerAlternatives"
               id="clickerAlternatives_<%= i %>"
               data-clicker="<%= clicker.id %>"
               data-alternatives="<%= i %>"
               data-code="<%= clicker.code %>"
               <%= clicker.alternatives == i ? 'checked' : '' %>
               class="clickerAlternatives custom-control-input">
        <label class="custom-control-label"
               for="clickerAlternatives_<%= i %>">
          <%= i %>
        </label>
      </div>
    <% end %>
  </div>
</div>
<% if clicker.question.present? %>
  <div class="row">
    <div class="col-12">
      <button role="button"
              class="btn btn-secondary-outline"
              data-code="<%= clicker.code %>"
              id="removeClickerQuestion"
              display="style: <%= show_no_block(clicker.question.present?) %>">
        <%= t('admin.clicker.remove_question') %>
      </button>
    </div>
  </div>
<% end %>