<%= form_with url: bulk_upload_corrections_path(id: @tutorial.id,
                                                ass_id: @assignment.id),
        html: { id: 'bulk-upload-form',
          data: { controller: 'uppy-upload',
            uppy_upload_kind_value: 'bulk-correction',
            uppy_upload_endpoint_value: '/corrections/upload',
            uppy_upload_failure_message_value: t('submission.upload_failure'),
            uppy_upload_empty_file_message_value: t('submission.upload_failure_empty_file_bulk') } },
              method: :patch do |f| %>
      <h5>
        <%= t('submission.bulk_upload') %>
        <%= helpdesk(t('tutorial.bulk_upload.info.general_info'), false) %>
      </h5>
  <div class="row mt-3">
    <div class="col-12">
      <%= f.hidden_field :files,
                         id: 'upload-bulk-correction-hidden',
                         data: { uppy_upload_target: 'hiddenInput' } %>
      <div data-uppy-upload-target="dashboard"></div>
    </div>
    <div class="col-12"
         id="upload-bulk-correction-metadata"
         data-tr-uploads="<%= t('tutorial.bulk_upload.files_in_cache') %>"
         data-uppy-upload-target="metadata">
    </div>
    <div class="invalid-feedback" id="upload-bulk-errors">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <%= f.submit t('buttons.save'),
                   class: 'btn btn-sm btn-primary',
                   id: 'upload-bulk-correction-save',
                   disabled: true,
                   data: { uppy_upload_target: 'submitButton' } %>
      <button class="btn btn-sm btn-secondary"
              id="cancel-bulk-upload"
              type="button">
        <%= t('buttons.cancel') %>
      </button>
    </div>
  </div>
<% end %>