<input id="upload-bulk-correction" type="file"
  multiple="true">
<%= form_with url: bulk_upload_corrections_path(id: @tutorial.id,
                                                ass_id: @assignment.id),
              html: { id: 'bulk-upload-form'},
method: :patch do |f| %>
<h5>
  <%= t('submission.bulk_upload') %>
  <%= helpdesk(t('tutorial.bulk_upload.info.general_info'), false) %>
</h5>
<div class="row mt-3">
  <div id="upload-bulk-correction-button"
    class="col-12"
    data-choosefiles="<%= t('basics.file') %>">
    <%= f.hidden_field :files,
    id: 'upload-bulk-correction-hidden' %>
  </div>
  <div id="upload-bulk-correction-metadata" class="col-12"
    data-tr-uploads="<%= t('tutorial.bulk_upload.files_in_cache') %>">
  </div>
  <div id="upload-bulk-correction-informer" class="col-12">
  </div>
  <div id="upload-bulk-correction-statusBar" class="col-12">
  </div>
  <div id="upload-bulk-errors" class="invalid-feedback">
  </div>
  <div class="col-12">
    <div id="bulk-uploadButton-button"
      class="btn btn-sm btn-outline-secondary"
    >
      <%= t('basics.files')%></div>
    <button
      id="bulk-uploadButton-button-actual"
      class="btn btn-sm btn-outline-secondary"
      data-tr-failure="<%= t('submission.upload_failure')%>"
      data-tr-failure-empty-file="<%= t('submission.upload_failure_empty_file')%>"
      data-tr-failure-empty-file-bulk="<%= t('submission.upload_failure_empty_file_bulk')%>"
      data-tr-missing-consent="<%= t('submission.missing_consent')%>"
      data-tr-post-processing="<%= t('basics.post_processing')%>"
      data-tr-success="<%= t('buttons.upload_success') %>"
    >
      <%= t('buttons.upload') %>
    </button>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <%= f.submit t('buttons.save'),
                   class: 'btn btn-sm btn-primary',
                   id: 'upload-bulk-correction-save',
    disabled: true %>
    <button id="cancel-bulk-upload"
      type="button"
      class="btn btn-sm btn-secondary">
      <%= t('buttons.cancel') %>
    </button>
  </div>
</div>
<% end %>
