<div class="list-group-item tutorialRow"
       data-id="<%= tutorial.id.to_i %>">
<%= form_with model: tutorial do |f| %>
  <div class="form-row">
    <div class="form-group col-4">
      <%= f.text_field :title,
                       class: 'form-control' %>
      <div class="invalid-feedback"
           id="tutorial-title-error">
      </div>
    </div>
    <div class="form-group col-4">
      <%= f.select :tutor_id,
                   options_for_select(User.select_editors, tutorial&.tutor_id),
                   { prompt: t('basics.select') },
                   { class: 'form-control' } %>
    </div>
    <div class="form-group col-4">
      <%= f.submit t('buttons.save'),
                   class: 'btn btn-sm btn-primary ml-2' %>
      <% if tutorial.persisted? %>
        <%= link_to t('buttons.cancel'),
                    cancel_edit_tutorial_path(tutorial),
                    class: 'btn btn-sm btn-secondary',
                    remote: true %>
      <% else %>
        <button class="btn btn-sm btn-secondary"
                id="cancelNewTutorial">
          <%= t('buttons.cancel') %>
        </button>
      <% end %>
    </div>
  </div>
  <%= f.hidden_field :lecture_id,
                     value: tutorial.lecture.id %>
<% end %>
</div>