<%# Exercise sheet dropdown button %>
<% if @assignments.size > 1 %>
  <span class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown"
            type="button">
      <%= @assignment.title %>
    </button>
    <div class="dropdown-menu">
      <% (@assignments - [@assignment]).each do |a| %>
        <%= link_to a.title,
                    lecture_tutorials_path( @lecture,
                                            params: { assignment: a.id,
                                                      tutorial: @tutorial.id }),
                                            class: 'dropdown-item' %>
      <% end %>
    </div>
  </span>
<% else %>
  <button class="btn btn-secondary" disabled>
    <%= @assignment.title %>
  </button>
<% end %>
<%# Tutorial dropdown button %>
<% if @tutorials.size > 1 %>
  <%= render partial: 'tutorials/tutorial_dropdown' %>
<% else %>
  <button class="btn btn-secondary ml-3" disabled>
    <%= @tutorial.title %>
  </button>
<% end %>
<%# Overviwe button %>
<% if current_user.editor_or_teacher_in?(@lecture) %>
  <%= link_to t('basics.overview'),
              lecture_tutorial_overview_path( @lecture,
                                              params: { assignment: @assignment.id }),
                                              class: 'btn btn-primary ml-3' %>
<% end %>
<%# Bulk download and upload submission buttons %>
<% if @stack.present? %>
  <%= link_to t('submission.bulk_download_submissions'),
              bulk_download_submissions_path( id: @tutorial.id,
                                              ass_id: @assignment.id),
                                              class: 'btn btn-primary ml-3',
                                              data: { turbo: false } %>
  <% if current_user.in?(@tutorial.tutors) %>
    <% if !@assignment.active? %>
      <button class="btn btn-primary ml-3"
                  id="show-bulk-upload-area">
            <%= t('submission.bulk_upload') %>
          </button>
    <% else %>
      <button class="btn btn-secondary ml-3"
                  id="show-bulk-upload-area" disabled>
            <%= t('submission.bulk_upload') %>
          </button>
    <% end %>
  <% else %>
    <% if @stack.select{|s| s.correction.present?}.size > 0 %>
      <%= link_to t('submission.bulk_download_corrections'),
                  bulk_download_corrections_path( id: @tutorial.id,
                                                  ass_id: @assignment.id),
                                                  class: 'btn btn-primary ml-3',
                                                  data: { turbo: false } %>
    <% else %>
      <button class="btn btn-secondary ml-3" disabled>
        <%= t('submission.bulk_download_corrections') %>
      </button>
    <% end %>
  <% end %>
  <%# Teams as csv button %>
  <%= link_to t('tutorial.teams_as_csv'),
              export_teams_to_csv_path( id: @tutorial.id,
                                        ass_id: @assignment.id,
                                        format: 'csv'),
                                        class: 'btn btn-primary ml-3',
                                        id: 'export-teams' %>
<% end %>
<%# Certificate check button %>
<%= link_to t('tutorial.certificate_check'),
            validate_certificate_as_tutor_path( params:
                                                  { lecture_id: @lecture.id }),
                                                class: 'btn btn-primary ml-3',
                                                remote: true %>
<% if current_user.in?(@tutorial.tutors) %>
  <%# Deadline and grace period warnings %>
  <% if @assignment.active? || @assignment.in_grace_period? %>
    <div class="row my-3">
      <div class="col-12">
        <span class="badge badge-danger">
          <%= t('basics.attention') %>
        </span>
        <% if @assignment.active? %>
          <%= t('tutorial.deadline_warning',
                deadline: l(@assignment.deadline,
                            format: :short)) %>
        <% else %>
          <%= t('tutorial.grace_period_warning',
                friendly_deadline: l(@assignment.friendly_deadline,
                                     format: :short)) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%# Bulk upload area %>
  <div class="row m-2 p-2 border border-round bg-light"
       id="bulk-upload-area">
    <div class="col-12">
      <% if @stack.present? %>
        <%= render partial: 'tutorials/bulk_correction_form',
                   locals: { tutorial: @tutorial,
                             assignment: @assignment } %>
      <% end %>
    </div>
  </div>
  <div class="row my-3 p-3"
       id="bulk-upload-report">
  </div>
<% end %>