<div class="row">
  <div class="col-3">
    <%= submission.users.map(&:tutorial_name).join(', ') %>
    <% if submission.too_late? %>
      <i class="fas fa-exclamation-triangle"
         data-toggle="tooltip"
         title="<%= late_submission_info(submission) %>">
      </i>
    <% end %>
  </div>
  <div class="col-3">
    <%= link_to t('buttons.download'),
                show_submission_manuscript_path(submission,
                                                params: { download: 'true' }),
                class: 'btn btn-sm btn-outline-secondary mb-2',
                data: { turbolinks: false } %>
    <% unless submission.assignment.accepted_file_type
                        .in?(Assignment.non_inline_file_types) %>
      <%= link_to t('buttons.show'),
                  show_submission_manuscript_path(submission),
                  class: 'btn btn-sm btn-outline-secondary mb-2',
                  data: { turbolinks: false } %>
    <% end %>
  </div>
  <div class="col-3 correction-column"
       data-id="<%= submission.id %>">
    <%= render partial: 'submissions/correction_column',
               locals: { submission: submission } %>
  </div>
  <div class="col-3 submission-actions"
       data-id="<%= submission.id %>">
    <%= render partial: 'submissions/other_actions',
               locals: { submission: submission } %>
  </div>
</div>