<% if stack.any? %>
  <ul class="list-group mt-3">
    <li class="list-group-item bg-light">
      <div class="row">
        <b class="col-3">
          <%= t('basics.team') %>
        </b>
        <b class="col-3">
          <%= t('basics.submission') %>
        </b>
        <b class="col-3">
          <%= t('basics.correction') %>
        </b>
        <b class="col-3">
          <%= t('basics.actions') %>
        </b>
      </div>
    </li>
    <div class="tutorialTableContent">
      <%= render partial: 'tutorials/rows',
                 collection: stack,
                 as: :submission %>
    </div>
  </ul>
<% else %>
  <div class="jumbotron mt-3">
    <%= t('tutorial.no_submissions_for_assignment') %>
  </div>
<% end %>