<% if @assignments.present? %>
  <div class="row">
    <div class="col-12">
      <% if @assignments.size > 1 %>
        <span class="dropdown">
          <button class="btn btn-secondary dropdown-toggle"
                  data-toggle="dropdown"
                  type="button">
            <%= @assignment.title %>
          </button>
          <div class="dropdown-menu">
            <% (@assignments - [@assignment]).each do |a| %>
              <%= link_to a.title,
                          lecture_tutorials_path(@lecture,
                                                 params: { assignment: a.id,
                                                           tutorial: @tutorial.id }),
                          class: 'dropdown-item' %>
            <% end %>
          </div>
        </span>
      <% else %>
        <button class="btn btn-secondary" disabled>
          <%= @assignment.title %>
        </button>
      <% end %>
      <% if @tutorials.size > 1 %>
        <span class="dropdown ml-3">
          <button class="btn btn-secondary dropdown-toggle"
                  data-toggle="dropdown"
                  type="button">
            <%= @tutorial.title %>
          </button>
          <div class="dropdown-menu">
            <% (@tutorials - [@tutorial]).each do |t| %>
              <%= link_to t.title,
                          lecture_tutorials_path(@lecture,
                                                 params:
                                                   { assignment: @assignment.id,
                                                     tutorial: t.id }),
                         class: 'dropdown-item' %>
            <% end %>
          </div>
        </span>
      <% else %>
        <button class="btn btn-secondary ml-3" disabled>
          <%= @tutorial.title %>
        </button>
      <% end %>
      <% if current_user.editor_or_teacher_in?(@lecture) %>
        <%= link_to t('basics.overview'),
                    lecture_tutorial_overview_path(@lecture),
                    class: 'btn btn-primary ml-3' %>
      <% end %>
      <% if @stack.present? %>
        <%= link_to t('submission.bulk_download'),
                    bulk_download_submissions_path(id: @tutorial.id,
                                                   ass_id: @assignment.id),
                    class: 'btn btn-primary ml-3',
                    data: { turbolinks: false } %>
        <button class="btn btn-primary ml-3"
                id="show-bulk-upload-area">
          <%= t('submission.bulk_upload') %>
        </button>
        <%= link_to t('tutorial.teams_as_csv'),
                    export_teams_to_csv_path(id: @tutorial.id,
                                             ass_id: @assignment.id,
                                             format: 'csv'),
                    class: 'btn btn-primary ml-3',
                    id: 'export-teams' %>
      <% end %>
      <%= link_to t('tutorial.certificate_check'),
                  validate_certificate_as_tutor_path(params:
                                                       { lecture_id:
                                                           @lecture.id }),
                  class: 'btn btn-primary ml-3',
                  remote: true %>
    </div>
  </div>
  <% if @assignment.in_grace_period? %>
    <div class="row my-3">
      <div class="col-12">
        <span class="badge badge-danger">
          <%= t('basics.attention') %>
        </span>
        <%= t('tutorial.grace_period_warning',
              friendly_deadline: l(@assignment.friendly_deadline,
                                   format: :short)) %>
      </div>
    </div>
  <% end %>
  <div class="row m-2 p-2 border border-round bg-light"
       id="bulk-upload-area">
    <div class="col-12">
      <% if @stack.present? %>
        <%= render partial: 'tutorials/bulk_correction_form',
                   locals: { tutorial: @tutorial,
                             assignment: @assignment } %>
      <% end %>
    </div>
  </div>
  <div class="row my-3 p-3"
       id="bulk-upload-report">
  </div>
  <div id="tutorial-table">
    <%= render partial: 'tutorials/table',
               locals: { assignment: @assignment,
                         tutorial: @tutorial,
                         stack: @stack } %>
  </div>
<% else %>
  <div class="jumbotron">
    <%= t('assignment.nothing_yet_in_lecture') %>
  </div>
<% end %>
<%= render partial: 'shared/generic_modal',
           locals: { sort: 'validateCertificate',
                     title: t('tutorial.certificate_check') } %>
