<% if @assignments.present? %>
  <div class="row">
    <div class="col-12">
      <% if @assignments.size > 1 %>
        <span class="dropdown">
          <button class="btn btn-secondary dropdown-toggle"
                  data-toggle="dropdown"
                  type="button">
            <%= @assignment.title %>
          </button>
          <div class="dropdown-menu">
            <% (@assignments - [@assignment]).each do |a| %>
              <%= link_to a.title,
                          lecture_tutorials_teacher_path(@lecture,
                                                 params: { assignment: a.id,
                                                           tutorial: @tutorial.id }),
                          class: 'dropdown-item' %>
            <% end %>
          </div>
        </span>
      <% else %>
        <button class="btn btn-secondary" disabled>
          <%= @assignment.title %>
        </button>
      <% end %>
      <% if @tutorials.size > 0 %>
        <span class="dropdown ml-3">
          <button class="btn btn-secondary dropdown-toggle"
                  data-toggle="dropdown"
                  type="button">
            <%= @tutorial.title %>
          </button>
          <div class="dropdown-menu">
            <%= link_to t('basics.overview'), lecture_tutorial_overview_path(@lecture,
                                                                            params: { assignment: @assignment.id }),
                                                                            class: 'dropdown-item' %>
            <% if (@tutorials - [@tutorial]).size > 0 %>
              <div class="dropdown-divider"></div>
              <% (@tutorials - [@tutorial]).each do |t| %>
                <%= link_to t.title,
                            lecture_tutorials_teacher_path(@lecture,
                                                  params:
                                                    { assignment: @assignment.id,
                                                      tutorial: t.id }),
                          class: 'dropdown-item' %>
              <% end %>
            <% end %>
          </div>
        </span>
      <% else %>
        <button class="btn btn-secondary ml-3" disabled>
          <%= @tutorial.title %>
        </button>
      <% end %>
      <% if @stack.present? %>
        <%= link_to t('submission.bulk_download_submissions'),
                    bulk_download_submissions_path(id: @tutorial.id,
                                                   ass_id: @assignment.id),
                    class: 'btn btn-primary ml-3',
                    data: { turbolinks: false } %>
        <% if @stack.select{|s| s.correction.present?}.size > 0 %>
          <%= link_to t('submission.bulk_download_corrections'),
                      bulk_download_corrections_path(id: @tutorial.id,
                                                    ass_id: @assignment.id),
                      class: 'btn btn-primary ml-3',
                      data: { turbolinks: false } %>
        <% else %>
          <button class="btn btn-secondary ml-3" disabled>
            <%= t('submission.bulk_download_corrections') %>
          </button>
        <% end %>
        <%= link_to t('tutorial.teams_as_csv'),
                    export_teams_to_csv_path(id: @tutorial.id,
                                             ass_id: @assignment.id,
                                             format: 'csv'),
                    class: 'btn btn-primary ml-3',
                    id: 'export-teams' %>
      <% end %>
    </div>
  </div>
  <% if @assignment.in_grace_period? %>
    <div class="row my-3">
      <div class="col-12">
        <span class="badge badge-danger">
          <%= t('basics.attention') %>
        </span>
        <%= t('tutorial.grace_period_warning',
              friendly_deadline: l(@assignment.friendly_deadline,
                                   format: :short)) %>
      </div>
    </div>
  <% end %>
  <div class="row my-3 p-3"
       id="bulk-upload-report">
  </div>
  <div id="tutorial-table">
    <%= render partial: 'tutorials/table',
               locals: { assignment: @assignment,
                         tutorial: @tutorial,
                         stack: @stack } %>
  </div>
<% else %>
  <div class="jumbotron">
    <%= t('assignment.nothing_yet_in_lecture') %>
  </div>
<% end %>
<%= render partial: 'shared/generic_modal',
           locals: { sort: 'validateCertificate',
                     title: t('tutorial.certificate_check') } %>
