<% if @assignments %>
  <div class="row">
    <div class="col-12">
      <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                type="button">
          <%= @assignment.title %>
        </button>
        <div class="dropdown-menu">
          <% (@assignments - [@assignment]).each do |a| %>
            <%= link_to a.title,
                        lecture_tutorials_path(@lecture,
                                               params: { assignment: a.id,
                                                         tutorial: @tutorial.id }),
                        class: 'dropdown-item' %>
          <% end %>
        </div>
      </span>
      <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                type="button">
          <%= @tutorial.title %>
        </button>
        <div class="dropdown-menu">
          <% (@tutorials - [@tutorial]).each do |t| %>
            <%= link_to t.title,
                        lecture_tutorials_path(@lecture,
                                               params:
                                                 { assignment: @assignment.id,
                                                   tutorial: t.id }),
                        class: 'dropdown-item' %>
          <% end %>
        </div>
      </span>
    </div>
  </div>
  <%= render partial: 'tutorials/table',
             locals: { assignment: @submitted_assignment,
                       tutorial: @tutorial,
                       stack: @stack } %>
<% else %>
  <div class="jumbotron">
    <%= t('assignment.nothing_yet_in_lecture') %>
  </div>
<% end %>