<div class="card bg-mdb-color-lighten-5">
  <div class="card-header bg-mdb-color-lighten-4">
    <h5>
      <%= t('basics.basics') %>
    </h5>
  </div>
  <div class="card-body">
    <div class="form-row">
    <div class="col-12 form-group">
      <%= f.label :title, t('basics.title') %>
      <%= helpdesk(t('admin.section.info.title'), false) %>
      <%= f.text_field :title, { class: 'form-control',
                                 id: 'section_title_' + section.id.to_s,
                                 data: { id: section.id,
                                         chapter: section.chapter.id } } %>
      <div class="invalid-feedback"
           id="section-title-error-<%= section.id %>">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 form-group">
      <%= f.label :chapter_id,
                  t("basics.#{section.lecture.chapter_name}") %>
      <%= helpdesk(t('admin.section.info.chapter'), false) %>
      <%= f.select :chapter_id,
                   options_for_select(lecture_chapters_for_select(section),
                                      section.chapter.id), {},
                   { class: 'form-control'} %>
    </div>
    <div class="col-8 form-group">
      <%= f.label :predecessor,
                  t('admin.section.position') %>
      <%= helpdesk(t('admin.section.info.position'), false) %>
      <%= f.select :predecessor,
                   options_for_select(section_positions_for_select(section),
                                      section.position - 1) ,
                                      {},
                                      { class: 'form-control' } %>
    </div>
    <div class="col-4 form-group">
      <%= f.label :display_number,
                  t('admin.section.display_number') %>
      <%= helpdesk(t('admin.section.info.display_number'), false) %>
      <%= f.text_field :display_number,
                       { class: 'form-control',
                         id: 'section_number_alt_' + section.id.to_s,
                         data: { id: section.id,
                                 chapter: section.chapter.id } } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tag_ids,
                t('basics.related_tags') %>
    <%= helpdesk(t('admin.section.info.related_tags'), false) %>
    <a class="fas fa-plus-circle clickable text-dark"
       id="new-tag-button"
       data-toggle="tooltip"
       title="Tag anlegen"
       data-course="<%= section.chapter.lecture.course.id %>"
       data-section="<%= section.id %>"
       data-from="section">
    </a>
    <%= f.select :tag_ids,
                 options_for_select(section.tags
                                           .map { |t| [t.extended_title, t.id] },
                                    section.tag_ids),
                 {},
                 { multiple: true,
                   class: 'selectize mt-2',
                   data: { id: section.id,
                           chapter: section.chapter.id,
                           ajax: true,
                           filled: false,
                           model: 'tag',
                           drag: true,
                           locale: I18n.locale },
                   id: 'section_tag_ids_' + section.id.to_s } %>
    <div class="invalid-feedback"
         id="section-tags-error-<%= section.id %>">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= t('basics.lessons') %>
      <%= helpdesk(t('admin.section.info.lessons'), false) %>
      <%= link_to new_lesson_path(lecture_id: section.lecture.id,
                                  section_id: section.id),
                  remote: true,
                  id: 'new-lesson-button',
                  class: 'text-dark',
                  data: { toggle: 'tooltip' },
                  title: t('buttons.create_lesson'),
                  style: 'text-decoration: none;' do %>
        <i class="fas fa-plus-circle">
        </i>
      <% end %>
    </div>
    <div class="col-12">
      <% if section.lessons.any? %>
        <ul>
          <% section.lessons.each do |l| %>
            <li>
              <%= link_to l.to_label,
                          edit_lesson_path(l) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= t('admin.section.no_lessons') %>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12">
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :hidden,
                        class: 'custom-control-input' %>
        <%= f.label :hidden,
                    t('admin.section.exempt'),
                    { class: 'custom-control-label' } %>
        <%= helpdesk(t('admin.section.info.exempt'), false) %>
      </div>
    </div>
  </div>
</div>
</div>