<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-12">
        <h5>
          <%= t('basics.sections') %> (<%= sections.count %>)
          <%= helpdesk(t('admin.section.info.list'), false) %>
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body p-2">
    <ul>
      <% sections.each do |s| %>
        <li>
          <%= link_to s.lecture.title,
                      edit_or_show_lecture_path(s.lecture),
                      class: lectures_color(s.lecture) %>
          :
          <%= s.to_label %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
