<div class="card bg-mdb-color-lighten-5">
  <div class="card-header bg-mdb-color-lighten-4">
    <h5>
      <%= t('content') %>
    </h5>
  </div>
  <div class="card-body card-xl">
    <div class="mb-2">
      <%= t('basics.details') %>
      <%= helpdesk(t('admin.section.info.details'), false) %>
    </div>
    <input id="section-details-input" value="<%=section.details%>" hidden=true>
                <trix-editor id='section-details-trix' name="details"
                value="section-details-input"
                class= 'bg-light'
                ></trix-editor>
    <div class="row my-2">
      <div class="col-12">
        <%= t('basics.preview') %>
      </div>
    </div>
    <div class="alert alert-dark bg-mdb-color-lighten-6"
         id="section-details-preview">
        <%= raw(section.details) %>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= t('admin.section.extracted_content') %>
        <%= helpdesk(t('admin.section.info.extracted_content'), false) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= render partial: 'items/items_list',
                   locals: { items: @section.visible_items,
                             section_links: false,
                             content: [] } %>
      </div>
    </div>
  </div>
</div>