<%= form_with model: section,
              html: { id: 'section-form',
                      data: { id: section.id } } do |f| %>
  <div class="row px-2 py-2 mt-2">
    <div class="col-5">
      <h4 class="pl-2">
        <span class="badge badge-secondary">
          <%= t('basics.section') %>
        </span>
        <%= section.to_label %>
      </h4>
    </div>
    <div class="col-5">
      <div id="section-basics-warning">
        <%= t('warnings.unsaved_changes') %>
        <%= f.submit t('buttons.save'),
                     class: 'btn btn-sm btn-primary' %>
        <button type="button"
                class="btn btn-sm btn-secondary ml-2"
                id="cancel-section-edit">
          <%= t('buttons.discard') %>
        </button>
      </div>
    </div>
    <div class="col-2 text-right">
      <%= link_to t('buttons.parent_lecture'),
                  edit_or_inspect_lecture_path(section.lecture),
                  class: 'btn btn-sm btn-outline-primary mb-2' %>
      <%= link_to t('buttons.delete'),
                  section_path(section),
                  method: :delete,
                  data: { confirm: t('confirmation.section') },
                  class: 'btn btn-sm btn-danger mb-2' %>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6">
      <%= render partial: 'sections/basics',
                 locals: { section: section,
                           f: f } %>
    </div>
    <div class="col-6">
      <%= render partial: 'sections/content',
                 locals: { section: section,
                           f: f } %>
    </div>
  </div>
<% end %>
<%= render partial: 'tags/modal' %>