<div class="row">
  <div class="col-6">
    <h6>
      Abschnitt
      <span class="redtext">
        <%= section.to_label %>
      </span>
      bearbeiten
    </h6>
  </div>
  <div class="col-6">
    <div id="section-basics-warning"
         class="section-basics-warning"
         style="display: none;">
      Achtung, es gibt ungespeicherte Änderungen!
    </div>
  </div>
</div>
<%= form_with model: section,
              html: { id: 'section-form',
                      data: { id: section.id } } do |f| %>
  <div class="form-row">
    <div class="col-12 form-group">
      <%= f.label :title, 'Titel' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Hier kannst Du den Titel des Abschnitts angeben.">
      </i>
      <%= f.text_field :title, { class: 'form-control',
                                 id: 'section_title_' + section.id.to_s,
                                 data: { id: section.id,
                                         chapter: section.chapter.id } } %>
      <div class="invalid-feedback"
           id="section-title-error-<%= section.id %>">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 form-group">
      <%= f.label :chapter_id,
                  'Kapitel' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Hier kannst Du auswählen, in welchem Kapitel sich der
         Abschnitt befinden soll.">
      </i>
      <%= f.select :chapter_id,
                   options_for_select(lecture_chapters_for_select(section),
                                      section.chapter.id), {},
                   { class: 'form-control'} %>
    </div>
    <div class="col-8 form-group">
      <%= f.label :predecessor,
                  'Positionierung nach Abschnitt' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Hier kannst Du auswählen, an welcher Stelle der
         Abschnitt positioniert werden soll, indem Du den Vorgängerabschnitt
         auswählst.">
      </i>
      <%= f.select :predecessor,
                   options_for_select(section_positions_for_select(section),
                                      section.position - 1) ,
                                      {},
                                      { class: 'form-control' } %>
    </div>
    <div class="col-4 form-group">
      <%= f.label :display_number,
                  'Anzeigenr.' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover" data-trigger="focus"
         title="Info"
         data-content="Wird eine Anzeigenummer angegeben, so überschreibt diese
         die berechnete Nummer. Das macht z.B. Sinn, wenn man statt
         '§3.2. Mein Abschnitt' lieber 'Anhang A. Mein Abschnitt'
         als Titel haben möchte.">
      </i>
      <%= f.text_field :display_number,
                       { class: 'form-control',
                         id: 'section_number_alt_' + section.id.to_s,
                         data: { id: section.id,
                                 chapter: section.chapter.id } } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tag_ids, 'Verknüpfte Tags' %>
    <i class="far fa-question-circle helpdesk"
       tabindex="-1"
       data-toggle="popover"
       data-trigger="focus"
       title="Info"
       data-content="Hier kannst Du die Tags auswählen, die zu diesem Abschnitt
       assoziiert sein sollen und ggf. neue Tags erstellen.">
    </i>
    <a class="fas fa-plus-circle clickable"
       id="new-tag-button"
       data-toggle="tooltip"
       title="Tag anlegen"
       data-course="<%= section.chapter.lecture.course.id %>"
       data-section="<%= section.id %>"
       data-from="section">
    </a>
    <%= f.select :tag_ids,
                 options_for_select(section.tags_order
                                           .map { |t| [Tag.find_by_id(t).title, t] } +
                                      Tag.select_by_title_except(section.tags),
                                    section.tag_ids),
                 {},
                 { multiple: true,
                   class: 'selectize mt-2',
                   data: { id: section.id,
                           chapter: section.chapter.id },
                   id: 'section_tag_ids_' + section.id.to_s } %>
    <div class="invalid-feedback"
         id="section-tags-error-<%= section.id %>">
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lesson_ids, 'Sitzungen' %>
    <i class="far fa-question-circle helpdesk"
       tabindex="-1"
       data-toggle="popover"
       data-trigger="focus"
       title="Info"
       data-content="Hier kannst Du die Sitzungen auswählen, in denen Inhalte
       aus diesem Abschnitt behandelt werden bzw. wurden.">
    </i>
    <%= f.select :lesson_ids,
                 options_for_select(section_lessons_for_select(section),
                                    section.lesson_ids),
                 {}, { multiple: true,
                       class: 'selectize mt-2',
                       data: { id: section.id,
                               chapter: section.chapter.id },
                       id: 'section_lesson_ids_' + section.id.to_s } %>
    <div class="invalid-feedback"
         id="section-lessons-error-<%= section.id %>">
    </div>
  </div>
  <div class="form-row">
    <div class="col-12">
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :hidden,
                        class: 'custom-control-input' %>
        <%= f.label :hidden,
                    'von Gliederung ausgenommen',
                    { class: 'custom-control-label' } %>
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Wenn Du dieses Feld anklickst, wird dieser Abschnitt
           nicht in der Vorlesungsgliederung als Abschnitt auftreten. Trotzdem
           sind der Abschnitt und seine Inhalte für NutzerInnen auffindbar.">
        </i>
      </div>
    </div>
  </div>
  <div class="row mt-2 ">
    <div class="col-12 text-center">
      <%= f.submit "Speichern",
                   class: "btn btn-primary mr-2 mb-2" %>
      <%= f.submit "Speichern und zurück",
                   class: "btn btn-primary mr-2 mb-2" %>
      <button type="button"
              class="btn btn-secondary mb-2"
              id="cancel-section">
        Abbrechen
      </button>
      <%= link_to 'löschen',
                  section_path,
                  method: :delete,
                  data: { confirm: 'Bist Du sicher?' },
                  class: 'btn btn-danger mb-2' %>
    </div>
  </div>
<% end %>
