<div class="row">
  <div class="col-9">
      <span class="badge badge-info">
        <%= section.shown_number %>
      </span>
      <%= section.title %>
  </div>
  <div class="col-3 text-right">
    <div class='btn-group'>
      <button id="targets-section-<%= section.id %>"
              class="btn btn-sm btn-outline-primary rounded collapsed m-1"
              data-toggle="collapse"
              data-target="#collapse-section-<%= section.id %>"
              aria-expanded="true"
              aria-controls="collapse-section-<%= section.id %>">
        Bearbeiten
      </button>
      <%= link_to 'Löschen', section_path(section),
                  method: :delete,
                  data: { confirm: 'Bist Du sicher?' },
                  class: 'btn btn-outline-danger rounded btn-sm m-1' %>
    </div>
  </div>
</div>
