<hr>
<div class="row">
  <div class="col-12">
    <h6>
      Neuen Abschnitt anlegen
    </h6>
  </div>
</div>
<%= form_with model: section do |f| %>
  <div class="form-row">
    <div class="col-6 form-group">
      <%= f.label :title, 'Titel' %>
      <%= f.text_field :title, { class: 'form-control',
                                 id: 'new_section_title' } %>
      <div class="invalid-feedback"
           id="new-section-title-error">
      </div>
    </div>
    <% if chapter.sections.present? %>
      <div class="col-6 form-group">
        <%= f.label :predecessor,
                    'Einfügen nach Abschnitt' %>
        <%= f.select :predecessor,
                     options_for_select([['am Anfang des Kapitels', 0]] + chapter.select_sections,
                                        chapter.last_section_by_position.position) ,
                                 {}, { class: 'form-control' } %>
      </div>
    <% end %>
  </div>
  <%= f.hidden_field :chapter_id, value: chapter.id %>
  <%= f.hidden_field :from %>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit 'Speichern', class: 'btn btn-primary' %>
      <button type="button" id="cancel-new-section-<%= chapter.id %>"
              class="btn btn-secondary">
        abbrechen
      </button>
    </div>
  </div>
<% end %>
