<%= form_with model: section do |f| %>
  <div class="form-row">
    <div class="col-12 form-group">
      <%= f.label :title,
                  t('basics.title') %>
      <%= helpdesk(t('admin.lecture.info.section_title'), false) %>
      <%= f.text_field :title,
                       { class: 'form-control',
                         id: 'new_section_title' } %>
      <div class="invalid-feedback"
           id="new-section-title-error">
      </div>
    </div>
    <% if chapter.sections.exists? %>
      <div class="col-12 form-group">
        <%= f.label :predecessor,
                    t('admin.lecture.insert_after_section') %>
        <%= helpdesk(t('admin.lecture.info.insert_after_section'), false) %>
        </i>
        <%= f.select :predecessor,
                     options_for_select(new_section_position_for_select(chapter),
                                        chapter.last_section_by_position
                                               .position),
                     {},
                     { class: 'form-control' } %>
      </div>
    <% end %>
  </div>
  <%= f.hidden_field :chapter_id,
                     value: chapter.id %>
  <%= f.hidden_field :from %>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'),
                   class: 'btn btn-sm btn-primary' %>
      <button type="button"
              data-chapter="<%= chapter.id %>"
              data-dismiss="modal"
              class="btn btn-sm btn-secondary">
        <%= t('buttons.cancel') %>
      </button>
    </div>
  </div>
<% end %>
