<div class="row">
  <div class="col-12">
    <h2>
      <span class="badge badge-secondary mr-3">
        Abschnitt
      </span>
      <%= @section.to_label %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Vorlesung:
    <% if current_user.lectures.include?(@section.lecture) %>
      <%= link_to @section.lecture.to_label,
                  @section.lecture.path(current_user) %>
    <% else %>
      <span>
        <%= @section.lecture.to_label %>
      </span>
    <% end %>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 col-xl-6 pt-3">
    <%= render partial: 'items/items',
               locals: { items: @section.items_by_time } %>
  </div>
  <div class="col-12 col-xl-6 pt-3">
    <% unless @section.tags.empty? && @section.lessons.empty? %>
      <div class="row">
        <% unless @section.tags.empty? %>
          <div class="col-12 col-xl-6">
            <%= render partial: 'tags/tags',
                       locals: { related_tags: @section.tags,
                                 tags_description: 'Verknüpfte Begriffe'} %>
          </div>
        <% end %>
        <% unless @section.lessons.empty? %>
          <div class="col-12 col-xl-6">
            <%= render partial: 'lessons/lessons',
                       locals: { lessons: @section.lessons,
                                 lessons_description: 'Verknüpfte Sitzungen' } %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% unless @section.media.empty? %>
      <div class="row pt-3">
        <div class="col-12">
          <h5>
            Verknüpfte Medien
          </h5>
        </div>
        <div class="col-12">
          <%= render partial: 'lessons/media',
                     locals: { media: @section.media} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
