<div class="row">
  <div class="col-12">
    <h2>
      <span class="badge badge-secondary mr-3">
        Abschnitt
      </span>
      <%= @section.to_label %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Vorlesung:
    <% if current_user.lectures.include?(@section.lecture) %>
      <%= link_to @section.lecture.to_label,
                  @section.lecture.path(current_user) %>
    <% else %>
      <span>
        <%= @section.lecture.to_label %>
      </span>
    <% end %>
  </div>
</div>
<% unless @section.tags.empty? && @section.lessons.empty? %>
  <div class="row pb-3">
    <% unless @section.tags.empty? %>
      <div class="col-12 col-md-6 col-lg-4 pt-3">
        <%= render partial: 'tags/tags',
                   locals: { related_tags: @section.tags,
                             tags_description: 'Verknüpfte Begriffe' } %>
      </div>
    <% end %>
    <% unless @section.lessons.empty? %>
      <div class="col-12 col-md-6 col-lg-4 pt-3">
        <%= render partial: 'lessons/lessons',
                   locals: { lessons: @section.lessons,
                             lessons_description: 'Verknüpfte Sitzungen' } %>
      </div>
    <% end %>
  </div>
<% end %>
