<div class="row">
  <div class="col-12 col-xl-5">
    <h2>
      <span class="badge badge-secondary mr-3">
        Abschnitt
      </span>
      <%= @section.to_label %>
    </h2>
  </div>
  <div class="col-9 col-xl-5 pt-2">
    (von
    <% if current_user.lectures.include?(@section.lecture) %>
      <%= link_to @section.lecture.to_label,
                  @section.lecture.path(current_user) %>
    <% else %>
      <span>
        <%= @section.lecture.to_label %>
      </span>
    <% end %>
    )
  </div>
  <div class="col-3 col-xl-2 text-right ">
    <% if @section.previous.present? %>
      <a href="<%= section_path(@section.previous) %>"
         class="text-secondary material-icons mr-2"
         style="text-decoration:none; font-size: 3em;"
         data-toggle="tooltip"
         title="voriger Abschnitt">
        keyboard_arrow_left
      </a>
    <% end %>
    <% if @section.next.present? %>
      <a href="<%= section_path(@section.next) %>"
         class="text-secondary material-icons"
         style="text-decoration:none; font-size: 3em;"
         data-toggle="tooltip"
         title="nächster Abschnitt">
        keyboard_arrow_right
      </a>
    <% end %>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 col-lg-4 col-xl-3 col-xxl-2">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'tags/tags',
                   locals: { related_tags: @section.tags,
                             tags_description: 'Verknüpfte Begriffe',
                             small: false } %>
      </div>
      <div class="col-12 mt-2 mb-2">
        <%= render partial: 'lessons/lessons',
                   locals: { lessons: @section.lessons,
                             lessons_description: 'Verknüpfte Sitzungen' } %>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 col-xl-6 col-xxl-7 mb-2">
    <%= render partial: 'items/items',
               locals: { items: @section.items_by_time ,
                         small: false } %>
  </div>
  <div class="col-12 col-lg-12 col-xl-3 col-xxl-3">
    <%= render partial: 'media/related_media',
               locals: { media: @section.media} %>
  </div>
</div>
