<%= form_with(
      model: @info_slide,
            url: @info_slide.new_record? ? questionnaire_info_slides_path(@questionnaire) : questionnaire_info_slide_path(@questionnaire, @info_slide),
      local: true
    ) do |form| %>
  <%= form.text_field :title, placeholder: "Enter a title" %>
  <br>
  <%= form.label(:icon, "Select an Icon as display button", class:"form-label") %>
  <br>
  <%= form.file_field :icon, accept: @accepted_content_types.join(',') %>

  <%= render partial: 'vignettes/slides/form_content', locals: { form: form } %>

  <div>
    <%= form.submit @info_slide.new_record? ? 'Create Info Slide' : 'Update Info Slide' %>
  </div>
<% end %>