<%= form_with(
    model: @info_slide,
    local: true,
    url: @info_slide.new_record? ? questionnaire_info_slides_path(@questionnaire) : questionnaire_info_slide_path(@questionnaire, @info_slide),
    id: "info-slide-form"
    ) do |form| %>

  <%= form.text_field :title, placeholder: "Enter a title" %>
  <br>
  <%= form.label(:icon_type, "Select an Icon", class:"form-label") %>

  <div class="icon-selection d-flex gap-4 my-3">
    <label class="icon-option">
      <%= form.radio_button :icon_type, "eye", class: "icon-radio" %>
      <div class="icon-preview p-3 border rounded text-center">
        <%= image_tag "vignettes/eye.svg", class: "img-fluid", style: "height: 60px;" %>
      </div>
    </label>
    
    <label class="icon-option">
      <%= form.radio_button :icon_type, "dotplot", class: "icon-radio" %>
      <div class="icon-preview p-3 border rounded text-center">
        <%= image_tag "vignettes/dotplot.svg", class: "img-fluid", style: "height: 60px;" %>
      </div>
    </label>
  </div>

  <%= render partial: 'vignettes/slides/form_content', locals: { form: form } %>

  <div class="d-flex justify-content-end align-items-center mt-3">
    <div class="me-auto">
      <%= form.submit @info_slide.new_record? ? 'Create Info Slide' : 'Update Info Slide',
          class: "btn btn-primary slide-submit-btn d-none"
      %>
    </div>
  </div>

<% end %>