<%= form_with(
    model: @info_slide,
    local: true,
    url: @info_slide.new_record? ? questionnaire_info_slides_path(@questionnaire) : questionnaire_info_slide_path(@questionnaire, @info_slide),
    id: "info-slide-form"
    ) do |form| %>

  <div class="form-floating mb-3">
    <%= form.text_field :title, class: 'form-control',
      required: true, placeholder: "" %>
    <%= form.label t("basics.title") %>
  </div>
  
  <%= form.label(:icon_type, "Icon", class:"form-label") %>
  <div class="d-flex gap-3 mb-3" id="vignettes-icon-selection">
    <label>
      <%= form.radio_button :icon_type, "eye", required: true %>
      <%= image_tag "vignettes/eye.svg",
        alt: "Icon of an eye" %>
      </input>
    </label>

    <label>
      <%= form.radio_button :icon_type, "dotplot", required: true %>
      <%= image_tag "vignettes/dotplot.svg",
        alt: "Icon of a dotplot including an error bar and a vertical bar chart" %>
      </input>
    </label>
  </div>

  <%= render partial: 'vignettes/slides/form_content', locals: { form: form } %>

  <div class="d-flex justify-content-end align-items-center mt-3">
    <div class="me-auto">
      <%= form.submit @info_slide.new_record? ? 'Create Info Slide' : 'Update Info Slide',
          class: "btn btn-primary slide-submit-btn d-none"
      %>
    </div>
  </div>

<% end %>