<div class="row" id="erdbeereTagsList">
  <div class="col-12">
    <% if tags.any? %>
    	<%= render partial: "tags/tag",
  	             collection: tags,
    	           cached: true %>
    <% else %>
      <%= t('no_related_tags') %>
    <% end %>
  </div>
</div>
<%= form_with url: update_erdbeere_tags_path,
              method: :post,
              scope: 'erdbeere',
              html: { id: 'edit-erdbeere-tags-form' } do |f| %>
  <%= f.select :tag_ids,
               options_for_select(tags.map { |t| [t.extended_title, t.id] },
                                  tags.map(&:id)),
               {},
               { multiple: true,
                 class: 'selectize',
                 data: { ajax: true,
                         filled: false,
                         model: 'tag',
                         locale: I18n.locale,
                         placeholder: t('basics.enter_two_letters'),
                         no_results: t('basics.no_results') } } %>
  <%= f.hidden_field :sort, value: @sort %>
  <%= f.hidden_field :id, value: @id %>
  <div class="row mt-2">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'),
                   class: 'btn btn-sm btn-primary' %>
      <%= link_to t('buttons.cancel'),
                  cancel_edit_erdbeere_tags_path,
                  remote: true,
                  class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
<% end %>