<div data-test="single-item-fcfs">
  <div class="fs-2 mb-3 fw-semibold text-primary">
    <span><%= item_display_type(item) %></span> : 
    <span><%= item.registerable.title %></span>
  </div>

  <div class="row justify-content-between mb-2">
    <div class="col-9">
      <% Registration::UserRegistrationsHelper::TABLE_CONFIG[item.registerable_type].each do |col| %>
      <div class="mb-1 d-flex align-items-center">
        <span class="badge text-primary m-1 p-0">
          <i class="material-icons text-muted"><%= col[:icon] %></i>
        </span>
        <span class="fw-medium small text-muted col-4"><%= t(col[:header]) %>:</span>
        <span class="fw-normal"><%= col[:field].call(item) %></span>
      </div>
      <% end %>

      <div class="mb-1 d-flex align-items-center">
        <span class="badge text-primary m-1 p-0">
          <i class="material-icons text-muted">event_seat</i>
        </span>
        <span class="fw-medium small text-muted col-4">
          <%= t('registration.user_registration.seats_remaining') %>:
        </span>
        <div class="d-flex align-items-center gap-2">
          <span class="small fw-semibold">
            <%= "#{item.item_capacity_used} / #{nullable_capacity_display(item.capacity)}" %>
          </span>
          <%= progress_bar(item.confirmed_registrations_count,
                                          item.capacity,
                                          classification: :utilization,
                                          label: "",
                                          height: "6px",
                                          container_class: "progress",
                                          style: "width: 100px;") %>
        </div>
      </div>
    </div>

    <% last_updated = campaign.user_registrations_last_updated(current_user) %>
    <% if last_updated %>
      <div class="col-3 small text-success text-end fw-semibold">
        <%= t('basics.saved_at', time: format_date(last_updated)) %>
      </div>
    <% end %>
  </div>

  <% registered = item.user_registered?(current_user) %>

  <div class="d-flex gap-2 justify-content-between flex-wrap">
    <div class="mb-3">
      <% if registered %>
        <span class="badge text-normal rounded-pill text-bg-success m-2">
          <%= t('registration.user_registration.registered') %>
        </span>
      <% else %>
        <span class="badge text-normal rounded-pill text-bg-secondary m-2">
          <%= t('registration.user_registration.not_registered') %>
        </span>
      <% end %>
    </div>

    <% if registered %>
      <%= button_to t('registration.user_registration.withdraw'),
                    withdraw_item_path(campaign.id, item.id),
                    method: :delete,
                    disabled: !campaign.open_for_withdrawals?,
                    class: "btn btn-outline-danger btn-sm" %>
    <% else %>
      <%= button_to t('registration.user_registration.register_now'),
                    register_item_path(campaign.id, item.id),
                    method: :post,
                    disabled: !campaign.open_for_registrations? || !nil_or_positive_integer?(item.capacity_remained),
                    class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>
