<% id = answer.id || 0 %>
<%= bootstrap_form_with model: answer do |f| %>
  <div id="answer-value-<%= id %>" data-id="<%= id %>">
    <%= f.form_group :value, label: { text: "Korrektheit:" } do %>
      <%= f.radio_button :value, true, label: "wahr", inline: true,
                         id: 'answer-true-' + id.to_s %>
      <%= f.radio_button :value, false, label: "falsch", inline: true,
                         id: 'answer-false-' + id.to_s %>
    <% end %>
  </div>
  <%= f.text_area :text, id: 'tex-area-answer-' + id.to_s  %>
  <% if id == 0 %>
    Preview Text:
    <div  class="border bg-correct border-secondary rounded py-2 mb-2"
          id="answer-header-0">
      <span id="answer-box-0" class="mr-2">
        <%= ballot_box(true) %>
      </span>
      <span id='tex-preview-answer-0'></span>
    </div>
  <% end %>
  <%= f.text_area :explanation, label: {text: 'Erklärung'},
                  id: 'tex-area-explanation-' + id.to_s %>
  <% if id == 0 %>
    Preview Erklärung:
    <div  class="border border-secondary rounded bg-light py-2">
      <span id="tex-preview-explanation-0"></span>
    </div>
  <% end %>
  <%= f.hidden_field :question_id, value: question_id,
                     id: 'answer_' + id.to_s + '_question_id' %>
  <div class="text-center mt-4">
    <%= f.submit "Speichern", class: "btn btn-primary" %>
    <% if id == 0 %>
      <button type="button" class="btn btn-secondary ml-3"
              id="new-answer-cancel">
        Abbrechen
      </button>
    <% end %>
  </div>
<% end %>
