<% if total.positive? %>
  <div class="row mx-2 py-3">
    <div class="col-12 col-lg-2">
      <strong>
        <%= t('basics.hits') %>:
      </strong>
      <%= total %>
    </div>
    <div class="col-12 col-lg-10">
      <%= paginate lectures, remote: true %>
    </div>
  </div>
  <% if @results_as_list %>
    <%= render partial: 'lectures/search/list',
               locals: { lectures: lectures } %>
  <% else %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-6">
      <% lectures.each do |l| %>
        <%= render partial: 'main/start/lecture',
                   locals: { lecture: l,
                             current: false,
                             subscribed: l.subscribed_by?(current_user),
                             parent: 'lectureSearch' } %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-12 text-center">
      <%= t('basics.no_hits') %>
      <% if @similar_titles&.any? %>
        <%= t('search.alternative') %>
        <%= t('search.courses_with_similar_titles') %>
        <% @similar_titles.each do |t| %>
          <span class="badge bg-secondary clickable courseAlternativeSearch me-1"
                data-title="<%= t %>"
                data-bs-toggle="tooltip"
                data-placement="bottom"
                title="<%= t('search.click_and_paste') %>">
            <%= t %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
