<%= form_with url: add_correction_path(submission),
              scope: 'submission',
              html: { class: 'correction-upload',
                      data: { id: submission.id } } do |f| %>
  <div class="row">
    <div class="btn btn-sm btn-outline-secondary"
         id="correction-uploadButton-button-<%= submission.id %>"
         data-choosefiles="<%= t('basics.file') %>">
         <%=t('basics.file') %>
      
    </div>
    <div>
    <%= f.hidden_field :correction,
                         value: submission.cached_correction_data,
                         id: "upload-correction-hidden-#{submission.id}" %>
      
      <%= f.file_field :correction2,
                       class: 'form-control-file',
                       id: "upload-correction-#{submission.id}" %>
    </div>
    <button id="correction-uploadButton-button-actual-<%=submission.id%>"
                    data-tr-success="<%= t('buttons.upload_success') %>"
                    data-tr-failure="<%= t('submission.upload_failure') %>"
                    data-tr-failure-empty-file="<%= t('submission.upload_failure_empty_file') %>"
                    data-tr-missing-consent="<%= t('submission.missing_consent') %>"
                    data-tr-post-processing="<%= t('basics.post_processing') %>"
                    class="btn btn-sm btn-outline-secondary">
              <%= t('buttons.upload') %>
    </button>
    <div class="col-12" id="upload-correction-metadata-<%= submission.id %>">
      <% if submission.correction %>
          <%= submission.correction_filename %>
          (<%= number_to_human_size(submission.correction_size) %>)
      <% end %>
    </div>
    <div class="col-12" id="upload-correction-informer-<%= submission.id %>">
    </div>
    <div class="col-12" id="upload-correction-statusBar-<%= submission.id %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <%= f.submit t('buttons.save'),
                  id: 'submit-correction-btn',
                  class: 'btn btn-sm btn-primary' %>
      <%= link_to t('buttons.cancel'),
                  cancel_edit_correction_path(submission),
                  class: 'btn btn-sm btn-secondary',
                  remote: true %>
    </div>
  </div>
<% end %>