<div class="row">
  <div class="col-12">
    <button class="btn btn-sm btn-outline-secondary correction-upload-button"
            data-id="<%= submission.id %>">
      <%= t('buttons.upload') %>
    </button>
    <span class="correction-action-area"
         data-id="<%= submission.id %>">
      <% if submission.correction %>
        <%= link_to t('buttons.show'),
                    show_correction_path(submission),
                    class: 'btn btn-sm btn-outline-secondary',
                    data: { turbolinks: false } %>
        <%= link_to t('buttons.delete'),
                    delete_correction_path(submission),
                    class: 'btn btn-sm btn-outline-secondary',
                    data: { turbolinks: false,
                            confirm: t('confirmation.generic') },
                    method: :delete,
                    remote: true %>
      <% end %>
    </span>
  </div>
</div>
<div class="correction-upload-area"
     data-id="<%= submission.id %>">
  <%= render partial: 'submissions/correction_upload',
             locals: { submission: submission } %>
</div>