<%= form_with model: submission do |f| %>
<div class="card-body submissionBody"
  data-id="<%= assignment.id %>">
  <div class="row mb-3">
    <div class="col-12">
      <%= f.label :tutorial_id,
      t('basics.tutorial') %>
      <%= f.select :tutorial_id,
                     options_for_select(tutorials_selection(lecture),
                                        submission.tutorial&.id ||
                                          submission
                                            .preceding_tutorial(current_user)
                                           &.id),
                     {},
      {} %>
      <div id="submission-tutorial-error"
        class="invalid-feedback">
      </div>
      <%= f.hidden_field :lecture_id,
      value: lecture.id %>
      <%= f.hidden_field :assignment_id,
      value: assignment.id %>
    </div>
  </div>
  <% unless submission.persisted? %>
  <div class="row">
    <div class="col-12" data-cy="submission-invites">
      <%= f.label :invitee_ids,
      t('submission.invitations_to') %>
      <%= f.select :invitee_ids,
                       options_for_select(partner_selection(current_user,
                                                            lecture),
                                          partner_preselection(current_user,
                                                               lecture)),
                       {},
      { multiple: true } %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-12">
      <%= f.label :manuscript, t('basics.submission') %>
    </div>
    <div id="userManuscript-uploadButton" class="col-3"
      data-choosefiles="<%= file_button_text(assignment) %>">
      <%= f.hidden_field :manuscript,
                           value: submission.cached_manuscript_data,
      id: 'upload-userManuscript-hidden' %>
      <%= f.file_field :manuscript,
                         class: 'form-control-file',
                         id: 'upload-userManuscript',
                         "data-cy": "choose-user-submission-file",
                         multiple: assignment.accepted_file_type == '.pdf',
      accept: assignment.accepted_for_file_input %>
      <%= f.hidden_field :detach_user_manuscript,
      value: false %>
      <button id="userManuscript-uploadButton-btn"
        class="btn btn-sm btn-outline-secondary"
        data-cy="choose-user-submission">
        <%= file_button_text(assignment) %>
      </button>
    </div>

    <div class="col-9">
      <i id="removeUserManuscript"
        class="fas fa-lg fa-trash-alt me-2 clickable">
      </i>

      <span id="userManuscriptMetadata"
        style="display: <%= show_inline(submission.manuscript) %>">
        <%= submission.manuscript_filename %>
        (<%= number_to_human_size(submission.manuscript_size) %>)
      </span>
      <span id="noUserManuscript"
        style="display: <%= show_inline(!submission.manuscript) %>">
        <%= t('submission.no_manuscript_yet') %>
      </span>
    </div>
    <div id="userManuscript-status"
      class="col-12 mt-2">
      <div id="file-size-correct"
        class="col-12 submission-initially-hidden">
        <i class="fas fa-check"></i>
        <%=t('submission.correct_file_size')%>
      </div>
      <div id="multiple-files-selected"
        class="col-12 submission-initially-hidden">
        <i class="fas fa-exclamation-triangle"></i>
        <%=t('submission.multiple_files_selected')%>
        <div id="files-display"
          class="col-12">
        </div>
      </div>

      <div id="file-size-too-big"
        class="col-12 submission-initially-hidden">
        <i class="fas fa-exclamation-triangle"></i>
        <%=t('submission.file_size_too_big')%>
      </div>
      <div id="file-size-way-too-big"
        class="col-12 submission-initially-hidden">
        <i class="fas fa-bomb"></i>
        <%=t('submission.file_size_way_too_big')%>
      </div>
      <div id="files-merge"
        class="col-12 submission-initially-hidden">
        <small id="merging-help-text">
          <%= t("submission.merging_help_html")%>
          <%= helpdesk(t('submission.merging_info'), true)%>
        </small>
        <div class="col-12 my-1">
          <button id="userManuscript-merge-btn"
            class="btn btn-sm btn-primary"
            data-tr-failed="<%= t('submission.merging_failed')%>"
            data-tr-working="<%= t('submission.working')%>"
          >
            <%= t('submission.merge') %>
          </button>
        </div>
        <div class="col-12">
          <span id="log-merge-btn" class="badge text-dark lecture-tag clickable">
            <%=t('submission.optimization_log')%>
          </span>
          <div id="userManuscript-merge-log"
            class="submission-initially-hidden border bg-light p-2">
          </div>
        </div>
      </div>
      <div id="file-optimize"
        class="col-12 submission-initially-hidden">
        <small id="optimization-help-text">
          <%= t("submission.optimization_help_html")%>
          <%= helpdesk(t('submission.optimization_info'), true)%>
        </small>
        <div class="col-12 my-1">
          <button id="userManuscript-optimize-btn"
            class="btn btn-sm btn-primary"
            data-tr-failed="<%= t('submission.optimization_failed')%>"
            data-tr-working="<%= t('submission.working')%>"
          >
            <%= t('submission.optimize') %>
          </button>
        </div>
        <div class="col-12">
          <span id="log-btn" class="badge text-dark lecture-tag clickable">
            <%=t('submission.optimization_log')%>
          </span>
          <div id="userManuscript-optimize-log"
            class="submission-initially-hidden border bg-light p-2">
          </div>
        </div>
      </div>
      <div id="file-permission-field" class="col-12 my-1">
        <div class="form-check">
          <input id="file-permission-checkbox" type="checkbox" class="form-check-input" value="0">
          <label class="form-check-label" for="file-permission-checkbox">
            <%= t('submission.assure_third_party') %>
          </label>
        </div>
      </div>
      <div id="submission-final-upload-dialogue" class="col-12">
        <div class="col-12">
          <button
            id="userManuscript-uploadButton-call"
            class="btn btn-sm btn-outline-secondary"
            data-cy="upload-user-submission"
            data-tr-failure="<%= t('submission.upload_failure')%>"
            data-tr-missing-consent="<%= t('submission.missing_consent')%>"
            data-tr-post-processing="<%= t('basics.post_processing')%>"
            data-tr-success="<%= t('buttons.upload_success') %>"
            data-tr-upload="<%=t('buttons.upload')%>"
            disabled="true"
          >
            <%= t('buttons.upload') %>
          </button>
        </div>
        <div class="col-12">
          <small>
            <%= t('submission.removal_notice_html')%>
          </small>
        </div>
        <div class="col-12">
          <small id="userManuscript-not-upload-notice"
            class="text-danger submission-initially-hidden">
            <%= t('submission.submission_not_upload_notice_html')%>
          </small>
        </div>
        <div class="col-12">
          <small id="userManuscript-upload-notice"
            class="text-danger submission-initially-hidden">
            <%= t('submission.submission_upload_notice_html')%>
          </small>
        </div>
      </div>
    </div>
    <div id="userManuscript-statusBar" class="col-12">
    </div>
  </div>
</div>
<div class="card-footer submissionFooter text-center p-2"
  data-id="<%= assignment.id %>">
  <%= f.submit t('buttons.save'),
                  class: 'btn btn-primary',
  "data-cy": "save-submission" %>
  <%= link_to t('buttons.cancel'),
                cancel_editing_submission_path(submission),
                class: 'btn btn-secondary',
  remote: true %>
</div>
<% end %>
