<%= form_with url: join_submission_path,
              method: :post,
              scope: 'join' do |f| %>

  <div class="card-body submissionBody" data-id="<%= assignment.id %>">

    <%= render partial: 'submissions/invites', locals: { assignment: assignment } %>
    
    <div class="form-floating mb-3">
      <%= f.text_field :code,
        placeholder: "",
        class: "form-control",
        autocomplete: "off",
        "data-cy": "submission-token-input" %>
      <%= f.label :code, t('basics.code') %>
      <div class="invalid-feedback" id="submission-code-error"></div>
      <%= f.hidden_field :assignment_id, value: assignment.id %>
    </div>

  </div>

  <div class="card-footer submissionFooter text-center p-2"
       data-id="<%= assignment.id %>">
    <% unless @submission && @submission.invited_user_ids&.include?(current_user.id) %>
      <%= f.submit t('buttons.join'),
          class: 'btn btn-primary',
          "data-cy": "submission-join-via-code" %>
    <% end %>
    <%= link_to t('buttons.cancel'),
                cancel_new_submission_path(params: { assignment_id: assignment.id }),
                class: 'btn btn-secondary',
                "data-cy": "submission-cancel-join",
                remote: true %>
  </div>

<% end %>
