<i class="fas fa-eye-slash fa-lg redtext ms-2"
   id="unpublished_medium_item"
   style="display: <%= show_no_block(!!item&.medium && !item.medium.published?) %>"
   tabindex="-1"
   data-toggle="tooltip"
   title="<%= t('admin.referral.info.unpublished_medium') %>">
</i>
<i class="fas fa-lock fa-lg redtext ms-2"
   id="locked_medium_item"
   style="display: <%= show_no_block(!!item&.medium&.locked?) %>"
   tabindex="-1"
   data-toggle="tooltip"
   title="<%= t('admin.referral.info.locked_medium') %>">
</i>
<i class="fas fa-notes-medical fa-lg redtext ms-2"
   id="locked_medium_item"
   style="display: <%= show_no_block(!!item&.quarantine) %>"
   tabindex="-1"
   data-toggle="tooltip"
   title="<%= t('admin.referral.info.quarantine_item') %>">
</i>
<a id="video-ref"
   href="<%= item&.video_link %>"
   class="fas fa-film fa-lg mx-2 text-dark"
   style="text-decoration: none;
          display: <%= show_no_block(!!item&.video? && item.sort != 'pdf_destination') %>"
   data-toggle="tooltip"
   title="<%= t('video.video') %>"
   target="_blank">
</a>
<a id="manuscript-ref"
   href="<%= item&.manuscript_link %>"
   class="far fa-file-pdf fa-lg mx-2 text-dark"
   style="text-decoration: none;
          display: <%= show_no_block(!!item&.manuscript?) %>"
   data-toggle="tooltip"
   title="<%= t('manuscript.manuscript') %>"
   target="_blank">
</a>
<a id="quiz-ref"
   href="<%= item&.quiz_link %>"
   class="fas fa-gamepad fa-lg mx-2 text-dark"
   style="text-decoration: none;
          display: <%= show_no_block(!!item&.quiz?) %>"
   data-toggle="tooltip"
   title="<%= t('quiz.quiz') %>"
   target="_blank">
</a>
<a id="medium-link-ref"
   href="<%= item&.medium_link %>"
   class="fas fa-link fa-lg mx-2 text-dark"
   style="text-decoration: none;
          display: <%= show_no_block(!!item&.medium_link?) %>"
   data-toggle="tooltip"
   title="externer Link"
   target="_blank">
</a>