<div class="col mb-2">
  <!-- Mode -->
  <% mode_info = get_mode_info(campaign.allocation_mode_before_type_cast) %>
  <div class="col align-items-baseline gap-1">
    <div class="fw-bold text-dark"><%= t('basics.mode') %>:</div>
    <span class="fw-normal"><%= mode_info[:mode_name] %> (<%= mode_info[:abbr] %>)</span>
  </div>

  <!-- Capacity -->
  <% if campaign.status != "completed" %>
  <div class="col align-items-baseline gap-1">
    <div class="fw-bold text-dark"><%= t('basics.capacity') %>:</div>
    <span class="fw-normal">
      <%= sum_of_nullable(items.map(&:capacity)) %> <%= t('basics.seats') %>
      —
      <%= items.sum(&:item_capacity_used) %> /
      <%= nullable_capacity_display(sum_of_nullable(items.map(&:capacity))) %>
      <%= t('basics.filled') %>
      <%= t('basics.across_group') if items.size > 1 %>
    </span>
  </div>
  <% end %>

</div>
