<%= turbo_frame_tag "preferences_table" do %>

  <input type="hidden"
         name="preferences_json"
         id="preferences-json"
         value="<%= item_preferences.to_json %>">

  <table class="table table-sm align-middle mb-2">
    <thead class="bg-grey-lighten-5 text-dark small">
      <tr>
        <% Registration::UserRegistrationsHelper::TABLE_CONFIG[campaign.registerable_type].each do |col| %>
          <th class="fw-semibold"><%= col[:header] %></th>
        <% end %>

        <th class="text-end fw-semibold pe-2">
          <%= t("basics.action") %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% item_preferences.each do |pref| %>
        <% item = pref.item %>

        <tr data-registration-item-search-target="row">

          <% Registration::UserRegistrationsHelper::TABLE_CONFIG[campaign.registerable_type].each do |col| %>
            <td class="<%= col[:cell_class] %>">
              <%= col[:field].call(item) %>
            </td>
          <% end %>

          <td class="text-center small fw-semibold text-dark">
            <%= "#{item.item_capacity_used} / #{nullable_capacity_display(item.capacity)}" %>
          </td>

          <td class="d-flex gap-1 justify-content-end">
            <button type="submit"
                    class="material-icons clickable arrow_upward w-auto"
                    formaction="<%= preference_up_path(item.id) %>">
              arrow_upward
            </button>

            <button type="submit"
                    class="material-icons clickable arrow_downward w-auto"
                    formaction="<%= preference_down_path(item.id) %>">
              arrow_downward
            </button>


            <button type="submit"
                                    class="material-icons clickable playlist_add w-auto"
                                    formaction="<%= remove_preference_path(item.id) %>">
                              playlist_add
                            </button>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
