<div data-test="multi-item-fcfs">
  <h2 class="h5"><%= t("basics.select_type", type: campaign.registerable_type) %></h2>
  
  <div data-controller="registration-item-search">
    <div class="row mb-2 align-items-center">
      <!-- search form -->
      <div class="col-8">
        <%= render partial: "registration/item_search_form/search_form",
               locals: { controller: "registration-item-search",
                         placeholder: t("registration.filter_placeholder") } %>
      </div>

      <!-- saved time -->
      <% last_updated = campaign.user_registrations_last_updated(current_user) %>
      <% if last_updated %>
        <div class="col-4 small text-success text-end">
          <%= t("basics.saved_at", time: format_date(last_updated)) %>
        </div>
      <% end %>
    </div>

    <!-- noti banner if registered -->
    <% if campaign.user_registered?(current_user) %>
      <div class="alert alert-info py-1 px-2">
        <%= t("registration.currently_registered") %>:
        <span>
          <%= campaign.user_registrations_confirmed(current_user)&.first&.registration_item.title %>
        </span>
        . <%= t("registration.withdraw_to_switch") %>
      </div>
    <% end %>

    <div class="table-responsive">
      <table class="table align-middle mb-2" id="itemsTable">
        <thead>
          <tr>
            <!-- attribute data columns -->
            <% Registration::UserRegistrationsHelper::TABLE_CONFIG[campaign.registerable_type].each do |col| %>
              <th><%= col[:header] %></th>
            <% end %>

            <!-- seats + action columns -->
            <th><%= t("basics.status") %></th>
            <th class="text-end"><%= t("basics.action") %></th>
          </tr>
        </thead>

        <tbody>
        <% items.each do |item| %>
          <tr data-registration-item-search-target="row">
            <!-- attribute data columns -->
            <% Registration::UserRegistrationsHelper::TABLE_CONFIG[campaign.registerable_type].each do |col| %>
              <td><%= col[:field].call(item) %></td>
            <% end %>

            <!-- seats column -->
            <td>
              <% if !item.user_registered?(current_user) %>
                <% if item.still_have_capacity? %>
                  <span class="badge rounded-pill text-bg-info"><%= t("basics.available") %></span>
                <% else %>
                  <span class="badge rounded-pill text-bg-light text-dark"><%= t("basics.full") %></span>
                <% end %>
              <% else %>
                <span class="badge rounded-pill text-bg-success"><%= t("registration.registered") %></span>
              <% end %>
            </td>

            <!-- action column -->
            <td class="d-flex justify-content-end">
              <% if !campaign.user_registered?(current_user) %>
                <% if item.user_registered?(current_user) %>
                  <%= button_to t("registration.withdraw"),
                    withdraw_item_path(campaign.id, item.id),
                    method: :delete,
                    disable: !campaign.open_for_withdrawals?,
                    class: "btn btn-outline-danger btn-sm" %>
                <% else %>
                  <%= button_to t("registration.register_now"),
                    register_item_path(campaign.id, item.id),
                    method: :post,
                    disable: !campaign.open_for_registrations? || item.capacity_remained == 0,
                    class: "btn btn-primary btn-sm" %>
                <% end %>
              <% else %>
                <% if item.user_registered?(current_user) %>
                  <%= button_to t("registration.withdraw"),
                    withdraw_item_path(campaign.id, item.id),
                    method: :delete,
                    disable: !campaign.open_for_withdrawals?,
                    class: "btn btn-outline-danger btn-sm" %>
                <% else %>
                  <span class="text-muted small"><%= t("registration.withdraw_first") %></span>
                <% end %>
              <% end %>
            </td>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>