<% if new_tag %>
  <div class="row p-2">
    <div class="col-12">
      <div class="card bg-light mb-4">
        <%= render partial: 'tags/basics',
                   locals: { tag: tag,
                             f: f,
                             new_tag: true,
                             from: from } %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row p-2">
    <div class="col-12 col-xxl-6 mb-2">
      <div class="card">
        <div class="card-header bg-generic-card-header">
          <div class="row">
            <div class="col-3">
              <h5 class="text">
               <%= t('mampf_map') %>
              </h5>
            </div>
            <div class="col-9 text-right">
              <%= link_to t('admin.tag.render'),
                          display_cyto_tag_path(tag),
                          class: 'btn btn-sm btn-outline-secondary',
                          target: :_blank%>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="cy"
               data-elements="<%= @graph_elements.to_json %>"
               data-tag="<%= tag.id %>"
               data-action="edit"
               data-type="tag"
               data-locale="<%= I18n.locale %>">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xxl-6">
      <div class="row">
        <div class="col-12 mb-2">
          <div class="card bg-light"
               id="tagBasicsEdit">
            <%= render partial: 'tags/basics',
                       locals: { tag: tag,
                                 f: f,
                                 new_tag: false,
                                 from: from } %>
          </div>
        </div>
        <div class="col-6 col-xxl-4">
          <div class="row">
            <div class="col-12">
              <div class="card mb-2 bg-light"
                   id="relatedTagsEdit">
                <div class="card-header">
                  <div class="row">
                    <div class="col-9">
                      <h5>
                        <%= t('admin.tag.related_tags') %>
                      </h5>
                    </div>
                    <div class="col-3 text-right">
                      <i class="far fa-edit clickable"
                         id="selectRelatedTags"
                         data-remote="true"
                         data-toggle="tooltip"
                         title="<%= t('admin.tag.edit_related_tags') %>">
                      </i>
                    </div>
                  </div>
                </div>
                <div class="card-body" id="relatedTagsBodyEdit">
                  <% tag.related_tags.natural_sort_by(&:title).each do |t| %>
                    <%= link_to t.short_title,
                                edit_tag_path(t),
                                class: "badge badge-light",
                                id: 'related-' + dom_id(t),
                                data: { toggle: 'tooltip',
                                        placement: 'top',
                                        id: t.id },
                                title: t.title %>
                    <br>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card mb-2 bg-light">
                <div class="card-header">
                  <div class="row">
                    <div class="col-9">
                      <h5>
                        <%= t('basics.realizations') %>
                      </h5>
                    </div>
                    <div class="col-3 text-right">
                      <i class="far fa-edit clickable"
                         id="selectTagRealizations"
                         data-remote="true"
                         data-toggle="tooltip"
                         title="<%= t('admin.tag.edit_related_tags') %>">
                      </i>
                    </div>
                  </div>
                </div>
                <div class="card-body tagRealizationsBodyEdit">
                  <% if tag.realizations.any? %>
                    <% tag.realizations.each do |r| %>
                      <div class="row">
                        <div class="col-12">
                          <%= link_to t('basics.loading_data'),
                                      realization_path(r),
                                      class: 'erdbeere-realization',
                                      data: { sort: r.first,
                                              id: r.second } %>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <%= t('erdbeere.no_realizations') %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-xxl-8">
          <div class="card mb-2"
               id="tagEditAction">
            <div class="card-header bg-mdb-color-darken-2 text-light">
              <span id="tagActionHeader">
                <%= t('basics.action') %>
              </span>
              <span id="tagActionTypeRelated"
                    style="display: none;">
                <%= t('admin.tag.edit_related_tags') %>
              </span>
              <span id="tagActionTypeRealizations"
                    style="display: none;">
                <%= t('erdbeere.edit_realizations') %>
              </span>
            </div>
            <div class="card-body"
                 id="tagEditActionBody">
              <div id="selectRelatedTagsForm"
                   style="display: none;">
                <%= render partial: 'tags/select_related_tags',
                           locals: { tag: tag, f: f } %>
              </div>
              <div id="selectTagRealizationsForm"
                   style="display: none;"
                   data-id="<%= tag.id %>">
                <%= render partial: 'tags/edit/select_realizations',
                           locals: { tag: tag, f: f } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-12 col-xl-6 mb-2">
      <%= render partial: 'media/card',
                 locals: { media: tag.media,
                           small: false,
                           collapsible: false,
                           teachable_type: nil,
                           teachable_id: nil,
                           inspection: true } %>
    </div>
    <div class="col-12 col-xl-6">
      <div class="row">
        <div class="col-12 mb-2">
          <%= render partial: 'sections/card',
                     locals: { sections: tag.sections,
                               inspection: false } %>
        </div>
        <div class="col-12">
          <%= render partial: 'lessons/card',
                     locals: { lessons: tag.lessons,
                               inspection: false } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
