<% if new_tag %>
  <div class="row p-2">
    <div class="col-12">
      <div class="card bg-light mb-4"
           id="tag-basics-edit-<%= tag.id.to_i %>">
        <%= render partial: 'tags/basics',
                   locals: { tag: tag,
                             f: f,
                             new_tag: true,
                             from: from } %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row p-2">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <h5 class="text">
               MaMpf-Map
              </h5>
            </div>
            <div class="col-9 text-right">
              <%= link_to 'in externem Tab rendern',
                          display_cyto_tag_path(tag),
                          class: 'btn btn-outline-secondary',
                          target: :_blank%>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="cy"
               data-elements="<%= @graph_elements.to_json %>"
               data-tag="<%= tag.id %>"
               data-action="edit">
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card mb-2 bg-green-lighten-4" id="relatedTagsEdit">
        <div class="card-header bg-green-darken-3 text-light">
          <div class="row">
            <div class="col-9">
              <h5>
                Verkn端pfte Tags
              </h5>
            </div>
            <div class="col-3 text-right">
              <i class="far fa-edit text-light clickable"
                 id="selectRelatedTags"
                 data-remote="true"
                 data-toggle="tooltip" title="Tags hinzuf端gen/entfernen">
              </i>
            </div>
          </div>
        </div>
        <div class="card-body" id="relatedTagsBodyEdit">
          <% tag.related_tags.natural_sort_by(&:title).each do |t| %>
            <%= link_to t.short_title,
                        edit_tag_path(t),
                        class: "badge badge-light",
                        id: 'related-' + dom_id(t),
                        data: { toggle: 'tooltip', placement: 'top', id: t.id },
                        title: t.title %>
            <br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card mb-2"
           id="tagEditAction">
        <div class="card-header bg-mdb-color-darken-2 text-light">
          Aktion
          <span id="tagActionType"
                style="display: none;">
            Verkn端pfte Tags hinzuf端gen/entfernen
          </span>
        </div>
        <div class="card-body"
             id="tagEditActionBody">
          <div id="selectRelatedTagsForm"
               style="display: none;">
            <%= render partial: 'tags/select_related_tags',
                       locals: { tag: tag, f: f } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6">
      <div class="card bg-light mb-4"
           id="tag-basics-edit-<%= tag.id.to_i %>">
        <%= render partial: 'tags/basics',
                   locals: { tag: tag,
                             f: f,
                             new_tag: false,
                             from: from } %>
      </div>
    </div>
    <div class="col-6">
      <%= render partial: 'media/card',
                 locals: { media: tag.media,
                           small: false,
                           collapsible: false,
                           teachable_type: nil,
                           teachable_id: nil,
                           tag_ids: [tag.id],
                           inspection: false } %>
    </div>
    <div class="col-6">
      <%= render partial: 'sections/card',
                 locals: { sections: tag.sections,
                           inspection: false } %>
    </div>
    <div class="col-6">
      <%= render partial: 'lessons/card',
                 locals: { lessons: tag.lessons,
                           inspection: false } %>
    </div>
  </div>
<% end %>
