<div id="tag-area-<%= tag.id.to_i %>">
  <%= form_with model: tag,
                html: { id: 'tag-form-'+ tag.id.to_i.to_s,
                        data: { id: tag.id.to_i } } do |f| %>
    <div class="row p-2 mb-3">
      <div class="col-3">
        <h4 class="pl-2">
          <span class="badge badge-secondary">
            <%= t('basics.tag') %>
          </span>
          <%= tag.title %>
          <% unless new_tag %>
            <%= link_to '',
                        tag_path(tag),
                        class: 'fas fa-eye text-dark mt-3',
                        data: { toggle: 'tooltip',
                                placement: 'bottom' },
                        title: t('buttons.show'),
                        style: 'text-decoration: none;' %>
          <% end %>
        </h4>
      </div>
      <div class="col-6">
        <div id="tag-basics-warning-<%= tag.id.to_i %>"
             class="redtext"
             style="display: none;">
          <%= t('warnings.unsaved_changes') %>
          <%= f.submit t('buttons.save'),
                       class: "btn btn-sm btn-primary" %>
          <button type="button"
                  class="btn btn-sm btn-secondary ml-2"
                  id="tag-basics-cancel-<%= tag.id.to_i %>"
                  data-id="<%= tag.id.to_i %>">
            <%= t('buttons.discard') %>
          </button>
        </div>
      </div>
      <div class="col-3 text-right">
        <%= link_to t('admin.tag.index'),
                    tags_path,
                    class: 'btn btn-sm btn-outline-primary' %>
        <% if tag.id.present? && (current_user.admin? ||
              (tag.courses & current_user.edited_courses).any?) %>
          <button class="btn btn-sm btn-secondary"
                  type="button"
                  data-toggle="modal"
                  data-target="#identifyTagModal">
            <%= t('admin.tag.identify') %>
          </button>
          <%= link_to t('buttons.delete'),
                      tag_path(tag),
                      method: :delete,
                      data: { confirm: t('confirmation.generic') },
                      class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'tags/data',
               locals: { tag: tag,
                         f: f,
                         new_tag: new_tag,
                         from: from,
                         graph_elements: graph_elements } %>
    <%= f.hidden_field :modal, value: false %>
    <%= f.hidden_field :from, value: from %>
  <% end %>
</div>
