<div class="col-3">
  <%= tag.extended_title %>
</div>
<div class="col-2">
  <ul class="list-unstyled">
    <% tag.courses.each do |c| %>
      <li>
        <%= link_to c.title,
                    edit_or_inspect_course_path(c)  %>
      </li>
    <% end %>
  </ul>
</div>
<div class="col-6">
  <% tag.related_tags.each do |t| %>
    <%= link_to t.title,
                edit_tag_path(t),
                class:'badge badge-light' %>
  <% end %>
</div>
<div class="col-1">
  <a href="<%= edit_tag_path(tag) %>"
     class="text-dark"
     data-toggle="tooltip"
     style="text-decoration: none;"
     data-placement="bottom"
     title="<%= t('buttons.edit') %>">
    <i class="far fa-edit">
    </i>
  </a>
</div>
