<div class="form-group">
  <%= f.label :related_tag_ids,
              t('basics.related_tags') %>
  <%= helpdesk(t('admin.tag.info.related_tags'), false) %>
  <a class="fas fa-plus-circle clickable text-dark"
       id="new-tag-button"
       data-toggle="tooltip"
       title="<%= t('buttons.create_tag') %>"
       data-tag="<%= tag.id %>"
       data-from="tag">
  </a>
  <i class="fas fa-plus-circle text-secondary"
     id="new-tag-defunct"
     style="display: none;">
  </i>
  <%= f.select :related_tag_ids,
                options_for_select(related_tag_ids_selection(tag)
                                     .map { |t| [t.extended_title, t.id]},
                                   related_tag_ids_selection(tag)
                                     .map(&:id)),
                {},
                { multiple: true,
                  class: 'selectize',
                  data: { id: tag.id.to_i,
                          ajax: true,
                          model: 'tag',
                          filled: false,
                          locale: I18n.locale } } %>
  <div class="invalid-feedback"
       id="tag-related-tags-error-<%= tag.id.to_i %>">
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <button type="button"
              class="btn btn-sm btn-secondary"
              id="cancelSelectRelatedTags">
        <%= t('buttons.cancel') %>
      </button>
    </div>
  </div>
</div>