<div id="tags_accordion<%= id %>"
     role="tablist">
  <div class="card bg-mdb-color-lighten-6">
    <div class="card-header"
         role="tab"
         id="tags_heading<%= id %>">
      <h5 class="text-dark">
        <%= t('admin.tag.related_tags') %> (<%= tags.count.to_s %>)
        <%= helpdesk(t('admin.tag.info.list'), false) %>
        <a class="btn btn-primary float-right"
           data-toggle="collapse"
           href="#tags_collapse<%= id %>"
           aria-expanded="false"
           aria-controls="tags_collapse<%= id %>">
          <%= t('buttons.toggle') %>
        </a>
      </h5>
    </div>
    <div id="tags_collapse<%= id %>"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading<%= id%>"
         data-parent="#tags_accordion<%= id %>">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <% if tags.any? %>
              <% tags.natural_sort_by(&:title).each do |t| %>
                <% unless t.nil? %>
                  <%= link_to t.title,
                              edit_tag_path(t),
                              class: "badge badge-light" %>
                <% end %>
              <% end %>
            <% else %>
              <%= t('admin.tag.no_tags') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
