<div id="tag-area">
  <%= form_with model: @tag, html: { id: 'tag-form' } do |f| %>
    <div class="row p-2 mb-3">
      <div class="col-3">
        <h4 class="pl-2">
          <span class="badge badge-secondary">
            Tag
          </span>
          <%= @tag.title %>
        </h4>
      </div>
      <div class="col-6">
        <div id="tag-basics-warning">
          Achtung, es gibt ungespeicherte Änderungen!
          <%= f.submit "Speichern", class: "btn btn-primary" %>
          <button type="button" class="btn btn-secondary ml-2"
                  id="tag-basics-cancel" data-id="<%= @tag.id %>">
            verwerfen
          </button>
        </div>
      </div>
      <div class="col-3 text-center">
        <%= link_to 'zur Tagübersicht', tags_path,
                    class: 'btn btn-primary' %>
        <% if current_user.admin? ||
              (@tag.courses - current_user.edited_courses).blank? %>
          <%= link_to 'Tag löschen', course_path, method: :delete,
                      data: { confirm: 'Bist Du sicher?' },
                      class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'tags/data', locals: { tag: @tag, f: f } %>
  <% end %>
</div>
