<div class="row mt-3 p-2">
  <div class="col-10">
    <h4>
      Tagübersicht
    </h4>
  </div>
  <div class="col-2">
    <%= link_to 'Tag anlegen', new_tag_path,
                class: 'btn btn-secondary',
                id: 'create-new-tag' %>
  </div>
</div>
    <form>
      <div class="form-row mb-3 p-2">
        <div class="form-group col-3 mx-3">
          <label for="inputTag">
            Titel
          </label>
          <i class="far fa-question-circle helpdesk"
             tabindex="-1"
             data-toggle="popover" data-trigger="focus"
             title="Info"
             data-content="Hier kannst Du den Titel des Tags eingeben.
             Die Liste der angezeigten Tags wird nach dann entsprechend
             gefiltert.">
          </i>
          <input type="text" id="inputTag" class="form-control"
                 placeholder="suchen">
        </div>
        <div class="form-group col-6">
          <label for="inputCourses">
            Module
          </label>
          <i class="far fa-question-circle helpdesk"
             tabindex="-1"
             data-toggle="popover" data-trigger="focus"
             title="Info"
             data-content="Hier kannst Du (im Sinne von <i>ODER</i>)
             auswählen, zu welchen Modulen das Tag assoziiert sein soll."
             data-html="true">
          </i>
          <select multiple id="inputCourses" class="selectize"
                  placeholder="eingeben">
            <%= Course.all.each do |c| %>
              <option selected value="<%= c.id %>">
                <%= c.short_title %>
              </option>
            <% end %>
          </select>
          <button id="tags-edited-courses" type="button"
                  class="btn btn-sm btn-outline-info"
                  data-courses="<%= current_user.edited_courses.map(&:id).to_json %>">
            von mir editierte Module
          </button>
          <button id="tags-all-courses" type="button"
                  class="btn btn-sm btn-outline-info"
                  data-courses="<%= Course.all.map(&:id).to_json %>">
            alle Module
          </button>
          <button id="tags-no-courses" type="button"
                  class="btn btn-sm btn-outline-info">
            Module leeren
          </button>
        </div>
      </div>
    </form>
<div class="row bg-mdb-color-lighten-2 mx-2 px-4 py-3">
  <div class="col-3 text-light">
    <strong>
      Titel
    </strong>
  </div>
  <div class="col-2 text-light">
    <strong>
      Module
    </strong>
  </div>
  <div class="col-6 text-light">
    <strong>
      verknüpfte Tags
    </strong>
  </div>
  <div class="col-1 text-light">
    <strong>
      Aktionen
    </strong>
  </div>
</div>
<div id="tagTable" data-tags="<%= @tags_with_id %>">
  <% cache(@tags) do %>
    <% @tags.each do |t| %>
      <div class="row border-bottom mx-2 px-4" id="row-tag-<%= t.id %>"
           data-courses="<%= t.courses.each.map(&:id).to_json %>">
        <%= render partial: 'tags/row', locals: { tag: t }%>
      </div>
    <% end %>
  <% end %>
</div>
