<div id="tag-area-<%= tag.id.to_i %>">
  <div class="row p-2 mb-3">
    <div class="col-8">
      <h4 class="pl-2">
        <span class="badge badge-secondary">
          Tag
        </span>
        <%= @tag.title %>
      </h4>
    </div>
    <div class="col-4 text-center">
      <%= link_to 'Bearbeiten', edit_tag_path(@tag),
                  class: 'btn btn-primary' %>
      <%= link_to 'zur Tagübersicht', tags_path,
                  class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6">
      <div class="card bg-light mb-4">
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              <h5>
                Basisdaten
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body p-2">
          <div class="row">
            <div class="col-4">
              Module
              <i class="far fa-question-circle helpdesk"
                 tabindex="-1"
                 data-toggle="popover" data-trigger="focus"
                 title="Info"
                 data-content="Die ist die Liste aller Module, zu denen dieser Tag assoziiert ist.">
              </i>
            </div>
            <div class="col-8">
              <ul>
                <% @tag.courses.each do |c| %>
                  <li>
                    <%= link_to c.title, inspect_course_path(c) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <% if @tag.extra_lectures.present? %>
            <div class="row">
              <div class="col-4">
                Zusätzliche Vorlesungen
                <i class="far fa-question-circle helpdesk"
                   tabindex="-1"
                   data-toggle="popover" data-trigger="focus"
                   title="Info"
                   data-content="Dies ist eine Liste aller Vorlesungen, für welche dieser Tag nicht zu dem übergeordneten Modul assoziiert ist, jedoch in einem Abschnitt der entsprechenden Vorlesung auftaucht.">
                </i>
              </div>
              <div class="col-8">
                <ul>
                  <% @tag.extra_lectures.each do |l| %>
                    <li>
                      <%= link_to l.title, inspect_lecture_path(l) %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <% if @tag.missing_lectures.present? %>
            <div class="row">
              <div class="col-4">
                Fehlende Vorlesungen
                <i class="far fa-question-circle helpdesk"
                   tabindex="-1"
                   data-toggle="popover" data-trigger="focus"
                   title="Info"
                   data-content="Dies ist eine Liste aller Vorlesungen, für welche dieser Tag zu dem übergeordneten Modul assoziiert ist, jedoch in keinem Abschnitt der entsprechenden Vorlesung auftaucht.">
                </i>
              </div>
              <div class="col-8">
                <ul>
                  <% @tag.missing_lectures.each do |l| %>
                    <li>
                      <%= link_to l.title, inspect_lecture_path(l) %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <div class="row mb-2">
            <div class="col-4">
              Verknüpfte Tags
              <i class="far fa-question-circle helpdesk"
                 tabindex="-1"
                 data-toggle="popover" data-trigger="focus"
                 title="Info"
                 data-content="Die Tags bilden einen Graphen. Verknüpfte Tags sind genau die Nachbarn eines Tags.">
              </i>
            </div>
            <div class="col-8">
              <% if @tag.related_tags.empty? %>
                keine
              <% end %>
              <% @tag.related_tags.each do |t| %>
                  <%= link_to t.title, inspect_tag_path(t),
                  class:'badge badge-light' %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              Tags mit Abstand 2
              <i class="far fa-question-circle helpdesk"
                 tabindex="-1"
                 data-toggle="popover" data-trigger="focus"
                 title="Info"
                 data-content="Die Tags bilden einen Graphen. Tags mit Abstand 2 sind diejenigen Nachbarn von Nachbarn dieses Tags, die selbst keine Nachbarn des Tags sind und vom Tag verschieden sind.">
              </i>
            </div>
            <div class="col-8">
              <% if @tag.related_tags.empty? %>
                keine
              <% end %>
              <% @tag.tags_in_neighbourhood.each do |t| %>
                <%= link_to t.title, inspect_tag_path(t),
                            class:'badge badge-light' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12 mb-4">
          <%= render partial: 'media/card',
                     locals: { media: @tag.media, small: false,
                               collapsible: false, inspection: true } %>
        </div>
        <div class="col-12">
          <%= render partial: 'sections/card',
                     locals: { sections: @tag.sections, inspection: true } %>
        </div>
        <div class="col-12">
          <%= render partial: 'lessons/card',
                     locals: { lessons: @tag.lessons, inspection: true } %>
        </div>
      </div>
    </div>
  </div>
</div>
