<div class="row">
  <div class="col-12">
    <h2>
      <span class="badge badge-secondary me-3">
        <%= t('tag') %>
      </span>
      <%= @tag.title %>
      <% if current_user.editor? %>
        <%= link_to '',
                    edit_tag_path(@tag),
                    class: 'far fa-edit text-secondary',
                    data: { toggle: 'tooltip', placement: 'bottom' },
                    title: t('buttons.edit'),
                    style: 'text-decoration: none;' %>
      <% end %>
    </h2>
  </div>
</div>
<div class="row mt-2 mb-2">
  <div class="col-12 col-lg-4 col-xl-3 col-xxl-2">
    <div class="row">
      <% if @realizations.any? %>
        <div class="col-12">
          <div class="card bg-light mb-2">
            <div class="card-header bg-generic-card-header">
              <h5>
                <%= t('basics.realizations') %>
              </h5>
            </div>
            <div class="card-body">
              <% @realizations.each do |r| %>
                <div class="row">
                  <div class="col-12">
                    <%= link_to t('basics.loading_data'),
                                realization_path(r),
                                class: 'erdbeere-realization',
                                data: { sort: r.first,
                                        id: r.second } %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-12">
        <div class="card bg-light mb-2">
          <div class="card-header bg-generic-card-header">
            <h5>
              <%= t('basics.synonyms') %>
            </h5>
          </div>
          <div class="card-body">
            <% @tag.locales.each do |l| %>
              <%= link_to l.to_s,
                          tag_path(@tag, params: { locale: l }),
                          class: 'badge badge-light text-dark' %>
              <%= @tag.notions.where(locale: l)&.first&.title %>
              <br>
            <% end %>
            <% if @tag.aliases.any? %>
              <hr>
              <% @tag.aliases.each do |a| %>
                <span class="badge badge-light text-dark">
                  <%= a.locale %>
                </span>
                <%= a.title %>
                <br>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card bg-light mb-2"
             id="relatedTags">
          <div class="card-header bg-generic-card-header">
            <h5>
              <%= t('related_tags') %>
            </h5>
          </div>
          <div class="card-body"
               id="relatedTagsBody">
            <% if @related_tags.present? %>
              <% @related_tags.natural_sort_by(&:title).each do |t| %>
                <%= link_to t.short_title,
                            tag_path(t),
                            class: "badge badge-light text-dark",
                            id: 'related-' + dom_id(t),
                            data: { toggle: 'tooltip',
                                    placement: 'top',
                                    id: t.id },
                            title: t.title %>
                <br>
              <% end %>
            <% else %>
              <%= t('no_related_tags') %>
            <% end %>
            <% if @tags_in_neighbourhood.present? %>
              <h6 class="mt-2">
                <%= t('tags_in_neighbourhood') %>
              </h6>
              <% @tags_in_neighbourhood.natural_sort_by(&:title).each do |t| %>
                <%= link_to t.short_title,
                            tag_path(t),
                            class: "badge badge-light text-dark",
                            id: 'related-' + dom_id(t),
                            data: { toggle: 'tooltip',
                                    placement: 'top',
                                    id: t.id},
                            title: t.title %>
                <br>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12">
        <%= render partial: 'sections/sections',
                   locals: { sections: @tag.visible_sections(current_user) } %>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 col-xl-6 col-xxl-7 mb-2">
    <div class="card">
      <div class="card-header bg-generic-card-header">
        <div class="row">
          <div class="col-12 col-sm-3">
            <h5>
              <%= t('mampf_map') %>
            </h5>
          </div>
          <div class="col-12 col-sm-6 mb-2 d-flex">
            <div class="dropdown me-2">
              <button class="btn btn-sm btn-secondary dropdown-toggle"
                      type="button"
                      data-toggle="dropdown">
                <%= t('admin.tag.visibility') %>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item <%= active(@selection_type == 1) %>"
                   href="?selection=1&depth=<%= @depth %>">
                  <%= t('admin.tag.previous_courses') %>
                </a>
                <a class="dropdown-item <%= active(@selection_type == 3) %>"
                   href="?selection=3&depth=<%= @depth %>">
                  <%= t('admin.tag.subscribed_courses') %>
                </a>
                <a class="dropdown-item <%= active(@selection_type == 2) %>"
                   href="?selection=2&depth=<%= @depth %>">
                  <%= t('admin.tag.all_courses') %>
                </a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-sm btn-secondary dropdown-toggle"
                      type="button"
                      data-toggle="dropdown">
                <%= t('admin.tag.depth') %>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item <%= active(@depth == 1) %>"
                   href="?selection=<%= @selection_type %>&depth=1">
                  1
                </a>
                <a class="dropdown-item <%= active(@depth == 2) %>"
                   href="?selection=<%= @selection_type %>depth=2">
                  2
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 text-end">
            <%= link_to t('external_render'),
                        display_cyto_tag_path(@tag,
                                              params: { selection: @selection_type,
                                                        depth: @depth }),
                        class: 'btn btn-sm btn-outline-secondary',
                        target: :_blank%>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="cy"
             data-elements="<%= @graph_elements.to_json %>"
             data-tag="<%= @tag.id %>"
             data-type="tag"
             data-locale="<%= I18n.locale %>">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-12 col-xl-3 col-xxl-3">
    <div class="row">
      <% if @questions.any? %>
        <div class="col-12 mb-2">
          <%= render partial: 'tags/show/random_quiz',
                     locals: { tag: @tag,
                               questions: @questions } %>
        </div>
      <% end %>
      <div class="col-12">
        <%= render partial: 'media/related_media',
                   locals: { media: @media,
                             references: @references,
                             from: 'tag',
                             questions: @questions.any? } %>
      </div>
    </div>
  </div>
</div>
