<div class="row">
  <div class="col-12">
    <h2>
      <span class="badge badge-secondary mr-3">
        Begriff<%= ' #' + @tag.id.to_s %>
      </span>
      <%= @tag.title %></h2>
  </div>
</div>
<div class="row mt-2 mb-2">
  <div class="col-sm-12 col-md-4 col-lg-2">
    <div class="row">
      <div class="col-12">
        <div class="card mb-2 bg-green-lighten-4" id="relatedTags">
          <div class="card-header bg-green-darken-3 text-light">
            <h5>
              Verknüpfte Tags
            </h5>
          </div>
          <div class="card-body" id="relatedTagsBody">
            <% @related_tags.natural_sort_by(&:title).each do |t| %>
              <%= link_to t.short_title,
                          tag_path(t),
                          class: "badge badge-light",
                          id: 'related-' + dom_id(t),
                          data: { toggle: 'tooltip', placement: 'top', id: t.id },
                          title: t.title %>
              <br>
            <% end %>
            <h6 class="mt-2">
              Begriffe im weiteren Umfeld
            </h6>
            <% @tags_in_neighbourhood.natural_sort_by(&:title).each do |t| %>
              <%= link_to t.short_title,
                          tag_path(t),
                          class: "badge badge-light",
                          id: 'related-' + dom_id(t),
                          data: { toggle: 'tooltip', placement: 'top', id: t.id},
                          title: t.title %>
              <br>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12">
        <% unless @lectures.empty? %>
          <div id="relatedSections">
            <div class="card bg-brown-lighten-4">
              <div class="card-header bg-brown-darken-2">
                <h5 class="text-light">
                  Abschnitte
                </h5>
              </div>
              <div class="card-body"
                   id="relatedSectionsBody">
                <ul>
                  <% @tag.sections.each do |s| %>
                    <% if current_user.lectures.include?(s.lecture) %>
                      <li>
                        <%= s.lecture.short_title + ': ' %>
                        <%= link_to s.to_label, section_path(s),
                                    class: 'text-dark' %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8 col-lg-6">
    <div class="card">
      <div class="card-header bg-green-darken-3">
        <div class="row">
          <div class="col-3">
            <h5 class="text-light">
              MaMpf-Map
            </h5>
          </div>
          <div class="col-9 text-right">
            <%= link_to 'in externem Tab rendern',
                        display_cyto_tag_path(@tag),
                        class: 'btn btn-sm btn-outline-light',
                        target: :_blank%>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="cy"
             data-elements="<%= @graph_elements.to_json %>"
             data-tag="<%= @tag.id %>">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card bg-light">
      <div class="card-header">
        <h5>
          Verknüpfte Medien
        </h5>
      </div>
      <div class="card-body" style="max-height: 70vh; overflow-y: scroll;">
        <div class="row">
          <% if @media.present? %>
            <% @media.each do |m| %>
              <div class="col-12 col-xxxl-6 mb-2">
                <%= render partial: 'media/medium',
                           locals: { medium: m,
                                     tags: false } %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
