<div class="row">
  <div class="col-10">
    <h2>
      <span class="badge badge-secondary mr-3">
        Begriff<%= ' #' + @tag.id.to_s %>
      </span>
      <%= @tag.title %>
    </h2>
  </div>
  <div class="col-2 text-right">
    <% if current_user.editor? %>
      <a href="<%= edit_tag_path(@tag) %>"
         class="far fa-edit fa-lg text-secondary"
         data-toggle="tooltip"
         data-placement="bottom"
         title="Bearbeiten"
         style="text-decoration: none;">
      </a>
    <% end %>
  </div>
</div>
<div class="row mt-2 mb-2">
  <div class="col-12 col-lg-4 col-xl-3 col-xxl-2">
    <div class="row">
      <div class="col-12">
        <div class="card mb-2 bg-green-lighten-4"
             id="relatedTags">
          <div class="card-header bg-green-darken-3 text-light">
            <h5>
              Verknüpfte Tags
            </h5>
          </div>
          <div class="card-body"
               id="relatedTagsBody">
            <% if @related_tags.present? %>
              <% @related_tags.natural_sort_by(&:title).each do |t| %>
                <%= link_to t.short_title,
                            tag_path(t),
                            class: "badge badge-light",
                            id: 'related-' + dom_id(t),
                            data: { toggle: 'tooltip',
                                    placement: 'top',
                                    id: t.id },
                            title: t.title %>
                <br>
              <% end %>
            <% else %>
              Es liegen keine verknüpften Tags vor.
            <% end %>
            <% if @tags_in_neighbourhood.present? %>
              <h6 class="mt-2">
                im weiteren Umfeld
              </h6>
              <% @tags_in_neighbourhood.natural_sort_by(&:title).each do |t| %>
                <%= link_to t.short_title,
                            tag_path(t),
                            class: "badge badge-light",
                            id: 'related-' + dom_id(t),
                            data: { toggle: 'tooltip',
                                    placement: 'top',
                                    id: t.id},
                            title: t.title %>
                <br>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12">
        <%= render partial: 'sections/sections',
                   locals: { sections: @tag.sections } %>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 col-xl-6 col-xxl-7 mb-2">
    <div class="card">
      <div class="card-header bg-green-darken-3">
        <div class="row">
          <div class="col-3">
            <h5 class="text-light">
              MaMpf-Map
            </h5>
          </div>
          <div class="col-9 text-right">
            <%= link_to 'in externem Tab rendern',
                        display_cyto_tag_path(@tag),
                        class: 'btn btn-sm btn-outline-light',
                        target: :_blank%>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="cy"
             data-elements="<%= @graph_elements.to_json %>"
             data-tag="<%= @tag.id %>">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-12 col-xl-3 col-xxl-3">
    <%= render partial: 'media/related_media',
               locals: { media: @media} %>
  </div>
</div>
