<div class="row">
  <div class="col-12">
    <h2><span class="badge badge-secondary mr-3">Begriff<%= ' #' + @tag.id.to_s %></span><%= @tag.title %></h2>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 col-lg-5 pt-3">
    <%= render partial: 'tags', locals: { related_tags: @tag.related_tags,
                                          tags_description: 'Verknüpfte Begriffe'} %>
  </div>
  <div class="col-12 col-md-6 col-lg-4 pt-3">
    <%= render partial: 'tags', locals: { related_tags: @tag.tags_with_given_distance(2),
                                          tags_description: 'Begriffe im weiteren Umfeld'} %>
  </div>
  <div class="col-12 col-md-12 col-lg-3 pt-3">
    <%= render partial: 'lectures/lectures', locals: { lectures: @tag.lectures,
                                                       type: 'lecture_info'} %>
  </div>
</div>
<% media = @tag.media.where.not(sort: 'KeksQuestion') %>
<% unless media.empty? %>
<div class="row">
  <div class="col-12 pt-5">
    <h5>Verknüpfte Medien</h5>
  </div>
</div>
<%= render partial: 'media/media', locals: { media: media} %>
<% end %>
