<div class="row">
  <div class="col-12">
    <h2>
      <span class="badge badge-secondary mr-3">
        Begriff<%= ' #' + @tag.id.to_s %>
      </span>
      <%= @tag.title %></h2>
  </div>
</div>
<div class="row mt-2">
  <div class="col-9">
    <div class="card">
      <div class="card-header bg-green-darken-3">
        <div class="row">
          <div class="col-3">
            <h5 class="text-light">
              MaMpf-Map
            </h5>
          </div>
          <div class="col-9 text-right">
            <%= link_to 'in externem Tab rendern',
                        display_cyto_tag_path(@tag),
                        class: 'btn btn-outline-light',
                        target: :_blank%>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="cy"
             data-elements="<%= @graph_elements.to_json %>"
             data-tag="<%= @tag.id %>">
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card mb-2 bg-green-lighten-4" id="relatedTags">
      <div class="card-header bg-green-darken-3 text-light">
        <h5>
          Verwandte Tags
        </h5>
      </div>
      <div class="card-body" id="relatedTagsBody">
        <h6>
          Verknüpfte Begriffe
        </h6>
        <% @related_tags.natural_sort_by(&:title).each do |t| %>
          <%= link_to t.short_title,
                      tag_path(t),
                      class: "badge badge-light",
                      id: 'related-' + dom_id(t),
                      data: { toggle: 'tooltip', placement: 'top', id: t.id },
                      title: t.title %>
          <br>
        <% end %>
        <h6 class="mt-2">
        Begriffe im weiteren Umfeld
        </h6>
        <% @tags_in_neighbourhood.natural_sort_by(&:title).each do |t| %>
          <%= link_to t.short_title,
                      tag_path(t),
                      class: "badge badge-light",
                      id: 'related-' + dom_id(t),
                      data: { toggle: 'tooltip', placement: 'top', id: t.id},
                      title: t.title %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% unless @media.empty? %>
  <div class="row mt-2">
    <div class="col-9">
      <h5>
        Verknüpfte Medien
      </h5>
      <%= render partial: 'media/media', locals: { media: @media} %>
    </div>
    <div class="col-3">
      <% unless @lectures.empty? %>
        <%= render partial: 'lectures/lectures',
                 locals: { lectures: @lectures,
                           type: 'lecture_info'} %>
      <% end %>
    </div>
  </div>
<% end %>
