<div id='new_vertex'
     data-quiz="<%= quiz.id %>">
  <div class='row'>
    <div class="col-12">
      <div id='new_vertex_card' class="card bg-light m-3">
        <div class='card-header'>
          <div class="row">
            <div class="col-8">
              <%= t('buttons.create_vertex') %>
            </div>
            <div class="col-4 text-right">
              <button type="button"
                      class="btn btn-sm btn-secondary"
                      id="cancelNewVertex">
                <%= t('buttons.cancel') %>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="nav nav-pills mb-3" id="new-edge-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="import-vertex-tab"
                 data-toggle="pill" href="#import-vertex" role="tab"
                 aria-controls="import-vertex" aria-selected="true">
                <%= t('admin.quiz.import_content') %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="create-question-tab"
                 data-toggle="pill" href="#create-question" role="tab"
                 aria-controls="create-question" aria-selected="false">
                <%= t('admin.quiz.create_question') %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="create-remark-tab"
                 data-toggle="pill" href="#create-remark" role="tab"
                 aria-controls="create-remark" aria-selected="false">
                <%= t('admin.quiz.create_remark') %>
              </a>
            </li>
          </ul>
          <div class="tab-content" id="new-edge-tabContent">
            <div class="tab-pane fade show active" id="import-vertex"
                 role="tabpanel" aria-labelledby="import-vertex-tab">
              <div id="import-vertex">
                <%= render partial: 'media/catalog/search_form',
                           locals: { quiz: true } %>
                <div id="media-search-results">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="create-question"
                 role="tabpanel" aria-labelledby="create-question-tab">
              <%= bootstrap_form_with url: quiz_vertices_path(quiz_id: quiz.id),
                                      scope: 'vertex',
                                      method: 'post' do |f| %>
                <%= f.hidden_field :sort,
                                   value: 'Question',
                                   id: 'vertex_sort_question' %>
                <%= f.text_field :label,
                                 label: t('basics.title') %>
                <div class='text-center'>
                  <%= f.submit t('buttons.save'),
                               class: 'btn btn-sm btn-secondary' %>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade" id="create-remark" role="tabpanel"
                 aria-labelledby="create-remark-tab">
              <%= bootstrap_form_with url: quiz_vertices_path(quiz_id: quiz.id),
                                      scope: 'vertex',
                                      method: 'post' do |f| %>
                <%= f.hidden_field :sort,
                                   value: 'Remark',
                                   id: 'vertex_sort_remark' %>
                <%= f.text_field :label,
                                 label: t('basics.title') %>
                <div class='text-center'>
                  <%= f.submit t('buttons.save'),
                               class: 'btn btn-sm btn-secondary' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
