<% if @total.positive? %>
  <div class="row mx-2 py-3">
    <div class="col-2">
      <strong>
      <%= t('basics.hits') %>:
    </strong>
      <%= @total %>
    </div>
    <div class="col-7">
      <%= paginate @media, remote: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-8"
         id="quizzableSearchResults">
      <div class="row bg-mdb-color-lighten-5 mx-2 py-1"
           id="searchResultsHeader">
        <div class="col-5">
          <strong>
            <%= t('basics.description') %>
          </strong>
        </div>
        <div class="col-1">
          <strong>
            <%= t('basics.associated_to') %>
          </strong>
        </div>
        <div class="col-3">
          <strong>
            <%= t('basics.related_tags') %>
          </strong>
        </div>
        <div class="col-2">
          <strong>
            <%= t('basics.editors') %>
          </strong>
        </div>
        <div class="col-1">
        </div>
      </div>
      <div id="mediaTable"
           class="mx-2 pl-2">
        <% @media.each do |m| %>
          <% cache m do %>
            <div class="row border-bottom mx-2"
                 id="result-quizzable-<%= m.id %>"
                 data-type="<%= m.type %>"
                 data-id="<%= m.id %>"
                 style="cursor: pointer;">
              <div class="col-5">
                <%= m.details %>
              </div>
              <div class="col-1">
                <% if m.teachable_type == 'Course' %>
                  <%= link_to m.teachable.short_title,
                              edit_or_inspect_course_path(m.teachable) %>
                <% elsif m.teachable_type == 'Lecture' %>
                  <%= link_to m.teachable.short_title,
                              edit_or_inspect_lecture_path(m.teachable) %>
                <% else %>
                  <%= link_to m.teachable.short_title_with_lecture_date,
                              edit_or_inspect_lecture_path(m.teachable.lecture) %>
                <% end %>
              </div>
              <div class="col-3">
                <% m.tags.each do |t| %>
                  <%= link_to t.short_title,
                              edit_tag_path(t),
                              class:'badge badge-light',
                              data: { toggle: 'tooltip', placement: 'top'},
                              title: t.title %>
                <% end %>
              </div>
              <div class="col-2">
                <ul class="list-unstyled">
                  <% m.editors.each do |e| %>
                    <li>
                      <%= e.name_or_email  %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="col-1">
                <%= render partial: 'media/catalog/access_info',
                           locals: { medium: m } %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-4"
         id="selectedQuizzablesColumn">
      <div class="row bg-mdb-color-lighten-5 ml-2 py-2 mb-3"
           id="quizzableSelection">
        <div class="col-12">
          <strong>
            <%= t('basics.selection') %>
            <span id="selectionCounter">
            </span>
          </strong>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div id="importVertexForm">
          </div>
        </div>
      </div>
      <div class="row bg-mdb-color-lighten-5 mx-2 mt-3 py-2"
           id="quizzesPreviewHeader"
           style="display: none;">
        <div class="col-12">
          <strong>
            <%= t('basics.preview') %>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="quizzablePreview">
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-12 text-center">
      <%= t('basics.no_hits') %>
    </div>
  </div>
<% end %>
