<%= vite_javascript_tag "vignettes/completion_message/_form.js" %>

<%= form_with(url: set_lecture_completion_message_path(@lecture),
              method: :post,
              local: true) do |form| %>

  <div id="unsaved-changes-warning" class="alert alert-warning d-none" role="alert">
    <div class="d-flex align-items-center">
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <%= t('warnings.unsaved_changes') %>
    </div>
  </div>

  <div class="mb-3">
    <h3 class="lecture-pane-header">
      <%= t('vignettes.completion_message.label') %>
    </h3>
  </div>
  <div class="mb-3">
    <%= form.rich_text_area :content, value: @lecture&.vignettes_completion_message&.content, class: 'trix-content' %>
    <small class="text-muted"><%= t('vignettes.completion_message.help_text') %></small>
  </div>

  <div class="mb-3">
    <% completion_message_exists = @lecture.vignettes_completion_message.present? %>
    <% button_text = completion_message_exists ? 
                     t('buttons.save') : 
                     t('buttons.create') %>
    <%= form.submit button_text, class: 'btn btn-primary d-none', id: 'completion-message-save-button' %>
    
    <% if completion_message_exists %>
      <%= link_to t('buttons.delete'), 
                  destroy_lecture_completion_message_path(@lecture),
                  method: :delete,
                  data: { confirm: t('vignettes.completion_message.delete') }, 
                  class: 'btn btn-danger ms-2' %>
    <% end %>
    
  </div>
<% end %>