<div class="form-group">
  <div class="row">
    <% if inspection %>
      <div class="col-6">
        Datum
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Das ist das Datum, an dem die Sitzung
           stattgefunden hat.">
        </i>
      </div>
      <div class="col-6">
        Medien
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Dies ist eine Liste aller Medien, die zu dieser
           Sitzung assoziiert sind.">
        </i>
      </div>
      <div class="col-6">
        <%= lesson.date_de  %>
      </div>
      <div class="col-6">
        <% if lesson.media.present? %>
          <ul>
            <li>
              <% lesson.media.each do |m| %>
                <%= link_to m.sort_de + ', ' + m.local_info,
                            inspect_medium_path(m),
                            class: textcolor(m) %>
              <% end %>
            </li>
          </ul>
        <% else %>
          Es sind noch keine Medien vorhanden.
        <% end %>
      </div>
    <% else %>
      <div class="col-6">
        <%= f.label :date, 'Datum' %>
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Hier kannst Du das Datum auswählen, an dem die
           Sitzung stattgefunden hat.">
        </i>
      </div>
      <div class="col-6">
        Medien
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Dies ist eine Liste aller Medien, die zu dieser
           Sitzung assoziiert sind.">
        </i>
        <a href="<%= new_medium_path(params: { teachable_id: lesson.id,
                                               teachable_type: 'Lesson',
                                               tag_ids:
                                                 lesson.tags.map(&:id) }) %>"
           class="fas fa-plus-circle text-dark"
           id="create-new-lesson-medium"
           data-toggle="tooltip"
           title="Medium anlegen"
           style="text-decoration: none;">
        </a>
      </div>
      <div class="col-6">
        <%= f.date_field :date %>
      </div>
      <div class="col-6">
        <% if lesson.media.present? %>
          <ul>
            <li>
              <% lesson.media.each do |m| %>
                <%= link_to m.sort_de + ', ' + m.local_info,
                            edit_medium_path(m),
                            class: textcolor(m) %>
              <% end %>
            </li>
          </ul>
        <% else %>
          Es sind noch keine Medien vorhanden.
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="invalid-feedback" id="lesson-date-error">
  </div>
</div>
<div class="form-group">
  <% if inspection %>
    <div class="row">
      <div class="col-12">
        Abschnitte
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Dies ist die Liste aller Abschnitte aus der
           zugeordneten Vorlesung, die in dieser Sitzung behandelt wurden.">
        </i>
      </div>
    </div>
    <div class="col-12">
      <% if lesson.sections.present? %>
        <ul>
          <% lesson.sections.each do |s| %>
            <li>
              <%= s.to_label %>
            </li>
          <% end %>
        </ul>
      <% else %>
        Es sind keine Abschnitte vorhanden.
      <% end %>
    </div>
  <% else %>
    <%= f.label :section_ids, 'Abschnitte' %>
    <i class="far fa-question-circle helpdesk"
       tabindex="-1"
       data-toggle="popover"
       data-trigger="focus"
       title="Info"
       data-content="Hier kannst Du auswählen, welche Abschnitte aus der
       zugeordneten Vorlesung in dieser Sitzung behandelt wurden.">
    </i>
    <%= f.select :section_ids,
                 options_for_select(lesson.lecture.section_selection,
                                    lesson.section_ids),
                 {},
                 { multiple: true,
                   class: 'selectize',
                   data: { tags:
                            lesson.lecture.section_tag_selection.to_json } }%>
    <div class="invalid-feedback" id="lesson-sections-error">
    </div>
  <% end %>
</div>
<div class="form-group">
  <% if inspection %>
    <div class="row">
      <div class="col-12">
        Verknüpfte Tags
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Dies ist die Liste aller Tags, die zu dieser Sitzung
           assoziiert sind.">
        </i>
      </div>
      <div class="col-12">
        <%= render partial: 'tags/list',
                   locals: { tags: lesson.tags,
                             inspection: true } %>
      </div>
    </div>
  <% else %>
    <%= f.label :tag_ids, 'Verknüpfte Tags' %>
    <i class="far fa-question-circle helpdesk"
       tabindex="-1"
       data-toggle="popover"
       data-trigger="focus"
       title="Info"
       data-content="Dies ist eine Liste aller Tags, die zu dieser Sitzung
       assoziiert sind.
       Beim Anlegen einer Sitzung werden hier automatisch alle Tags aus
       sämtlichen mit dieser Sitzung mit der Sitzung verknüpften Abschnitten
       eingetragen. Diese Auswahl kannst Du hier nachbearbeiten.">
    </i>
    <%= f.select :tag_ids,
                 options_for_select(lesson_tag_selection(lesson),
                                    lesson.tag_ids),
                 {},
                 { multiple: true,
                   class: 'selectize' } %>
    <div class="invalid-feedback"
         id="lesson-tags-error">
    </div>
  <% end %>
</div>
<% if lesson.lecture.content_mode == 'manuscript' %>
  <% unless inspection %>
    <div class="form-group">
      <div class="form-row">
        <div class="col-6">
      <%= f.label :start_destination, 'Anfangs-Item' %>
      <%= f.select :start_destination,
                   options_for_select(select_script_items(lesson.lecture),
                                      lesson.start_destination),
                   {},
                   { class: 'selectize' } %>
        </div>
        <div class="col-6">
      <%= f.label :end_destination, 'End-Item' %>
      <%= f.select :end_destination,
                   options_for_select(select_script_items(lesson.lecture),
                                      lesson.end_destination),
                   {},
                   { class: 'selectize' } %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<div id="lessonItems" style="max-height: 20vh; overflow-y: scroll;">
  <%= render partial: 'items/items',
             locals: { items: lesson.content_items,
                       small: true,
                       embedded: true } %>
</div>
