<div class="card bg-light mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-12">
        <h5>
          <%= t('basics.lessons') %> (<%= lessons.count %>)
          <%= helpdesk(t('admin.lesson.info.list'), false) %>
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body p-2">
    <ul>
      <% lessons.each do |l| %>
        <li>
          <%= link_to l.lecture.title,
                      edit_or_show_lecture_path(l.lecture),
                      class: lectures_color(l.lecture) %>
          :
          <%= l.to_label %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
