<div class="card bg-mdb-color-lighten-5">
  <div class="card-header bg-mdb-color-lighten-4">
    <h5>
      <%= t('content') %>
    </h5>
  </div>
  <div class="card-body">
    <% if lesson.lecture.content_mode == 'manuscript' %>
      <% unless inspection %>
        <div class="form-group">
          <div class="form-row">
            <div class="col-6">
              <%= f.label :start_destination,
                          t('admin.lesson.start_item') %>
              <%= helpdesk(t('admin.lesson.info.start_item'), false) %>
              <%= f.select :start_destination,
                           options_for_select(select_script_items(lesson.lecture),
                                              lesson.guess_start_destination),
                           { prompt: t('basics.select') },
                           { class: 'selectize' } %>
            </div>
            <div class="col-6">
              <%= f.label :end_destination,
                          t('admin.lesson.end_item') %>
              <%= helpdesk(t('admin.lesson.info.end_item'), false) %>
              <%= f.select :end_destination,
                           options_for_select(select_script_items(lesson.lecture),
                                              lesson.guess_end_destination),
                           { prompt: t('basics.select') },
                           { class: 'selectize' } %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="mb-2">
      <%= t('basics.details') %>
      <% unless inspection %>
        <%= helpdesk(t('admin.lesson.info.details'), false) %>
      <% end %>
    </div>
    <% unless inspection %>
     <input id="lesson-details-input" value="<%=lesson.details%>" hidden=true>
                <trix-editor id='lesson-details-trix' name="details"
                value="lesson-details-input"
                class= 'bg-light'
                ></trix-editor>
      <div class="row my-2">
        <div class="col-12">
          <%= t('basics.preview') %>
        </div>
      </div>
    <% end %>
    <div class="alert alert-dark bg-mdb-color-lighten-6"
         id="lesson-details-preview">
        <%= raw(lesson.details) %>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= t('admin.section.extracted_content') %>
        <%= helpdesk(t('admin.lesson.info.content'), false) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= render partial: 'items/items_list',
                   locals: { items: lesson.content_items,
                             section_links: false,
                             content: lesson.media.potentially_visible
                                            .map(&:content).compact } %>
      </div>
    </div>
  </div>
</div>