<div class="row">
  <div class="col-12">
    <div id="lesson-basics-warning">
      Achtung, es gibt ungespeicherte Änderungen!
    </div>
  </div>
</div>
<%= form_with model: @lesson,
              html: { id: 'lesson-form' } do |f| %>
  <%= f.hidden_field :lecture_id, value: lesson.lecture_id %>
  <div class="row p-2">
    <div class="col-12">
        <%= render partial: 'lessons/basics',
                   locals: { lesson: @lesson,
                             f: f,
                             inspection: false,
                             modal: false } %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <%= f.submit 'Speichern',
                   class: 'btn btn-primary' %>
      <%= f.submit 'Speichern und zurück',
                   class: 'btn btn-primary' %>
      <button type="button"
              class="btn btn-secondary"
              data-dismiss="modal">
        Abbrechen
      </button>
      <%= link_to 'löschen', lesson_path(@lesson), method: :delete,
                  data: { confirm: 'Bist Du sicher? Die zugehörigen Medien ' \
                                    'werden nicht gelöscht, sondern ' \
                                    'werden dann der entsprechenden Vorlesung ' \
                                    'zugeordnet.' },
                  class: 'btn btn-danger' %>
     </div>
  </div>
<% end %>
