<div class="row">
  <div class="col-12">
    <div id="lesson-basics-warning">
      <%= t('warnings.unsaved_changes') %>
    </div>
  </div>
</div>
<%= form_with model: @lesson,
              html: { id: 'lesson-form' } do |f| %>
  <%= f.hidden_field :lecture_id, value: lesson.lecture_id %>
  <div class="row p-2">
    <div class="col-12">
        <%= render partial: 'lessons/basics',
                   locals: { lesson: @lesson,
                             f: f,
                             inspection: false,
                             modal: false } %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'),
                   class: 'btn btn-primary' %>
      <%= f.submit t('buttons.save_and_exit'),
                   class: 'btn btn-primary' %>
      <button type="button"
              class="btn btn-secondary cancel-lesson-edit">
        <%= t('buttons.cancel') %>
      </button>
      <%= link_to t('buttons.delete'),
                  lesson_path(@lesson),
                  method: :delete,
                  data: { confirm: t('confirmation.lesson') },
                  class: 'btn btn-danger' %>
     </div>
  </div>
<% end %>
