<%= form_with model: @lesson,
              html: { id: 'lesson-form' } do |f| %>
  <%= render partial: "lessons/basics",
             locals: { lesson: lesson,
                       inspection: false,
                       modal: true,
                       f: f } %>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.hidden_field :from, value: from %>
      <%= f.hidden_field :section_id, value: section.id %>
      <%= f.hidden_field :lecture_id, value: lesson.lecture_id %>
      <%= f.submit 'Speichern', class: 'btn btn-primary' %>
      <button type="button" class="btn btn-secondary"
              data-dismiss="modal" aria-label="Close">
        abbrechen
      </button>
    </div>
  </div>
<% end %>
