<div class="row">
  <div class="col-12">
    <h6>
      <%= t('buttons.create_lesson') %>
    </h6>
  </div>
</div>
<%= form_with model: lesson do |f| %>
  <div class="form-row">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <%= f.label :date,
                      t('basics.date') %>
          <%= helpdesk(t('admin.lesson.info.date'), false) %>
        </div>
        <div class="col-12">
          <%= f.date_field :date %>
        </div>
        <div class="col-12">
          <div class="invalid-feedback" id="lesson-date-error">
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="form-group">
        <%= f.label :section_ids,
                    t('basics.sections') %>
        <%= helpdesk(t('admin.lesson.info.sections'), false) %>
        <%= f.select :section_ids,
                     options_for_select(lesson.lecture.section_selection),
                     {},
                     { multiple: true,
                       class: 'selectize' } %>
        <div class="invalid-feedback" id="lesson-sections-error">
        </div>
      </div>
    </div>
  </div>
  <%= f.hidden_field :lecture_id,
                     value: lesson.lecture_id %>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'),
                   class: 'btn btn-sm btn-primary' %>
      <%= f.submit t('buttons.save_and_edit'),
                   class: 'btn btn-sm btn-primary' %>
      <button type="button"
              id="cancel-new-lesson"
              class="btn btn-sm btn-secondary">
        <%= t('buttons.cancel') %>
      </button>
    </div>
  </div>
<% end %>
