<div class="row">
  <div class="col-12">
    <h6>
      Sitzung anlegen
    </h6>
  </div>
</div>
<%= form_with model: lesson do |f| %>
    <div class="form-row">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <%= f.label :date, 'Datum' %>
          </div>
          <div class="col-12">
            <%= f.date_field :date %>
          </div>
          <div class="col-12">
            <div class="invalid-feedback" id="lesson-date-error">
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="form-group">
          <%= f.label :section_ids, 'Abschnitte' %>
          <%= f.select :section_ids,
                       options_for_select(lesson.lecture.sections.map { |s| [s.to_label, s.id ] }),
                       {}, { multiple: true,
                             class: 'selectize' }%>
          <div class="invalid-feedback" id="lesson-sections-error">
          </div>
        </div>
      </div>
    </div>
  <%= f.hidden_field :lecture_id, value: lesson.lecture_id %>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit 'Speichern', class: 'btn btn-primary' %>
      <%= f.submit 'Speichern und Bearbeiten', class: 'btn btn-primary' %>
      <button type="button" id="cancel-new-lesson"
              class="btn btn-secondary">
        abbrechen
      </button>
    </div>
  </div>
<% end %>
