<%= form_with model: @lesson,
              html: { id: 'lesson-form' } do |f| %>
<div class="row p-2">
  <div class="col-3">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        Sitzung
      </span>
      Nummer <%= @lesson.number %> vom
      <%= @lesson.date.day %>.<%= @lesson.date.month %>.<%= @lesson.date.year %>
    </h4>
  </div>
  <div class="col-5">
    <div id="lesson-basics-warning">
      Achtung, es gibt ungespeicherte Änderungen!
      <%= f.submit "Speichern", class: "btn btn-primary" %>
      <button type="button" class="btn btn-secondary ml-2"
              id="lesson-basics-cancel" data-id="<%= @lesson.id %>">
        verwerfen
      </button>
    </div>
  </div>
  <div class="col-4 text-center">
    <%= link_to 'Ansehen', inspect_lesson_path(@lesson),
                class: 'btn btn-primary my-1' %>
    <%= link_to 'zur Vorlesung', edit_lecture_path(@lesson.lecture),
                class: 'btn btn-primary' %>
    <% unless @lesson.media.present? %>
      <%= link_to 'Sitzung löschen', lesson_path(@lesson),
                  method: :delete,
                  data: { confirm: 'Bist Du sicher?' },
                  class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
<div class="row p-2 mb-3">
  <div class="col-12">
    <span class="pl-2">
      (zur Vorlesung <%= link_to @lesson.lecture.title, edit_lecture_path(@lesson.lecture) %>)
    </span>
  </div>
</div>
<div class="row p-2">
  <div class="col-6">
    <div class="card bg-mdb-color-lighten-6 mb-4" id="lesson-basics-edit-<%= @lesson.id.to_i %>">
      <%= render partial: 'lessons/basics',
                 locals: { lesson: @lesson, f: f, inspection: false } %>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'media/card',
                   locals: { media: @lesson.media, small: true,
                             collapsible: false } %>
      </div>
    </div>
  </div>
</div>
<% end %>
