<div class="row">
  <div class="col-10">
    <h2>
      <span class="badge badge-secondary mr-3">
        <%= t('lesson') %>
      </span>
      <%= @lesson.to_label %>
      <%= t('from') %>
      <% if current_user.lectures.include?(@lesson.lecture) %>
        <%= link_to @lesson.lecture.title,
                    @lesson.lecture.path(current_user),
                    class: 'text-dark' %>
      <% else %>
        <span>
          <%= @lesson.lecture.title %>
        </span>
      <% end %>
    </h2>
  </div>
  <div class="col-2 text-right ">
    <% if @lesson.previous.present? %>
      <a href="<%= lesson_path(@lesson.previous) %>"
         class="text-secondary material-icons mr-2"
         style="text-decoration:none; font-size: 3em;"
         data-toggle="tooltip"
         title="<%= t('previous_lesson') %>">
        keyboard_arrow_left
      </a>
    <% end %>
    <% if @lesson.next.present? %>
      <a href="<%= lesson_path(@lesson.next) %>"
         class="text-secondary material-icons"
         style="text-decoration:none; font-size: 3em;"
         data-toggle="tooltip"
         title="<%= t('next_lesson') %>">
        keyboard_arrow_right
      </a>
    <% end %>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 col-lg-4 col-xl-3 col-xxl-2">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'tags/tags',
                   locals: { related_tags: @lesson.tags,
                             tags_description: t('related_tags'),
                             small: false } %>
      </div>
      <div class="col-12 mt-2 mb-2">
        <%= render partial: 'sections/sections',
                   locals: { sections: @lesson.sections } %>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 col-xl-6 col-xxl-7 mb-2">
    <%= render partial: 'items/items',
               locals: { items: @lesson.content_items,
                         small: false,
                         embedded: false,
                         section_links: false,
                         content: @lesson.media.potentially_visible.map(&:content) } %>
  </div>
  <div class="col-12 col-lg-12 col-xl-3 col-xxl-3">
    <%= render partial: 'media/related_media',
                 locals: { media: @lesson.visible_media_for_user(current_user),
                           from: 'lesson',
                           questions: false,
                           references: Item.none } %>
  </div>
</div>
