<div class="row">
  <div class="col-12">
    <h2>
      <span class="badge badge-secondary mr-3">
        Sitzung
      </span>
      <%= @lesson.to_label %>
      von
      <% if current_user.lectures.include?(@lesson.lecture) %>
        <%= link_to @lesson.lecture.title,
                    @lesson.lecture.path(current_user),
                    class: 'text-dark' %>
      <% else %>
        <span>
          <%= @lesson.lecture.title %>
        </span>
      <% end %>
    </h2>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 col-xl-6 pt-3">
    <%= render partial: 'items/items',
               locals: { items: @lesson.items } %>
  </div>
  <div class="col-12 col-xl-6 pt-3">
    <% unless @lesson.tags.empty? && @lesson.sections.empty? %>
      <div class="row">
        <% unless @lesson.tags.empty? %>
          <div class="col-12 col-xl-6">
            <%= render partial: 'tags/tags',
                       locals: { related_tags: @lesson.tags,
                                 tags_description: 'Verknüpfte Begriffe'} %>
          </div>
        <% end %>
        <% unless @lesson.sections.empty? %>
          <div class="col-12 col-xl-6">
            <%= render partial: 'sections/sections',
                       locals: { sections: @lesson.sections } %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% unless @lesson.media.empty? %>
      <div class="row pt-3">
        <div class="col-12">
          <h5>
            Verknüpfte Medien
          </h5>
        </div>
        <div class="col-12">
          <%= render partial: 'lessons/media',
                     locals: { media: @lesson.media} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
