<tr>
  <td class="sticky-col team-col">
    <%= user.tutorial_name %>

    <i
      class="clipboardpopup bi bi-clipboard clickable text-secondary clipboard-btn ms-3 clipboard-button"
      data-clipboard-text="<%= user.email %>"
      data-bs-toggle="tooltip"
      title="<%= t('buttons.copy_email_to_clipboard') %>"
    >
      <span class="clipboardpopuptext token-clipboard-popup">
        <%= t('basics.emails_copied_to_clipboard') %>
      </span>
    </i>
  </td>

  <td class="text-start sticky-col action-col">
    <%= reason %>
  </td>

  <td class="text-end">
    <%= yield if block_given? %>
  </td>
</tr>
