<div class="col-6 col-lg-3 mb-3">
    <%= f.label :editor_ids, t('basics.editors'),
                  class: 'form-label' %>
    <%= helpdesk(t('admin.medium.info.search_editors'), true) %>
    <%= f.select :editor_ids,
                 options_for_select(add_prompt(User.only_editors_selection)),
                 {},
                 { id: 'search_media_editor_ids',
                       multiple: true,
                       class: 'selectize',
                       disabled: true,
                       required: true } %>
    <div class="form-check mb-2">
        <%= f.check_box :all_editors,
                        id: 'search_all_media_editors',
                        class: 'form-check-input',
                        checked: true,
                        data: { id: 'search_media_editor_ids' } %>
        <%= f.label :all_media_editors,
                    t('basics.all'),
                    { class: 'form-check-label' } %>
    </div>
</div>