<div class="col-6 col-lg-4 mb-3 form-group">
  <%= f.label :teachable_ids, t('basics.lectures'), class: 'form-label' %>
  <%= helpdesk(t('search.media.lectures'), true) %>

  <div class="form-check mb-2">
    <%= f.radio_button :lecture_scope, '0', checked: true, class: 'form-check-input' %>
    <%= f.label :lecture_scope, t('search.media.lecture_scope.all'), value: '0', class: 'form-check-label' %>
  </div>

  <div class="form-check mb-2">
    <%= f.radio_button :lecture_scope, '1', class: 'form-check-input' %>
    <%= f.label :lecture_scope, t('search.media.lecture_scope.subscribed'), value: '1', class: 'form-check-label' %>
  </div>

  <div class="form-check mb-2">
    <%= f.radio_button :lecture_scope, '2',
                       class: 'form-check-input',
                       data: { type: 'toggle', id: 'search_media_lectures' } %>
    <%= f.label :lecture_scope, t('search.media.lecture_scope.own_selection'), value: '2', class: 'form-check-label' %>
  </div>

  <%= f.select :media_lectures,
               options_for_select(add_prompt(Lecture.select)),
               {},
               { multiple: true,
                 class: 'pl-4 selectize',
                 disabled: true,
                 required: true } %>
</div>