<div class="card bg-mdb-color-lighten-6">
  <div class="card-header">
    <h5>
      <%= t("admin.lecture.#{lecture.sort}_content") %>
    </h5>
  </div>
  <div class="card-body">
    <div class="card-columns">
      <% if lecture.seminar? %>
        <% if !lecture.talks.any? %>
          <%= t('admin.lecture.no_content_yet') %>
        <% else %>
          <%= render partial: 'lectures/show/talk',
                     collection: lecture.talks,
                     cached: false %>
        <% end %>
      <% else %>
        <% cache lecture do %>
          <% if !lecture.chapters.any? %>
            <%= t('admin.lecture.no_content_yet') %>
          <% else %>
            <%= render partial: 'lectures/show/chapter',
                       collection: lecture.chapters
                                          .select { |c| c.hidden.in?([false, nil])  },
                      cached: true %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
