<%= javascript_include_tag :feedback %>

<div class="modal-header">
  <i class="bi bi-star-fill me-3"></i>
  <h1 class="modal-title fs-5"><%= t('feedback.modal_title') %></h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
  </button>
</div>

<div class="modal-body">
  <%= t('feedback.description_html',
    github_mampf: link_to('GitHub', 'https://github.com/MaMpf-HD/mampf/issues', {target: '_blank'}),
    feedback_mail: mail_to(DefaultSetting::FEEDBACK_EMAIL, t('basics.mail_noun'))) %>

  <%= form_with model: Feedback.new, remote: true do |f| %>
    <%# Title %>
    <div class="form-floating mb-3">
      <%= f.text_field :title, class: 'form-control', placeholder: '_' %>
      <%= f.label :title, t('feedback.title') %>
    </div>

    <%# Comment %>
    <div class="form-floating mb-3">
      <%= f.text_area :feedback,
            class: 'form-control',
            placeholder: '_',
            style: 'height: 200px',
            required: '',
            minlength: Feedback::BODY_MIN_LENGTH,
            maxlength: Feedback::BODY_MAX_LENGTH,
            'data-too-short-message': t('feedback.body_too_short_error',
                                min_length: Feedback::BODY_MIN_LENGTH) %>
      <%= f.label :feedback, t('feedback.comment') %>
    </div>

    <%# Email contact %>
    <div class="form-check">
      <%= f.check_box :can_contact,
        checked: 'checked',
        class: 'form-check-input' %>
      <%= f.label :can_contact,
        t('feedback.mail_checkbox', user_mail: @current_user.email),
        class: 'form-check-label' %>
    </div>

    <%# Submit %>
    <%# Dummy submit button, the actual submit button is in the modal footer %>
    <%= f.submit 'Submit', id: 'submit-form-btn', style: 'display: none;' %>
  <% end %>
</div>

<div class="modal-footer">
  <%# Cancel %>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
    <%= t('buttons.cancel') %>
  </button>

  <%# Submit %>
  <button type="button" id="submit-form-btn-outside" class="btn btn-primary">
    <%= t('buttons.save') %>
  </button>
</div>
