<div class="action-box">
  <%= form_with model: item do |f|%>
    <div class="form-group form-row">
      <div class="col-2 col-form-label">
        Startzeit
        <i class="far fa-question-circle helpdesk" 
           tabindex="-1"  
           data-toggle="popover" data-trigger="focus" 
           title="Info" 
           data-content="Hier kannst Du die Zeit eingeben, an der entsprechende Eintrag im Video beginnt. Wenn Du den 'Eintrag hinzufügen'-Button an der richtigen Stelle im Video gedrückt hast, sollte hier schon die korrekte Zeit stehen. Du kannst sie aber auch mit Button 'Zeit aus Video übernehmen' erneut aus dem Video abgreifen oder manuell eintippen.">
        </i>
      </div>
      <div class="col-auto">
        <%= f.text_field :start_time,
                         { value: item.start_time.simple_vtt_string, size: 12,
                           maxlength: 12, class: 'form-control' } %>
        <div class="invalid-feedback" id="start-time-error">
        </div>
      </div>
      <div class="col-1 col-form-label">
        <i class="material-icons clickable timer" data-toggle="tooltip"
           data-placement="right" title="Zeit aus Video übernehmen"
           data-timer="item_start_time">
          timer
        </i>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col-2 col-form-label">
        <%= f.label :sort, 'Typ' %>
        <i class="far fa-question-circle helpdesk" 
           tabindex="-1"  
           data-toggle="popover" data-trigger="focus" 
           title="Info" 
           data-content="Hier kannst Du angeben, um welche Art von Eintrag es sich handelt (Satz, Bemerkung, Lemma etc.). Passt keine der klassischen Auswahlen, empfiehlt es sich, 'Markierung' auszuwählen und Details in der Beschreibung nachzuliefern.">
        </i>
      </div>
      <div class="col-auto">
        <%= f.select :sort, Item.internal_sorts, {},
                     { class: 'form-control' } %>
      </div>
    </div>
    <% if item.medium.sort == 'Kaviar' && item.medium.teachable_type.in?(['Lesson', 'Lecture']) %>
      <div id="item_section_select" class="form-group form-row">
        <div class="col-2 col-form-label">
          <%= f.label :section_id, 'Abschnitt' %>
          <i class="far fa-question-circle helpdesk" 
             tabindex="-1"  
             data-toggle="popover" data-trigger="focus" 
             title="Info" 
             data-content="Hier kannst Du auswählen, zu welchem Abschnitt der Eintrag gehört. Du hast hierbei zwei Möglichkeiten:
             <ul><li>Ist das Medium zu einer Vorlesung oder einer Sitzung assoziiert, kannst Du einen von den Abschnitten auswählen, die zu dieser Vorlesung bzw. Sitzung assoziiert sind. Dies ist im wesentlichen für KaViaR-Videos gedacht.</li><li>Du möchtest keinen Abschnitt aus der Datenbank assoziieren. In dem Fall kannst Du Titel und Nummer in weiteren Eingabefeldern eintragen. Das macht z.B. Sinn, wenn die Abschnitte der Gliederung des Videos dienen, aber keine strukturelle Bedeutung im Rahmen einer Vorlesung haben.</li></ul>"
             data-html="true">
          </i>
        </div>
        <div class="col-10">
          <%= f.select :section_id,
                        options_for_select([['kein zugeordneter Abschnitt aus der Datenbank', '']] +
                                           item.medium.teachable
                                               .section_selection,
                                           item.section_id) ,
                        {},
                        { class: 'selectize'} %>
        </div>
      </div>
    <% else %>
      <%= f.hidden_field :section_id, value: '' %>
    <% end %>
    <div id="item_number_field" style="display: <%= show_no_block(item.sort != 'label') %>"
         class="form-group form-row">
      <div class="col-2 col-form-label">
        <%= f.label :ref_number, 'Nummer' %>
        <i class="far fa-question-circle helpdesk" 
           tabindex="-1"  
           data-toggle="popover" data-trigger="focus" 
           title="Info" 
           data-content="Hier kannst Du die Nummer des Eintrags in der von Dir bevorzugten Art der Nummerierung eintragen, also typischerweise so etwas wie '7.4' oder '7.1.3'.">
        </i>
      </div>
      <div class="col-auto">
        <%= f.text_field :ref_number, class: 'form-control' %>
      </div>
    </div>
    <div id="item_description_field" class="form-group form-row">
      <div class="col-2 col-form-label">
        <%= f.label :description, 'Beschreibung' %>
        <i class="far fa-question-circle helpdesk" 
           tabindex="-1"  
           data-toggle="popover" data-trigger="focus" 
           title="Info" 
           data-content="Hier kannst Du den Eintrag näher beschreiben, also so etwas wie 'Satz von Wilson'. Du kannt hierbei auch LaTeX verwenden, und zwar in dem Umfang, wie es durch MathJax bereitgestellt wird.">
        </i>
      </div>
      <div class="col-auto">
        <%= f.text_field :description, { size: 50, class: 'form-control' } %>
      </div>
    </div>
    <% if item.manuscript? %>
      <div id="item_page_field" class="form-group form-row"
           style="display: <%= show_no_block(item.pdf_destination.blank?) %>">
        <div class="col-2 col-form-label">
          <%= f.label :page, 'Seite im pdf' %>
          <i class="far fa-question-circle helpdesk" 
             tabindex="-1"  
             data-toggle="popover" data-trigger="focus" 
             title="Info" 
             data-content="Hier kannst Du optional angeben, auf welcher Seite im zugeordneten Manuskript sich der Eintrag befindet. Bei Referenzierung dieses Eintrags wird dann im pdf an die entsprechende Stelle gesprungen. Gibst Du nichts ein, wird an den Anfang des Manuskripts gesprungen.">
          </i>
        </div>
        <div class="col-auto">
          <%= f.number_field :page,
                             { in: 1...item.medium.manuscript_pages + 1,
                               class: 'form-control' } %>
        </div>
        <div class="col-2">
          <%= link_to 'pdf ansehen', item.medium.manuscript[:original].url(host: host),
                      class: 'btn btn-outline-info', target: :blank %>
        </div>
      </div>
      <% if item.medium.manuscript_destinations.present? || item.pdf_destination.present? %>
        <div id="item_pdf_destination_field" class="form-group form-row">
          <div class="col-2 col-form-label">
            <%= f.label :pdf_destination, 'pdf-Zielpunkt' %>
            <i class="far fa-question-circle helpdesk" 
             tabindex="-1"  
             data-toggle="popover" data-trigger="focus" 
             title="Info" 
             data-content="Im zugehörigen Manuskript sind <i>named destinations</i>
             vorhanden. Hier kannst Du auswählen, zu welcher named destination der Eintrag gehören soll. Die Referenzierung auf named destinations überstimmt evtl. bereits vorhandene Verweise auf Seitenzahlen."
             data-html="true">
            </i>
          </div>
          <div class="col-10">
            <%= f.select :pdf_destination,
                         options_for_select([['auswählen (setzt Seitenauswahl außer Kraft)', '']] +
                                           (item.medium.manuscript_destinations | [item.pdf_destination])
                                             .map { |d| [d, d] },
                                           item.pdf_destination) ,
                    {},
                    { class: 'selectize'} %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div>
      <%= f.hidden_field :medium_id, value: item.medium.id %>
      <%= f.submit 'Speichern', class: 'btn btn-primary' %>
      <button id="cancel-item" class="btn btn-secondary ml-3" type="button">
        Abbrechen
      </button>
      <% if item.id.present? %>
      <%= link_to 'Löschen', item_path(item), method: :delete, remote: true,
                  data: { confirm: 'Bist Du sicher?' }, id: 'delete-item',
                  class: 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>
</div>
