<div class="card bg-light">
  <% unless embedded %>
    <div class="card-header bg-generic-card-header">
      <h5>
        <%= t('content') %>
      </h5>
    </div>
  <% end %>
  <div class="card-body" style="max-height: <%= small ? '60vh' : '70vh' %>;
                                overflow-y: <%= embedded ? '' : 'scroll;' %>">
    <% if items.present? %>
      <ul class="list-group">
        <% items.each do |i| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3"
                   style="background: <%= i.background %>">
                <%= i.short_reference %>
              </div>
              <div class="col-7">
                <%= i.short_description %>
              </div>
              <div class="col-2">
                <% if i.medium.visible? %>
                  <% if i.video_link %>
                    <a href="<%= i.video_link %>"
                       class="text-secondary new-in-lecture material-icons mr-2"
                       style="text-decoration:none; font-size: 1em"
                       data-toggle="tooltip"
                       title="zum Video"
                       target="_blank">
                      video_library
                    </a>
                  <% end %>
                  <% if i.manuscript_link %>
                    <a href="<%= i.manuscript_link %>"
                       class="text-secondary new-in-lecture material-icons"
                       style="text-decoration:none; font-size: 1em;"
                       data-toggle="tooltip"
                       title="zum Manuskript"
                       target="_blank">
                      library_books
                    </a>
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>
        <% end%>
      </ul>
    <% else %>
      <%= t('no_content') %>
    <% end %>
  </div>
</div>