<div class="modal fade"
     id="newItemModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="newItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="newItemModalLabel">
          <%= t('admin.item.create_external') %>
        </h5>
        <button type="button"
                class="close"
                data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body"
           id="new-item-modal-content">
        <%= form_with model: item, id: 'external_item_form' do |f|%>
          <div id="referral_description_field"
               class="form-group form-row">
            <div class="col-2 col-form-label">
              <%= f.label :description, t('basics.title') %>
              <%= helpdesk(t('admin.item.info.title'), false) %>
            </div>
            <div class="col-8">
              <%= f.text_field :description,
                               { size: 50, class: 'form-control' } %>
              <div class="invalid-feedback" id="item-description-error">
              </div>
            </div>
          </div>
          <div id="referral_link_field"
               class="form-group form-row">
            <div class="col-2 col-form-label">
              <%= f.label :link, t('basics.link') %>
              <%= helpdesk(t('admin.item.info.link'), false) %>
            </div>
            <div class="col-8">
              <%= f.text_field :link,
                               { size: 50, class: 'form-control' } %>
              <div class="invalid-feedback" id="item-link-error">
              </div>
            </div>
            <div class="col-2 col-form-label">
              <button id="item-test-link" type="button"
                      class="btn btn-sm btn-outline-info">
                <%= t('buttons.test') %>
              </button>
            </div>
          </div>
          <div id="referral_explanation_field"
               class="form-group form-row">
            <div class="col-2 col-form-label">
              <%= f.label :explanation, t('admin.item.explanation') %>
              <%= helpdesk(t('admin.item.info.explanation'), false) %>
            </div>
            <div class="col-8">
              <%= f.text_area :explanation,
                               { class: 'form-control' } %>
              <div class="invalid-feedback" id="item-explanation-error">
              </div>
            </div>
          </div>
          <%= f.hidden_field :sort, value: 'link' %>
          <%= f.hidden_field :from, value: 'referral' %>
          <%= f.hidden_field :locale, value: I18n.locale %>
          <div class="row">
            <div class="col-12 text-center">
              <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
              <button class="btn btn-secondary ms-3" type="button"
                      data-bs-dismiss="modal">
                <%= t('buttons.cancel') %>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
