<%= vite_javascript_tag "vignettes/slides/form/_form.js" %>

<%= form_with(
      model: [@questionnaire, slide],
      local: true,
      class: "slide-form",
      url: slide.new_record? ? questionnaire_slides_path(@questionnaire) : questionnaire_slide_path(@questionnaire, slide)) do |form| %>

  <div class="form-floating mb-3">
    <%= form.text_field :title, 
        class: 'form-control', 
        placeholder: 'Title (optional)',
        required: true,
        disabled: !@questionnaire.editable %>
    <%= form.label :title, 'Slide Title' %>
  </div>

  <div class="form-floating mb-3">
    <%= form.select :info_slide_ids,
        options_for_select(
          @questionnaire.info_slides.map { |s| [s.title, s.id] },
          slide.info_slides.map(&:id)
        ),
      { include_blank: true, multiple: true },

      { id: "vignettes-linked-info-slides", class: "form-select",
        disabled: !@questionnaire.editable } %>
    <%= form.label :info_slides, "Linked Info Slides" %>
  </div>

  <%= render partial: 'vignettes/slides/form/content', locals: { form: form } %>
  <br>
  <%= render partial: 'vignettes/slides/form/question', locals: { form: form } %>

  <div class="d-flex justify-content-end align-items-center mt-3">
    <div class="me-auto">
      <%= form.submit slide.new_record? ? t("vignettes.create_slide") : t("vignettes.update_slide"), 
          class: "btn btn-primary slide-submit-btn d-none" %>
    </div>
    
    <% unless slide.new_record? %>
    <button type="button" 
            class="btn btn-danger" 
            data-bs-toggle="<%= slide.questionnaire.editable ? 'modal' : '' %>" 
            data-bs-target="#deleteModal<%= slide.id %>"
            <%= 'disabled' unless slide.questionnaire.editable %>>
      <%= t("vignettes.delete_slide") %>
    </button>
    <% end %>
  </div>
<% end %>

<!-- Delete Confirmation Modal -->
<% unless slide.new_record? %>
  <div class="modal fade" id="deleteModal<%= slide.id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><%= t("vignettes.slide_confirm_delete") %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t("buttons.cancel") %></button>
          <%= button_to "Delete Slide", 
                questionnaire_slide_path(@questionnaire, slide),
                method: :delete,
                class: "btn btn-danger"
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>
