<%= javascript_include_tag 'vignettes/question_type' %>

<%= form.fields_for :question do |f| %>

<!-- Question Type Selection -->
<div class="form-floating">
    <%= f.select :type,
        options_for_select([
            [t('vignettes.question_types.none'), ''],
            [t('vignettes.question_types.text_area'), 'Vignettes::TextQuestion'],
            [t('vignettes.question_types.number_field'), 'Vignettes::NumberQuestion'],
            [t('vignettes.question_types.multiple_choice'), 'Vignettes::MultipleChoiceQuestion'],
            [t('vignettes.question_types.likert_scale'), 'Vignettes::LikertScaleQuestion']
        ], f.object.type),
        {},
        {
            class: "form-select",
            id: "vignettes-question-type-select",
            "aria-label": "Selection for question type",
            disabled: !form.object.questionnaire.editable
        } %>
    <%= f.label :type, t('vignettes.question_type') %>
</div>

<div id="vignette-question-text" class="form-floating mt-3 show">
    <%= f.text_area :question_text,
        placeholder: '_',
        class: 'form-control',
        style: 'height: 120px',
        maxlength: Vignettes::Question::TEXT_MAX_LENGTH,
        required: f.object.question_text_required?
    %>
    <%= f.label :question_text, t('vignettes.your_question') %>
    <div class="form-text small text-muted mt-1">
        <%= t('vignettes.markdown_help') %>
    </div>
</div>

<div id="vignette-likert-scale-language-selection" class = "collapse mt-3">
  <div class="form-floating mb-3">
    <%= f.select :language,
        options_for_select([
            [t('vignettes.locales.en'), 'en'],
            [t('vignettes.locales.de'), 'de'],
            [t('vignettes.locales.nl'), 'nl']
        ], f.object.language),
        {},
        {
            class: "form-select",
            id: "vignettes-likert-language-select",
            disabled: !form.object.questionnaire.editable
        } %>
    <%= f.label :language, t('vignettes.language_selection') %>
  </div>
</div>

<div id="vignette-edit-multiple-choice" class="collapse mt-3">

    <div id="vignette-multiple-choice-options">
        <%= f.fields_for :options do |option_form| %>
            <%= render partial: "multiple_choice_fields", locals: { f: option_form, editable: form.object.questionnaire.editable } %>
        <% end %>
    </div>

    <!-- later with Stimulus: -->
    <!-- https://jonathanyeong.com/rails-stimulus-dynamic-nested-form/ -->
    <template id="vignette-multiple-choice-options-template" class="d-none">
        <%= f.fields_for :options, f.object.options.build,
                         child_index: 'NEW_RECORD' do |option_form| %>
            <%= render partial: "multiple_choice_fields", locals: { f: option_form, editable: form.object.questionnaire.editable } %>
        <% end %>
    </template>
    
    <button type="button" id="vignette-multiple-choice-add"
            class="btn btn-outline-secondary"
            <%= form.object.questionnaire.editable ? '' : 'disabled' %>>
        <i class="bi bi-plus-circle"></i>
        <%= t("vignettes.add_multiple_choice_option") %>
    </button>
</div>

<div id="vignette-number-question-options" class="collapse mt-3">
  <div class="card">
    <div class="card-header"><%= t('vignettes.number_question_settings') %></div>
    <div class="card-body">
      <div class="form-check mb-3">
        <%= f.check_box :only_integer, 
            class: 'form-check-input', 
            id: 'vignette-number-only-integer',
            disabled: !form.object.questionnaire.editable %>
        <%= f.label :only_integer, t('vignettes.only_integer'), 
            class: 'form-check-label',
            for: 'vignette-number-only-integer' %>
      </div>
      
      <!-- Min/Max controls -->
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-floating">
            <%= f.number_field :min_number,
                class: 'form-control',
                id: 'vignette-number-min',
                placeholder: 'Minimum value',
                step: 'any',
                disabled: !form.object.questionnaire.editable %>
            <%= f.label :min_number, t('vignettes.min_number') %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <%= f.number_field :max_number,
                class: 'form-control',
                id: 'vignette-number-max',
                placeholder: 'Maximum value',
                step: 'any',
                disabled: !form.object.questionnaire.editable %>
            <%= f.label :max_number, t('vignettes.max_number') %>
          </div>
        </div>
      </div>
      
      <div class="form-text mt-2">
        <%= t('vignettes.number_range_help') %>
      </div>
    </div>
  </div>
</div>

<% end %>
