<%= javascript_include_tag 'vignettes/question_type' %>
<%= form_with(
      model: [@questionnaire, @slide],
      url: @slide.new_record? ? vignettes_questionnaire_slides_path(@questionnaire) : vignettes_questionnaire_slide_path(@questionnaire, @slide),
    ) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %><br>
    <%= form.rich_text_area :content %>
  </div>
  <div>
    <%= form.label :type, "Question Type" %>
    <%= form.select :type, options_for_select([
        ['No Question', ''],
        ['Text Field', 'TextQuestion']
    ]), {}, data: { action: "change->toggle-fields#switch" } %>
  </div>
  <fieldset data-type="TextQuestion">
    <%= form.label :question_text, "Question Text" %>
    <br>
    <%= form.text_area :question_text %>
  </fieldset>
  <div>
    <%= form.submit @slide.new_record? ? 'Create Slide' : 'Update Slide' %>
  </div>


<% end %>