<%= form.fields_for :question do |question_form| %>

    <!-- Question Type Selection -->
    <div class="form-floating">
        <%= question_form.select :type,
            options_for_select([
                ['No Question', ''],
                ['Text Area', 'Vignettes::TextQuestion'],
                ['Multiple Choice', 'Vignettes::MultipleChoiceQuestion'],
                ['Likert Scale', 'Vignettes::LikertScaleQuestion']
            ], question_form.object.type),
            {},
            {
                class: "form-select",
                id: "vignettes-question-type-select",
                "aria-label": "Selection for question type"
            } %>
        <%= question_form.label :type, "Question Type" %>
    </div>

    <div id="vignette-question-text" class="form-floating mt-3 show">
        <%= question_form.text_area :question_text,
            placeholder: '_',
            class: 'form-control',
            style: 'height: 120px',
            required: false
        %>
        <%= question_form.label :question_text, "Your question" %>
    </div>

    <div id="vignette-edit-multiple-choice" class="collapse">
        <%= question_form.label :options, "Options" %>
        <div id="vignette-options-container">
            <% question_form.object.options.each do |option| %>
            <div class="option-block">
                <%= question_form.fields_for :options, option do |option_form| %>
                <div class="option-field">
                    <%= option_form.text_field :text, placeholder: "Option Text" %>
                    <%= option_form.hidden_field :_destroy %>
                    <button type="button" class="remove-option">Remove</button>
                </div>
                <% end %>
            </div>
            <% end %>
            <div id="new-option-template" style="display: none;">
            <%= question_form.fields_for :options, question_form.object.options.build, child_index: "NEW_RECORD" do |option_form|%>
                <div class="option-field">
                <%= option_form.text_field :text %>
                <%= option_form.hidden_field :_destroy %>
                <button type="button" class="remove-option">Remove</button>
                </div>
            <% end %>
            </div>
        </div>
        <button type="button" id="add-option">Add Option</button>
    </div>

<% end %>
