<%= javascript_include_tag 'vignettes/question_type' %>
<%= form_with(
      model: [@questionnaire, @slide],
      url: @slide.new_record? ? vignettes_questionnaire_slides_path(@questionnaire) : vignettes_questionnaire_slide_path(@questionnaire, @slide),
      id: "slide-form"
    ) do |form| %>

  <%= hidden_field_tag :redirect_info_slide, 'false', id: 'redirect-info-slide-field' %>

  <% if @slide.info_slide %>
    <%= link_to "Edit Info Slide", edit_vignettes_questionnaire_slide_info_slide_path(@questionnaire, @slide), class: "btn btn-secondary" %>
  <% elsif !@slide.new_record? %>
    <%= link_to "Create Info Slide", new_vignettes_questionnaire_slide_info_slide_path(@questionnaire, @slide), class: "btn btn-primary" if @slide.info_slide.nil? %>
  <% else %>
    <button type="button" id="create-info-slide-button" class="btn btn-primary">
      Create Info Slide and save Slide
    </button>
  <% end %>

  <%= render partial: 'form_content', locals: { form: form } %>
  <%= render partial: 'form_question', locals: { form: form } %>

  <div>
    <%= form.submit @slide.new_record? ? 'Create Slide' : 'Update Slide' %>
  </div>
<% end %>