<%= form_with(
      model: [@questionnaire, @slide],
      local: true,
      url: @slide.new_record? ? questionnaire_slides_path(@questionnaire) : questionnaire_slide_path(@questionnaire, @slide),
      id: "slide-form"
    ) do |form| %>

  <div class="form-floating mb-3">
    <%= form.select :info_slide_ids,
        options_for_select(
          @questionnaire.info_slides.map { |s| [s.title, s.id] },
          @slide.info_slides.map(&:id)
        ),
      { include_blank: true, multiple: true },
      { id: "vignettes-linked-info-slides", class: "form-select" } %>
    <%= form.label :info_slides, "Linked Info Slides" %>
  </div>

  <%= render partial: 'form_content', locals: { form: form } %>
  <br>
  <%= render partial: 'form_question', locals: { form: form } %>

  <%= form.submit @slide.new_record? ? 'Create Slide' : 'Update Slide',
        class: "btn btn-primary mt-3"
  %>
<% end %>

<%= javascript_include_tag 'vignettes/edit_slide' %>
