<%= form_with(
      model: [@questionnaire, @slide],
      url: @slide.new_record? ? vignettes_questionnaire_slides_path(@questionnaire) : vignettes_questionnaire_slide_path(@questionnaire, @slide),
    ) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %><br>
    <%= form.rich_text_area :content %>
  </div>
  <div>
    <%= form.submit @slide.new_record? ? 'Create Slide' : 'Update Slide' %>
  </div>
<% end %>