<div class="form-group">
  <div class="mb-1">
    <%= t('basics.access_rights') %>
    <%= helpdesk(t('admin.medium.info.access_rights'), true) %>
  </div>
  <div class="custom-control custom-radio">
    <%= f.radio_button :released,
                       'all',
                       class: 'custom-control-input' %>
    <%= f.label :released,
                t('access.all'),
                value: 'all',
                class: 'custom-control-label' %>
  </div>
  <div class="custom-control custom-radio">
    <%= f.radio_button :released,
                       'users',
                       class: 'custom-control-input' %>
    <%= f.label :released,
                t('access.users'),
                value: 'users',
                class: 'custom-control-label' %>
  </div>
  <div class="custom-control custom-radio">
    <%= f.radio_button :released,
                       'subscribers',
                       class: 'custom-control-input' %>
    <%= f.label :released,
                t('access.subscribers'),
                value: 'subscribers',
                class: 'custom-control-label' %>
  </div>
  <div class="custom-control custom-radio">
    <%= f.radio_button :released,
                       'locked',
                       class: 'custom-control-input' %>
    <%= f.label :released,
                t('access.locked'),
                value: 'locked',
                class: 'custom-control-label' %>
  </div>
</div>