<div class="card bg-mdb-color-lighten-5">
  <div class="card-header bg-mdb-color-lighten-3">
    Basisdaten
  </div>
  <div class="card-body <%= compact ? 'card-compact' : '' %>">
    <div class="form-group">
      <%= f.label :sort, 'Typ' %>
      <i class="far fa-question-circle helpdesk>"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Jedes Medium hat genau einen Typ. Die folgenden Typen
         stehen zur Auswahl:
         <ul>
         <li>
         Lektion: korrespondiert in etwa zum Inhalt von Vorlesungssitzungen.
         Hier können z.B. Videos oder Manuskripte einzelner Sitzungen
         untergebracht werden, aber auch Vertiefungen zum Vorlesungsstoff.
         </li>
         <li>
         Worked-Example: ausgearbeitete Beispiele ergänzed zur Vorlesung, z.B.
         als Video produziert oder aus der Plenarübung
         </li>
         <li>
         Quiz-Frage: einzelne Quiz-Frage, z.B. aus der KeKs-Plattform
         passt.
         </li>
         <li>
         Übung: Übungsblätter
         </li>
         <li>
         Beispiel-Datenbank: Beispiel aus der ErDBeere-Datenbank
         (z.Zt. nur Prototyp)
         </li>
         <li>
         Wiederholung: Materialien, die Vorwissen auffrischen.
         </li>
         <li>
         Skript: Vorlesungsmanuskript
         <i>
         Beachte:
         </i>
         Pro Vorlesung kann es höchstens ein Skript geben.
         Skripte können nicht in andere Medientypen umgewandelt werden,
         dasselbe gilt auch andersherum. Verwendest Du das
         <a href='/mampf.sty' download='mampf.sty'>MaMpf-Paket</a>
         für LaTEX, kann MaMpf aus dem pdf zusätzliche Informationen
         extrahieren.
         </li>
         <li>
         Sonstiges: Hier kannst Du alles unterbringen, was in keine andere
         Rubrik passt.
          </li>
         </ul>"
         data-html="true">
      </i>
      <%= f.select :sort,
                   options_for_select(Medium.select_sorts, medium.sort),
                   {},
                   { class: 'form-control',
                     disabled: medium.sort.in?(['Script', 'KeksQuiz',
                                                'KeksQuestion', 'KeksRemark']) }%>
      <div class="invalid-feedback"
           id="medium-sort-error">
      </div>
      <div id="mampfStyInfo" class="mt-2"
           style="display: <%= show(medium.sort == 'Script') %>">
        <i>
          Beachte:
        </i>
        Für Skripte steht
        <a href="/mampf.sty" download="mampf.sty">
          hier
        </a>
        das MaMpf-Paket für LaTEX zur Verfügung. Es erlaubt, Inhalte aus dem
        Manuskript-pdf zu extrahieren und in MaMpf zur Verfügung zu stellen
        sowie Medien aus MaMpf über QR-Codes im Manuskript verfügbar zu machen.
      </div>
    </div>
    <% if medium.sort.in?(['Script', 'KeksQuiz', 'KeksQuestion', 'KeksRemark']) %>
      <%= f.hidden_field :sort, value: medium.sort %>
    <% end %>
    <div class="form-group">
      <%= f.label :teachable, 'assoziiert zu' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover" data-trigger="focus"
         title="Info"
         data-content="Jedes Medium ist zu genau einer Lehrveranstaltung
         assoziiert. Die Assoziation erfolgt hierbei zu einer/einem
         <ul>
         <li>
         <i>
         Sitzung
         </i>
         , wenn der Inhalt zu einer Vorlesungssitzung gehört,
         beispielsweise eine Videoaufzeichnung aus KaViaR
         </li>
         <li>
         <i>
         Vorlesung
         </i>
         , wenn der Inhalt spezifisch für die konkrete Vorlesung ist,
         jedoch ohne Bezug zu einer konkreten Sitzung, beispielsweise bei
         SeSAM-Videos
         </li>
         <li>
         <i>
         Modul
         </i>
         , wenn der Inhalt zum Modul gehört, jedoch keinen Bezug zu einer
         konkreten Vorlesung braucht, bespielsweise SeSAM-Videos zu
         Grundlagen, die in jeder Vorlesung eines entsprechenden Moduls gleich
         behandelt werden.
         </li>
         </ul>"
         data-html="true">
      </i>
      <%= f.select :teachable,
                   options_for_select([['auswählen', '']] +
                                        all_teachables_selection(current_user),
                                      medium.teachable_select),
                   {},
                   { class: 'selectize',
                     disabled: medium.sort == 'Script' } %>
      <div class="invalid-feedback"
           id="medium-teachable-error">
      </div>
    </div>
    <div class="form-group">
      <%= f.label :editor_ids,
                  'Editoren' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Dies eine Liste aller Personen, die für dieses Medium
         als Editor verantwortlich sind. Es muss mindestens eine angegeben
         werden, jede dieser Personen erhält das Bearbeitungsrecht für das
         Medium.
         <br>
         Anmerkung: Unabhängig davon kann das Medium auch von Personen mit
         höheren Rechten bearbeitet werden, beispielsweise von Moduleditoren
         oder Vorlesungeditorem aus dem zugeordneten Modul bzw. der
         zugeordneten Vorlesung."
         data-html="true">
      </i>
      <%= f.select :editor_ids,
                   options_for_select(User.select_editors,
                                      medium.editors.map(&:id)),
                   {},
                   { multiple: true, class: 'selectize' } %>
      <div class="invalid-feedback"
           id="medium-editors-error">
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, 'Beschreibung' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Die Beschreibung wird in Verweisen auf das Medium
         verwendet. Die Angabe einer Beschreibung ist obligatorisch,
         außer im Falle eines KaViar-Mediums, das zu einer Sitzung assoziiert
         ist oder im Falle einer KeKs-Frage.">
      </i>
      <%= f.text_field :description,
                       class: 'form-control' %>
      <div class="invalid-feedback"
           id="medium-description-error">
      </div>
    </div>
    <% unless medium.sort == 'Script' %>
    <div class="form-group">
      <%= f.label :tag_ids,
                  'Verknüpfte Begriffe' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Dies ist eine Liste aller Tags, die mit diesem Medium
         verknüpft sind. Wurde das Medium von einer Sitzung aus angelegt,
         so stehen hier zunächst alle zu dieser Sitzung assoziierten Tags;
         diese Wauswahl kann natürlich bearbeitet werden.">
      </i>
      <a class="fas fa-plus-circle clickable"
         id="new-tag-button"
         data-toggle="tooltip"
         title="Tag anlegen"
         data-course="<%= medium.course.id %>"
         data-medium="<%= medium.id %>"
         data-from="medium">
      </a>
      <%= f.select :tag_ids,
                   options_for_select(Tag.select_by_title,
                                      medium.tags.map(&:id)),
                   {},
                   { multiple: true, class: 'selectize' } %>
      <div class="invalid-feedback"
           id="medium-tags-error">
      </div>
    </div>
    <% end %>
    <div class="form-group">
      <%= f.label :linked_medium_ids,
                  'Verknüpfte Medien' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Dies ist eine Liste aller Medien, die mit diesem Medium
         verknüpft sind bzw. die von diesem Medium aus referenziert werden.
         Typisches Anwendungsbeispiel ist etwa die Liste aller zuheörigen
         KeKs-Fragen aus einem KeKs-Quiz heraus.
         <br>
         <b>
         Achtung:
         </b>
         Das Feature wird vermutlich spätestens nach der Integration von
         BananE abgeschafft werden, da diese Informationen dann automatisch
         erfasst werden können; für die via Thyme referenzierten Medien gilt
         das bereits jetzt."
         data-html="true">
      </i>
      <%= f.select :linked_medium_ids,
                   options_for_select(Medium.select_by_name,
                                      medium.linked_media.map(&:id)),
                   {}, { multiple: true, class: 'selectize' } %>
    </div>
    <div class="form-group">
      <%= f.label :external_reference_link,
                  'Externer Link' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Externer Link, der einen Teil diese Mediums ausmacht.
         Typisches Anwendungsbeispiel im Moment: KeKs-Quiz, KeKs-Frage.">
      </i>
      <div class="row">
        <div class="col-10">
          <%= f.text_field :external_reference_link,
                           { class: 'form-control' } %>
          <div class="invalid-feedback"
               id="medium-external-reference-error">
          </div>
        </div>
        <div class="col-2">
          <button id="test-external-link"
                  type="button"
                  class="btn btn-sm btn-outline-info">
            Test
          </button>
        </div>
      </div>
    </div>
    <% if medium.published_with_inheritance? %>
      <div class="form-group">
        Zugriffsrechte
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Die Varianten von Zugriffsrechten sind möglich:
           <ul>
           <li>
           alle (Standardeinstellung): Registrierte MaMpf-NutzerInnen können das
           Medium sehen. Nicht registrierte BenutzerInnen können über die Pfade
           <%= play_medium_path(medium) %> den Thyme-Player bzw. über
           <%= display_medium_path(medium) %> das Manuskript aufrufen, falls
           vorhanden.
           </li>
           <li>
           nur MaMpf-NutzerInnen: Registrierte MaMpf-NutzerInnen können das
           Medium sehen. Nicht registrierte NutzerInnen haben keinen Zugriff.
           </li>
           <li>
           nur AbonenntInnen: Registrierte MaMpf-NutzerInnen, die das
           assoziierte Modul/die assoziierte Vorlesung/die zur assoziierten
           Sitzung gehörige Vorlesung abonniert haben,
           können das Medium sehen. Sonstige generische MaMpf-NutzerInnen können
           das Medium nicht sehen.
           </li>
           <li>
           gesperrt: Generische MaMpf-NutzerInnen können das Medium nicht mehr
           sehen.
           </li>
           </ul>"
           data-html="true">
        </i>
        <div class="custom-control custom-radio">
          <%= f.radio_button :released,
                             'all',
                             class: 'custom-control-input' %>
          <%= f.label :released,
                      'frei',
                      value: 'all',
                      class: 'custom-control-label' %>
        </div>
        <div class="custom-control custom-radio">
          <%= f.radio_button :released,
                             'users',
                             class: 'custom-control-input' %>
          <%= f.label :released,
                      'nur MaMpf-NutzerInnen',
                      value: 'users',
                      class: 'custom-control-label' %>
        </div>
        <div class="custom-control custom-radio">
          <%= f.radio_button :released,
                             'subscribers',
                             class: 'custom-control-input' %>
          <%= f.label :released,
                      'nur AbonenntInnen',
                      value: 'subscribers',
                      class: 'custom-control-label' %>
        </div>
        <div class="custom-control custom-radio">
          <%= f.radio_button :released,
                             'locked',
                             class: 'custom-control-input' %>
          <%= f.label :released,
                      'gesperrt',
                      value: 'locked',
                      class: 'custom-control-label' %>
        </div>
      </div>
    <% end %>
    <%= f.hidden_field :teachable_id, value: medium.teachable_id %>
    <%= f.hidden_field :teachable_type, value: medium.teachable_type %>
  </div>
</div>