<div id="media_accordion" data-controller="media-button-sort" role="tablist">
  <div class="card bg-light">
    <div id="media_heading" class="card-header" role="tab">
      <div class="row">
        <div class="col-6">
          <h5>
            <%= t('basics.media') %> (<%= media.count %>)
            <%= helpdesk(t('admin.medium.associated'), false) %>
          </h5>
        </div>
        <div class="col-6 text-end">
          <% if teachable_id && teachable_type && !inspection %>
          <%= link_to '',
                        new_medium_path(params:
                                          { sort: 'LessonMaterial',
                                            teachable_id: teachable_id,
                                            teachable_type: teachable_type }),
                        class: "fas fa-plus-circle fa-lg new-in-lecture text-dark",
                        style: "text-decoration: none; ",
                        role: "button",
                        id: 'create-new-medium',
                        title: t('buttons.create_medium'),
                        data: { toggle: 'tooltip', media_button_sort_target: "newMedium" },
          remote: true %>
          <% end %>
          <% if collapsible %>
          <a class="btn btn-primary"
            aria-controls="media_collapse"
            aria-expanded="false"
            data-bs-toggle="collapse" href="#media_collapse">
            <%= t('buttons.toggle') %>
          </a>
          <% end %>
        </div>
      </div>
    </div>
    <div id="media_collapse"
      class="<%= show_collapse(!collapsible) %>"
      aria-labelledby="heading"
      data-bs-parent="#media_accordion"
      role="tabpanel">
      <div class="card-body p-2">
        <%= render partial: 'media/table',
                   locals: { media: media,
        small: small } %>
      </div>
    </div>
  </div>
</div>
