<div id="media_accordion" role="tablist">
  <div class="card bg-light">
    <div class="card-header" role="tab" id="media_heading" >
      <div class="row">
        <div class="col-6">
          <h5>
            <%= t('basics.media') %> (<%= media.count %>)
            <%= helpdesk(t('admin.medium.associated'), false) %>
          </h5>
        </div>
        <div class="col-6 text-end">
          <% if teachable_id && teachable_type && !inspection %>
            <%= link_to '',
                        new_medium_path(params:
                                          { sort: 'Kaviar',
                                            teachable_id: teachable_id,
                                            teachable_type: teachable_type }),
                        class: "fas fa-plus-circle fa-lg new-in-lecture text-dark",
                        style: "text-decoration: none; ",
                        data: { toggle: 'tooltip' },
                        title: t('buttons.create_medium'),
                        id: 'create-new-medium',
                        remote: true %>
          <% end %>
          <% if collapsible %>
            <a class="btn btn-primary"
               data-bs-toggle="collapse"
               href="#media_collapse"
               aria-expanded="false" aria-controls="media_collapse">
              <%= t('buttons.toggle') %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div id="media_collapse"
         class="<%= show_collapse(!collapsible) %>"
         role="tabpanel"
         aria-labelledby="heading"
         data-bs-parent="#media_accordion">
      <div class="card-body p-2">
        <%= render partial: 'media/table',
                   locals: { media: media,
                             small: small } %>
      </div>
    </div>
  </div>
</div>
