<div class="card bg-mdb-color-lighten-5">
  <div class="card-header bg-mdb-color-lighten-3">
    <h5>
      <%= t('content') %>
    </h5>
  </div>
  <div class="card-body <%= compact ? 'card-compact' : 'card-xl' %>">
    <div class="form-group">
      <%= f.label :content, "#{t('admin.medium.content')} (#{t('basics.optional')})" %>
      <%= helpdesk(t('admin.medium.info.content'), false) %>
       <input id="medium-content-input" value="<%=medium.content%>" hidden=true>
        <trix-editor id='medium-content-trix' name="content"
                value="medium-content-input"
                ></trix-editor>
    </div>
    <div class="row my-2">
      <div class="col-12">
        <%= t('basics.preview') %>
      </div>
    </div>
    <div class="alert alert-dark bg-mdb-color-lighten-6"
         id="medium-content-preview">
        <%= raw(medium.content) %>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <%= t('admin.medium.extracted_content') %>
        <%= helpdesk(t('admin.medium.info.extracted_content'), false) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <% if medium.sort =='Script' %>
          <%= render partial: 'items/items_list',
                     locals: { items: medium.toc_items,
                               section_links: false,
                               content: [] } %>
        <% else %>
          <%= render partial: 'items/items_list',
                     locals: { items: medium.proper_items_by_time,
                               section_links: false,
                               content: [] } %>
        <% end %>
      </div>
    </div>
  </div>
</div>