<div id="destinations_accordion"
     role="tablist">
  <div class="card bg-mdb-color-lighten-6">
    <div class="card-header"
         role="tab" id="destinations_heading">
      <div class="row">
        <div class="col-6">
          <h5 class="text-dark">
            <%= t('admin.medium.manuscript.structure') %>
            <%= ' (' + medium.manuscript_destinations.count.to_s + ') '%>
            <%= helpdesk(t('admin.medium.info.manuscript_structure'), false) %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <% unless manuscript.contradiction_count.positive? %>
            <button id="import-from-manuscript"
                    type="button"
                    class="btn btn-sm btn-secondary"
                    data-count="<%= manuscript.count %>"
                    data-mediumid="<%= medium.id %>">
              <%= t('buttons.import') %>
            </button>
          <% end %>
          <a class="btn btn-sm btn-outline-primary"
             data-toggle="collapse"
             href="#destinations_collapse"
             aria-expanded="false" aria-controls="destinations_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
      <% unless medium.imported_manuscript %>
        <div class="row">
          <div class="col-12 redtext">
            <%= t('admin.medium.info.import_warning') %>
          </div>
        </div>
      <% end %>
      <div class="row mt-2">
        <div class="col-12">
          <% if manuscript.contradiction_count.positive? %>
            <span class="redtext">
              <%= t('basics.attention') %>:
            </span>
            <% if manuscript.contradiction_count == 1 %>
              <%= t('manuscript.one_contradiction') %>
            <% elsif manuscript.contradiction_count > 1 %>
              <%= t('manuscript.more_contradictions',
                    count: manuscript.contradiction_count) %>
            <% end %>
          <% else %>
            <%= t('manuscript.no_contradictions') %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="destinations_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#destinations_accordion">
      <div class="card-body" id="de_destinationsCardBody">
        <%= render partial: 'media/destination_cards',
                   locals: { manuscript: manuscript} %>
        <%= render partial: 'media/manuscript_comments',
                   locals: { manuscript: manuscript} %>
      </div>
    </div>
  </div>
</div>