<div
  id="destinationWarningModal"
  class="modal fade"
  aria-hidden="true"
  aria-labelledby="destinationWarningModalLabel"
  data-backdrop="static"
  data-keyboard="false"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="destinationWarningModalLabel"
          class="modal-title">
          <%= t('basics.note') %>: <%= t('manuscript.quarantine') %>
        </h5>
      </div>
      <div class="modal-body">
        <%= t('manuscript.quarantine_about') %>
        <div id="quarantineDestinations">
        </div>
        <%= t('manuscript.quarantine_info') %>
        <div class="row mt-3">
          <div class="col-12 text-center">
            <button id="keep-old-destinations"
              type="button"
              class="btn btn-sm btn-secondary">
              <%= t('buttons.okay') %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
