  <% if manuscript.chapters.blank? %>
    <%= t('manuscript.no_chapters') %>
  <% end %>
  <% manuscript.chapters.each do |c| %>
    <div class="card bg-mdb-color-lighten-5">
      <div class="card-header bg-mdb-color-lighten-2">
        <div class="row">
          <div class="col-12">
            <% if c['mampf_chapter'].nil? %>
              <span class="badge bg-secondary me-2">
                <%= t('basics.new') %>
              </span>
            <% end %>
            <span class="text-light">
              <%= t('basics.chapter') %>
              <%= "#{c['label']}. #{c['description']}" %>
            </span>
          </div>
        </div>
        <% if c['contradiction'] == :different_title %>
          <div class="row">
            <span class="text-warning">
              &#x26a1; <%= t('basics.in_mampf') %>:
              <%= c['mampf_chapter'].title %>
            </span>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <div class="accordion" id="manuscriptAccordion">
          <% manuscript.sections_in_chapter(c).each do |s| %>
            <div class="card">
              <div class="card-header"
                   id="<%= 'manuscriptAccordion-' + s['counter'].to_s %>">
                <div class="row">
                  <div class="col-12">
                    <% if s['mampf_section'].nil? %>
                      <span class="badge bg-secondary">
                        <%= t('basics.new') %>
                      </span>
                    <% end %>
                    <button class="btn btn-link"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#<%= 'collapse' + s['counter'].to_s %>">
                      <%= "ยง#{s['label']}. #{s['description']}" %>
                    </button>
                  </div>
                </div>
                <% if s['contradiction'] == :different_title %>
                  <div class="row">
                    <span class="text-info">
                      &#x26a1; <%= t('basics.in_mampf') %>:
                      <%= s['mampf_section'].title %>
                    </span>
                  </div>
                <% end %>
              </div>
              <div id="<%= 'collapse' + s['counter'].to_s %>"
                   class="collapse"
                   data-bs-parent="#manuscriptAccordion">
                <div class="card-body">
                  <% if manuscript.content_in_section(s).blank? %>
                    <%= t('manuscript.no_labels') %>
                  <% else %>
                    <div class="row">
                      <div class="col-3 mt-2">
                        <strong>
                          <%= t('basics.type') %>
                        </strong>
                      </div>
                      <div class="col-2 mt-2">
                        <strong>
                          <%= t('basics.label') %>
                        </strong>
                      </div>
                      <div class="col-4 mt-2">
                        <strong>
                          <%= t('basics.description') %>
                        </strong>
                      </div>
                      <div class="col-1 mt-2 text-end">
                        <i class="fas fa-tag"
                           data-bs-toggle="tooltip"
                           data-placement="bottom"
                           title="<%= t('admin.tag.create') %>">
                        </i>
                      </div>
                      <div class="col-2 mt-2 text-center">
                        <i class="far fa-eye"
                           data-bs-toggle="tooltip"
                           data-placement="bottom"
                           title="<%= t('manuscript.visibility') %>">
                        </i>
                      </div>
                    </div>
                    <% manuscript.content_in_section(s)
                                 .each do |content| %>
                      <div class="row">
                        <div class="col-3 mt-2">
                          <%= content['sort'] %>
                        </div>
                        <div class="col-2 mt-2">
                          <%= content['label'] %>
                        </div>
                        <div class="col-4 mt-2">
                          <% if content['tag_id'].nil? %>
                            <%= content['description'] %>
                          <% else %>
                            <%= link_to content['description'],
                                        edit_tag_path(content['tag_id']) %>
                          <% end %>
                        </div>
                        <div class="col-1 mt-2 text-end">
                          <div class="custom-control form-check">
                            <input type="checkbox"
                                   class="form-check-input"
                                   id="tag-<%= content['counter'] %>"
                                   data-counter="<%= content['counter'] %>"
                                   <%= content['tag_id'].nil? ? '' : 'checked disabled' %>
                                   <%= content['description'].blank? ? 'disabled' : '' %>>
                              <label class="custom-control-label"
                                     for="tag-<%= content['counter'] %>">
                              </label>
                            </div>
                          </div>
                        <div class="col-2 mt-2 text-center">
                          <div class="custom-control custom-switch">
                            <input type="checkbox"
                                   <%= check_status(content) %>
                                   class="form-check-input"
                                   id="visible-<%= content['counter'] %>"
                                   data-counter="<%= content['counter'] %>">
                            <label class="custom-control-label"
                                   for="visible-<%= content['counter'] %>">
                            </label>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end%>
        </div>
      </div>
    </div>
  <% end %>