<div id="destinations_accordion"
     role="tablist">
  <div class="card bg-mdb-color-lighten-6">
    <div class="card-header"
         role="tab" id="destinations_heading">
      <div class="row">
        <div class="col-6">
          <h5 class="text-dark">
            <%= t('admin.medium.manuscript.structure') %>
            <%= ' (' + medium.manuscript_destinations.count.to_s + ') '%>
            <%= helpdesk(t('admin.medium.info.manuscript_structure'), false) %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <% unless manuscript.contradiction_count.positive? %>
            <button id="import-from-manuscript"
                    type="button"
                    class="btn btn-sm btn-secondary"
                    data-count="<%= manuscript.count %>"
                    data-mediumid="<%= medium.id %>">
              <%= t('buttons.import') %>
            </button>
          <% end %>
          <a class="btn btn-sm btn-outline-primary"
             data-toggle="collapse"
             href="#destinations_collapse"
             aria-expanded="false" aria-controls="destinations_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
      <% unless medium.imported_manuscript %>
        <div class="row">
          <div class="col-12 redtext">
            <%= t('admin.medium.info.import_warning') %>
          </div>
        </div>
      <% end %>
      <div class="row mt-2">
        <div class="col-12">
          <% if manuscript.contradiction_count.positive? %>
            <span class="redtext">
              <%= t('basics.attention') %>:
            </span>
            <% if manuscript.contradiction_count == 1 %>
              <%= t('manuscript.one_contradiction') %>
            <% elsif manuscript.contradiction_count > 1 %>
              <%= t('manuscript.more_contradictions',
                    count: manuscript.contradiction_count) %>
            <% end %>
          <% else %>
            <%= t('manuscript.no_contradictions') %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="destinations_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#destinations_accordion">
      <div class="card-body" id="de_destinationsCardBody">
        <div class="card-columns">
          <% if manuscript.chapters.blank? %>
            Es sind keine Kapitel angegeben.
          <% end %>
          <% manuscript.chapters.each do |c| %>
          <div class="card bg-mdb-color-lighten-5">
            <div class="card-header bg-mdb-color-lighten-2">
              <div class="row">
                <div class="col-12">
                  <% if c['mampf_chapter'].nil? %>
                    <span class="badge badge-secondary mr-2">
                      <%= t('basics.new') %>
                    </span>
                  <% end %>
                  <span class="text-light">
                    <%= t('basics.chapter') %>
                    <%= "#{c['label']}. #{c['description']}" %>
                  </span>
                </div>
              </div>
              <% if c['contradiction'] == :different_title %>
                <div class="row">
                  <span class="text-warning">
                    &#x26a1; <%= t('basics.in_mampf') %>:
                    <%= c['mampf_chapter'].title %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="card-body">
              <div class="accordion" id="manuscriptAccordion">
                <% manuscript.sections_in_chapter(c).each do |s| %>
                  <div class="card">
                    <div class="card-header"
                         id="<%= 'manuscriptAccordion-' + s['counter'].to_s %>">
                      <div class="row">
                        <div class="col-12">
                          <% if s['mampf_section'].nil? %>
                            <span class="badge badge-secondary">
                              <%= t('basics.new') %>
                            </span>
                          <% end %>
                          <button class="btn btn-link"
                                  type="button"
                                  data-toggle="collapse"
                                  data-target="#<%= 'collapse' + s['counter'].to_s %>">
                            <%= "ยง#{s['label']}. #{s['description']}" %>
                          </button>
                        </div>
                      </div>
                      <% if s['contradiction'] == :different_title %>
                        <div class="row">
                          <span class="text-info">
                            &#x26a1; <%= t('basics.in_mampf') %>:
                              <%= s['mampf_section'].title %>
                          </span>
                        </div>
                      <% end %>
                    </div>
                    <div id="<%= 'collapse' + s['counter'].to_s %>"
                         class="collapse"
                         data-parent="#manuscriptAccordion">
                      <div class="card-body">
                        <% if manuscript.content_in_section(s).blank? %>
                          <%= t('manuscript.no_labels') %>
                        <% else %>
                          <div class="row">
                            <div class="col-3 mt-2">
                              <strong>
                                <%= t('basics.type') %>
                              </strong>
                            </div>
                            <div class="col-2 mt-2">
                              <strong>
                                <%= t('basics.label') %>
                              </strong>
                            </div>
                            <div class="col-4 mt-2">
                              <strong>
                                <%= t('basics.description') %>
                              </strong>
                            </div>
                            <div class="col-1 mt-2 text-right">
                              <i class="fas fa-tag"
                                 data-toggle="tooltip"
                                 data-placement="bottom"
                                 title="<%= t('admin.tag.create') %>">
                              </i>
                            </div>
                            <div class="col-2 mt-2 text-center">
                              <i class="far fa-eye"
                                 data-toggle="tooltip"
                                 data-placement="bottom"
                                 title="Sichtbarkeit in Gliederung">
                              </i>
                            </div>
                          </div>
                          <% manuscript.content_in_section(s)
                                       .each do |content| %>
                            <div class="row">
                              <div class="col-3 mt-2">
                                <%= content['sort'] %>
                              </div>
                              <div class="col-2 mt-2">
                                <%= content['label'] %>
                              </div>
                              <div class="col-4 mt-2">
                                <% if content['tag_id'].nil? %>
                                  <%= content['description'] %>
                                <% else %>
                                  <%= link_to content['description'],
                                              edit_tag_path(content['tag_id']) %>
                                <% end %>
                              </div>
                              <div class="col-1 mt-2 text-right">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox"
                                         class="custom-control-input"
                                         id="tag-<%= content['counter'] %>"
                                         data-counter="<%= content['counter'] %>"
                                         <%= content['tag_id'].nil? ? '' : 'checked disabled' %>
                                         <%= content['description'].blank? ? 'disabled' : '' %>>
                                  <label class="custom-control-label"
                                         for="tag-<%= content['counter'] %>">
                                  </label>
                                </div>
                              </div>
                              <div class="col-2 mt-2 text-center">
                                <div class="custom-control custom-switch">
                                  <input type="checkbox"
                                         <%= check_status(content) %>
                                         class="custom-control-input"
                                         id="visible-<%= content['counter'] %>"
                                         data-counter="<%= content['counter'] %>">
                                  <label class="custom-control-label"
                                         for="visible-<%= content['counter'] %>">
                                  </label>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <ul>
        <% if manuscript.sections_in_unbookmarked_chapters? %>
          <li>
            Es gibt
            <% if manuscript.sections_in_unbookmarked_chapters.count == 1 %>
              einen Abschnitt im pdf, der in einem ungelabelten Kapitel liegt:
            <% else %>
              <%= manuscript.sections_in_unbookmarked_chapters.count %>
              Abschnitte im pdf, die in einem ungelabelten Kapitel liegen:
            <% end %>
            <div class="row mt-2 mb-3">
              <% manuscript.sections_in_unbookmarked_chapters
                           .each do |section| %>
                <div class="col-12">
                  &#x26a1;
                  <%= 'ยง' + section['label'].to_s %>
                  <%= section['description'] %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
        <% if manuscript.content_in_unbookmarked_locations? %>
          <li>
            Es gibt
            <% if manuscript.content_in_unbookmarked_locations.count == 1 %>
              eine inhaltliche Bookmark im pdf, die in einem ungelabelten
              Kapitel oder einem ungelabelten Abschnitt liegt:
            <% else %>
              <%= manuscript.content_in_unbookmarked_locations.count %>
              Bookmarks im pdf, die in einem ungelabelten
              Kapitel oder einem ungelabelten Abschnitt liegen:
            <% end %>
            <div class="row mt-2 mb-3">
              <% manuscript.content_in_unbookmarked_locations
                           .each do |content| %>
                <div class="col-12">
                  &#x26a1;
                  <%= content['sort'] %>
                  <%= content['label'] %>
                  <%= content['description'] %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
        <% if manuscript.destinations_with_higher_multiplicities.present? %>
          <li>
            Die folgenden named destinations tauchen im pdf-File mehrfach auf:
            <div class="row mt-2 mb-3">
              <% manuscript.destinations_with_higher_multiplicities
                           .each do |d| %>
                <div class="col-12">
                  &#x26a1;
                  <%= d %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
        <% if manuscript.unmatched_mampf_chapters.any? %>
          <li>
            <span class="badge badge-info">
              Hinweis
            </span>
            Es gibt Kapitel in MaMpf, die in diesem Skript nicht vorkommen.
            Bei Import des Manuskripts werden diese beibehalten und nach ggf.
            im Import vorhandenen Kapiteln einsortiert:
            <div class="row mb-3">
              <% manuscript.unmatched_mampf_chapters.each do |c| %>
                <div class="col-12 ml-3">
                  <%= c.to_label %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
        <% if manuscript.unmatched_mampf_sections.any? %>
          <li>
            <span class="badge badge-info">
             Hinweis
            </span>
            Es gibt Abschnitte in MaMpf, die in diesem Skript nicht vorkommen.
            Bei Import des Manuskripts werden diese beibehalten und nach ggf.
            im Import vorhandenen Abschnitten einsortiert:
            <div class="row">
              <% manuscript.unmatched_mampf_sections.each do |s| %>
                <div class="col-12 ml-3">
                  <%= s.to_label %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>