<div class="card bg-light"
     style="max-height: 80vh;">
  <div class="card-header">
    <h5>
      <%= t('basics.documents') %>
    </h5>
  </div>
  <div class="card-body">
    <% if medium.sort =='Question' %>
      <%= render partial: 'media/question',
                 locals: { question: medium.becomes(Question) } %>
    <% elsif medium.sort =='Remark' %>
      <%= render partial: 'media/remark',
                 locals: { remark: medium.becomes(Remark) } %>
    <% elsif medium.sort == 'Quiz' %>
      <%= render partial: 'media/quiz',
                 locals: { quiz: medium.becomes(Quiz) } %>
    <% end %>
    <% unless medium.sort.in?(['Script', 'Quiz']) %>
      <%= render partial: 'media/video',
                 locals: { medium: medium,
                           f: f } %>
    <% end %>
    <% unless medium.sort == 'Quiz' %>
      <%= render partial: 'media/manuscript',
                 locals: { medium: medium,
                           f: f } %>
    <% end %>
    <% unless medium.sort.in?(['Script', 'Quiz']) %>
      <%= render partial: 'media/external_link',
                 locals: { f: f } %>
    <% end %>
  </div>
</div>