<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <h5>
          <%= t('basics.documents') %>
        </h5>
      </div>
      <div class="col-6 text-right">
        <button type="button"
                class="btn btn-sm btn-outline-secondary"
                id="showMediaStatistics"
                data-medium="<%= medium.id %>"
                <%= "disabled" unless medium.collects_statistics %>>
          <%= t('basics.statistics') %>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body <%= compact ? 'card-compact' : 'card-xl' %>">
    <% if medium.sort =='Question' %>
      <%= render partial: 'media/question',
                 locals: { question: medium.becomes(Question) } %>
    <% elsif medium.sort =='Remark' %>
      <%= render partial: 'media/remark',
                 locals: { remark: medium.becomes(Remark) } %>
    <% elsif medium.sort == 'Quiz' %>
      <%= render partial: 'media/quiz',
                 locals: { quiz: medium.becomes(Quiz),
                           f: f } %>
    <% end %>
    <% unless medium.sort.in?(['Script', 'Quiz']) %>
      <%= render partial: 'media/video',
                 locals: { medium: medium,
                           f: f } %>
    <% end %>
    <% unless medium.sort == 'Quiz' %>
      <%= render partial: 'media/manuscript',
                 locals: { medium: medium,
                           manuscript: manuscript,
                           f: f } %>
    <% end %>
    <% unless medium.sort.in?(['Script', 'Quiz']) %>
      <%= render partial: 'media/external_link',
                 locals: { f: f } %>
    <% end %>
    <% if medium.sort.in?(['Sesam', 'Remark']) %>
      <%= render partial: 'media/geogebra',
                 locals: { medium: medium,
                           f: f } %>
    <% end %>
  </div>
</div>