<%= form_with model: medium, html: { id: 'medium-form' } do |f| %>
<div class="row px-4 py-2 mt-2">
  <div class="col-3">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        Medium
      </span>
      <% unless new_medium %>
        <%= medium.local_info %>
      <% end %>
    </h4>
  </div>
  <div class="col-5">
    <div id="medium-basics-warning">
      Achtung, ungespeicherte Änderungen!
      <%= f.submit "Speichern", class: "btn btn-primary" %>
      <button type="button" class="btn btn-secondary ml-2"
              id="medium-basics-cancel">
        verwerfen
      </button>
    </div>
  </div>
  <div class="col-3 text-center">
    <% unless new_medium %>
      <%= link_to 'Ansehen', inspect_medium_path(medium),
                  class: 'btn btn-primary my-1' %>
    <% end %>
    <% teachable_scope = medium.teachable.media_scope %>
    <% if teachable_scope.class.to_s == 'Course' %>
      <%= link_to 'zum Modul', edit_or_inspect_course_path(teachable_scope),
                  class: 'btn btn-primary' %>
    <% else %>
      <% if current_user.admin || current_user.in?(teachable_scope.editors_with_inheritance) %>
        <%= link_to 'zur Vorlesung', edit_lecture_path(teachable_scope),
                    class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'zur Vorlesung', inspect_lecture_path(teachable_scope),
                    class: 'btn btn-primary' %>
      <% end %>
    <% end %>
    <% if !new_medium && medium.irrelevant? %>
      <%= link_to 'Medium löschen', medium_path, method: :delete,
                  data: { confirm: 'Bist Du sicher?' },
                  class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
  <div class="row mt-3 p-2">
    <div class="col-4">
      <div class="card bg-mdb-color-lighten-5">
        <div class="card-header bg-mdb-color-lighten-3">
          Basisdaten
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= f.label :sort, 'Typ' %>
            <i class="far fa-question-circle helpdesk" 
               tabindex="0"  
               data-toggle="popover" data-trigger="focus" 
               title="Info" 
               data-content="Jedes Medium hat genau einen Typ. Die folgenden Typen mit stehen zur Auswahl: <ul><li>KaViaR: Vorlesungsvideos</li><li>SeSAM: Worked-Example-Videos</li><li>KIWi: Wiederholungsvideos</li><li>KeKs-Quiz: Quiz auf der KeKs-Plattform</li><li>KeKs-Frage: Frage auf der KeKs-Plattform</li>
               <li>ErDBeere: Medium auf der ErDBeere-Plattform</li><li>RestE: alles, was in keine der anderen Kategorien passt</li></ul>"
               data-html="true">
            </i>
            <%= f.select :sort,
                         options_for_select(Medium.sort_enum.map { |s| [s, s] },
                                            medium.sort),
                         {}, { class: 'form-control' }%>
          </div>
          <div class="form-group">
            <%= f.label :teachable, 'assoziiert zu' %>
            <i class="far fa-question-circle helpdesk" 
               tabindex="0"  
               data-toggle="popover" data-trigger="focus" 
               title="Info" 
               data-content="Jedes Medium ist zu genau einer Lehrveranstaltung assoziiert. Die Assoziation erfolgt hierbei zu einer/einem<ul><li><i>Sitzung</i>, wenn der Inhalt zu einer Vorlesungssitzung gehört, beispielsweise eine Videoaufzeichnung aus KaViaR</li><li><i>Vorlesung</i>, wenn der Inhalt spezifisch für die konkrete Vorlesung ist, jedoch ohne Bezug zu einer konkreten Sitzung, beispielsweise bei SeSAM-Videos</li><li><i>Modul</i>, wenn der Inhalt zum Modul gehört, jedoch keinen Bezug zu einer konkreten Vorlesung braucht, bespielsweise SeSAM-Videos zu Grundlagen, die in jeder Vorlesung eines entsprechenden Moduls gleich behandelt werden.
               </li></ul>"
               data-html="true">
            </i>
            <%= f.select :teachable,
                         options_for_select([['auswählen', '']] + all_teachables_selection(current_user),
                                            medium.teachable.present? ? medium.teachable_select : nil),
                         {}, { class: 'selectize' } %>
            <div class="invalid-feedback" id="medium-teachable-error">
            </div>
          </div>
          <div class="form-group">
            <%= f.label :editor_ids, 'Editoren' %>
            <i class="far fa-question-circle helpdesk" 
               tabindex="0"  
               data-toggle="popover" data-trigger="focus" 
               title="Info" 
               data-content="Dies eine Liste aller Personen, die für diese Medium als Editor verantwortlich sind. Es muss mindestens eine angegeben werden, jede dieser Personen erhält das Bearbeitungsrecht für das Medium. <br>Anmerkung: Unabhängig davon kann das Medium auch von Personen mit höheren Rechten bearbeitet werden, beispielsweise von Moduleditoren oder Vorlesungeditorem aus dem zugeordneten Modul bzw. der zugeordneten Vorlesung."
               data-html="true">
            </i>
            <%= f.select :editor_ids,
                         options_for_select(User.select_editors,
                                            medium.editors.map(&:id)),
                         {}, { multiple: true, class: 'selectize' } %>
            <div class="invalid-feedback" id="medium-editors-error">
            </div>
          </div>
          <div class="form-group">
            <%= f.label :description, 'Beschreibung' %>
            <i class="far fa-question-circle helpdesk" 
               tabindex="0"  
               data-toggle="popover" data-trigger="focus" 
               title="Info" 
               data-content="Die Beschreibung wird in Verweisen auf das Medium verwendet. Die Angabe einer Beschreibung ist obligatorisch, außer im Falle eines KaViar-Mediums, das zu einer Sitzung assoziiert ist oder im Falle einer KeKs-Frage.">
            </i>
            <%= f.text_field :description, class: 'form-control' %>
            <div class="invalid-feedback" id="medium-description-error">
            </div>
          </div>
          <div class="form-group">
            <%= f.label :tag_ids, 'Verknüpfte Begriffe' %>
            <i class="far fa-question-circle helpdesk" 
               tabindex="0"  
               data-toggle="popover" data-trigger="focus" 
               title="Info" 
               data-content="Dies ist eine Liste aller Tags, die mit diesem Medium verknüpft sind. Wurde das Medium von einer Sitzung aus angelegt, so stehen hier zunächst alle zu dieser Sitzung assoziierten Tags; diese Wauswahl kann natürlich bearbeitet werden.">
            </i>
            <button type="button" class="btn btn-sm ml-2 btn-outline-secondary"
                    id="new-tag-button"
                    data-course="<%= medium.course.id %>"
                    data-medium="<%= medium.id %>"
                    data-from="medium">
              Tag anlegen
            </button>
            <%= f.select :tag_ids,
                         options_for_select(Tag.select_by_title,
                                            medium.tags.map(&:id)),
                         {}, { multiple: true, class: 'selectize' } %>
          </div>
          <div class="form-group">
            <%= f.label :linked_medium_ids, 'Verknüpfte Medien' %>
            <i class="far fa-question-circle helpdesk" 
               tabindex="0"  
               data-toggle="popover" data-trigger="focus" 
               title="Info" 
               data-content="Dies ist eine Liste aller Medien, die mit diesem Medium verknüpft sind bzw. die von diesem Medium aus referenziert werden. Typisches Anwendungsbeispiel ist etwa die Liste aller zuheörigen KeKs-Fragen aus einem KeKs-Quiz heraus. <br><b>Achtung:</b> Das Feature wird vermutlich spätestens nach der Integration von BananE abgeschafft werden, da diese Informationen 
               dann automatisch erfasst werden können; für die via Thyme referenzierten Medien gilt das bereits jetzt."
               data-html="true">
            </i>
            <%= f.select :linked_medium_ids,
                         options_for_select(Medium.select_by_name,
                                            medium.linked_media.map(&:id)),
                         {}, { multiple: true, class: 'selectize' } %>
          </div>
          <div class="form-group">
            <%= f.label :external_reference_link, 'Externer Link' %>
            <i class="far fa-question-circle helpdesk" 
               tabindex="0"  
               data-toggle="popover" data-trigger="focus" 
               title="Info" 
               data-content="Externer Link, der einen Teil diese Mediums ausmacht. Typisches Anwendungsbeispiel im Moment: KeKs-Quiz, KeKs-Frage.">
            </i>
            <div class="row">
              <div class="col-10">
                <%= f.text_field :external_reference_link,
                                 { class: 'form-control' } %>
                <div class="invalid-feedback"
                     id="medium-external-reference-error">
                </div>
              </div>
              <div class="col-2">
                <button id="test-external-link" type="button"
                        class="btn btn-sm btn-outline-info">
                  Test
                </button>
              </div>
            </div>
          </div>
          <%= f.hidden_field :teachable_id, value: medium.teachable_id %>
          <%= f.hidden_field :teachable_type, value: medium.teachable_type %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-light">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              Video
              <span class="badge badge-secondary">
                mp4
              </span>
              <i class="far fa-question-circle helpdesk" 
                 tabindex="0"  
                 data-toggle="popover" data-trigger="focus" 
                 title="Info" 
                 data-content="Das Manuskript sollte im mp4-Format vorliegen.
                 Die empfohlene horizontale Auflösung ist 1080 Pixel, um eine hinreichende Zukunftskompatibilität zu gewährleisten. Für den thyme-Player ist ein 3:2 Bildschirmverhältnis optimal, da in diesem Fall der Platz für interne und externe Referenzen bestmöglich ausgenutzt wird, sofern ein 16:9 Monitor verwendet wird."
                 data-html="true">
              </i>
            </div>
            <div class="col-3 text-right" id="video-uploadButton">
              <input type="hidden" name="medium[video]"
                     value="<%= medium.cached_video_data %>"
                     id="upload-video-hidden">
              <input type="file" name="medium[video]" id="upload-video">
            </div>
            <div class="col-6 text-right">
              <% if medium.video.present? %>
                <%= link_to 'Editor', enrich_medium_path(medium),
                            class: 'btn btn-sm btn-outline-secondary' %>
                <%= link_to 'Thyme', play_medium_path(medium),
                            class: 'btn btn-outline-secondary btn-sm',
                            target: :blank %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= render partial: 'media/upload_video',
                     locals: { medium: medium } %>
          <%= f.hidden_field :detach_video, value: false %>
          <% # without the next lines, the POST request will ignore %>
          <% # all uploaded file data %>
          <% # no clue why %>
          <div class="hidden">
            <%= f.file_field :bs %>
          </div>
          <% if medium.screenshot.present? %>
            <div class="my-2">
              Screenshot
            </div>
            <img id="screenshot-preview" class="img-fluid mb-3"
                 src="<%= medium.screenshot_url %>">
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-light">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              Manuskript
              <span class="badge badge-secondary">
                pdf
              </span>
              <i class="far fa-question-circle helpdesk" 
                 tabindex="0"  
                 data-toggle="popover" data-trigger="focus" 
                 title="Info" 
                 data-content="Das Manuskript sollte im pdf-Format vorliegen.
                 MaMpf ist in der Lage, <i>named destinations</i> aus dem pdf zu extrahieren, um diese später als Sprungmarken zu verwenden.
                 Named destinations können in Latex bei Verwendung des hyperref-Pakets durch den <code>\hypertarget</code>
                 Befehl erzeugt werden. Auch Adobe Acrobat (nicht der Reader)
                 kann named destinations anlegen."
                 data-html="true">
              </i>
            </div>
            <div class="col-4 text-right" id="manuscript-uploadButton">
              <input type="hidden" name="medium[manuscript]"
                     value="<%= medium.cached_manuscript_data %>"
                     id="upload-manuscript-hidden">
              <input type="file" name="medium[manuscript]"
                     id="upload-manuscript">
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= render partial: 'media/upload_manuscript',
                     locals: { medium: medium } %>
          <%= f.hidden_field :detach_manuscript, value: false %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div id="medium-manuscript-destinations">
  <% if medium.manuscript_destinations.present? %>
    <div class="row mt-2 p-2">
      <div class="col-12">
        <%= render partial: 'media/destinations',
                   locals: { medium: medium } %>
      </div>
    </div>
  <% end %>
</div>
