<%= form_with model: medium,
              html: { id: 'medium-form',
                      enctype: 'multipart/form-data' } do |f| %>
  <%= render partial: 'media/header',
             locals: { medium: medium,
                       new_medium: new_medium,
                       f: f } %>
  <div class="row mt-3 p-2">
    <div class="col-4">
      <%= render partial: 'media/basics',
                 locals: { medium: medium,
                           f: f } %>
    </div>
    <div class="col-4">
      <%= render partial: 'media/video',
                 locals: { medium: medium,
                           f: f } %>
    </div>
    <div class="col-4">
            <%= render partial: 'media/manuscript',
                 locals: { medium: medium,
                           f: f } %>
    </div>
  </div>
<% end %>

