<%= form_with model: medium,
              html: { id: 'medium-form',
                      enctype: 'multipart/form-data' } do |f| %>
  <%= render partial: 'media/header',
             locals: { medium: medium,
                       new_medium: new_medium,
                       f: f } %>
  <div class="row mt-3 p-2">
    <div class="col-12 col-lg-6 col-xl-4 mb-3">
      <%= render partial: 'media/basics',
                 locals: { medium: medium,
                           compact: false,
                           f: f } %>
    </div>
    <div class="col-12 col-lg-6 col-xl-4 mb-3">
      <%= render partial: 'media/content',
                 locals: { medium: medium,
                           compact: false,
                           f: f } %>
    </div>
    <div class="col-12 col-lg-12 col-xl-4">
      <%= render partial: 'media/documents',
                 locals: { medium: medium,
                           compact: false,
                           manuscript: manuscript,
                           f: f } %>
    </div>
  </div>
<% end %>
