<%= form_with model: medium, html: { id: 'medium-form' } do |f| %>
<div class="row px-4 py-2 mt-2">
  <div class="col-3">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        Medium
      </span>
      <%= medium.title %>
    </h4>
  </div>
  <div class="col-5">
    <div id="medium-basics-warning">
      Achtung, ungespeicherte Änderungen!
      <%= f.submit "Speichern", class: "btn btn-primary" %>
      <button type="button" class="btn btn-secondary ml-2"
              id="medium-basics-cancel">
        verwerfen
      </button>
    </div>
  </div>
  <div class="col-3 text-center">
    <%= link_to 'Ansehen', inspect_medium_path(medium),
                class: 'btn btn-primary my-1' %>
    <%= link_to 'zur Medienübersicht', media_catalog_path,
                class: 'btn btn-primary' %>
    <% if medium.irrelevant? %>
      <%= link_to 'Medium löschen', medium_path, method: :delete,
                  data: { confirm: 'Bist Du sicher?' },
                  class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
  <div class="row mt-3 p-2">
    <div class="col-4">
      <div class="card bg-mdb-color-lighten-5">
        <div class="card-header bg-mdb-color-lighten-3">
          Basisdaten
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= f.label :types, 'Typ' %>
            <%= f.select :types,
                         options_for_select(Medium.sort_enum.map.with_index { |s,i| [s, i] },
                                            Medium.sort_enum.index(medium.sort)),
                         {}, { class: 'form-control' }%>
          </div>
          <div class="form-group">
            <%= f.label :teachable, 'assoziiert zu' %>
            <%= f.select :teachable,
                         options_for_select(all_teachables, medium.teachable_select),
                         {}, { class: 'selectize' } %>
          </div>
          <div class="form-group">
            <%= f.label :editor_ids, 'Editoren' %>
            <%= f.select :editor_ids,
                         options_for_select(User.select_editors,
                                            medium.editors.map(&:id)),
                         {}, { multiple: true, class: 'selectize' } %>
          </div>
          <div class="form-group">
            <%= f.label :description, 'Beschreibung' %>
            <%= f.text_field :description, class: 'form-control' %>
            <div class="invalid-feedback" id="medium-description-error">
            </div>
          </div>
          <div class="form-group">
            <%= f.label :tag_ids, 'Verknüpfte Begriffe' %>
            <%= f.select :tag_ids,
                         options_for_select(Tag.select_by_title,
                                            medium.tags.map(&:id)),
                         {}, { multiple: true, class: 'selectize' } %>
          </div>
          <div class="form-group">
            <%= f.label :linked_media_ids, 'Verknüpfte Medien' %>
            <%= f.select :linked_media_ids,
                         options_for_select(Medium.select_by_title,
                                            medium.linked_media.map(&:id)),
                         {}, { multiple: true, class: 'selectize' } %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-light">
        <div class="card-header">
          <div class="row">
            <div class="col-4">
              Video
            </div>
            <div class="col-4 text-right">
              <% if medium.video.present? %>
                <%= link_to 'Thyme-Editor', enrich_medium_path(medium),
                            class: 'btn btn-sm btn-outline-secondary' %>
              <% end %>
            </div>
            <div class="col-4 text-right" id="video-uploadButton">
              <input type="hidden" name="medium[video]"
                     value="<%= medium.cached_video_data %>"
                     id="upload-video-hidden">
              <input type="file" name="medium[video]" id="upload-video">
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= render partial: 'media/upload_video',
                     locals: { medium: medium } %>
          <%= f.hidden_field :detach_video, value: false %>
          <% # without the next lines, the POST request will ignore %>
          <% # all uploaded file data %>
          <% # no clue why %>
          <div class="hidden">
            <%= f.file_field :bs %>
          </div>
          <% if medium.screenshot.present? %>
            <div class="my-2">
              Screenshot
            </div>
            <img id="screenshot-preview" class="img-fluid mb-3"
                 src="<%= medium.screenshot_url %>">
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-light">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              Manuskript
            </div>
            <div class="col-4 text-right" id="manuscript-uploadButton">
              <input type="hidden" name="medium[manuscript]"
                     value="<%= medium.cached_manuscript_data %>"
                     id="upload-manuscript-hidden">
              <input type="file" name="medium[manuscript]"
                     id="upload-manuscript">
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= render partial: 'media/upload_manuscript',
                     locals: { medium: medium } %>
          <%= f.hidden_field :detach_manuscript, value: false %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
