<%= form_with model: medium,
              html: { id: 'medium-form',
                      enctype: 'multipart/form-data' } do |f| %>
  <%= render partial: 'media/header',
             locals: { medium: medium,
                       new_medium: new_medium,
                       f: f } %>
  <div class="row mt-3 p-2">
    <div class="col-4 mb-3">
      <%= render partial: 'media/basics',
                 locals: { medium: medium,
                           f: f } %>
    </div>
    <% if medium.sort == 'KeksQuiz' %>
      <div class="col-8 mb-3">
        <%= render partial: 'media/quiz',
                 locals: { medium: medium,
                           f: f } %>
      </div>
    <% end %>
    <% unless medium.sort.in?(['Script', 'KeksQuiz']) %>
      <div class="col-4">
        <%= render partial: 'media/video',
                   locals: { medium: medium,
                             f: f } %>
      </div>
    <% end %>
    <% unless medium.sort == 'KeksQuiz' %>
      <div class="col-4">
        <%= render partial: 'media/manuscript',
                   locals: { medium: medium,
                             f: f } %>
      </div>
    <% end %>
  </div>
<% end %>

