<hr>
<div class="row">
  <div class="col-4">
    <%= t('geogebra.geogebra') %>
    <span class="badge badge-secondary">
      ggb
    </span>
    <%= helpdesk(t('admin.medium.info.geogebra'), false) %>
  </div>
  <div class="col-2 text-right"
       id="geogebra-uploadButton"
       data-choosefiles="<%= t('basics.file') %>">
    
  
  <button id="geogebra-uploadButton-button"
       class="btn btn-sm btn-outline-secondary"
       >
       <%= t('basics.file')%></button>
  <input type="hidden"
           name="medium[geogebra]"
           value="<%= medium.cached_geogebra_data %>"
           id="upload-geogebra-hidden">
    <input type="file"
           name="medium[geogebra]"
           id="upload-geogebra">
  <div id="geogebra-uploadButton-button-actual"
         class="btn btn-sm btn-outline-secondary"
         style="display:none">
          <%= t('buttons.upload') %>
  </div>
  </div>
  <div class="col-6 text-right">
    <% if medium.geogebra_screenshot_url.present? %>
      <button type="button"
              class="btn btn-sm btn-outline-secondary"
              data-toggle="modal"
              data-target="#geogebraScreenshotModal">
        <%= t('basics.screenshot') %>
      </button>
      <%= link_to t('buttons.view'),
                  geogebra_medium_path(medium),
                  class: 'btn btn-outline-secondary btn-sm',
                  target: :blank %>
    <% end %>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <%= f.label :geogebra_app_name, t('geogebra.app_name') %>
    <%= f.select :geogebra_app_name,
                 ['classic', 'geometry', 'graphing', '3d'],
                 {},
                 { class: 'form-control' } %>
  </div>
</div>
<%= render partial: 'media/upload_geogebra',
           locals: { medium: medium } %>
<%= f.hidden_field :detach_geogebra, value: false %>
