<div class="row px-2 py-2 mt-2">
  <div class="col-4">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        Medium
      </span>
      <% unless medium.published_with_inheritance? %>
        <span class="badge badge-warning"
              data-toggle="tooltip"
              title="<%= if !medium.teachable.published?
                           'in unveröffentlichter Vorlesung'
                         end %>">
          unveröffentlicht
        </span>
      <% end %>
      <% if medium.published_with_inheritance? && medium.locked? %>
        <span class="badge badge-warning"
              data-toggle="tooltip"
              title="Dieses Medium wurde gesperrt. Du kannst es unter Basisdaten->Zugriffsrechte entsperren.">
          gesperrt
        </span>
      <% end %>
      <% unless new_medium %>
        <%= medium.local_info %>
      <% end %>
    </h4>
  </div>
  <div class="col-5">
    <div id="medium-basics-warning">
      Achtung, ungespeicherte Änderungen!
      <%= f.submit "Speichern",
                   class: "btn btn-primary" %>
      <button type="button"
              class="btn btn-secondary ml-2"
              id="medium-basics-cancel">
        verwerfen
      </button>
    </div>
  </div>
  <div class="col-1">
    Medium
    <i class="far fa-question-circle helpdesk"
       tabindex="-1"
       data-toggle="popover"
       data-trigger="focus"
       title="Info"
       data-content="Ein
       <i>
       Medium
       </i>
       im Sinne von MaMpf ist ein Bündel aus
       <ul>
       <li>
       (höchstens) einem Video
       </li>
       <li>
       (höchstens) einem Manuskript
       </li>
       <li>
       (höchstens) einem externen Link
       </li></ul>
       zum selben Inhalt. Beispiele für Medien sind etwa
       <ul>
       <li>
       ein Medium, das aus der Videoaufzeichnung einer
       Vorlesungssitzung mit dazugehörigem Mitschrieb besteht.
       </li>
       <li>
       ein Medium, das aus dem Mitschrieb einer Vorlesungssitzung besteht.
       </li>
       <li>
       ein Medium, das aus einem Worked-Example-Video mit dazugehörigem
       Mitschrieb besteht.
       </li>
       <li>ein Medium, das aus einem externen Link besteht, der ein
       KeKs-Quiz startet
       </li>
       </ul>."
       data-html="true">
    </i>
  </div>
  <div class="col-2 text-right">
    <% unless new_medium %>
      <% if medium.teachable.published? && !medium.published_with_inheritance? %>
        <a href="<%= publish_medium_path(medium) %>"
           class="fas fa-globe-europe text-dark fa-lg mr-3"
           style="text-decoration: none; "
           data-toggle="tooltip"
           data-method="post"
           title="veröffentlichen"
           data-confirm="Bist Du sicher? Die Veröffentlichung
           kann nicht rückgängig gemacht werden.">
        </a>
      <% end %>
      <a href="<%= inspect_medium_path(medium) %>"
         class="far fa-eye fa-lg text-dark mr-3"
         style="text-decoration: none; "
         data-toggle="tooltip"
         title="Ansehen">
      </a>
    <% end %>
    <% teachable_scope = medium.teachable.media_scope %>
    <% if teachable_scope.class.to_s == 'Course' %>
      <a href="<%= edit_or_inspect_course_path(teachable_scope) %>"
         class="fas fa-chalkboard-teacher fa-lg mr-3 text-dark"
         style="text-decoration: none; "
         data-toggle="tooltip"
         title="zum Modul">
      </a>
    <% else %>
      <a href="<%= edit_or_inspect_lecture_path(teachable_scope) %>"
         class="fas fa-chalkboard-teacher fa-lg mr-3 text-dark"
         style="text-decoration: none; "
         data-toggle="tooltip"
         title="zur Vorlesung">
      </a>
    <% end %>
    <% if !new_medium && medium.irrelevant? %>
      <a href="<%= medium_path %>"
         class="fas fa-trash-alt fa-lg text-dark"
         style="text-decoration: none; "
         data-toggle="tooltip"
         data-method="delete"
         data-confirm="Bist Du sicher?"
         title="Löschen">
      </a>
    <% end %>
  </div>
</div>