<div class="row px-2 py-2 mt-2">
  <div class="col-4">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        <%= t('basics.medium') %>
      </span>
      <% unless medium.published? %>
        <span class="badge badge-warning"
              data-toggle="tooltip"
              title="<%= if !medium.teachable.published?
                           t('admin.medium.info.unpublished_lecture')
                         end %>">
          <%= t('access.unpublished') %>
        </span>
      <% end %>
      <% if medium.locked? %>
        <span class="badge badge-warning"
              data-toggle="tooltip"
              title="<%= t('admin.medium.info.locked') %>">
          <%= t('access.locked') %>
        </span>
      <% end %>
      <% unless new_medium %>
        <%= medium.local_info %>
      <% end %>
      <%= link_to '',
                  medium_path(medium),
                  class: 'fas fa-eye text-dark mt-3',
                  data: { toggle: 'tooltip',
                          placement: 'bottom' },
                  title: t('buttons.show'),
                  style: 'text-decoration: none;' %>
    </h4>
  </div>
  <div class="col-5">
    <div id="medium-basics-warning">
      <%= t('warnings.unsaved_changes') %>
      <%= f.submit t('buttons.save'),
                   class: "btn btn-sm btn-primary" %>
      <button type="button"
              class="btn btn-sm btn-secondary ml-2"
              id="medium-basics-cancel">
        <%= t('buttons.discard') %>
      </button>
    </div>
  </div>
  <div class="col-1">
    <%= t('basics.medium') %>
    <%= helpdesk(t('admin.medium.info.medium_definition'), true) %>
  </div>
  <div class="col-2 text-right">
    <% teachable_scope = medium.teachable.media_scope %>
    <% if teachable_scope.class.to_s == 'Course' %>
      <%= link_to t('buttons.parent_course'),
                  edit_or_inspect_course_path(teachable_scope),
                  class: 'btn btn-sm btn-outline-primary mb-2' %>
    <% else %>
      <%= link_to t('buttons.parent_lecture'),
                  edit_or_inspect_lecture_path(teachable_scope),
                  class: 'btn btn-sm btn-outline-primary mb-2' %>
    <% end %>
    <% if medium.teachable.class.to_s == 'Lesson' %>
      <%= link_to t('buttons.parent_lesson'),
                  edit_or_inspect_lesson_path(medium.teachable),
                  class: 'btn btn-sm btn-outline-primary mb-2' %>
    <% end %>
    <% unless new_medium %>
      <% if medium.teachable.published? &&
             !medium.published? && !medium.publisher %>
        <button class="btn btn-sm btn-warning mb-2"
                type="button"
                id="publish-medium-button">
          <%= t('buttons.publish') %>
        </button>
      <% end %>
    <% end %>
    <% if !new_medium && medium.irrelevant? %>
      <%= link_to t('buttons.delete'),
                  medium_path,
                  class: 'btn btn-sm btn-danger mb-2',
                  data: { method: 'delete',
                          confirm: t('confirmation.generic') } %>
    <% end %>
  </div>
</div>
<% if medium.publisher&.release_date.present? %>
  <div class="row px-2">
    <div class="col-12">
      <span class="badge badge-warning">
        <%= t('admin.medium.scheduled_for_release',
              release_date: I18n.l(medium.publisher&.release_date,
                                   format: :publication_time,
                                   locale: I18n.locale)) %>
      </span>
      <% if medium.publisher.create_assignment %>
        <br>
        <span class="badge badge-warning">
          <%= t('admin.medium.assignment_to_be_created',
                deadline: I18n.l(medium.publisher&.assignment_deadline,
                                 format: :publication_time,
                                 locale: I18n.locale)) %>
        </span>
      <% end %>
      <%= helpdesk(t('admin.medium.info.scheduled_release'), true) %>
      <button class="btn btn-sm btn-outline-primary ml-2"
              type="button"
              id="publish-medium-button">
        <%= t('buttons.edit') %>
      </button>
      <%= link_to t('buttons.cancel_publication'),
                  cancel_publication_path(medium),
                  class: 'btn btn-sm btn-outline-primary',
                  method: :delete %>
    </div>
  </div>
<% end %>