<div class="row">
  <div class="col-4">
    <%= t('manuscript.manuscript') %>
    <span class="badge badge-secondary">
      pdf
    </span>
    <%= helpdesk(t('admin.medium.info.manuscript'), false) %>
  </div>
  <div class="col-2 text-right"
       id="manuscript-uploadButton"
       data-choosefiles="<%= t('basics.file') %>">
    <div id="manuscript-uploadButton-button"
       class="btn btn-sm btn-outline-secondary"
       >
       <%= t('basics.file')%></div>
    <input type="hidden"
           name="medium[manuscript]"
           value="<%= medium.cached_manuscript_data %>"
           id="upload-manuscript-hidden">
    <input type="file"
           name="medium[manuscript]"
           id="upload-manuscript"
           accept="application/pdf">
  </div>
  <div id="manuscript-uploadButton-button-actual"
         class="btn btn-sm btn-outline-secondary"
         style="display:none">
          <%= t('buttons.upload') %>
         </div>
  <div class="col-6 text-right">
    <% if medium.manuscript.present? %>
      <button type="button"
              class="btn btn-sm btn-outline-secondary"
              data-toggle="modal"
              data-target="#snapshotModal">
        <%= t('basics.screenshot') %>
      </button>
      <%= link_to t('buttons.view'),
                  medium.manuscript_url_with_host,
                  class: 'btn btn-sm btn-outline-secondary',
                  target: :blank %>
    <% end %>
  </div>
</div>
<%= render partial: 'media/upload_manuscript',
           locals: { medium: medium } %>
<%= f.hidden_field :detach_manuscript, value: false %>
<% if !manuscript.empty? && medium.sort == 'Script' &&
      medium.teachable.content_mode == 'manuscript' %>
  <div id="medium-manuscript-destinations">
    <%= render partial: 'media/manuscript_structure',
               locals: { medium: medium,
                         manuscript: manuscript } %>
  </div>
<% end %>
<% if medium.sort == 'Script' && medium.quarantine.any? %>
    <%= render partial: 'media/quarantine_dialog',
               locals: { medium: medium } %>
<% end %>