<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        <%= t('manuscript.manuscript') %>
        <span class="badge badge-secondary">
          pdf
        </span>
        <%= helpdesk(t('admin.medium.info.manuscript'), false) %>
      </div>
      <div class="col-4 text-right"
           id="manuscript-uploadButton">
        <input type="hidden"
               name="medium[manuscript]"
               value="<%= medium.cached_manuscript_data %>"
               id="upload-manuscript-hidden">
        <input type="file"
               name="medium[manuscript]"
               id="upload-manuscript">
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render partial: 'media/upload_manuscript',
               locals: { medium: medium } %>
    <%= f.hidden_field :detach_manuscript, value: false %>
  </div>
</div>