<% I18n.with_locale(medium.locale_with_inheritance) do %>
  <div class="card bg-mdb-color-lighten-7 <%= medium_border(medium) %>">
    <div class="card-header bg-mdb-color-lighten-1">
      <div style="display: flex; justify-content: space-between;">
        <div>
          <% if lecture&.imported_media&.include?(medium) %>
            <i class="fas fa-file-import text-light"
               tabindex="-1"
               data-toggle="tooltip"
               title="<%= t('medium.imported') %>">
            </i>
          <% end %>
          <% ref = medium.card_header_teachable_path(current_user) %>
          <% if ref.present? %>
            <%= link_to medium.card_header,
                        ref,
                        class: 'text-light' %>
          <% else %>
            <span class="text-light">
              <%= medium.card_header %>
            </span>
          <% end %>
        </div>
        <div class="text-light">
          <% if current_user.locale.to_s != medium.locale_with_inheritance %>
            <small style="color: lightgray;"
                  data-toggle="tooltip"
                  title="<%= t('medium.different_language',
                               language: t('locales.' +
                                           (medium.locale_with_inheritance ||
                                              I18n.default_locale.to_s),
                                           locale: current_user.locale),
                               locale: current_user.locale) %>">
              <%= medium.locale_with_inheritance.to_s %>
            </small>
          <% end %>
          <% if !medium.published? && !medium.publisher %>
            <i class="fas fa-eye-slash redtext ml-2"
               tabindex="-1"
               data-toggle="tooltip"
               title="<%= t('medium.unpublished') %>">
            </i>
          <% elsif !medium.published? && medium.publisher.present? %>
            <i class="far fa-calendar-check redtext ml-2"
               tabindex="-1"
               data-toggle="tooltip"
               title="<%= t('medium.unpublished') + ' ' +
                          release_date_info(medium) %>">
            </i>
          <% elsif medium.locked? %>
            <i class="fas fa-lock redtext ml-2"
               tabindex="-1"
               data-toggle="tooltip"
               title="<%= t('medium.locked') %>">
            </i>
          <% elsif lecture && medium.teachable_type == 'Course' && !lecture.imported_media&.include?(medium) &&
                   (current_user.admin || lecture.edited_by?(current_user)) &&
                   (medium.tags & lecture.tags_including_media_tags).blank? %>
            <i class="fas fa-eye-slash bluetext ml-2"
               tabindex="-1"
               data-toggle="tooltip"
               title="<%= t('medium.waiting_for_tag') %>">
            </i>
          <% end %>
        </div>
      </div>
      <div>
      <% if medium.teachable.is_a?(Talk) %>
        <div class="text-light mt-1">
          <%= speaker_list_with_icon(medium.teachable) %>
        </div>
      <% end %>
      </div>
    </div>
    <% cache [medium, from == 'tag', ref_link] do %>
      <% unless from == 'tag' %>
        <% if medium.screenshot.present? %>
          <%= image_tag(medium.screenshot_url_with_host,
                        alt: "Card image cap",
                        class: "card-img-top") %>
        <% elsif medium.manuscript.present? %>
          <%= image_tag(medium.manuscript_screenshot_url || '',
                        alt: "Card image cap",
                        class: "card-img-top manuscript-thumbnail") %>
        <% elsif medium.geogebra_screenshot_url.present? %>
          <%= image_tag(medium.geogebra_screenshot_url,
                        alt: 'Card image cap',
                        class: 'card-img-top') %>
        <% end %>
      <% end %>
      <div class="card-body">
        <% unless medium.caption.nil? %>
          <div class="card-title"
               id="media-card-subheader">
            <div>
              <h5>
                <%= medium.caption %>
              </h5>
            </div>
            <div>
              <span class="<%= medium.subheader_style %>"
                    data-toggle="tooltip"
                    title="<%= medium.card_tooltip %>">
                <%= medium.card_subheader %>
              </span>
            </div>
          </div>
        <% end %>
        <div>
          <% medium.tags.each do |t| %>
            <%= link_to t.short_title(30),
                        t,
                        class: "badge badge-light",
                        title: t.title,
                        data: { toggle: 'tooltip', placement: 'bottom'} %>
          <% end %>
        </div>
      </div>
      <div class="card-footer bg-mdb-color-lighten-7 text-center">
        <div id="media-box-footer">
          <%= render partial: 'media/medium/buttons',
                     locals: { medium: medium,
                               ref_link: ref_link } %>
        </div>
    <% end %>
    <% if medium.commontator_thread.comments.present? %>
      <hr>
      <%= link_to "#{medium.commontator_thread.comments.size} " \
                  "#{medium.commontator_thread.comments.size == 1 ? t('basics.comment') : t('basics.comments')}",
                  show_media_comments_path(medium),
                  class: 'text-dark' %>
    <% elsif !medium.commontator_thread.is_closed? %>
      <hr>
      <%= link_to t('comments.comment_verb'),
                  show_media_comments_path(medium),
                  class: 'text-dark' %>
    <% end %>
      </div>
  </div>
<% end %>