  <div class="card bg-mdb-color-lighten-7">
    <div class="card-header bg-mdb-color-lighten-1">
      <% ref = medium.card_header_teachable_path(current_user) %>
      <% if ref.present? %>
        <%= link_to medium.card_header,
                    ref,
                    class: 'text-light' %>
      <% else %>
        <span class="text-light">
          <%= medium.card_header %>
        </span>
      <% end %>
    </div>
    <% cache medium do %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-mdb-color-lighten-4">
          <div class="text-light">
            <%= medium.card_subheader %>
          </div>
        </li>
      </ul>
      <% if medium.screenshot.present? %>
        <%= image_tag(medium.screenshot_url,
                      alt: "Card image cap",
                      class: "card-img-top") %>
      <% elsif medium.manuscript.present? %>
        <%= image_tag(medium.manuscript_screenshot_url,
                      alt: "Card image cap",
                      class: "card-img-top manuscript-thumbnail") %>
      <% end %>
      <div class="card-body">
        <% unless medium.caption.nil? %>
          <div class="card-title">
            <h5>
              <%= medium.caption %>
            </h5>
          </div>
        <% end %>
        <div>
          <% medium.tags.each do |t| %>
            <%= link_to t.short_title(30),
                        t,
                        class: "badge badge-light",
                        title: t.title,
                        data: { toggle: 'tooltip', placement: 'bottom'} %>
          <% end %>
        </div>
      </div>
      <div class="card-footer bg-mdb-color-lighten-7 text-center">
        <div id="media-box-footer">
          <% if medium.video.present? %>
            <div class="mr-2">
              <a href="<%= play_medium_path(medium) %>"
                 class="no-deco"
                 target="_blank">
                <i class="material-icons text-secondary"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Thyme Player">
                  play_arrow
                </i>
              </a>
            </div>
          <% end %>
          <% if medium.manuscript.present? %>
            <div class="mr-2">
              <a href="<%= display_medium_path(medium) %>"
                 class="no-deco"
                 target="_blank">
                <i class="material-icons text-secondary"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="pdf im Browser">
                  library_books
                </i>
              </a>
            </div>
          <% end %>
          <% if medium.external_reference_link.present? %>
            <div class="mr-2">
              <a href="<%= medium.external_reference_link %>"
                 class="no-deco"
                 target="_blank">
                <i class="material-icons text-secondary"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="externer Link">
                  link
                </i>
              </a>
            </div>
          <% end %>
          <% if medium.sort == 'KeksQuiz' && medium.quiz_graph %>
            <div class="mr-2">
              <a href="<%= take_quiz_path(medium) %>"
                 class="no-deco"
                 target="_blank">
                <i class="material-icons text-secondary"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Quiz beginnen">
                  gamepad
                </i>
              </a>
            </div>
          <% end %>
          <div class="mr-2">
            <a href="<%= medium_path(medium) %>"
               class="no-deco">
              <i class="material-icons text-secondary"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Details">
                info
              </i>
            </a>
          </div>
          <% if medium.video.present? %>
            <div class="download-button mr-2">
              <a href="<%= medium.video_download_url %>"
                 download="<%= video_download_file(medium) %>">
                <span>
                  <span class="badge badge-secondary"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Video speichern">
                    &darr;mp4
                  </span>
                </span>
              </a>
            </div>
          <% end %>
          <% if medium.manuscript.present? %>
            <div class="download-button">
              <a href="<%= medium.manuscript_download_url %>"
                 download="<%= manuscript_download_file(medium) %>">
                <span>
                  <span class="badge badge-secondary"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Manuskript speichern">
                    &darr;pdf
                  </span>
                </span>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
