   <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-2 pb-4">
    <div class="card">
      <div class="card-header bg-secondary text-white">
        <%= link_to medium.card_header, medium.card_header_teachable, class: 'text-light' %>
        <% if medium.sort == 'KeksQuestion' || medium.sort == 'KeksQuiz'%>
          <img src="/keks-16x16.png" width="16" height="16" style="float: right;">
        <% end %>
      </div>
      <% unless medium.card_subheader.nil? %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light">
          <% if medium.card_subheader.nil? %>
            <%= medium.card_subheader %>
          <% else %>
            <%= link_to medium.card_subheader, medium.card_subheader_teachable, class: 'text-dark' %>
          <% end %>
          </li>
        </ul>
      <% end %>
      <% unless medium.video_thumbnail_link.nil? %>
      <%= link_to image_tag(medium.video_thumbnail_link, alt: "Card image cap", class: "card-img-top"), medium.video_stream_link, target: :_blank%>
      <% end %>
      <% unless medium.caption.nil? %>
      <div class="card-body">
        <div class = "card-title">
          <h5><%= medium.caption %></h5>
        </div>
      </div>
      <% end %>
      <div>
        <ul>
          <% medium.tags.each do |t| %>
            <li><%= link_to t.title, tag_path(t), class: "text-info" %></li>
          <% end %>
        </ul>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light text-center">
          <% if medium.video_stream_link.present? %>
            <%= link_to "Stream", medium.video_stream_link, class: "btn btn-outline-primary", target: :_blank %>
          <% end %>
          <% if medium.video_file_link.present? %>
            <%= link_to "mp4", medium.video_file_link, class: "btn btn-outline-primary", target: :_blank %>
          <% end %>
          <% if medium.manuscript_link.present? %>
            <%= link_to "pdf", medium.manuscript_link, class: "btn btn-outline-primary", target: :_blank %>
          <% end %>
          <% if medium.external_reference_link.present? %>
            <%= link_to "Link", medium.external_reference_link, class: "btn btn-outline-primary", target: :_blank %>
          <% end %>
        </li>
      </ul>
      <div class="card-footer text-center">
        <%= link_to "Details", medium_path(medium), class: "btn btn-info" %>
      </div>
    </div>
  </div>
