<div class="col-12 col-md-6 col-lg-4 col-xl-3 pb-2">
  <div class="card bg-mdb-color-lighten-7">
    <div class="card-header bg-mdb-color-lighten-1">
      <% ref = medium.card_header_teachable_path(current_user) %>
      <% if ref.present? %>
        <%= link_to medium.card_header, ref, class: 'text-light' %>
      <% else %>
        <span class="text-light">
          <%= medium.card_header %>
        </span>
      <% end %>
      <% if medium.sort == 'KeksQuestion' || medium.sort == 'KeksQuiz'%>
        <img src="/keks-16x16.png" width="16" height="16"
             style="float: right;">
      <% end %>
    </div>
    <% unless medium.card_subheader.nil? %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-mdb-color-lighten-4">
          <% if medium.card_subheader_teachable(current_user).nil? %>
            <div class="text-light">
              <%= medium.card_subheader %>
            </div>
          <% else %>
            <%= link_to medium.card_subheader,
                        medium.card_subheader_teachable(current_user),
                        class: 'text-light' %>
          <% end %>
          </li>
        </ul>
    <% end %>
    <% if medium.video_thumbnail_link.present? %>
      <%= image_tag(medium.video_thumbnail_link, alt: "Card image cap",
                    class: "card-img-top") %>
    <% end %>
    <div class="card-body">
      <% unless medium.caption.nil? %>
        <div class="card-title">
          <h5>
            <%= medium.caption %>
          </h5>
        </div>
      <% end %>
      <div>
        <% medium.tags.each do |t| %>
          <%= link_to t.short_title(30), t, class: "badge badge-light",
                      title: t.title,
                      data: { toggle: 'tooltip', placement: 'bottom'} %>
        <% end %>
      </div>
    </div>
    <div class="card-footer bg-mdb-color-lighten-7 text-center">
      <div id="media-box-footer">
        <% if medium.video_stream_link.present? %>
          <div>
            <a href="<%= medium.video_stream_link %>"
               class="no-deco" target="_blank">
              <i class="material-icons text-secondary"
                 data-toggle="tooltip" data-placement="bottom" title="Camtasia-Player">
                play_arrow
              </i>
            </a>
          </div>
        <% end %>
        <% if medium.video.present? %>
          <div>
            <a href="<%= medium.video_url %>"
               class="no-deco" target="_blank">
              <i class="material-icons text-secondary"
                 data-toggle="tooltip" data-placement="bottom" title="Browser-Player">
                play_circle_outline
              </i>
            </a>
          </div>
        <% end %>
        <% if medium.manuscript.present? %>
          <div>
            <a href="<%= medium.manuscript_url %>"
               class="no-deco" target="_blank">
              <i class="material-icons text-secondary"
                 data-toggle="tooltip" data-placement="bottom" title="pdf im Browser">
                library_books
              </i>
            </a>
          </div>
        <% end %>
        <% if medium.external_reference_link.present? %>
          <div>
            <a href="<%= medium.external_reference_link %>"
               class="no-deco" target="_blank">
              <i class="material-icons text-secondary"
                 data-toggle="tooltip" data-placement="bottom" title="externer Link">
                link
              </i>
            </a>
          </div>
        <% end %>
        <% if medium.extras_link.present? %>
          <div>
            <a href="<%= medium.extras_link %>"
               class="no-deco" target="_blank">
              <i class="material-icons text-secondary"
                 data-toggle="tooltip" data-placement="bottom" title="Extras">
                control_point
              </i>
            </a>
          </div>
        <% end %>
        <div>
          <a href="<%= medium_path(medium) %>"
             class="no-deco" target="_blank">
            <i class="material-icons text-secondary"
               data-toggle="tooltip" data-placement="bottom" title="Details">
              info
            </i>
          </a>
        </div>
        <% if medium.video.present? %>
          <div class="download-button">
            <%= link_to 'mp4', medium.video_url,
                        class: "badge badge-secondary", download: medium.video_filename,
                        title: 'Manuskript speichern',
                        data: { toggle: 'tooltip', placement: 'bottom'}    %>
          </div>
        <% end %>
        <% if medium.manuscript.present? %>
          <div class="download-button">
            <%= link_to 'pdf', medium.manuscript_url,
                        class: "badge badge-secondary", download: medium.manuscript_filename,
                        title: 'Video speichern',
                        data: { toggle: 'tooltip', placement: 'bottom'} %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
