<div class="card bg-brown-lighten-4">
  <div class="card-header bg-brown-darken-2"><h5 class="text-light">Organisatorisches</h5></div>
  <% unless medium.video_thumbnail_link.nil? %>
  <%= image_tag(medium.video_thumbnail_link, alt: "Card image cap", class: "card-img-top") %>
  <% end %>
  <div class="card-body">
  <ul>
  <li>Typ: <%= medium.sort_de %></li>
  <% if !medium.description.nil? %>
  <li>Beschreibung: <%= medium.description %></li>
  <% end %>
  <% if medium.teachable_sort == 'Course' %>
     <li>Kurs: <%= link_to medium.teachable.to_label, medium.teachable, class: 'text-dark' %></li>
  <% end %>
  <% if medium.teachable_sort == 'Lecture' %>
     <li>Vorlesung: <%= link_to medium.teachable.to_label, medium.teachable, class: 'text-dark' %></li>
  <% end %>
  <% if medium.teachable_sort == 'Lesson' %>
     <li>Vorlesung: <%= link_to medium.teachable.lecture.to_label, medium.teachable.lecture, class: 'text-dark' %></li>
     <li>Sitzung: <%= link_to medium.teachable.to_label, medium.teachable, class: 'text-dark' %></li>
  <% end %>
  <li>Autor: <%= medium.author  %>
  </ul>
  </div>
</div>
