<div class="card bg-brown-lighten-4">
  <div class="card-header bg-brown-darken-2">
    <h5 class="text-light">
      Organisatorisches
    </h5>
  </div>
  <% if medium.screenshot.present? %>
    <%= image_tag(medium.screenshot_url,
                  alt: "Card image cap",
                  class: "card-img-top") %>
  <% end %>
  <div class="card-body">
    <ul>
      <li>
        Typ:
        <%= medium.sort_de %>
      </li>
      <% if medium.description.present? %>
        <li>
          Beschreibung:
          <%= medium.description %>
        </li>
      <% end %>
      <% if medium.teachable_type == 'Course' && medium.teachable.present? %>
        <li>
          Kurs:
          <% if current_user.courses.include?(medium.teachable) %>
            <%= link_to medium.teachable.to_label,
                        medium.teachable,
                        class: 'text-dark' %>
          <% else %>
            <span>
              <%= medium.teachable.to_label %>
            </span>
          <% end %>
        </li>
      <% end %>
      <% if medium.teachable_type == 'Lecture' && medium.teachable.present? %>
        <li>
          Vorlesung:
          <% if current_user.lectures.include?(medium.teachable) %>
            <%= link_to medium.teachable.to_label,
                        medium.teachable.path(current_user),
                        class: 'text-dark' %>
          <% else %>
            <span>
              <%= medium.teachable.to_label %>
            </span>
          <% end %>
        </li>
      <% end %>
      <% if medium.teachable_type == 'Lesson' && medium.teachable.present? %>
        <% if current_user.lectures.include?(medium.teachable.lecture) %>
          <li>
            Vorlesung:
            <%= link_to medium.teachable.lecture.to_label,
                        medium.teachable.lecture.path(current_user),
                        class: 'text-dark' %>
          </li>
          <li>
            Sitzung:
            <%= link_to medium.teachable.to_label, medium.teachable,
                        class: 'text-dark' %>
          </li>
        <% else %>
          <li>
            Vorlesung:
            <%= medium.teachable.lecture.to_label %>
          </li>
          <li>
            Sitzung:
            <span>
              <%= medium.teachable.to_label %>
            </span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
