<div class="modal fade"
     id="publishMediumModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="publishMediumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"
            id="publishMediumModalLabel">
          <%= t('admin.medium.manage_publication') %>
        </h4>
        <button type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: Medium.new(released:
                                          medium.publisher&.release_for ||
                                            'all'),
                      url: publish_medium_path(medium),
                      method: 'post' do |f| %>
          <h5>
            <%= t('admin.medium.publication_settings') %>
          </h5>
          <div class="mb-1">
            <%= t('admin.medium.release_date') %>
          </div>
          <div class="form-check">
            <%= f.radio_button :release_now,
                               '1',
                               class: 'form-check-input',
                               checked: !medium.release_date_set? %>
            <%= f.label :release_now,
                        t('basics.immediately'),
                        value: '1',
                        class: 'custom-control-label' %>
          </div>
          <div class="form-check mb-3">
            <%= f.radio_button :release_now,
                               '0',
                               class: 'form-check-input',
                               checked: medium.release_date_set? %>
            <%= f.label :release_now,
                        t('basics.at_time'),
                        value: '0',
                        class: 'custom-control-label' %>
            <%= helpdesk(t('admin.medium.info.scheduled_release'), true) %>
          </div>
          <div class="mb-3 col-12">
            <%= f.text_field :release_date,
                             class: 'form-control',
                             id: 'release_date',
                             autocomplete: 'off',
                             value: medium.planned_release_date
                                          .try(:strftime,
                                               '%d.%m.%Y %H:%M') %>
            <div class="invalid-feedback"
                 id="release-date-error">
            </div>
          </div>
          <% if medium.sort == 'Nuesse' && medium.teachable.is_a?(Lecture) %>
            <div class="mb-1">
              <%= t('basics.assignment') %>
            </div>
            <div class="custom-control form-check mb-2">
              <%= f.check_box :create_assignment,
                              class: 'form-check-input',
                              checked: medium.publisher&.create_assignment %>
              <%= f.label :create_assignment,
                          t('admin.medium.create_assignment'),
                          { class: 'custom-control-label' } %>
              <%= helpdesk(t('admin.medium.info.assignment_settings'),
                           true) %>
            </div>
            <div class="row mb-2 ms-2 <%= medium.publisher&.create_assignment ? '' : 'no_display' %>"
                 id="medium_assignment_row">
              <div class="mb-3 col-3">
                <%= f.label :assignment_title, t('basics.title'),
                            class: "form-label" %>
                <%= f.text_field :assignment_title,
                                 class: 'form-control',
                                 value: medium.publisher&.assignment_title ||medium.local_info %>
                <div class="invalid-feedback"
                     id="assignment-title-error">
                </div>
              </div>
              <div class="mb-3 col-3">
                <%= f.label :assignment_deadline, t('basics.deadline'),
                            class: "form-label" %>
                <%= f.text_field :assignment_deadline,
                                 class: 'form-control',
                                 autocomplete: 'off',
                                 value: medium.publisher
                                             &.assignment_deadline
                                              .try(:strftime,
                                                   '%d.%m.%Y %H:%M') %>
                <div class="invalid-feedback"
                     id="assignment-deadline-error">
                </div>
              </div>
              <div class="mb-3 col-3">
                <%= f.label :assignment_file_type,
                            t('submission.file_format'),
                            class: "form-label" %>
                <%= f.select :assignment_file_type,
                             options_for_select(Assignment.accepted_file_types
                                                          .map { |t| [t,t] }),
                     {},
                     { class: 'form-select' } %>
              </div>
              <div class="mb-3 col-3">
                <%= f.label :assignment_deletion_date,
                            t('assignment.deletion_date') %>
                <%= f.select :assignment_deletion_date,
                            Term.possible_deletion_dates_localized,
                            {},
                            class: 'form-select' %>
                <div class="invalid-feedback"
                    id="assignment-deletion-date-error">
                </div>
              </div>
            </div>
          <% end %>
          <hr>
          <h5>
            <%= t('admin.medium.media_settings') %>
          </h5>
          <%= render partial: 'media/access_rights',
                     locals: { f: f,
                               medium: medium } %>
          <% if medium.sort == 'Quiz' %>
            <%= render partial: 'media/quiz_rights',
                       locals: { f: f } %>
          <% end %>
          <div class="mt-3 mb-1">
            <%= t('basics.comments') %>
          </div>
          <div class="custom-control form-check">
            <%= f.check_box :lock_comments,
                            class: 'form-check-input',
                            checked: medium.planned_comment_lock? %>
            <%= f.label :lock_comments,
                        t('admin.medium.lock_comments'),
                        { class: 'custom-control-label' } %>
          </div>
          <hr>
          <div class="custom-control form-check">
            <%= f.check_box :disclaimer,
                            class: 'form-check-input',
                            required: true,
                            checked: medium.publisher.present? %>
            <%= f.label :disclaimer,
                        t('admin.medium.disclaimer'),
                        { class: 'custom-control-label' } %>
          </div>
          <div class="row mb-4">
          </div>
          <div class="row mt-3">
            <div class="col-12 text-center">
              <%= f.submit t('buttons.save'),
                           class: 'btn btn-sm btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>