<div id="quarantine_accordion"
     role="tablist">
  <div class="card bg-mdb-color-lighten-6">
    <div class="card-header"
         role="tab" id="quarantine_heading">
      <div class="row">
        <div class="col-6">
          <h5 class="text-dark">
            <%= t('manuscript.quarantine') %>
            <%= ' (' + quarantine.count.to_s + ') '%>
            <%= helpdesk(t('manuscript.info.quarantined_items'), false) %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-sm btn-primary"
             data-toggle="collapse"
             href="#quarantine_collapse"
             aria-expanded="false" aria-controls="quarantine_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="quarantine_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#quarantine_accordion">
      <div class="card-body" id="quarantineCardBody">
         <%= render partial: 'media/destinations_in_quarantine',
                    locals: { quarantine: quarantine } %>
      </div>
    </div>
  </div>
</div>