<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        Quiz-Graph
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Der Quiz-Graph ist der gerichtete Graph, der zu dem
           Quiz korrespondiert."
           data-html="true">
        </i>
      </div>
      <div class="col-4 text-right">
        <% if medium.quizzable %>
          <%= link_to 'Bearbeiten',
                      edit_quiz_path(medium.quizzable),
                      class: 'btn btn-primary' %>
          <%= link_to 'Spielen',
                      play_quiz_path(medium.quizzable),
                      class: 'btn btn-primary', target: :_blank %>
          <%= link_to 'Löschen', quiz_path(medium.quizzable),
                      method: :delete,
                      data: { confirm: 'Bist Du sicher?' },
                      class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <% if medium.quizzable %>
      <%= image_tag(medium.quizzable.image_path.remove('public'),
                    class: "img-fluid",
                    id: "quiz-preview-image",
                    data: { id: medium.quizzable.id }) %>
    <% else %>
      Es liegt noch kein Quiz vor.
      <div class="custom-control custom-radio">
        <%= f.check_box :create_quiz_graph,
                        checked: medium.new_record?,
                        class: 'custom-control-input' %>
        <%= f.label :create_quiz_graph,
                    'Quiz anlegen',
                    class: 'custom-control-label' %>
      </div>
    <% end %>
  </div>
</div>