<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        Quiz-Graph
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Der Quiz-Graph ist der gerichtete Graph, der zu dem
           Quiz korrespondiert."
           data-html="true">
        </i>
      </div>
      <div class="col-4 text-right">
        <% if quiz.quiz_graph %>
          <a href="<%= edit_quiz_path(quiz) %>"
             class="fas fa-edit fa-lg text-dark mr-3"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="Bearbeiten">
          </a>
          <a href="<%= take_quiz_path(quiz) %>"
             class="fas fa-gamepad fa-lg text-dark mr-3"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="Spielen"
             target="_blank">
          </a>
          <a href="<%= quiz_path(quiz) %>"
             class="fas fa-trash-alt fa-lg text-dark"
             style="text-decoration: none; "
             data-toggle="tooltip"
             title="Löschen"
             target="_blank"
             data-method="delete"
             data-confirm="Bist Du sicher? Es wird nur der Quiz-Graph gelöscht,
             nicht das Medium.">
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <% if quiz.quiz_graph %>
      <%= image_tag(quiz.image_path.remove('public'),
                    class: "img-fluid",
                    id: "quiz-preview-image",
                    data: { id: quiz.id }) %>
    <% else %>
      <div class="custom-control custom-checkbox">
        <%= f.check_box :create_quiz_graph,
                        checked: quiz.new_record?,
                        class: 'custom-control-input' %>
        <%= f.label :create_quiz_graph,
                    'Quiz-Graph anlegen',
                    class: 'custom-control-label' %>
    <% end %>
  </div>
</div>