<div class="row">
  <div class="col-4">
    <%= t('admin.quiz.graph') %>
    <%= helpdesk(t('admin.quiz.info.graph'), false) %>
  </div>
  <div class="col-8 text-end">
    <% if quiz.quiz_graph %>
      <%= link_to t('buttons.edit'),
                  edit_quiz_path(quiz),
                  class: 'btn btn-sm btn-outline-secondary' %>
      <%= link_to t('buttons.take_quiz'),
                  take_quiz_path(quiz),
                  class: 'btn btn-sm btn-outline-secondary',
                  target: :_blank %>
      <%= link_to t('buttons.delete'),
                  quiz_path(quiz),
                  class: 'btn btn-sm btn-outline-danger',
                  data: { method: 'delete',
                          confirm: t('confirmation.delete_graph') } %>
    <% else %>
      <div class="custom-control form-check">
        <%= f.check_box :create_quiz_graph,
                        class: 'form-check-input' %>
        <%= f.label :create_quiz_graph,
                    t('admin.quiz.create_graph'),
                    class: 'custom-control-label' %>
      </div>
    <% end %>
  </div>
</div>
<% if quiz.quiz_graph %>
  <div id="cy"
       data-elements="<%= quiz.quiz_graph.to_cytoscape.to_json %>"
       data-type="quiz"
       data-linear="<%= quiz.quiz_graph.linear? %>"
       data-mode="view">
  </div>
<% end %>