<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-8">
        <%= t('basics.details') %>
        <%= helpdesk(t('admin.remark.info.about'), false) %>
      </div>
      <div class="col-4 text-right">
        <% unless remark.new_record? %>
          <%= link_to t('basics.edit'),
                      edit_remark_path(remark),
                      class: 'btn btn-sm btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <% if remark.new_record? %>
      <%= t('admin.remark.info.first_save') %>
    <% else %>
      <%= t('basics.text') %>
      <%= render partial: 'quizzes/quizzable_preview',
                 locals: { quizzable: remark } %>
    <% end %>
  </div>
</div>