<div class="row bg-mdb-color-lighten-2 mx-2 py-3">
  <div class="col-4 text-light">
    <strong>
      <%= t('basics.description') %>
    </strong>
  </div>
  <div class="col-2 text-light">
    <strong>
      <%= t('basics.associated_to') %>
    </strong>
  </div>
  <div class="col-4 text-light">
    <strong>
      <%= t('basics.related_tags') %>
    </strong>
  </div>
  <div class="col-1 text-light">
    <strong>
      <%= t('basics.editors') %>
    </strong>
  </div>
  <div class="col-1 text-light">
    <strong>
      <%= t('basics.action') %>
    </strong>
  </div>
</div>
<div id="mediaTable">
  <% @media.each do |m| %>
    <% cache m do %>
      <div class="row border-bottom mx-2"
           id="row-medium-<%= m.id %>">
        <div class="col-4">
          <%= m.title_for_viewers %>
        </div>
        <div class="col-2">
          <% if m.teachable_type == 'Course' %>
            <%= link_to m.teachable.short_title,
                        edit_or_inspect_course_path(m.teachable) %>
          <% elsif m.teachable_type == 'Lecture' %>
            <%= link_to m.teachable.short_title,
                        edit_or_inspect_lecture_path(m.teachable) %>
          <% else %>
            <%= link_to m.teachable.short_title_with_lecture_date,
                        edit_or_inspect_lecture_path(m.teachable.lecture) %>
          <% end %>
        </div>
        <div class="col-4">
          <% m.tags.each do |t| %>
            <%= link_to t.short_title,
                        edit_tag_path(t),
                        class:'badge badge-light',
                        data: { toggle: 'tooltip', placement: 'top'},
                        title: t.title %>
          <% end %>
        </div>
        <div class="col-1">
          <ul class="list-unstyled">
            <% m.editors.each do |e| %>
              <li>
                <%= e.name_or_email  %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-1">
          <% if medium_editor?(m) %>
            <a href="<%= edit_medium_path(m) %>"
               class="text-dark"
               data-toggle="tooltip"
               style="text-decoration: none;"
               data-placement="bottom"
               title="<%= t('buttons.edit') %>">
              <i class="far fa-edit">
              </i>
            </a>
          <% else %>
            <a href="<%= inspect_medium_path(m) %>"
               class="text-dark"
               data-toggle="tooltip"
               style="text-decoration: none;"
               data-placement="bottom"
               title="<%= t('basics.inspect') %>">
              <i class="far fa-eye">
              </i>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
