<div class="col-2">
  <%= medium.title %>
</div>
<div class="col-1">
  <%= medium.sort_de %>
</div>
<div class="col-2">
  <% if medium.teachable_type == 'Course' %>
    <%= link_to medium.teachable.short_title, inspect_course_path(medium.teachable) %>
  <% elsif medium.teachable_type == 'Lecture' %>
    <%= link_to medium.teachable.short_title, inspect_lecture_path(medium.teachable) %>
  <% else %>
    <%= link_to medium.teachable.short_title_with_lecture, inspect_lesson_path(medium.teachable) %>
  <% end %>
</div>
<div class="col-3">
  <% medium.tags.each do |t| %>
    <%= link_to t.short_title, inspect_tag_path(t), class:'badge badge-light',
                data: { toggle: 'tooltip', placement: 'top'},
                title: t.title %>
  <% end %>
</div>
<div class="col-2">
  <ul class="list-unstyled">
    <% medium.editors.each do |e| %>
      <li>
        <%= e.name_or_email  %>
      </li>
    <% end %>
  </ul>
</div>
<div class="col-2">
  <%= link_to 'Bearbeiten', edit_medium_path(medium),
              class: 'btn btn-outline-primary my-1' %>
  <%= link_to 'Ansehen', inspect_medium_path(medium),
              class: 'btn btn-outline-primary my-1' %>
</div>
