<% if medium.sort == 'Quiz' %>
  <div class="row mt-3">
    <div class="col-12">
      <strong>
        <%= t('quiz.quiz') %>
      </strong>
      <div class="row">
        <div class="col-6 text-right">
          <%= t('statistics.quiz_access') %>
        </div>
        <div class="col-6 text-left">
          <span id="quizCount"><%= quiz_plays_count %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-right">
          <%= t('statistics.quiz_full_access') %>
        </div>
        <div class="col-6 text-left">
          <span id="quizFinishedCount"><%= quiz_finished_count %></span>
        </div>
      </div>
      <div style="height: 20vh">
        <canvas id="quizStats" >
        </canvas>
      </div>
    </div>
  </div>
<% end %>
<% if medium.video.present? %>
  <div class="row mt-3">
    <div class="col-12">
      <strong>
        <%= t('video.video') %>
      </strong>
      <div class="row">
        <div class="col-6 text-right">
          <%= t('statistics.video_thyme') %>
        </div>
        <div class="col-6 text-left">
          <span id="videoCount"><%= @video_thyme_count %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-right">
          <%= t('statistics.video_downloads') %>
        </div>
        <div class="col-6 text-left">
          <span id="downloadCount"><%= @video_downloads_count %></span>
        </div>
      </div>
      <div style="height: 20vh">
        <canvas id="videoStats" >
        </canvas>
      </div>
    </div>
  </div>
<% end %>
<% if medium.manuscript.present? %>
  <div class="row mt-3">
    <div class="col-12">
      <strong>
        <%= t('manuscript.manuscript') %>
      </strong>
      <div class="row">
        <div class="col-6 text-right">
          <%= t('statistics.manuscript_access') %>
        </div>
        <div class="col-6 text-left">
          <span id="manuscriptCount"><%= @manuscript_access_count %></span>
        </div>
      </div>
      <div style="height: 20vh">
        <canvas id="manuscriptStats" >
        </canvas>
      </div>
    </div>
  </div>
<% end %>