<ul class="nav nav-tabs my-3"
  role="tablist">
  <% media_sorts.each do |s| %>
  <li class="nav-item">
    <a
      id="<%= s %>-tab"
      class="nav-link <%= active(s == 'lesson_material') %>"
      aria-controls="<%= s%>-media"
      aria-selected="true"
      data-action="show.bs.tab->media-button-sort#changeNewMediumSort"
      data-bs-toggle="tab"
      data-sort="<%= media_types[s].first %>"
      href="#<%= s %>-media"
      role="tab"
    >
      <%= media_names[s] %>
      (<%= media.where(sort: media_types[s]).count %>)
    </a>
  </li>
  <% end %>
</ul>
<div class="tab-content">
  <% media_sorts.each do |s| %>
  <div id="<%= s %>-media"
    class="tab-pane fade <%= show_tab(s == 'lesson_material') %>"
    aria-labelledby="<%= s %>-tab"
    role="tabpanel">
    <%= render partial: 'media/table_column',
                 locals: { media: media.where(sort: media_types[s]),
                           sort: s,
    small: small } %>
  </div>
  <% end %>
</div>
