<ul class="nav nav-tabs my-3"
    role="tablist">
  <% media_sorts.each do |s| %>
    <li class="nav-item">
      <a class="nav-link <%= active(s == 'lesson_material') %>"
         id="<%= s %>-tab"
         data-bs-toggle="tab"
         href="#<%= s %>-media"
         role="tab"
         aria-controls="<%= s%>-media" aria-selected="true"
         data-sort="<%= media_types[s].first %>"
         data-action="show.bs.tab->media-button-sort#changeNewMediumSort">
        <%= media_names[s] %>
        (<%= media.where(sort: media_types[s]).count %>)
      </a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <% media_sorts.each do |s| %>
    <div class="tab-pane fade <%= show_tab(s == 'lesson_material') %>"
         id="<%= s %>-media"
         role="tabpanel"
         aria-labelledby="<%= s %>-tab">
      <%= render partial: 'media/table_column',
                 locals: { media: media.where(sort: media_types[s]),
                           sort: s,
                           small: small } %>
    </div>
  <% end %>
</div>
