<div class="card bg-teal-lighten-5">
  <div class="card-header bg-teal-darken-1">
    <h5 class="text-light">
      Technisches
    </h5>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <% if medium.video.present? %>
        <li class="list-group-item bg-teal-lighten-5">
          <%= link_to 'Video',
                      play_medium_path(medium),
                      class: "btn btn-info",
                      target: :_blank %>
          <ul>
            <li>
              Dauer:
              <%= medium.video_duration_hms_string %>
            </li>
            <li>
              Dateigröße:
              <%= number_to_human_size(medium.video_size) %>
            </li>
            <li>
              Auflösung:
              <%= medium.video_resolution %>
            </li>
          </ul>
        </li>
      <% end %>
      <% if medium.manuscript.present? %>
        <li class="list-group-item bg-teal-lighten-5">
          <%= link_to 'Manuskript',
                      medium.manuscript_url,
                      class: "btn btn-info",
                      target: :_blank %>
          <ul>
            <li>
              Länge:
              <%= medium.manuscript_pages.to_s + ' S' %>
            </li>
            <li>
              Dateigröße:
              <%= number_to_human_size(medium.manuscript_size) %>
            </li>
          </ul>
        </li>
      <% end %>
      <% if medium.external_reference_link.present? %>
        <li class="list-group-item bg-teal-lighten-5">
          <%= link_to 'externer Link',
                      medium.external_reference_link,
                      class: "btn btn-info",
                      target: :_blank %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
