<div id="video-uploadArea" class="form-group">
  <div class="row mb-2">
    <div class="col-12"
         id="video-informer">
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="video-progressBar">
    </div>
  </div>
  <div class="row" id="video-wait">
    <div class="col-12">
      <%= t('basics.please_wait') %>
    </div>
  </div>
  <div class="row p-2">
    <div id="video-meta"
         class="col-12 meta rounded"
         style="display:<%= show(medium.video.present?) %>">
      <div class="row">
        <div class="col-11">
          <%= t('basics.file') %>:
          <span id="video-file">
            <%= medium.video_filename %>
          </span>
        </div>
        <i id="detach-video"
           class="material-icons detach">
          close
        </i>
      </div>
      <div class="row">
        <div class="col-12">
          <%= t('basics.size') %>:
          <span id="video-size">
            <%= number_to_human_size(medium.video_size) %>
          </span>
        </div>
      </div>
      <div class="row" style="display: <%= show(medium.video_resolution) %>">
        <div class="col-12">
          <%= t('video.resolution') %>:
          <span id="video-resolution">
            <%= medium.video_resolution %>
          </span>
       </div>
      </div>
      <div class="row" style="display: <%= show(medium.video_duration) %>">
        <div class="col-12">
          <%= t('video.length') %>:
          <span id="video-duration">
            <%= medium.video_duration_hms_string %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
