<div class="card bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
        <%= t('video.video') %>
        <span class="badge badge-secondary">
          mp4
        </span>
        <%= helpdesk(t('admin.medium.info.video'), false) %>
      </div>
      <div class="col-3 text-right"
           id="video-uploadButton"
           data-choosefiles="<%= t('basics.file') %>">
        <input type="hidden"
               name="medium[video]"
               value="<%= medium.cached_video_data %>"
               id="upload-video-hidden">
        <input type="file"
               name="medium[video]"
               id="upload-video">
      </div>
      <div class="col-6 text-right">
        <% if medium.video.present? %>
          <%= link_to t('basics.editor'),
                      enrich_medium_path(medium),
                      class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to t('basics.thyme'),
                      play_medium_path(medium),
                      class: 'btn btn-outline-secondary btn-sm',
                      target: :blank %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render partial: 'media/upload_video',
               locals: { medium: medium } %>
    <%= f.hidden_field :detach_video, value: false %>
    <% if medium.screenshot.present? %>
      <div class="my-2">
        <%= t('basics.screenshot') %>
      </div>
      <img id="screenshot-preview"
           class="img-fluid mb-3"
           src="<%= medium.screenshot_url %>">
    <% end %>
  </div>
</div>