<div class="row">
  <div class="col-6">
    <%= t('video.video') %>
    <span class="badge bg-secondary">
      mp4
    </span>
    <%= helpdesk(t('admin.medium.info.video'), false) %>
  </div>
  <div class="col-6 text-end">
    <% if medium.screenshot.present? %>
      <button type="button"
              class="btn btn-sm btn-outline-secondary"
              data-bs-toggle="modal"
              data-bs-target="#screenshotModal">
        <%= t('basics.screenshot') %>
      </button>
    <% end %>
    <% if medium.video.present? %>
      <%= link_to t('basics.thyme_editor'),
                  enrich_medium_path(medium),
                  class: 'btn btn-sm btn-outline-secondary',
                  "data-turbo": false %>
      <%= link_to 'Feedback',
                  feedback_medium_path(medium),
                  class: 'btn btn-sm btn-outline-secondary',
                  target: "_blank" %>
      <%= link_to t('basics.thyme'),
                  play_medium_path(medium),
                  class: 'btn btn-outline-secondary btn-sm',
                  target: "_blank" %>
    <% end %>
  </div>
</div>
<%= render partial: 'media/upload_video',
           locals: { medium: medium } %>
<%= f.hidden_field :detach_video, value: false %>
<hr>
