<div class="row">
  <div class="col-4">
    <%= t('video.video') %>
    <span class="badge badge-secondary">
      mp4
    </span>
    <%= helpdesk(t('admin.medium.info.video'), false) %>
  </div>
  <div class="col-2 text-right"
       id="video-uploadButton"
       data-choosefiles="<%= t('basics.file') %>">
    <button id="video-uploadButton-button"
       class="btn btn-sm btn-outline-secondary"
       >
       <%= t('basics.file')%></button>
    <input type="hidden"
           name="medium[video]"
           value="<%= medium.cached_video_data %>"
           id="upload-video-hidden">
    <input type="file"
           name="medium[video]"
           id="upload-video">
  </div>
  <div id="video-uploadButton-button-actual"
         class="btn btn-sm btn-outline-secondary"
         style="display:none">
          <%= t('buttons.upload') %>
  </div>
  <div class="col-6 text-right">
    <% if medium.screenshot.present? %>
      <button type="button"
              class="btn btn-sm btn-outline-secondary"
              data-toggle="modal"
              data-target="#screenshotModal">
        <%= t('basics.screenshot') %>
      </button>
    <% end %>
    <% if medium.video.present? %>
      <%= link_to t('basics.thyme_editor'),
                  enrich_medium_path(medium),
                  class: 'btn btn-sm btn-outline-secondary' %>
      <%= link_to t('basics.thyme'),
                  play_medium_path(medium),
                  class: 'btn btn-outline-secondary btn-sm',
                  target: :blank %>
    <% end %>
  </div>
</div>
<%= render partial: 'media/upload_video',
           locals: { medium: medium } %>
<%= f.hidden_field :detach_video, value: false %>
<hr>