  <div class="card bg-light">
    <div class="card-header bg-generic-card-header">
      <div class="row">
        <div class="col-6">
          <h5>
            <%= t('video.video') %>
          </h5>
        </div>
        <div class="col-6">
          <div class="media-card-header">
            <a href="<%= play_medium_path(medium) %>"
               class="no-deco me-2"
               target="_blank">
              <i class="material-icons text-dark"
                 data-bs-toggle="tooltip"
                 data-placement="bottom"
                 title="<%= t('video.play') %>">
                play_arrow
              </i>
            </a>
            <div class="download-button">
              <a href="<%= medium.video_download_url %>"
                 download="<%= video_download_file(medium) %>"
                 class="triggerDownload"
                 data-medium="<%= medium.id %>"
                 data-sort="video">
                <span>
                  <span class="badge bg-light text-dark"
                        data-bs-toggle="tooltip"
                        data-placement="bottom"
                        title="<%= t('video.download') %>">
                    &darr;mp4
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if medium.screenshot.present? %>
      <a href="<%= play_medium_path(medium) %>"
         target="_blank">
         <img id="screenshot-preview"
              class="card-img-top video-thumbnail"
              src="<%= medium.screenshot_url_with_host %>">
      </a>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <%= t('video.length') %>:
          <span id="video-duration">
            <%= medium.video_duration_hms_string %>
          </span>
        </div>
        <div class="col-12">
          <%= t('video.resolution') %>:
          <span id="video-resolution">
            <%= medium.video_resolution %>
          </span>
        </div>
        <div class="col-12">
          <%= t('video.size') %>:
          <span id="video-size">
            <%= number_to_human_size(medium.video_size) %>
          </span>
        </div>
      </div>
    </div>
  </div>