<div class="row mt-3 p-2">
  <div class="col-10">
    <h4>
      <%= t('admin.medium.media_search') %>
    </h4>
  </div>
  <div class="col-2">
    <% if Course.any? %>
      <%= link_to t('admin.medium.create'),
                  new_medium_path(params:
                                    { sort: 'Kaviar',
                                      teachable_id: Course.first.id,
                                      teachable_type: 'Course' }),
                  class: 'btn btn-sm btn-secondary',
                  id: 'create-new-tag' %>
    <% end %>
  </div>
</div>
<%= form_with url: media_search_path,
              scope: 'search',
              remote: true,
              method: 'get' do |f| %>
  <div class="form-row p-2">
    <div class="col-6 col-lg-3 form-group">
      <%= f.label :types, t('basics.type') %>
      <%= helpdesk(t('admin.medium.info.search_type'), true) %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :all_types,
                        class: 'custom-control-input',
                        checked: true,
                        data: { id: 'search_types'} %>
        <%= f.label :all_types,
                    t('basics.all'),
                    { class: 'custom-control-label' } %>
      </div>
      <%= f.select :types,
                   options_for_select(add_prompt(Medium.select_sorts)),
                   {},
                   { multiple: true,
                     class: 'selectize',
                     disabled: true } %>
    </div>
    <div class="col-6 col-lg-3 form-group">
      <%= f.label :teachable_ids, t('basics.associated_to') %>
      <%= helpdesk(t('admin.medium.info.search_teachable'), true) %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :all_teachables,
                        class: 'custom-control-input',
                        checked: true,
                        data: { id: 'search_teachable_ids' } %>
        <%= f.label :all_teachables,
                    t('basics.all'),
                    { class: 'custom-control-label' } %>
      </div>
      <%= f.select :teachable_ids,
                   grouped_options_for_select(grouped_teachable_list_alternative),
                   { prompt: t('basics.select')},
                   { multiple: true,
                     class: 'selectize',
                     disabled: true } %>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :teachable_inheritance,
                           '1',
                           checked: true,
                           class: 'custom-control-input' %>
        <%= f.label :teachable_inheritance,
                    t('basics.with_inheritance'),
                    value: '1',
                    class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :teachable_inheritance,
                           '0',
                           class: 'custom-control-input' %>
        <%= f.label :teachable_inheritance,
                    t('basics.without_inheritance'),
                    value: '0',
                    class: 'custom-control-label' %>
      </div>
    </div>
    <div class="col-6 col-lg-3 form-group">
      <%= f.label :tag_ids,
                  t('basics.related_tags') %>
      <%= helpdesk(t('admin.medium.info.search_tags'), true) %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :all_tags,
                        class: 'custom-control-input',
                        checked: true,
                        data: { id: 'search_tag_ids' } %>
        <%= f.label :all_tags,
                    t('basics.all'),
                    { class: 'custom-control-label' } %>
      </div>
      <%= f.select :tag_ids,
                   options_for_select([[]]),
                   {},
                   { multiple: true,
                     class: 'selectize',
                     style: 'display: none;',
                     disabled: true,
                     data: { filled: false,
                             ajax: true,
                             model: 'tag' } } %>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :tag_operator,
                           'or',
                           checked: true,
                           class: 'custom-control-input' %>
        <%= f.label :tag_operator,
                    t('basics.OR'),
                    value: 'or',
                    class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :tag_operator,
                           'and',
                           class: 'custom-control-input' %>
        <%= f.label :tag_operator,
                    t('basics.AND'),
                    value: 'and',
                    class: 'custom-control-label' %>
      </div>
    </div>
    <div class="col-6 col-lg-3 form-group">
      <%= f.label :editor_ids, t('basics.editors') %>
      <%= helpdesk(t('admin.medium.info.search_editors'), true) %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :all_editors,
                        class: 'custom-control-input',
                        checked: true,
                        data: { id: 'search_editor_ids' } %>
        <%= f.label :all_editors,
                    t('basics.all'),
                    { class: 'custom-control-label' } %>
      </div>
      <%= f.select :editor_ids,
                   options_for_select(add_prompt(User.only_editors_selection)),
                   {},
                   { multiple: true,
                     class: 'selectize',
                     disabled: true } %>
    </div>
    <div class="col-6 col-lg-3 form-group">
      <%= f.label :fulltext, t('basics.fulltext') %>
      <%= helpdesk(t('admin.medium.info.search_fulltext'), false) %>
      <%= f.text_field :fulltext,
                        class: 'form-control' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <%= f.submit t('basics.search'),
                   class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<div id="media-search-results">
</div>