<div class="row mt-3 p-2">
  <div class="col-10">
    <h4>
      Medienübersicht
    </h4>
  </div>
  <div class="col-2">
    <%= link_to 'Medium anlegen', new_medium_path,
                class: 'btn btn-secondary',
                id: 'create-new-tag' %>
  </div>
</div>
<%= form_with url: media_search_path, scope: 'search',
              remote: true, method: 'get' do |f| %>
  <div class="form-row p-2">
    <div class="col-3 form-group">
      <%= f.label :types, 'Typ' %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :all_types, class: 'custom-control-input',
                        checked: true,
                        data: { id: 'search_types'} %>
        <%= f.label :all_types, 'alle',
                    { class: 'custom-control-label' } %>
      </div>
      <%= f.select :types,
                   options_for_select([['auswählen','']] + Medium.sort_enum.map.with_index { |s,i| [s, i] }),
                   {}, { multiple: true, class: 'selectize',
                         disabled: true } %>
    </div>
    <div class="col-3 form-group">
      <%= f.label :teachable_ids, 'assoziiert mit Vererbung zu' %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :all_teachables, class: 'custom-control-input',
                        checked: true,
                        data: { id: 'search_teachable_ids' } %>
        <%= f.label :all_teachables, 'alle',
                    { class: 'custom-control-label' } %>
      </div>
      <%= f.select :teachable_ids,
                   options_for_select([['auswählen','']] +
                                      Course.all.map { |c| [c.short_title, 'course-' + c.id.to_s ] } +
                                      Lecture.all.map { |l| [l.short_title, 'lecture-' + l.id.to_s ] }),
                   {}, { multiple: true, class: 'selectize',
                         disabled: true } %>
    </div>
    <div class="col-3 form-group">
      <%= f.label :tag_ids, 'Tags' %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :all_tags, class: 'custom-control-input',
                        checked: true,
                        data: { id: 'search_tag_ids' } %>
        <%= f.label :all_tags, 'alle',
                    { class: 'custom-control-label' } %>
      </div>
      <%= f.select :tag_ids,
                   options_for_select([['auswählen','']] + Tag.select_by_title),
                   {}, { multiple: true, class: 'selectize',
                         disabled: true } %>
    </div>
    <div class="col-3 form-group">
      <%= f.label :editor_ids, 'Editoren' %>
      <div class="custom-control custom-checkbox mb-2">
        <%= f.check_box :all_editors, class: 'custom-control-input',
                        checked: true,
                        data: { id: 'search_editor_ids' } %>
        <%= f.label :all_editors, 'alle',
                    { class: 'custom-control-label' } %>
      </div>
      <%= f.select :editor_ids,
                   options_for_select([['auswählen','']] + User.editors.map { |e| [e.info, e.id] }),
                   {}, { multiple: true, class: 'selectize',
                         disabled: true } %>
    </div>
  </div>
<div class="row mb-3">
  <div class="col-12 text-center">
    <%= f.submit 'Suchen', class: 'btn btn-primary' %>
  </div>
</div>
<div id="media-search-results">
</div>
<% end %>
