<div id="medium-area">
  <%= render partial: 'media/form',
             locals: { medium: @medium,
                       new_medium: false } %>
</div>
<div id="medium-manuscript-destinations">
  <% if !@manuscript.empty? && @medium.sort == 'Script' %>
    <div class="row mt-2 p-2">
      <div class="col-12">
        <%= render partial: 'media/destinations',
                   locals: { medium: @medium,
                             manuscript: @manuscript } %>
      </div>
    </div>
  <% end %>
</div>
<div id="medium-manuscript-quarantine">
  <% if @medium.quarantine.any? %>
    <div class="row mt-2 p-2">
      <div class="col-12">
        <%= render partial: 'media/quarantine',
                   locals: { medium: @medium,
                             quarantine: @medium.quarantine } %>
      </div>
    </div>
  <% end %>
</div>
<% if @medium.sort == 'KeksQuiz' && @medium.quizzable %>
  <%= render partial: 'quizzes/edges_accordion',
             locals: { quiz: @medium.quizzable } %>
  <%= render partial: 'quizzes/quizzable_modal' %>
  <%= render partial: 'quizzes/reassign_modal',
             locals: { content: false } %>
<% end %>
<%= render partial: 'media/destinations_warning' %>
<%= render partial: 'tags/modal' %>