<div id="medium-area">
  <%= render partial: 'media/form',
             locals: { medium: @medium,
                       new_medium: false } %>
</div>
<div id="medium-manuscript-destinations">
  <% if !@manuscript.empty? && @medium.sort == 'Script' %>
    <div class="row mt-2 p-2">
      <div class="col-12">
        <%= render partial: 'media/destinations',
                   locals: { medium: @medium,
                             manuscript: @manuscript } %>
      </div>
    </div>
  <% end %>
</div>
<div id="medium-manuscript-quarantine">
  <% if @medium.quarantine.any? %>
    <div class="row mt-2 p-2">
      <div class="col-12">
        <%= render partial: 'media/quarantine',
                   locals: { medium: @medium,
                             quarantine: @medium.quarantine } %>
      </div>
    </div>
  <% end %>
</div>
<%= render partial: 'media/destinations_warning' %>
<%= render partial: 'tags/modal' %>
<%= render partial: 'tags/manage_sections_modal' %>
<% unless @medium.new_record? %>
  <%= render partial: 'media/publish_modal',
             locals: { medium: @medium } %>
<% end %>