<% content_for :title, "THymE - \"#{@medium.caption}\"" %>
<div id="thyme-feedback">
  <div id="thyme" data-medium="<%= @medium.id %>">
    <figure id="hypervideo-container">

      <!--- VIDEO + CONTROL BAR -->
      <div id="video-container">
        <video id="video" data-paused="true" crossorigin="anonymous" data-time="<%= @time %>">
          <source src="<%= @medium.video.url(host: host) %>">
        </video>
        <div id="video-controlBar">
          <div id="video-controls">
            <div id="feedback-timeline">
              <i id="play-pause" class="material-icons clickable">
                play_arrow
              </i>
              <span id="current-time">
                0:00:00
              </span>
              <span id="heatmap">
                <!--- JavaScript inserts heatmap here -->
              </span>
              <span id="feedback-markers">
                <!--- JavaScript inserts markers here -->
              </span>
              <input type="range" id="seek-bar"
                     min="0" max="100" step="0.1" value="0">
              <span id="max-time">
                0:00:00
              </span>
            </div>
            <div id="feedback-special-buttons">
              <i id="minus-ten" class="material-icons clickable">
                replay_10
              </i>
              <i id="plus-ten" class="material-icons clickable">
                forward_10
              </i>
            </div>
            <div id="feedback-volume-controls">
              <i id="mute" class="material-icons clickable">
                volume_up
              </i>
              <input type="range" id="volume-bar"
                     min="0" max="1" step="0.1" value="1">
            </div>
          </div>
        </div>
      </div>

      <!--- RIGHT-HAND SIDE AREA -->
      <%= render partial: "annotations/annotation_area" %>

      <!--- AREA BELOW THE VIDEO -->
      <div id="below-area">
        <div id="toggles">
          <span id="toggle-mistake-annotations">
            <label class="switch">
              <input id="toggle-mistake-annotations-check" type="checkbox" checked="true">
              <span class="slider round" data-toggle="tooltip" title="<%= t('admin.annotation.toggle.mistake')%> (Q)"></span>
            </label>
          </span>
          <span id="toggle-presentation-annotations">
            <label class="switch">
              <input id="toggle-presentation-annotations-check" type="checkbox" checked="true">
              <span class="slider round" data-toggle="tooltip" title="<%= t('admin.annotation.toggle.presentation')%> (W)"></span>
            </label>
          </span>
          <span id="toggle-content-annotations">
            <label class="switch">
              <input id="toggle-content-annotations-check" type="checkbox" checked="true">
              <span class="slider round" data-toggle="tooltip" title="<%= t('admin.annotation.toggle.content')%> (E)"></span>
            </label>
          </span>
          <span id="toggle-note-annotations">
            <label class="switch">
              <input id="toggle-note-annotations-check" type="checkbox" checked="true">
              <span class="slider round" data-toggle="tooltip" title="<%= t('admin.annotation.toggle.note')%> (R)"></span>
            </label>
          </span>
        </div>
      </div>

    </figure>
  </div>
</div>

<%= render partial: "annotations/annotation_locales" %>
