<%= render partial: 'media_alerts' %>
<div class="row pb-2">
  <div class="col-sm-12 col-md-6 col-lg-5">
    <ul class="nav">
      <li class="nav-item pl-2 pr-2">
        <a class ="nav-link btn btn-sm bg-grey-lighten-4"
           href="?reverse=<%= (!params[:reverse]).to_s%>&amp;all=<%= params[:all].to_s %>&amp;per=<%= params[:per].to_s %>">
        Reihenfolge umkehren</a>
      </li>
      <li class="nav-item pl-2 pr-2">
        <% unless @media.page(1).total_pages == 1 || params[:all] %>
          <a class="nav-link btn btn-sm text-primary bg-grey-lighten-4" href="?all=true">Alle anzeigen</a>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-5 pt-1">
    <% unless params[:all] %>
      <%= paginate @media %>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-2 col-lg-2 mr-auto">
    <div class="dropdown pl-2">
      <button class="btn btn-sm dropdown-toggle text-primary" type="button"
              id="results_per_page" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        Medien pro Seite
      </button>
      <div class="dropdown-menu" id="results_per_page">
        <% [3,4,8,12,24].each do |hits| %>
          <%= link_to hits.to_s, '?page=1&per=' + hits.to_s + '&reverse=' + params[:reverse].to_s, class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'media', locals: { media: @media } %>
