<div class="row px-4 py-2 mt-2">
  <div class="col-9">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        Medium
      </span>
      <%= @medium.title %>
    </h4>
  </div>
  <div class="col-3 text-right">
    <% teachable_scope = @medium.teachable&.media_scope %>
    <% if teachable_scope.class.to_s == 'Course' %>
      <a href="<%= edit_or_inspect_course_path(teachable_scope) %>"
         class="fas fa-chalkboard-teacher fa-lg mr-3 text-dark"
         style="text-decoration: none; "
         data-toggle="tooltip"
         title="zum Modul">
      </a>
    <% else %>
      <a href="<%= edit_or_inspect_lecture_path(teachable_scope) %>"
         class="fas fa-chalkboard-teacher fa-lg mr-3 text-dark"
         style="text-decoration: none; "
         data-toggle="tooltip"
         title="zur Vorlesung">
      </a>
    <% end %>
  </div>
</div>
<div class="row mt-3 p-2">
  <div class="col-4">
    <div class="card bg-mdb-color-lighten-5">
      <div class="card-header bg-mdb-color-lighten-3">
        Basisdaten
      </div>
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-4">
            Typ
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Jedes Medium hat genau einen Typ. Die folgenden
               Typen mit stehen zur Auswahl:
               <ul><li>KaViaR: Vorlesungsvideos</li><li>SeSAM: Worked-Example-Videos</li><li>KIWi: Wiederholungsvideos</li><li>KeKs-Quiz: Quiz auf der KeKs-Plattform</li><li>KeKs-Frage: Frage auf der KeKs-Plattform</li>
               <li>ErDBeere: Medium auf der ErDBeere-Plattform</li>
               <li>NÜSsE: Übungsblätter, Skripte und alles, was in keine der anderen Kategorien passt</li></ul>"
               data-html="true">
            </i>
          </div>
          <div class="col-8">
            <%= @medium.sort_de %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4">
            assoziiert zu
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Jedes Medium ist zu genau einer Lehrveranstaltung assoziiert. Die Assoziation erfolgt hierbei zu einer/einem<ul><li><i>Sitzung</i>, wenn der Inhalt zu einer Vorlesungssitzung gehört, beispielsweise eine Videoaufzeichnung aus KaViaR</li><li><i>Vorlesung</i>, wenn der Inhalt spezifisch für die konkrete Vorlesung ist, jedoch ohne Bezug zu einer konkreten Sitzung, beispielsweise bei SeSAM-Videos</li><li><i>Modul</i>, wenn der Inhalt zum Modul gehört, jedoch keinen Bezug zu einer konkreten Vorlesung braucht, bespielsweise SeSAM-Videos zu Grundlagen, die in jeder Vorlesung eines entsprechenden Moduls gleich behandelt werden.
               </li></ul>"
               data-html="true">
            </i>
          </div>
          <div class="col-8">
            <%= @medium.teachable.long_title %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4">
            Editoren
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Dies eine Liste aller Personen, die für diese Medium als Editor verantwortlich sind. Jede dieser Personen hat Bearbeitungsrecht für das Medium. <br>Anmerkung: Unabhängig davon kann das Medium auch von Personen mit höheren Rechten bearbeitet werden, beispielsweise von Moduleditoren oder Vorlesungeditorem aus dem zugeordneten Modul bzw. der zugeordneten Vorlesung."
               data-html="true">
            </i>
          </div>
          <div class="col-8">
            <ul>
              <% @medium.editors.each do |e| %>
                <li>
                  <%= e.name_or_email %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <% if @medium.description.present? %>
          <div class="row mb-2">
            <div class="col-4">
              Beschreibung
              <i class="far fa-question-circle helpdesk"
                 tabindex="-1"
                 data-toggle="popover" data-trigger="focus"
                 title="Info"
                 data-content="Die Beschreibung wird in Verweisen auf das Medium verwendet.">
              </i>
            </div>
            <div class="col-8">
              <%= @medium.description %>
            </div>
          </div>
        <% end %>
        <% if @medium.tags.present? %>
        <div class="row mb-2">
          <div class="col-4">
            Verknüpfte Begriffe
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Dies ist eine Liste aller Tags, die mit diesem Medium verknüpft sind.">
            </i>
          </div>
          <div class="col-8">
            <%= render partial: 'tags/list',
                       locals: { tags: @medium.tags } %>
          </div>
        </div>
        <% end %>
        <% if @medium.linked_media.present? %>
        <div class="row mb-2">
          <div class="col-4">
            Verknüpfte Medien
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Dies ist eine Liste aller Medien, die mit diesem Medium verknüpft sind bzw. die von diesem Medium aus referenziert werden. Typisches Anwendungsbeispiel ist etwa die Liste aller zuheörigen KeKs-Fragen aus einem KeKs-Quiz heraus. <br><b>Achtung:</b> Das Feature wird vermutlich spätestens nach der Integration von BananE abgeschafft werden, da diese Informationen
               dann automatisch erfasst werden können; für die via Thyme referenzierten Medien gilt das bereits jetzt."
               data-html="true">
            </i>
          </div>
          <div class="col-8">
            <ul>
              <% @medium.linked_media.each do |m| %>
                <li>
                  <%= link_to m.title, inspect_medium_path(m) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
        <% if @medium.external_reference_link.present? %>
        <div class="row">
          <div class="col-4">
            Externer Link
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Externer Link, der einen Teil diese Mediums ausmacht. Typisches Anwendungsbeispiel im Moment: KeKs-Quiz, KeKs-Frage.">
            </i>
          </div>
          <div class="col-8">
            <%= link_to @medium.external_reference_link, @medium.external_reference_link %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% unless @medium.sort == 'Script' %>
  <div class="col-4">
    <div class="card bg-light">
      <div class="card-header">
        <div class="row">
          <div class="col-3">
            Video
            <span class="badge badge-secondary">
              mp4
            </span>
          </div>
          <div class="col-9 text-right">
            <% if @medium.video.present? %>
              <%= link_to 'Thyme', play_medium_path(@medium),
                          class: 'btn btn-outline-secondary btn-sm',
                          target: :blank %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% if @medium.video.present? %>
        <div class="row p-2">
          <div id="video-meta" class="col-12 meta rounded">
            <div class="row">
              <div class="col-12">
                Datei:
                <span id="video-file">
                  <%= @medium.video_filename %>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Größe:
                <span id="video-size">
                  <%= number_to_human_size(@medium.video_size) %>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Auflösung:
                <span id="video-resolution">
                  <%= @medium.video_resolution %>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                Länge:
                <span id="video-duration">
                  <%= @medium.video_duration_hms_string %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <div id="video-preview-area">
        <video id="video-preview" controls
               src="<%= @medium.video_url %>">
        </video>
      </div>
      <% else %>
        Es ist kein Video vorhanden.
      <% end %>
      <% if @medium.screenshot.present? %>
        <div class="my-2">
          Screenshot
        </div>
        <img id="screenshot-preview" class="img-fluid mb-3"
             src="<%= @medium.screenshot_url %>">
      <% end %>
    </div>
  </div>
</div>
<% end %>
<div class="col-4">
  <div class="card bg-light">
    <div class="card-header">
      <div class="row">
        <div class="col-12">
          Manuskript
          <span class="badge badge-secondary">
            pdf
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <% if @medium.manuscript.present? %>
      <div class="row p-2">
        <div id="manuscript-meta" class="col-12 meta rounded">
          <div class="row">
            <div class="col-12">
              Datei:
              <span id="manuscript-file">
                <%= @medium.manuscript_filename %>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              Größe:
              <span id="manuscript-size">
                <%= number_to_human_size(@medium.manuscript_size) %>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              Länge:
              <span id="manuscript-pages">
                <%= @medium.manuscript_pages.to_s + ' S' %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <%= link_to image_tag(@medium.manuscript_screenshot_url, class: 'img-fluid',
                            id: 'manuscript-preview'),
                  @medium.manuscript_url, target: :blank %>
      <% else %>
        Es ist kein Manuskript vorhanden.
      <% end %>
    </div>
  </div>
</div>
</div>