<div class="row mb-2">
  <div class="col-8 col-xl-6">
    <h2>
      <span class="badge badge-secondary">
        <%= @medium.sort_localized %>
      </span>
      <% unless @medium.published? %>
        <span class="badge badge-warning">
          <%= t('access.unpublished') %>
        </span>
      <% end %>
      <% if @medium.locked? %>
        <span class="badge badge-warning">
          <%= t('access.locked') %>
        </span>
      <% end %>
      <%= @medium.caption %>
    </h2>
  </div>
  <div class="col-4 pt-2">
    <strong>
      <%= t('from') %>:
    </strong>
    <% if @medium.teachable_type == 'Course' && @medium.teachable %>
      <% if current_user.courses.include?(@medium.teachable) %>
        <%= link_to @medium.teachable.to_label,
                    @medium.teachable,
                    class: 'text-dark' %>
      <% else %>
        <span>
          <%= @medium.teachable.to_label %>
        </span>
      <% end %>
    <% end %>
    <% if @medium.teachable_type == 'Lecture' && @medium.teachable %>
      <% if current_user.lectures.include?(@medium.teachable) %>
        <%= link_to @medium.teachable.to_label,
                    @medium.teachable.path(current_user),
                    class: 'text-dark' %>
      <% else %>
        <span>
          <%= @medium.teachable.to_label %>
        </span>
      <% end %>
    <% end %>
    <% if @medium.teachable_type == 'Lesson' && @medium.teachable %>
      <% if current_user.lectures.include?(@medium.teachable.lecture) %>
        <%= link_to @medium.teachable.lecture.title_for_viewers,
                    @medium.teachable.lecture.path(current_user),
                    class: 'text-dark' %>,
        <%= link_to @medium.teachable.local_title_for_viewers,
                    @medium.teachable,
                    class: 'text-dark' %>
      <% else %>
        <%= @medium.teachable.lecture.to_label %>,
        <span>
          <%= @medium.teachable.to_label %>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="col-12 col-xl-2 text-right">
    <% if current_user.admin ||
          @medium.edited_with_inheritance_by?(current_user) %>
      <%= link_to '',
                  edit_medium_path(@medium),
                  class: 'far fa-edit fa-lg text-secondary',
                  data: { toggle: 'tooltip',
                          placement: 'bottom' },
                  title: t('buttons.edit'),
                  style: 'text-decoration: none;' %>
    <% end %>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12 col-lg-4 col-xl-3 col-xxl-2">
    <div class="row">
      <% if @medium.video.present? %>
        <div class="col-6 col-lg-12 mb-2">
          <%= render partial: 'media/video_card',
                     locals: { medium: @medium } %>
        </div>
      <% end %>
      <% if @medium.manuscript.present? %>
        <div class="col-6 col-lg-12 mb-2">
          <%= render partial: 'media/manuscript_card',
                     locals: { medium: @medium } %>
        </div>
      <% end %>
      <% if @medium.quiz_graph %>
        <div class="col-6 col-lg-12 mb-2">
          <%= render partial: 'media/quiz_card',
                     locals: { medium: @medium } %>
        </div>
      <% end %>
      <% if @medium.external_reference_link.present? %>
        <div class="col-6 col-lg-12 mt-2">
          <%= render partial: 'media/external_link_card',
                     locals: { medium: @medium } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-lg-8 col-xl-6 col-xxl-7 mb-2">
    <div class="row">
      <% if @medium.tags.present? %>
        <div class="col-12 mb-2">
          <%= render partial: 'tags/tags',
                     locals: { related_tags: @medium.tags,
                               tags_description: t('related_tags'),
                               small: true} %>
        </div>
      <% end %>
      <div class="col-12">
        <%= render partial: 'items/items',
                   locals: { items: @medium.proper_items_by_time,
                             small: true,
                             embedded: false } %>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-12 col-xl-3 col-xxl-3">
    <% linked_media = current_user.filter_media(@medium.linked_media)
                                  .select { |m| m.visible_for_user?(current_user) } %>
    <%= render partial: 'media/related_media',
               locals: { media: linked_media,
                         from: 'medium',
                         references: nil,
                         questions: false } %>
  </div>
</div>