<div class="row">
  <div class="col-12">
    <h2><%= @medium.caption %></h2>
  </div>
</div>
<div class="row">
<div class="col-12 col-md-6 col-lg-4 pt-3">
<%= render partial: 'organizational', locals: { medium: @medium } %>
</div>
<div class="col-12 col-md-6 col-lg-4 pt-3">
<%= render partial: 'technical', locals: { medium: @medium } %>
</div>
<div class="col-12 col-md-6 col-lg-4 pt-3">
<%= render partial: 'tags/related_tags', locals: { related_tags: @medium.tags,
                                                tags_description: 'Verknüpfte Begriffe'} %>
</div>
</div>
<% unless @medium.linked_media.empty? %>
<div class="row">
  <div class="col-12 pt-5">
    <h5>Verknüpfte Medien</h5>
  </div>
</div>
<%= render partial: 'media/media', locals: { media: @medium.linked_media} %>
<% end %>
