<div class="card-header">
  <div class="row">
    <div class="col-12">
      <h5>
        Basisdaten
      </h5>
    </div>
  </div>
</div>
<div class="card-body p-2">
  <div class="form-group">
    <%= f.label :title, 'Titel' %>
    <%= f.text_field :title, { class: 'form-control' } %>
    <div class="invalid-feedback" id="course-title-error">
    </div>
  </div>
  <div class="form-group">
    <%= f.label :short_title, 'Kurztitel' %>
    <%= f.text_field :short_title, { class: 'form-control' } %>
    <div class="invalid-feedback" id="course-short-title-error">
    </div>
  </div>
  <div class="form-group">
    <%= f.label :news, 'Twitter-Nutzername' %>
    <div class="input_group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          @
        </div>
        <%= f.text_field :news, { class: 'form-control'} %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :preceding_course_ids, 'Vorangegangene Module' %>
    <%= f.select :preceding_course_ids,
                 options_for_select(Course.all.map { |c| [c.title, c.id]},
                                    course.preceding_courses.map(&:id)),
                 {}, { multiple: true, class: 'selectize' } %>

  </div>
  <% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :editor_ids, 'Editoren' %>
      <%= f.select :editor_ids,
                   options_for_select(User.select_editors,
                                      course.editors.map(&:id)),
                   {}, { multiple: true, class: 'selectize' } %>
    </div>
  <% else %>
    Editoren
    <ul>
      <% course.editors.each do |e| %>
        <li>
          <%= e.email %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if course.lectures.present? %>
    Vorlesungen
    <ul>
      <% course.lectures_by_date.each do |l| %>
        <li>
          <%= l.term_teacher_info  %>
        </li>
      <% end %>
    </ul>
  <% else %>
    Für diesen Kurs gibt es noch keine Vorlesungen.
  <% end %>
</div>
