<div class="card-header">
  <div class="row">
    <div class="col-12">
      <h5>
        <%= t('basics.basics') %>
      </h5>
    </div>
  </div>
</div>
<div class="card-body p-2">
  <div class="form-group">
    <%= f.label :title, t('basics.title') %>
    <%= helpdesk(t('admin.course.info.title'), false) %>
    <%= f.text_field :title, { class: 'form-control' } %>
    <div class="invalid-feedback" id="course-title-error">
    </div>
  </div>
  <div class="form-group">
    <%= f.label :short_title, t('basics.short_title') %>
    <%= helpdesk(t('admin.course.info.short_title'), false) %>
    <%= f.text_field :short_title, { class: 'form-control' } %>
    <div class="invalid-feedback" id="course-short-title-error">
    </div>
  </div>
  <div class="form-group">
    <%= t('basics.language') %>
    <div class="form-row ml-2">
    <% I18n.available_locales.each do |locale| %>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :locale,
                           locale.to_s,
                           class: 'custom-control-input' %>
        <%= f.label :locale,
                    t('locales.' + locale.to_s),
                    value: locale.to_s,
                    class: 'custom-control-label' %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :preceding_course_ids,
                t('admin.course.preceding_courses') %>
    <%= helpdesk(t('admin.course.info.preceding_courses'), false) %>
    <%= f.select :preceding_course_ids,
                 options_for_select(Course.all.map { |c| [c.title, c.id]},
                                    course.preceding_courses.map(&:id)),
                 {}, { multiple: true, class: 'selectize' } %>

  </div>
  <% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :editor_ids, t('basics.editors') %>
      <%= helpdesk(t('admin.course.info.editors'), false) %>
      <%= f.select :editor_ids,
                   options_for_select(course.editors.map { |e| [ e.info, e.id] },
                                      course.editors.map(&:id)),
                   {},
                   { multiple: true,
                     class: 'selectize',
                     style: 'display: none;',
                     data: { ajax: true,
                             model: 'user',
                             filled: false } } %>
    </div>
  <% else %>
    <%= t('basics.editors') %>
    <ul>
      <% course.editors.each do |e| %>
        <li>
          <%= e.email %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-12">
      <%= t('basics.lectures') %>
      <%= helpdesk(t('admin.course.info.lectures'), false) %>
      <% unless course.term_independent && course.lectures.any? %>
        <%= link_to '',
                    new_lecture_path(params: { from: 'course',
                                               course: course.id }),
                    class: 'fas fa-plus-circle text-dark',
                    id: 'new-lecture-button',
                    data: { remote: true,
                            toggle: 'tooltip' },
                    title: t('buttons.create_lecture') %>
      <% end %>
    </div>
    <div class="col-12">
      <% if course.lectures.exists? %>
        <ul>
          <% course.lectures_by_date.each do |l| %>
            <li>
              <%= link_to l.term_teacher_info,
                          edit_or_inspect_lecture_path(l),
                          class: lectures_color(l)  %>
            </li>
          <% end %>
        </ul>
        <% if course.term_independent %>
          <%= t('admin.course.term_independence') %>
          <%= helpdesk(t('admin.course.info.term_independent'), false) %>
        <% end %>
      <% else %>
        <%= t('admin.course.no_lectures') %>
        <div class="custom-control custom-checkbox">
          <%= f.check_box :term_independent,
                          class: 'custom-control-input' %>
          <%= f.label :term_independent,
                      t('admin.course.term_independent'),
                      { class: 'custom-control-label' } %>
          <%= helpdesk(t('admin.course.info.term_independent'), false) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 form-group">
      <%= f.label :division_ids,
                  t('admin.course.divisions') %>
      <%= helpdesk(t('admin.course.info.divisions'), false) %>
      <%= f.select :division_ids,
                   options_for_select(Division.all.map { |d| [d.name_with_program, d.id] },
                                      course.division_ids),
                   {},
                   { class: 'selectize',
                     multiple: true,
                     style: 'display: none;',
                     data: { ajax: false } } %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= t('basics.subscribers_count',
          count: course.users.count) %>
      <%= helpdesk(t('admin.course.info.subscribers_count'), false) %>
    </div>
  </div>
</div>
