<div class="card-header">
  <div class="row">
    <div class="col-12">
      <h5>
        Basisdaten
      </h5>
    </div>
  </div>
</div>
<div class="card-body p-2">
  <%= f.text_field :title, label: 'Titel' %>
  <%= f.text_field :short_title, label: 'Kurztitel' %>
  <%= f.text_field :news, label: 'Twitter-Nutzername' %>
  <%= f.label :preceding_course_ids, 'Vorangegangene Kurse' %>
  <%= f.select_without_bootstrap :preceding_course_ids,
        options_for_select(Course.all.map { |c| [c.title, c.id]},
        course.preceding_courses.map(&:id)),
        {}, { multiple: true, class: 'selectize' } %>
  <%= f.label :editor_ids, 'Editoren' %>
  <%= f.select_without_bootstrap :editor_ids,
         options_for_select(User.select_editors, course.editors.map(&:id)),
         {}, { multiple: true, class: 'selectize' } %>
  Vorlesungen
  <ul>
    <% course.lectures_by_date.each do |l| %>
      <li>
        <%= l.term_teacher_info  %>
      </li>
    <% end %>
  </ul>
</div>
