<div class="row p-2">
  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <div class="card bg-light mb-4">
          <%= render partial: 'courses/basics',
                     locals: { course: course, f: f } %>
        </div>
      </div>
      <div class="col-12 mb-4">
        <%= render partial: 'media/card',
                   locals: { media: course.media_with_inheritance,
                             small: false,
                             collapsible: false,
                             teachable_type: 'Course',
                             teachable_id: course.id,
                             inspection: false } %>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-12 mb-3">
        <%= render partial: 'courses/organizational',
                   locals: { course: course, f: f,
                             inspection: false } %>
      </div>
      <div class="col-12 mb-3">
        <%= render partial: 'courses/image',
                   locals: { course: course, f: f,
                             inspection: false } %>
      </div>
      <div class="col-12">
        <div class="card bg-light">
          <div class="card-header">
            <div class="row">
              <div class="col-4">
                <h5>
                  <%= t('basics.tags') %>
                  <%= helpdesk(t('admin.course.info.tags'), false) %>
                </h5>
              </div>
              <div class="col-8 text-right">
                <a class="fas fa-plus-circle fa-lg clickable text-dark"
                   id="new-tag-button"
                   data-toggle="tooltip"
                   title="<%= t('buttons.create_tag') %>"
                   data-course="<%= course.id %>"
                   data-from="course">
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="course-tags">
            </div>
            <%= render partial: 'courses/tags',
                       locals: { course: course, f: f } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>