<%= form_with model: course, html: { id: 'course-form' } do |f| %>
  <div class="row p-2 mb-3">
    <div class="col-3">
      <h4 class="pl-2">
        <span class="badge badge-secondary">
          <%= t('basics.course') %>
        </span>
        <%= course.title %>
        <%= link_to '',
                    course_path(course),
                    class: 'fas fa-eye text-dark mt-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.show'),
                    style: 'text-decoration: none;' %>
      </h4>
    </div>
    <div class="col-6">
      <div id="course-basics-warning">
        <%= t('warnings.unsaved_changes') %>
        <%= f.submit t('buttons.save'),
                     class: "btn btn-sm btn-primary" %>
        <button type="button"
                class="btn btn-sm btn-secondary ml-2"
                id="course-basics-cancel"
                data-id="<%= course.id %>">
          <%= t('buttons.discard') %>
        </button>
      </div>
    </div>
    <div class="col-3 text-center">
      <% if course.irrelevant? && current_user.admin %>
        <%= link_to t('buttons.delete'),
                    course_path,
                    method: :delete,
                    data: { confirm: t('confirmation.generic') },
                    class: 'btn btn-sm btn-danger' %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'courses/data',
             locals: { course: course, f: f } %>
<% end %>