<div id="course-jumbo" class="jumbotron bg-light-blue-lighten-5">
  <div class="row">
    <div class="col-12">
      <h2>
        <span class="badge badge-secondary mr-3">
          Modul
        </span>
        <%= course.title %>
      </h2>
    </div>
  </div>
  <% if course.news_for_user?(current_user) %>
    <div class="row mt-2">
      <div class="col-12">
        <h5>
          News:
        </h5>
        <div id="twitter-news" data-profile="<%= course.news %>"
             data-turbolinks-permanent>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if lectures.present? %>
  <div class="row mb-2">
    <div class="col-1">
      <a id="lecture-prev" class="carousel-control-prev"
         href="#lectureCarousel" role="button"
         data-slide="prev"
         style="display: <%= show(lectures.count > 1) %>">
        <i id="left-arrow" class="material-icons"
           data-toggle="tooltip" data-placement="top"
           title="Semester wechseln">
          keyboard_arrow_left
        </i>
        <span class="sr-only">
          Previous
        </span>
      </a>
    </div>
    <div id="lecture-details" class="col-10 text-center">
      <h4>
        <span class="badge badge-secondary">
          Semester
        </span>
        <span id="lecture-term">
          <%= front_lecture.term.to_label %>
        </span>
        <span class="badge badge-secondary ml-3">
          DozentIn
        </span>
        <span>
          <%= link_to front_lecture.teacher.name,
                      teacher_path(front_lecture.teacher),
                      id: 'lecture-teacher',
                      class: 'text-dark' %>
        </span>
      </h4>
    </div>
    <div class="col-1">
      <a id="lecture-right" class="carousel-control-next"
         href="#lectureCarousel" role="button"
         data-slide="next"
         style="display: <%= show(lectures.count > 1) %>">
        <i id="right-arrow" class="material-icons"
           data-toggle="tooltip" data-placement="top"
           title="Semester wechseln">
          keyboard_arrow_right
        </i>
        <span class="sr-only">
          Next
        </span>
      </a>
    </div>
  </div>
  <%= render partial: 'courses/lecture_carousel',
             locals: { lectures: lectures } %>
<% end %>
