<div class="row mb-2">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>
          <%=t('course.info', title: course.title) %>
          <% if current_user.admin ||
                @course.edited_by?(current_user) %>
            <%= link_to '',
                edit_course_path(course),
                class: 'far fa-edit fa-sm text-dark mt-3',
                data: { toggle: 'tooltip',
                        placement: 'bottom' },
                title: t('buttons.edit'),
                style: 'text-decoration: none;' %>
          <% end %>
        </h4>
      </div>
      <div class="card-body" id="organizationalCardBody">
        <h5>
          <%= t('course.editors') %>
        </h5>
        <ul>
          <% course.editors.each do |e| %>
            <li>
              <% if e.teacher? %>
                <%= link_to e.name, teacher_path(e) %>
              <% else %>
                <%= e.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if course.organizational %>
          <h5>
            <%= t('course.further_info') %>
          </h5>
          <%= course.organizational_concept&.html_safe %>
        <% end %>
      </div>
    </div>
  </div>
</div>