<div class="row mt-2 p-2">
  <div class="col-9">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        Modul
      </span>
      <%= course.title %>
    </h4>
  </div>
  <div class="col-3 text-center">
    <% if current_user.admin? || course.editors.include?(current_user) %>
      <%= link_to 'Bearbeiten', edit_course_path(course),
                  class: 'btn btn-primary my-1' %>
    <% end %>
  </div>
</div>
<div class="row p-2">
  <div class="col-12">
    <div class="card bg-mdb-color-lighten-7 mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <h5>
              Basisdaten
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body p-2">
        <div class="row">
          <div class="col-2">
            Kurztitel
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover"
               data-trigger="focus"
               title="Info"
               data-content="Der Kurztitel wird an Stellen mit wenig
               Platz anstelle des Modultitels verwendet.">
            </i>
          </div>
          <div class="col-10">
              <%= course.short_title %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2">
            EditorInnen
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Das ist die Liste aller ModuleditorInnen für
               dies Modul. Diese können das Modul bearbeiten, insbesondere
               können sie Vorlesungen innerhalb des Moduls anlegen.
               Jeder Moduleditor erbt die Bearbeitungsrechte für
               alle Vorlesungen innerhalb des Moduls.">
            </i>
          </div>
          <div class="col-10">
            <ul  class="list-unstyled">
              <% course.editors.each do |e| %>
                <li>
                  <%= e.name %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            Vorlesungen
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Dies ist die Liste aller Vorlesungen zu
               diesem Modul.">
            </i>
          </div>
          <div class="col-10">
            <ul  class="list-unstyled">
              <% course.lectures_by_date.each do |l| %>
                <li>
                  <%= link_to l.term_teacher_published_info,
                              inspect_lecture_path(l) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            Module, auf denen das vorliegende Modul aufbaut
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Das ist die Liste derjenigen Module, auf denen
               das vorliegende Modul aufbaut.
               Beispielsweise könnte das Modul Algebra 1 auf den Modulen
               Lineare Algebra 1 und Lineare Algebra 2 aufbauen. Das ist
               insofern relevant, als dass Nutzer in ihren Profileinstellungen
               angeben können, ob sie verknüpfte Materialien auch von
               inhaltlich vorher einzuordnenden Modulen angezeigt bekommen
               möchten.">
            </i>
          </div>
          <div class="col-10">
            <ul  class="list-unstyled">
              <% course.preceding_courses.each do |c| %>
                <li>
                  <%= link_to c.title, inspect_course_path(c) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2">
            Abonnentenzahl
            <i class="far fa-question-circle helpdesk"
               tabindex="-1"
               data-toggle="popover" data-trigger="focus"
               title="Info"
               data-content="Dies ist Anzahl aller NutzerInnen, die diesen Kurs
               in ihren Profileinstellungen abonniert haben.">
            </i>
          </div>
          <div class="col-10">
            <%= course.users&.count %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% unless course.tags.empty? %>
  <div class="row p-2">
    <div class="col-12">
      <%= render partial: 'tags/tags_toggle',
                 locals: { tags: course.tags,
                           tags_description: 'Verknüpfte Begriffe',
                           id: course.id,
                           inspection: true} %>
    </div>
  </div>
<% end %>
<% related_media = course.media_with_inheritance %>
<% unless related_media.empty? %>
  <div class="row p-2">
    <div class="col-12 mb-4">
      <%= render partial: 'media/card',
                 locals: { media: related_media,
                           small: false,
                           collapsible: false,
                           inspection: true,
                           teachable_type: nil,
                           teachable_id: nil } %>
    </div>
  </div>
<% end %>
