<div class="row mt-2 p-2">
  <div class="col-12">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        <%= t('basics.course') %>
      </span>
      <%= course.title %>
    </h4>
  </div>
</div>
<div class="row p-2">
  <div class="col-12">
    <div class="card bg-mdb-color-lighten-7 mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <h5>
              <%= t('basics.basics') %>
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body p-2">
        <div class="row">
          <div class="col-2">
            <%= t('basics.short_title') %>
            <%= helpdesk(t('admin.course.info.short_title'), false) %>
          </div>
          <div class="col-10">
              <%= course.short_title %>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2">
            <%= t('basics.editors') %>
            <%= helpdesk(t('admin.course.info.editors_inspect'), false) %>
          </div>
          <div class="col-10">
            <ul  class="list-unstyled">
              <% course.editors.each do |e| %>
                <li>
                  <%= e.name %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <%= t('basics.lectures') %>
            <%= helpdesk(t('admin.course.info.lectures'), false) %>
          </div>
          <div class="col-10">
            <ul  class="list-unstyled">
              <% course.lectures_by_date.each do |l| %>
                <li>
                  <%= link_to l.term_teacher_published_info,
                              edit_or_inspect_lecture_path(l),
                              class: lectures_color(l) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-2">
            <%= t('basics.language') %>
          </div>
          <div class="col-10">
            <%= t('locales.' + locale.to_s) %>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <%= t('admin.course.preceding_courses') %>
            <%= helpdesk(t('admin.course.info.preceding_courses_inspect'),
                         false) %>
          </div>
          <div class="col-10">
            <ul  class="list-unstyled">
              <% course.preceding_courses.each do |c| %>
                <li>
                  <%= link_to c.title, edit_or_inspect_course_path(c) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2">
            <%= t('basics.subscribers_count_nc') %>
            <%= helpdesk(t('admin.course.info.subscribers_count'), false) %>
          </div>
          <div class="col-10">
            <%= course.users.count %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% unless course.tags.empty? %>
  <div class="row p-2">
    <div class="col-12 mb-3">
        <%= render partial: 'courses/organizational',
                   locals: { course: course,
                             inspection: true } %>
    </div>
    <div class="col-12">
      <%= render partial: 'tags/tags_toggle',
                 locals: { tags: course.tags,
                           id: course.id,
                           inspection: true} %>
    </div>
  </div>
<% end %>
<% related_media = course.media_with_inheritance %>
<% unless related_media.empty? %>
  <div class="row p-2">
    <div class="col-12 mb-4">
      <%= render partial: 'media/card',
                 locals: { media: related_media,
                           small: false,
                           collapsible: false,
                           inspection: true,
                           teachable_type: nil,
                           teachable_id: nil,
                           inspection: true } %>
    </div>
  </div>
<% end %>
