<div id="lectureCarousel"
     class="carousel slide"
     data-ride="carousel"
     data-interval="false">
  <% if lectures.count > 1 %>
    <div class="row mt-5">
      <div class="col-12">
        <ol class="carousel-indicators">
          <% lectures.each_with_index do |l, i| %>
            <% is_active = l.active?(current_user, params[:active].to_i) %>
            <li data-target="#lectureCarousel" data-slide-to="<%= i %>"
                class="<%= active(is_active) %>">
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>
  <div class="carousel-inner">
    <% lectures.each do |l| %>
      <% is_active = l.active?(current_user, params[:active].to_i) %>
      <% privileged = current_user.admin ||
                        current_user.in?(l.editors_with_inheritance) %>
      <div class="carousel-item <%= active(is_active) %>"
           data-term="<%= l.term.to_label %>"
           data-teacher="<%= l.teacher.name %>"
           data-id="<%= l.teacher.id %>"
           data-editable="<%= privileged %>"
           data-lecture="<%= l.id %>">
        <div class="row">
          <% unless l.chapters.empty? %>
            <div class="col-12">
              <%= render partial: 'lectures/content',
                         locals: { lecture: l } %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
