<div class="row">
  <div class="col-12">
    <h6>
      <%= t('admin.course.new_course') %>
    </h6>
  </div>
</div>
<%= form_with model: course,
              html: { id: 'new-course-form' } do |f| %>
  <div class="form-row">
    <div class="col-8 form-group">
      <%= f.label :title, t('basics.title') %>
      <%= helpdesk(t('admin.course.info.title'), false) %>
      <%= f.text_field :title, { class: 'form-control',
                                 id: 'new_course_title' } %>
      <div class="invalid-feedback"
           id="new-course-title-error">
      </div>
    </div>
    <div class="col-4 form-group">
      <%= f.label :short_title, t('basics.short_title') %>
      <%= helpdesk(t('admin.course.info.short_title'), false) %>
      <%= f.text_field :short_title, { class: 'form-control',
                                 id: 'new_course_short_title' } %>
      <div class="invalid-feedback"
           id="new-course-short-title-error">
      </div>
    </div>
    <div class="col-12 form-group">
      <%= f.label :editor_ids,
                  t('basics.editors') %>
      <%= helpdesk(t('admin.course.info.editors'), false) %>
      <%= f.select :editor_ids,
                   options_for_select([[]]),
                   {},
                   { class: 'selectize',
                     multiple: true,
                     style: 'display: none;',
                     data: { ajax: true,
                             model: 'user',
                             filled: false } } %>
    </div>
    <div class="col-12 form-group">
      <%= f.label :area_ids,
                  t('admin.course.areas') %>
      <%= helpdesk(t('admin.course.info.areas'), false) %>
      <%= f.select :area_ids,
                   options_for_select(Area.all.map { |a| [a.name_with_subject, a.id] }),
                   {},
                   { class: 'selectize',
                     multiple: true,
                     style: 'display: none;',
                     data: { ajax: false } } %>
    </div>
    <div class="col-12 form-group">
      <%= f.label :program_ids,
                  t('admin.course.programs') %>
      <%= helpdesk(t('admin.course.info.programs'), false) %>
      <%= f.select :program_ids,
                   options_for_select(Program.all.map { |p| [p.name_with_subject, p.id] }),
                   {},
                   { class: 'selectize',
                     multiple: true,
                     style: 'display: none;',
                     data: { ajax: false } } %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
      <button type="button" id="cancel-new-course"
              class="btn btn-secondary">
        <%= t('buttons.cancel') %>
      </button>
    </div>
  </div>
<% end %>
