<div class="row">
  <div class="col-12">
    <h6>
      Neues Modul anlegen
    </h6>
  </div>
</div>
<%= form_with model: course do |f| %>
  <div class="form-row">
    <div class="col-8 form-group">
      <%= f.label :title, 'Titel' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Hier musst Du den Titel des Moduls eintragen.
         Typischerweise sollte das der Titel aus dem Modulhandbuch sein.
         Modulnamen dürfen nur einmal vergeben werden.">
      </i>
      <%= f.text_field :title, { class: 'form-control',
                                 id: 'new_course_title' } %>
      <div class="invalid-feedback"
           id="new-course-title-error">
      </div>
    </div>
    <div class="col-4 form-group">
      <%= f.label :short_title, 'Kurztitel' %>
      <i class="far fa-question-circle helpdesk ml-2"
               tabindex="-1"
               data-toggle="popover"
               data-trigger="focus"
               title="Info"
               data-content="Der Kurztitel wird an mehreren Stellen als
               Abkürzung verwendet.">
      </i>
      <%= f.text_field :short_title, { class: 'form-control',
                                 id: 'new_course_short_title' } %>
      <div class="invalid-feedback"
           id="new-course-short-title-error">
      </div>
    </div>
    <div class="col-12 form-group">
      <%= f.label :editor_ids,
                  'EditorInnen' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Hier gibst Du die ModuleditorInnen an. Diese können
         das Modul bearbeiten, insbesondere können sie Vorlesungen innerhalb
         des Moduls anlegen. Jeder Moduleditor erbt die Bearbeitungsrechte für
         alle Vorlesungen innerhalb des Moduls.">
      </i>
      <%= f.select :editor_ids,
                   options_for_select(User.select_editors),
                   {}, { class: 'selectize', multiple: true } %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit 'Speichern', class: 'btn btn-primary' %>
      <button type="button" id="cancel-new-course"
              class="btn btn-secondary">
        Abbrechen
      </button>
    </div>
  </div>
<% end %>
