<div id="organizational_accordion"
     role="tablist">
  <div class="card bg-light">
    <div class="card-header"
         role="tab"
         id="organizational_heading">
      <div class="row">
        <div class="col-6">
          <h5>
            <%= t('admin.course.additional_information') %>
          </h5>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-sm btn-outline-primary"
             data-toggle="collapse"
             href="#organizational_collapse"
             id="organizational_collapse_button"
             aria-expanded="false" aria-controls="organizational_collapse">
            <%= t('buttons.toggle') %>
          </a>
        </div>
      </div>
    </div>
    <div id="organizational_collapse"
         class="collapse"
         role="tabpanel"
         aria-labelledby="heading"
         data-parent="#organizational_accordion">
      <div class="card-body">
          <div class="form-row mb-3">
            <div class="col-6">
              <% if inspection %>
                <%= t('admin.course.additional_information_visible') %>:
                <%= course.organizational ? t('basics.yes_lc') : t('basics.no_lc') %>
              <% else %>
                <div class="custom-control custom-checkbox">
                  <%= f.check_box :organizational,
                                  class: 'custom-control-input',
                                  disabled: inspection %>
                  <%= f.label :organizational,
                              t('admin.course.additional_information_visible'),
                              { class: 'custom-control-label' } %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <% if inspection %>
                <%= course.organizational_concept&.html_safe %>
              <% else %>
              <input id="course-concept-input" value="<%=course.organizational_concept%>" hidden=true>
                <trix-editor id='course-concept-trix' name="organizational_concept"
                value="course-concept-input"
                ></trix-editor>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>