<% if lectures.present? %>
  <div class="row mt-2 mb-2">
    <div class="col-1">
      <a id="lecture-prev" class="carousel-control-prev"
         href="#lectureCarousel" role="button"
         data-slide="prev"
         style="display: <%= show(lectures.count > 1) %>">
        <i id="left-arrow" class="material-icons"
           data-toggle="tooltip" data-placement="top"
           title="Semester wechseln">
          keyboard_arrow_left
        </i>
        <span class="sr-only">
          Previous
        </span>
      </a>
    </div>
    <div id="lecture-details" class="col-10 text-center">
      <h4>
        <span id="lecture-title" class="mr-3">
          <%= front_lecture.title_for_viewers %>
        </span>
        <span>
          <%= link_to front_lecture.teacher.name,
                      teacher_path(front_lecture.teacher),
                      id: 'lecture-teacher',
                      class: 'text-dark' %>
        </span>
        <% privileged = current_user.admin ||
                        current_user.in?(@front_lecture.editors_with_inheritance) %>
        <a href="<%= edit_lecture_path(front_lecture) %>"
           id="lecture-edit"
           class="far fa-edit text-secondary"
           data-toggle="tooltip"
           data-placement="bottom"
           title="Bearbeiten"
           style="text-decoration: none;
                  display: <%= show_inline(privileged) %>">
        </a>
      </h4>
    </div>
    <div class="col-1">
      <a id="lecture-right"
         class="carousel-control-next"
         href="#lectureCarousel"
         role="button"
         data-slide="next"
         style="display: <%= show(lectures.count > 1) %>">
        <i id="right-arrow" class="material-icons"
           data-toggle="tooltip" data-placement="top"
           title="Semester wechseln">
          keyboard_arrow_right
        </i>
        <span class="sr-only">
          Next
        </span>
      </a>
    </div>
  </div>
  <%= render partial: 'courses/lecture_carousel',
             locals: { lectures: lectures } %>
<% end %>
