<div id="course-area">
  <%= form_with model: @course, html: { id: 'course-form' } do |f| %>
    <div class="row p-2 mb-3">
      <div class="col-3">
        <h4 class="pl-2">
          <span class="badge badge-secondary">
            Modul
          </span>
          <%= @course.title %>
        </h4>
      </div>
      <div class="col-6">
        <div id="course-basics-warning">
          Achtung, es gibt ungespeicherte Änderungen!
          <%= f.submit "Speichern", class: "btn btn-primary" %>
          <button type="button" class="btn btn-secondary ml-2"
                  id="course-basics-cancel" data-id="<%= @course.id %>">
            verwerfen
          </button>
        </div>
      </div>
      <div class="col-3 text-center">
        <%= link_to 'Ansehen', inspect_course_path(@course),
                    class: 'btn btn-primary my-1' %>
        <% if @course.lectures.empty? && @course.media.empty? && 
              @course.id.present? && current_user.admin %>
          <%= link_to 'Modul löschen', course_path, method: :delete,
                      data: { confirm: 'Bist Du sicher?' },
                      class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'courses/data', locals: { course: @course, f: f } %>
  <% end %>
</div>
<%= render partial: 'tags/modal' %>
<%= render partial: 'lectures/modal' %>
