<div class="card">
  <div class="card-header">
    <h5>
      <%= t('categories.test.singular') %>
    </h5>
  </div>
  <div class="card-body">
    <%= t('test.info', count: @course.mc_questions_count) %>
    <div class="row">
      <div class="col-12 text-center">
        <%= link_to t('test.start'),
                    random_quiz_path(@course),
                    class: 'btn btn-primary my-4',
                    target: :_blank %>
      </div>
    </div>
    <span class="badge badge-secondary">
      <%= t('note') %>.
    </span>
    <%= t('test.notation') %>
    <i class="far fa-question-circle helpdesk"
       tabindex="-1"
       data-toggle="popover"
       data-trigger="focus"
       title="<%= t('test.notation_header') %>"
       data-content="<%= t('test.notation_examples_html') %>"
       data-html="true">
      </i>
    <div class="row my-4">
    </div>
    <%= t('test.future') %>
  </div>
</div>