<div class="jumbotron bg-light-blue-lighten-5" style="padding: 2rem 2rem;">
  <div class="row">
    <div class="col-12">
      <h2>
        <span class="badge badge-secondary mr-3">
          Kurs
        </span>
        <%= @course.title %>
      </h2>
    </div>
  </div>
  <% if @course.news.present? &&
        CourseUserJoin.where(course: @course, user: current_user)
                      .first.news? != false %>
    <div class="row mt-2">
      <div class="col-12">
        <h5>
          News:
        </h5>
        <div id="twitter-news" data-profile="<%= @course.news %>"
             data-turbolinks-permanent>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% lectures = current_user.lectures.select { |l| l.course == @course } %>
<% if lectures.present? %>
<% show_controls = lectures.count > 1 ? 'block;' : 'none;' %>
<div class="row mb-2">
  <div class="col-1">
    <a class="carousel-control-prev" href="#lectureCarousel"
       role="button" data-slide="prev"
       style="left: 50%; color: black; top: -12px; width: 100%; display: <%= show_controls %>">
      <i class="material-icons" style="font-size: 60px;"
         data-toggle="tooltip" data-placement="top"
         title="Semester wechseln">
        keyboard_arrow_left
      </i>
      <span class="sr-only">
        Previous
      </span>
    </a>
  </div>
  <div id="lecture-details" class="col-10 text-center">
    <h4>
      <span class="badge badge-secondary">
        Semester
      </span>
      <span id="lecture-term">
        <%= @course.primary_lecture(current_user).term.to_label %>
      </span>
      <span class="badge badge-secondary ml-3">
        DozentIn
      </span>
      <span id="lecture-teacher">
        <%= @course.primary_lecture(current_user).teacher.name %>
      </span>
    </h4>
  </div>
  <div class="col-1">
    <a class="carousel-control-next" href="#lectureCarousel"
       role="button" data-slide="next"
       style="right: 50%; color: black; top: -12px; width: 100%; display: <%= show_controls %>">
      <i class="material-icons" style="font-size:60px"
         data-toggle="tooltip" data-placement="top"
         title="Semester wechseln">
        keyboard_arrow_right
      </i>
      <span class="sr-only">
        Next
      </span>
    </a>
  </div>
</div>
<div id="lectureCarousel" class="carousel slide" data-ride="carousel"
     data-interval="false">
  <% if lectures.count > 1 %>
    <div class="row mt-5">
      <div class="col-12">
        <ol class="carousel-indicators">
          <% lectures.each_with_index do |l, i| %>
            <li data-target="#lectureCarousel" data-slide-to="<%= i %>"
                class="<%= l.primary?(current_user) ? 'active' : ''%>">
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>
  <div class="carousel-inner">
    <% lectures.each_with_index do |l, i| %>
      <div class="carousel-item <%= l.primary?(current_user) ? 'active' : ''%>"
           data-term="<%= l.term.to_label %>"
           data-teacher="<%= l.teacher.name %>">
        <div class="row">
          <% unless l.chapters.empty? %>
            <div class="col-12 col-md-12 col-lg-6 pt-3">
              <%= render partial: 'lectures/content', locals: { lecture: l } %>
            </div>
          <% end %>
          <% unless l.lessons.empty? %>
            <div class="col-12 col-md-12 col-lg-6 pt-3">
              <%= render partial: 'lessons/lessons',
                         locals: { lessons: l.lessons,
                                   lessons_description: 'Verknüpfte Sitzungen' } %>
             </div>
          <% end %>
        </div>
        <% unless l.tags.empty? %>
          <div class="row pt-5 pb-3">
            <div class="col-12">
              <%= render partial: 'tags/tags_toggle',
                         locals: { tags: l.tags,
                                   tags_description: 'Verknüpfte Begriffe',
                                   id: l.id} %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
