<div class="card">
  <div class="card-header">
    <h5>
      <%= t('categories.test.singular') %>
    </h5>
  </div>
  <div class="card-body">
    <%= t('test.info', count: @course.mc_questions_count) %>
    <div class="row">
      <div class="col-12 text-center">
        <%= link_to t('test.start'),
                    random_quiz_path(@course),
                    class: 'btn btn-primary my-4',
                    id: 'start_random_quiz',
                    data: { course: @course.id },
                    target: :_blank %>
      </div>
    </div>
    <%= t('quiz.compile_tags') %>
    <select multiple="multiple"
            class="selectize"
            style="display: none;"
            data-filled="false"
            data-ajax="true"
            data-model="course_tag"
            data-course="<%= @course.id %>"
            id="search_tag_ids">
    </select>
    <div class="mt-3">
      <span class="badge badge-secondary">
        <%= t('basics.note') %>.
      </span>
      <%= t('test.notation') %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="<%= t('test.notation_header') %>"
         data-content="<%= t('test.notation_examples_html') %>"
         data-html="true">
      </i>
    </div>
  </div>
</div>