<div class="card h-100 <%= subscribed ? 'bg-mdb-color-lighten-7' : '' %>
            <%= lecture_border(lecture) %>">
  <div class="card-header <%= lecture_header_color(subscribed, lecture) %>">
    <div class="row">
      <div class="col-8 col-sm-7 col-lg-8 col-xl-8 font-weight-bold">
        <% if subscribed %>
          <%= link_to lecture.title_no_term,
                      lecture,
                      class: 'text-light' %>
        <% else %>
          <%= lecture.title_no_term %>
        <% end %>
      </div>
      <div class="col-4 col-sm-5 col-lg-4 col-xl-4 text-right">
        <% if subscribed %>
          <% if lecture.in?(current_user.favorite_lectures) %>
            <%= link_to '',
                        unstar_lecture_path(params:
                                              { lecture:
                                                  { id: lecture.id,
                                                    parent: parent } }),
                        class: 'fas fa-bookmark text-light mr-2',
                        style: 'text-decoration: none;',
                        method: :patch,
                        data: { toggle: 'tooltip',
                                placement: 'bottom' },
                        title: t('profile.unstar_lecture'),
                        remote: true %>
          <% else %>
            <%= link_to '',
                        star_lecture_path(params:
                                            { lecture:
                                                { id: lecture.id,
                                                  parent: parent } }),
                        class: 'far fa-bookmark text-light mr-2',
                        style: 'text-decoration: none;',
                        method: :patch,
                        data: { toggle: 'tooltip',
                                placement: 'bottom' },
                        title: t('profile.star_lecture'),
                        remote: true %>
          <% end %>
          <%= link_to '',
                      unsubscribe_lecture_path(params:
                                                 { lecture:
                                                     { id: lecture.id,
                                                       parent: parent } }),
                      class: 'far fa-minus-square text-light',
                      style: 'text-decoration: none;',
                      method: :patch,
                      data: { toggle: 'tooltip',
                              placement: 'bottom' },
                      title: t('basics.unsubscribe'),
                      remote: true %>
        <% elsif current_user.admin || lecture.published? ||
                   lecture.edited_by?(current_user) %>
          <%= link_to '',
                      subscribe_lecture_path(params:
                                                 { lecture:
                                                     { id: lecture.id,
                                                       parent: parent } }),
                      class: 'far fa-plus-square text-dark',
                      style: 'text-decoration: none;',
                      method: :patch,
                      data: { toggle: 'tooltip',
                              placement: 'bottom' },
                      title: t('basics.subscribe'),
                      remote: true %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <% if !current && lecture.term %>
            <%= lecture.term.to_label_short %>,
          <% end %>
          <% if lecture.term || !lecture.disable_teacher_display %>
            <%= lecture.teacher.name %>
          <% else %>
            <br>
          <% end %>
      </div>
    </div>
  </div>
  <% if subscribed %>
     <%= link_to image_tag(lecture.course.normalized_image_url_with_host ||
                             '/no_course_information.png',
                          class: 'card-img-top teachableThumbnail border-bottom',
                          alt: 'Card image cap'),
                 lecture %>
  <% else %>
    <%= image_tag(lecture.course.normalized_image_url_with_host ||
                    '/no_course_information.png',
                  class: 'card-img-top teachableThumbnail border-bottom',
                  alt: 'Card image cap') %>
  <% end %>
  <div class="card-body">
    <% unless subscribed %>
      <% lecture.course.divisions.each do |d| %>
        <div class="small">
          <%= "#{d.program.subject.name} #{d.program.name} #{d.name}" %>
        </div>
      <% end %>
    <% end %>
    <div class="teachable-body">
      <% if subscribed %>
        <%= tag.div class: news_color(current_user
                                        .active_notifications(lecture)
                                        .size) do %>
          <%= current_user.active_notifications(lecture).size %>
          <%= tag.i class: 'far fa-envelope mr-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('admin.lecture.new_notifications') %>
        <% end %>
        <%= tag.div class: news_color(current_user
                                        .active_media_notifications(lecture)
                                        .size) do %>
          <%= current_user.active_media_notifications(lecture).size %>
          <%= tag.i class: 'far fa-folder mr-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('admin.lecture.new_media') %>
        <% end %>
        <%= tag.div class: news_color(lecture
                                        .unread_forum_topics_count(current_user)
                                        .to_i) do %>
          <%= lecture.unread_forum_topics_count(current_user).to_i %>
          <%= tag.i class: 'far fa-comment-alt mr-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('admin.lecture.new_posts') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>