<%= form_with url: media_search_path,
              scope: :search,
              remote: true,
              method: :get do |f| %>
  <div class="row p-2">
    <%= render 'search/form_fields/media_types_field',   f: f, purpose: purpose %>
    <%= render 'search/form_fields/tags_field',          f: f %>
    <%= render 'search/form_fields/teachers_field',      f: f %>
    <%= render 'search/form_fields/lecture_scope_field', f: f %>
    <%= render 'search/form_fields/fulltext_field',      f: f %>
    <%= render 'search/form_fields/per_page_field',      f: f, results_as_list: false %>
  </div>

  <%= f.hidden_field :purpose, value: purpose %>
  <%= f.hidden_field :results_as_list, value: 'false' %>

  <%= f.hidden_field :from, value: 'start' %>

  <div class="row mb-3">
    <div class="col-12 text-center">
      <%= f.submit t('basics.search'), class: 'btn btn-primary' %>

    </div>
  </div>
<% end %>