<div class="card bg-mdb-color-lighten-7">
  <div class="card-header bg-mdb-color-lighten-1"
       style="display: flex; justify-content: space-between;">
    <div>
      <%= link_to talk.title,
                  talk_path(talk),
                  class: 'text-light' %>
    </div>
    <div>
      <%= link_to '',
                  assemble_talk_path(talk),
                  class: 'far fa-edit text-primary text-light',
                  data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.edit'),
                    style: 'text-decoration: none; ' +
                           'display: inline;' %>
    </div>
  </div>
  <%= image_tag(talk.lecture.course.normalized_image_url_with_host ||
                '/no_course_information.png',
                class: 'card-img-top teachableThumbnail border-bottom',
                alt: 'Card image cap') %>
  <div class="card-body">
    <div class="row">
      <div class="col-3 text-center">
        <%= talk.lecture.sort_in_brackets %>
      </div>
      <div class="col-9">
        <%= link_to talk.lecture.title_term_info_no_type,
                    lecture_path(talk.lecture),
                    class: 'text-dark' %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 text-center">
        <i class="far fa-calendar-alt me-2"
           data-toggle="tooltip"
           title="<%= t('basics.date') %>">
        </i>
      </div>
      <div class="col-9">
        <% talk.dates.each do |d| %>
            <%= link_to localize(d, format: :concise),
                        talk_path(talk),
                        class: 'badge bg-secondary' %>
        <% end %>
      </div>
    </div>
    <% if talk.speakers.size > 1 %>
      <div class="row">
        <div class="col-3 text-center">
          <i class="fas fa-handshake"
             data-toggle="tooltip"
             title="<%= t('admin.talk.info.cospeakers') %>">
          </i>
        </div>
        <div class="col-9">
          <%= cospeaker_list(talk, current_user) %>
        </div>
      </div>
    <% end %>
  </div>
</div>