<% if @talks.any? %>
  <ul>
    <% @talks.each do |t| %>
      <li>
        <%= link_to t.title,
                    talk_path(t) %>
        <%= link_to '',
                    assemble_talk_path(t),
                    class: 'far fa-edit text-primary text-right',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('buttons.edit'),
                    style: 'text-decoration: none; ' +
                           'display: inline;' %>,
        <%= t('basics.talk') %>
        <%= t.position %>
        <%= t('in') %>
        <%= link_to t.lecture.title_term_info,
                    lecture_path(t.lecture) %>
        <%= t.team_info(current_user) %>
      </li>
    <% end %>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-md-3
                row-cols-lg-3 row-cols-xl-4 row-cols-xxxl-6">
      <% @talks.each do |t| %>
        <div class="col mb-4">
          <%= render partial: 'main/start/talk_card',
                     locals: { talk: t } %>
        </div>
      <% end %>
    </div>
  </ul>
<% else %>
  <%= t('admin.talk.no_talks') %>
<% end %>