<div class="card h-100 <%= subscribed ? 'bg-mdb-color-lighten-7' : '' %>">
  <div class="card-header <%= teachable_header_color(subscribed, teachable) %>">
    <div class="row">
      <div class="col-9 col-sm-10 font-weight-bold">
        <% if subscribed %>
          <%= link_to teachable.title_no_term,
                      teachable,
                      class: 'text-light' %>
        <% else %>
          <%= teachable.title_no_term %>
        <% end %>
      </div>
      <div class="col-3 col-sm-2 text-right">
        <% if subscribed %>
          <%= link_to '',
                      unsubscribe_teachable_path(params:
                                                 { teachable:
                                                     { type: teachable.class
                                                                      .to_s,
                                                       id: teachable.id,
                                                       parent: parent } }),
                      class: 'far fa-minus-square text-light',
                      style: 'text-decoration: none;',
                      method: :patch,
                      data: { toggle: 'tooltip',
                              placement: 'bottom' },
                      title: t('basics.unsubscribe'),
                      remote: true %>
        <% else %>
          <%= link_to '',
                      subscribe_teachable_path(params:
                                                 { teachable:
                                                     { type:
                                                         teachable.class.to_s,
                                                       id: teachable.id,
                                                       parent: parent } }),
                      class: 'far fa-plus-square text-dark',
                      style: 'text-decoration: none;',
                      method: :patch,
                      data: { toggle: 'tooltip',
                              placement: 'bottom' },
                      title: t('basics.subscribe'),
                      remote: true %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <% if teachable.is_a?(Lecture) %>
          <% if !current && teachable.term %>
            <%= teachable.term.to_label_short %>,
          <% end %>
          <%= teachable.teacher.name %>
        <% else %>
          (<%= t('categories.course') %>)
        <% end %>
      </div>
    </div>
  </div>
  <% if subscribed %>
     <%= link_to image_tag('/thyme.png',
                          class: 'card-img-top teachableThumbnail',
                          alt: 'Card image cap'),
                teachable %>
  <% else %>
    <%= image_tag('/thyme.png',
                  class: 'card-img-top teachableThumbnail',
                  alt: 'Card image cap') %>
  <% end %>
  <div class="card-body">
    <% unless subscribed %>
      <% teachable.course.divisions.each do |d| %>
        <div class="small">
          <%= "#{d.program.subject.name} #{d.program.name} #{d.name}" %>
        </div>
      <% end %>
    <% end %>
    <div class="teachable-body">
      <% if subscribed && teachable.is_a?(Lecture) %>
        <%= tag.div class: news_color(current_user
                                        .active_notifications(teachable)
                                        .size) do %>
          <%= current_user.active_notifications(teachable).size %>
          <%= tag.i class: 'far fa-envelope mr-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('admin.lecture.new_notifications') %>
        <% end %>
        <%= tag.div class: news_color(current_user
                                        .active_media_notifications(teachable)
                                        .size) do %>
          <%= current_user.active_media_notifications(teachable).size %>
          <%= tag.i class: 'far fa-folder mr-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('admin.lecture.new_media') %>
        <% end %>
        <%= tag.div class: news_color(teachable
                                        .unread_forum_topics_count(current_user)
                                        .to_i) do %>
          <%= teachable.unread_forum_topics_count(current_user).to_i %>
          <%= tag.i class: 'far fa-comment-alt mr-3',
                    data: { toggle: 'tooltip',
                            placement: 'bottom' },
                    title: t('admin.lecture.new_posts') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>