<div class="col mb-4">
	<div class="card h-100 bg-mdb-color-lighten-7">
		<div class="card-header bg-mdb-color-lighten-1 text-light">
      <% if current %>
        <%= link_to teachable.title_no_term,
                    teachable,
                    class: 'text-light' %>
      <% else %>
        <%= link_to teachable.title_no_term,
                   teachable,
                   class: 'text-light' %>
        <% if teachable.is_a?(Lecture) %>
          <br>
          <%= teachable.term.to_label_short %>
        <% end %>
      <% end %>
      <div>
        <% if teachable.is_a?(Lecture) %>
          <%= teachable.teacher.name %>
        <% else %>
          (Modul)
        <% end %>
      </div>
		</div>
    <%= link_to image_tag('/thyme.png',
                          class: 'card-img-top',
                          alt: 'Card image cap'),
                teachable %>
  	<div class="card-body">
      <% if subscribed && teachable.is_a?(Lecture) %>
        <% if current_user.active_notifications(teachable).size.positive? %>
          <%= current_user.active_notifications(teachable).size %>
          neue Mitteilung(en)
          <br>
        <% end %>
        <% if current_user.active_media_notifications(teachable).size.positive? %>
          <%= current_user.active_media_notifications(teachable).size %>
          neue Medien
          <br>
        <% end %>
        <% if teachable.unread_forum_topics_count(current_user)&.positive? %>
          <%= teachable.unread_forum_topics_count(current_user) %>
          neue Forenbeiträge
        <% end %>
        <% if current_user.active_notifications(teachable).size.zero? &&
            current_user.active_media_notifications(teachable).size.zero? &&
            (teachable.unread_forum_topics_count(current_user) || 0).zero? %>
          Du bist auf dem neuesten Stand.
        <% end %>
      <% end %>
      <% if subscribed && teachable.is_a?(Course) %>
        Du bist auf dem neuesten Stand.
      <% end %>
      <% unless subscribed %>
        <% teachable.course.divisions.each do |d| %>
          <div class="small">
          <%= "#{d.program.subject.name} #{d.program.name} #{d.name}" %>
          </div>
        <% end %>
      <% end %>
  	</div>
  	<div class="card-footer">
    	<small class="text-muted">
    		<% if subscribed %>
          <%= link_to 'abbestellen',
                      '',
                      class: 'text-dark' %>
        <% else %>
          <%= link_to 'abonnieren',
                      '',
                      class: 'text-dark' %>
        <% end %>
    	</small>
  	</div>
	</div>
</div>