<div class="col mb-4">
	<div class="card h-100 bg-mdb-color-lighten-7">
		<div class="card-header bg-mdb-color-lighten-1 text-light">
      <div class="row">
        <div class="col-10">
          <%= link_to teachable.title_no_term,
                      teachable,
                      class: 'text-light' %>
        </div>
        <div class="col-2 text-right">
          <% if subscribed %>
            <%= link_to '',
                        '',
                        class: 'far fa-minus-square text-light no-decoration',
                        data: { toggle: 'tooltip',
                                placement: 'bottom' },
                        title: t('basics.unsubscribe') %>
          <% else %>
            <%= link_to '',
                        '',
                        class: 'far fa-plus-square text-light no-decoration',
                        data: { toggle: 'tooltip',
                                placement: 'bottom' },
                        title: t('basics.subscribe') %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <% if teachable.is_a?(Lecture) %>
          <% unless current %>
            <div class="col-12">
              <%= teachable.term.to_label_short %>
            </div>
          <% end %>
          <div class="col-12">
            <%= teachable.teacher.name %>
          </div>
        <% else %>
          <div class="col-12">
            (<%= t('categories.course') %>)
          </div>
        <% end %>
      </div>
		</div>
    <%= link_to image_tag('/thyme.png',
                          class: 'card-img-top',
                          alt: 'Card image cap'),
                teachable %>

  	<div class="card-body">
      <% unless subscribed %>
        <% teachable.course.divisions.each do |d| %>
          <div class="small">
          <%= "#{d.program.subject.name} #{d.program.name} #{d.name}" %>
          </div>
        <% end %>
      <% end %>
      <div class="teachable-body">
        <% if subscribed && teachable.is_a?(Lecture) %>
          <%= tag.div class: news_color(current_user
                                          .active_notifications(teachable)
                                          .size) do %>
            <%= current_user.active_notifications(teachable).size %>
            <%= tag.i class: 'far fa-envelope mr-3',
                      data: { toggle: 'tooltip',
                              placement: 'bottom' },
                      title: t('admin.lecture.new_notifications') %>
          <% end %>
          <%= tag.div class: news_color(current_user
                                          .active_media_notifications(teachable)
                                          .size) do %>
            <%= current_user.active_media_notifications(teachable).size %>
            <%= tag.i class: 'far fa-folder mr-3',
                      data: { toggle: 'tooltip',
                              placement: 'bottom' },
                      title: t('admin.lecture.new_media') %>
          <% end %>
          <%= tag.div class: news_color(teachable
                                          .unread_forum_topics_count(current_user)
                                          .to_i) do %>
            <%= teachable.unread_forum_topics_count(current_user).to_i %>
            <%= tag.i class: 'far fa-comment-alt mr-3',
                      data: { toggle: 'tooltip',
                              placement: 'bottom' },
                      title: t('admin.lecture.new_posts') %>
          <% end %>
        <% end %>
      </div>
  	</div>
	</div>
</div>