<div class="card bg-mdb-color-lighten-5">
  <div class="card-header bg-mdb-color-lighten-4">
    <h5>
      <%= t('content') %>
    </h5>
  </div>
  <div class="card-body">
    <div class="mb-2">
      <%= t('basics.details') %>
      <%= helpdesk(t('admin.section.info.details'), false) %>
    </div>
    <input id="chapter-details-input" value="<%=chapter.details%>" hidden=true>
                <trix-editor id='chapter-details-trix' name="details"
                value="chapter-details-input"
                ></trix-editor>
    <%= f.hidden_field :lecture_id,
                       value: chapter.lecture.id %>
    <div class="row my-2">
      <div class="col-12">
        <%= t('basics.preview') %>
      </div>
    </div>
    <div class="alert alert-dark bg-mdb-color-lighten-6"
         id="chapter-details-preview">
          <%= raw(chapter.details) %>
    </div>
  </div>
</div>