<div class="row">
  <div class="col-6">
    <h6>
      Kapitel
      <span class="redtext">
        <%= chapter.to_label %>
      </span>
      bearbeiten
    </h6>
  </div>
  <div class="col-6">
    <div id="chapter-basics-warning">
      Achtung, es gibt ungespeicherte Änderungen!
    </div>
  </div>
</div>
<%= form_with model: chapter, html: { id: 'chapter-form' } do |f| %>
  <div class="form-row">
    <div class="col-12 form-group">
      <%= f.label :title, 'Titel' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Hier kannst Du den Titel des Kapitels angeben.">
      </i>
      <%= f.text_field :title, { class: 'form-control' } %>
      <div class="invalid-feedback" id="chapter-title-error">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-10 form-group">
      <%= f.label :predecessor,
                  'Positionierung nach Kapitel' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover" data-trigger="focus"
         title="Info"
         data-content="Hier kannst Du auswählen, an welcher Stelle das Kapitel
         positioniert werden soll, indem Du das Vorgängerkapitel auswählst.">
      </i>
      <%= f.select :predecessor,
                   options_for_select([['am Anfang', 0]] +
                                      lecture.select_chapters -
                                      [[chapter.to_label, chapter.position]],
                                      chapter.position - 1) ,
                                      {}, { class: 'form-control' } %>
    </div>
    <div class="col-2 form-group">
      <%= f.label :display_number,
                  'Anz.nr.' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Wird eine Anzeigenummer angegeben, so überschreibt diese
         die berechnete Nummer. Das macht z.B. Sinn, wenn Du statt
         '§3.2. Mein Abschnitt' lieber 'Anhang A. Mein Abschnitt' als Titel
         haben möchtest.">
      </i>
      <%= f.text_field :display_number, { class: 'form-control' } %>
    </div>
  </div>
  <%= f.hidden_field :lecture_id, value: lecture.id %>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit 'Speichern und zurück', class: 'btn btn-primary' %>
      <button type="button" id="cancel-chapter"
              class="btn btn-secondary">
        abbrechen
      </button>
      <% if chapter.sections.empty? %>
        <%= link_to 'Löschen', chapter_path(chapter),
                    class: 'btn btn-danger',
                    method: :delete,
                    data: { confirm: 'Bist Du sicher?' }%>
      <% end %>
    </div>
  </div>
<% end %>
<hr>
