<div class="row">
  <div class="col-12">
    <h6>
      Kapitel bearbeiten
    </h6>
  </div>
</div>
<%= form_with model: chapter do |f| %>
  <div class="form-row">
    <div class="col-6 form-group">
      <%= f.label :title, 'Titel' %>
      <%= f.text_field :title, { class: 'form-control' } %>
      <div class="invalid-feedback" id="chapter-title-error">
      </div>
    </div>
    <div class="col-6 form-group">
      <%= f.label :predecessor,
                  'Positionierung nach Kapitel' %>
      <%= f.select :predecessor,
                   options_for_select([['am Anfang', 0]] + 
                                      lecture.select_chapters - 
                                      [[chapter.to_label, chapter.position]],
                                      chapter.position - 1) ,
                                      {}, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 form-group">
      <%= f.label :display_number,
                  'Anzeigenummer (falls verschieden von errechneter Nummer)' %>
      <%= f.text_field :display_number, { class: 'form-control' } %>
    </div>
  </div>
  <%= f.hidden_field :lecture_id, value: lecture.id %>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit 'Speichern und zurück', class: 'btn btn-primary' %>
      <button type="button" id="cancel-chapter"
              class="btn btn-secondary">
        abbrechen
      </button>
    </div>
  </div>
<% end %>
<hr>
