<div class="row">
  <div class="col-12">
    <h6>
      <%= t('buttons.create_chapter') %>
    </h6>
  </div>
</div>
<%= form_with model: chapter do |f| %>
  <div class="form-row">
    <div class="col-6 form-group">
      <%= f.label :title, t('basics.title') %>
      <%= helpdesk(t('admin.lecture.info.chapter_title'), false) %>
      <%= f.text_field :title, { class: 'form-control',
                                 id: 'new_chapter_title' } %>
      <div class="invalid-feedback"
           id="new-chapter-title-error">
      </div>
    </div>
    <% if lecture.chapters.exists? %>
      <div class="col-6 form-group">
        <%= f.label :predecessor,
                    t('admin.lecture.insert_after_chapter') %>
        <%= helpdesk(t('admin.lecture.info.insert_after_chapter'), false) %>
        <%= f.select :predecessor,
                     options_for_select([[t('basics.at_the_beginning'), 0]] +
                                        lecture.select_chapters,
                                        lecture.last_chapter_by_position.position) ,
                                 {}, { class: 'form-control' } %>
      </div>
    <% end %>
  </div>
  <%= f.hidden_field :lecture_id, value: lecture.id %>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit t('buttons.save'), class: 'btn btn-primary' %>
      <button type="button" id="cancel-new-chapter"
              class="btn btn-secondary">
        <%= t('buttons.cancel') %>
      </button>
    </div>
  </div>
<% end %>
