<div class="row">
  <div class="col-12">
    <h6>
      Kapitel anlegen
    </h6>
  </div>
</div>
<%= form_with model: chapter do |f| %>
  <div class="form-row">
    <div class="col-6 form-group">
      <%= f.label :title, 'Titel' %>
      <i class="far fa-question-circle helpdesk"
         tabindex="-1"
         data-toggle="popover"
         data-trigger="focus"
         title="Info"
         data-content="Hier kannst Du den Titel des Kapitels angeben.">
      </i>
      <%= f.text_field :title, { class: 'form-control',
                                 id: 'new_chapter_title' } %>
      <div class="invalid-feedback"
           id="new-chapter-title-error">
      </div>
    </div>
    <% if lecture.chapters.exists? %>
      <div class="col-6 form-group">
        <%= f.label :predecessor,
                    'Einfügen nach Kapitel' %>
        <i class="far fa-question-circle helpdesk"
           tabindex="-1"
           data-toggle="popover"
           data-trigger="focus"
           title="Info"
           data-content="Hier kannst Du auswählen, an welcher Stelle das Kapitel
           eingefügt werden soll, indem Du das Vorgängerkapitel auswählst.">
        </i>
        <%= f.select :predecessor,
                     options_for_select([['am Anfang', 0]] +
                                        lecture.select_chapters,
                                        lecture.last_chapter_by_position.position) ,
                                 {}, { class: 'form-control' } %>
      </div>
    <% end %>
  </div>
  <%= f.hidden_field :lecture_id, value: lecture.id %>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit 'Speichern', class: 'btn btn-primary' %>
      <button type="button" id="cancel-new-chapter"
              class="btn btn-secondary">
        abbrechen
      </button>
    </div>
  </div>
<% end %>
