<%= form_with model: @chapter,
              html: { id: 'chapter-form' } do |f| %>
<div class="row p-2">
  <div class="col-3">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        <%= @chapter.to_label %>
      </span>
    </h4>
  </div>
  <div class="col-5">
    <div id="chapter-basics-warning">
      Achtung, es gibt ungespeicherte Änderungen!
      <%= f.submit "Speichern", class: "btn btn-primary" %>
      <button type="button" class="btn btn-secondary ml-2"
              id="chapter-basics-cancel" data-id="<%= @chapter.id %>">
        verwerfen
      </button>
    </div>
  </div>
  <div class="col-4 text-center">
    <%= link_to 'Ansehen', inspect_chapter_path(@chapter),
                class: 'btn btn-primary my-1' %>
    <%= link_to 'zur Vorlesung', edit_lecture_path(@chapter.lecture),
                class: 'btn btn-primary' %>
    <%= link_to 'Kapitel löschen', chapter_path(@chapter),
                method: :delete,
                data: { confirm: 'Bist Du sicher?' },
                class: 'btn btn-danger' %>
  </div>
</div>
<div class="row p-2 mb-3">
  <div class="col-12">
    <span class="pl-2">
      (zur Vorlesung <%= link_to @chapter.lecture.title, edit_lecture_path(@chapter.lecture) %>)
    </span>
  </div>
</div>
  <%= render partial: 'chapters/basics',
             locals: { f: f } %>
<% end %>
<%= render partial: 'sections/accordion',
           locals: { sections: @chapter.sections,
                     chosen_section: @section,
                     chapter: @chapter } %>
<%= render partial: 'tags/modal' %>
