<div class="row p-2">
  <div class="col-8">
    <h4 class="pl-2">
      <span class="badge badge-secondary">
        <%= @chapter.to_label %>
      </span>
    </h4>
  </div>
  <div class="col-4">
    <% if current_user.admin ||
          current_user.in?(@chapter.lecture.editors_with_inheritance) %>
      <%= link_to 'Bearbeiten', edit_chapter_path(@chapter),
                  class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'zur Vorlesung', inspect_lecture_path(@chapter.lecture),
                class: 'btn btn-primary' %>
  </div>
  <div class="col-12">
    <span class="pl-2">
      (zur Vorlesung
      <%= link_to @chapter.lecture.title,
                  inspect_lecture_path(@chapter.lecture) %>)
    </span>
  </div>
</div>
<div class="card">
<div class="card-header">
<div class="row p-2">
  <div class="col-12">
    <h5 class="pl-2">
      Abschnitte
    </h5>
  </div>
</div>
</div>
<div class="card-body">
<div class="row">
<% @chapter.sections.each do |s| %>
  <div class="col-4">
    <div class="card bg-mdb-color-lighten-5">
      <div class="card-header bg-mdb-color-lighten-2">
        <div class="row">
        <div class="col-8">
          <span class="text-light">
            <%= s.to_label %>
          </span>
        </div>
        <div class="col-4">
          <% s.lessons.each do |l| %>
            <%= link_to l.date.day.to_s + '.' + l.date.month.to_s +
                        '.' + l.date.year.to_s, inspect_lesson_path(l),
                        class: 'badge badge-light' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="class-body">
      <div class="row py-4">
        <div class="col-12 ml-4">
          <% s.tags.each do |t| %>
            <%= link_to t.short_title, inspect_tag_path(t), class:'badge badge-light' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
</div>
</div>
