<div class="row">
  <div class="col-12">
    <h2><span class="badge badge-secondary mr-3">Kapitel <%= '#' + @chapter.id.to_s %></span><%= @chapter.to_label %></h2>
  </div>
</div>
<div class="row">
    <div class="col-12">
      Vorlesung:
      <%= link_to @chapter.lecture.to_label, @chapter.lecture %>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 pt-3">
      <%= render partial: 'tags/related_tags', locals: { related_tags: @chapter.tags,
                                                      tags_description: 'Verknüpfte Begriffe' } %>
    </div>
    <div class="col-12 col-md-6 col-lg-4 pt-3">
      <%= render partial: 'lessons/lessons', locals: { lessons: @chapter.lessons,
                                                    lessons_description: 'Verknüpfte Sitzungen' } %>
    </div>
</div>
