<nav>
  <div id="lecture-nav-pills"
    class="nav nav-pills container small-width flex-column flex-sm-row" data-controller="lecture-tabs"
    data-is-vignette-lecture="<%= @is_vignette_lecture %>"
    role="tablist">

    <% tabs.each do |tab| %>
    <button
      id="lecture-nav-<%= tab.name %>"
      type="button"
      class="nav-link lecture-nav-pill-button <%= 'active' if @active_tab == tab.name %>"
      aria-controls="lecture-pane-<%= tab.name %>"
      aria-selected="<%= @active_tab == tab.name %>"
      data-bs-target="#lecture-pane-<%= tab.name %>"
      data-bs-toggle="pill"
      data-cy="<%= tab.name %>-tab-btn"
      data-lecture-tabs-target="tabButton"
      data-tab-name="<%= tab.name %>"
      role="tab"
    >
      <%= tab.label %>
    </button>
    <% end %>

  </div>
</nav>

<div class="tab-content">

  <% tabs.each do |tab| %>
  <div
    id="lecture-pane-<%= tab.name %>"
    class="tab-pane fade <%= 'show active' if @active_tab == tab.name %>"
    aria-labelledby="lecture-nav-<%= tab.name %>"
    data-cy="lecture-pane-<%= tab.name %>"
    role="tabpanel"
    tabindex="0"
  >
    <%= tab %>
  </div>
  <% end %>

</div>
