<figcaption id="annotation-caption">
   <div id="annotation-infobar">
      <!--- ANNOTATION CATEGORY -->
   </div>
   <div id="annotation-comment">
      <!--- ANNOTATION COMMENT -->
   </div>
   <!--- ANNOTATION AREA BUTTONS -->
   <div id="annotation-area-buttons">
      <a class="btn" id="annotation-previous-button" title="<%= t('admin.annotation.previous_annotation') %> (A)">
         <i class="fa fa-arrow-left"></i>
      </a>

      <a class="btn" id="annotation-next-button" title="<%= t('admin.annotation.next_annotation') %> (D)">
         <i class="fa fa-arrow-right"></i>
      </a>

      <a class="btn" id="annotation-goto-button" title="<%= t('admin.annotation.annotation_position') %> (S)">
         <i class="fa fa-map-pin"></i>
      </a>

      <a class="btn" id="annotation-edit-button" title="<%= t('admin.annotation.edit_annotation') %>">
         <i class="fa fa-pen"></i>
      </a>

      <a class="btn" id="annotation-close-button" title="<%= t('admin.annotation.close_annotation_area') %>">
         <i class="far fa-times-circle"></i>
      </a>
   </div>
</figcaption>