<div id="annotation-locales"
  data-permission="<%= t('admin.annotation.warning_message.permission') %>"
  data-note="<%= t('admin.annotation.note') %>"
  data-content="<%= t('admin.annotation.content') %>"
  data-mistake="<%= t('admin.annotation.mistake') %>"
  data-definition="<%= t('admin.annotation.definition') %>"
  data-argument="<%= t('admin.annotation.argument') %>"
  data-strategy="<%= t('admin.annotation.strategy') %>"
  data-presentation="<%= t('admin.annotation.presentation') %>">
</div>
