<% I18n.locale = current_user.locale %>

<div id="annotation-locales"
  data-permission="<%= t('admin.annotation.warning_message.permission') %>"
  data-note="<%= t('admin.annotation.note') %>"
  data-content="<%= t('admin.annotation.content') %>"
  data-mistake="<%= t('admin.annotation.mistake') %>"
  data-definition="<%= t('admin.annotation.definition') %>"
  data-argument="<%= t('admin.annotation.argument') %>"
  data-strategy="<%= t('admin.annotation.strategy') %>"
  data-presentation="<%= t('admin.annotation.presentation') %>"

  data-warning-publishing="<%= t('admin.annotation.warning_message.publishing') %>"
  data-warning-mistake="<%= t('admin.annotation.warning_message.mistake') %>"
  data-warning-one-close-annotation="<%= t('admin.annotation.warning_message.one_close_annotation') %>"
  data-warning-multiple-close-annotations1="<%= t('admin.annotation.warning_message.multiple_close_annotations_1') %>"
  data-warning-multiple-close-annotations2="<%= t('admin.annotation.warning_message.multiple_close_annotations_2') %>">
</div>
