<div id="annotation-form">
  <%= form_with model: @annotation do |f| %>
    <b>Time:</b> &nbsp <%= TimeStamp.new(total_seconds: @total_seconds).hms_colon_string %>

    <br><br>

    <!-- HIDDEN FIELDS -->
    <%= f.hidden_field :medium_id, value: @medium_id %>
    <%= f.hidden_field :total_seconds, value: @total_seconds %>
    <div hidden>
      <div id="annotation_id">
        <%= @annotation.id %>
      </div>
    </div>

    <!-- COMMENT TEXT AREA -->
    <b>Comment:</b>
    <%= f.text_area :comment, class: 'form-control' %>

    <br>

    <!-- COLOR SELECTION -->
    <b>Color:</b>
    <div id="annotation-color-picker">
      <% for i in 1..15 do %>
        <%= f.radio_button :color,
                           annotation_color(i),
                           id: "annotation_color#{i}" %>
        <%= f.label :color,
                    "annotation_color#{i}",
                    for: "annotation_color#{i}" do %>
            <span class="annotation_color<%=i%>"></span>
          <% end %>
      <% end %>
    </div>
    <!-- SIMPLE COLOR PICKER
    <b>Color: &nbsp</b>
    <%= f.color_field :color %> -->

    <br>

    <!-- CATEGORY RADIO BUTTON -->
    <b>Category:</b>
    <div class="form-row ml-2", id="category-radios">
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :category,
                           :note,
                           class: 'custom-control-input' %>
        <%= f.label :category,
                    'note',
                    value: :note,
                    class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :category,
                           :content,
                           class: 'custom-control-input' %>
        <%= f.label :category,
                    'content',
                    value: :content,
                    class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :category,
                           :mistake,
                           class: 'custom-control-input' %>
        <%= f.label :category,
                    'mistake',
                    value: :mistake,
                    class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <%= f.radio_button :category,
                           :presentation,
                           class: 'custom-control-input' %>
        <%= f.label :category,
                    'presentation',
                    value: :presentation,
                    class: 'custom-control-label' %>
      </div>
    </div>

    <br>

    <div id="specific">
      <!-- SPECIFIC CONTENT, DEPENDING ON THE SELECTED CATEGORY, IS INSERTED HERE -->
    </div>

    <br>

    <!-- VISIBLE FOR TEACHER? - CHECKBOX -->
    <% annotations_status = Medium.find_by(id: @medium_id).get_annotations_status %>
    <% if annotations_status == 1 %>
      <%= f.label :visible_for_teacher, class: "checkbox inline" do %>
        <span><b>Visible for teacher? &nbsp</b></span>
        <%= f.check_box :visible_for_teacher %>
      <% end %>
    <% elsif annotations_status == -1 %>
      <%= f.hidden_field :visible_for_teacher, value: false %>
    <% end %>

    <br>

    <span><b>Post as comment? &nbsp</b></span>
    <%= f.check_box :post_as_comment, id: "post-as-comment" %>

    <br>

    <!-- BUTTONS -->
    <% if @annotation.id == nil %>
    <%    button_text = "Create Annotation" %>
    <% else %>
    <%    button_text = "Save Changes" %>
    <% end %>

    <div class="modal-footer">
      <%= f.submit button_text, class: "btn btn-primary", id: "submit-button" %>
      <% if @annotation.id != nil %>
        <button type="button"
                id="delete-button"
                class="btn btn-secondary"
                data-dismiss="modal">
        Delete Annotation
      <% end %>
      <button type="button"
              class="btn btn-secondary"
              data-dismiss="modal">
      <%= t('buttons.cancel') %>
    </div>
  <% end %>
</div>