<b><%= t('admin.annotation.whats_the_problem') %></b>

<div id="content-category-radios" class="form-row ml-2" ,>
  <div class="form-check form-check-inline" ,
    title="<%= t('admin.annotation.definition_tooltip') %>">
    <input id="content-category-definition"
      type="radio"
      class="form-check-input"
      name="annotation[subcategory]"
      value="definition">
    <label class="form-check-label"
      for="content-category-definition">
      <%= t('admin.annotation.definition') %>
    </label>
  </div>
  <div class="form-check form-check-inline" ,
    title="<%= t('admin.annotation.argument_tooltip') %>">
    <input id="content-category-argument"
      type="radio"
      class="form-check-input"
      name="annotation[subcategory]"
      value="argument">
    <label class="form-check-label"
      for="content-category-argument">
      <%= t('admin.annotation.argument') %>
    </label>
  </div>
  <div class="form-check form-check-inline" ,
    title="<%= t('admin.annotation.strategy_tooltip') %>">
    <input id="content-category-strategy"
      type="radio"
      class="form-check-input"
      name="annotation[subcategory]"
      value="strategy">
    <label class="form-check-label"
      for="content-category-strategy">
      <%= t('admin.annotation.strategy') %>
    </label>
  </div>
</div>

<div id="content-specific">
  <!--- SPECIFIC CONTENT, DEPENDING ON THE SELECTED CONTENT CATEGORY, IS INSERTED HERE -->
</div>
