<div id="annotation-form">
  <%= form_with model: @annotation do |f| %>
    <b><%= t('admin.annotation.time') %></b> &nbsp <%= TimeStamp.new(total_seconds: @total_seconds).hms_colon_string %>

    <br><br>

    <!--- HIDDEN FIELDS -->
    <%= f.hidden_field :medium_id, value: @medium_id %>
    <%= f.hidden_field :total_seconds, value: @total_seconds %>
    <div hidden>
      <div id="annotation_id">
        <%= @annotation.id %>
      </div>
       <!--- for prefilling the edit form -->
      <div id="annotation_subtext">
        <%= @annotation.subtext %>
      </div>
    </div>

    <!--- COMMENT TEXT AREA -->
    <b><%= t('admin.annotation.comment') %></b>
    <%= f.text_area :comment, class: 'form-control' %>

    <br>

    <!--- PREVIEW TOGGLE -->
    <div id="preview-toggle">
      <label class="switch">
        <input id="preview-toggle-check" type="checkbox">
        <span class="slider round"></span>
      </label>
      &nbsp
      <%= t('admin.remark.preview') %>
    </div>

    <br>

    <!--- COLOR SELECTION -->
    <b><%= t('admin.annotation.color') %></b>
    <div id="annotation-color-picker">
      <% colors = Annotation.colors %>
      <% for i in 1..15 do %>
        <%= f.radio_button :color,
                           colors[i],
                           id: "annotation_color#{i}" %>
        <%= f.label :color,
                    "annotation_color#{i}",
                    for: "annotation_color#{i}" do %>
            <span class="annotation_color<%=i%>",
                  style="background: <%= colors[i] %>;"></span>
          <% end %>
      <% end %>
    </div>

    <br>

    <!--- CATEGORY RADIO BUTTON -->
    <b><%= t('admin.annotation.category') %></b>
    <div class="form-row ml-2", id="category-radios">
      <div class="form-check form-check-inline",
           title="<%= t('admin.annotation.note_tooltip') %>">
        <%= f.radio_button :category,
                           :note,
                           class: 'form-check-input' %>
        <%= f.label :category,
                    t('admin.annotation.note'),
                    value: :note,
                    class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline",
           title="<%= t('admin.annotation.content_tooltip') %>">
        <%= f.radio_button :category,
                           :content,
                           class: 'form-check-input' %>
        <%= f.label :category,
                    t('admin.annotation.content'),
                    value: :content,
                    class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline",
           title="<%= t('admin.annotation.mistake_tooltip') %>">
        <%= f.radio_button :category,
                           :mistake,
                           class: 'form-check-input' %>
        <%= f.label :category,
                    t('admin.annotation.mistake'),
                    value: :mistake,
                    class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline",
           title="<%= t('admin.annotation.presentation_tooltip') %>">
        <%= f.radio_button :category,
                           :presentation,
                           class: 'form-check-input' %>
        <%= f.label :category,
                    t('admin.annotation.presentation'),
                    value: :presentation,
                    class: 'form-check-label' %>
      </div>
    </div>

    <br>

    <div id="annotation-category-specific">
      <!--- SPECIFIC CONTENT, DEPENDING ON THE SELECTED CATEGORY, IS INSERTED HERE -->
    </div>

    <br>

    <!--- VISIBLE FOR TEACHER? - CHECKBOX -->
    <% annotations_status = Medium.find_by(id: @medium_id).get_annotations_status %>
    <% if annotations_status == 1 %>
      <%= f.label :visible_for_teacher, class: "checkbox inline" do %>
        <span, title="<%= t('admin.annotation.visible_for_teacher_tooltip') %>"><b>
          <%= t('admin.annotation.visible_for_teacher') %> &nbsp
        </b></span>
        <%= f.check_box :visible_for_teacher %>
      <% end %>
      <br>
    <% elsif annotations_status == -1 %>
      <%= f.hidden_field :visible_for_teacher, value: false %>
    <% end %>

    <%= f.label :visible_for_teacher, class: "checkbox inline" do %>
      <span, title="<%= t('admin.annotation.post_as_comment_tooltip') %>"><b>
        <%= t('admin.annotation.post_as_comment') %> &nbsp
      </b></span>
      <%= f.check_box :post_as_comment %>
    <% end %>

    <br>

    <div class="modal-footer">
      <%= f.submit t('buttons.save'), class: "btn btn-primary", id: "annotation-modal-submit-button" %>
      <% if @annotation.id != nil %>
        <button type="button"
                id="delete-button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
        <%= t('buttons.delete') %>
      <% end %>
      <button type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
      <%= t('buttons.cancel') %>
    </div>
  <% end %>
</div>

<div id="warning"
     data-publishing="<%= t('admin.annotation.warning_message.publishing') %>"
     data-mistake="<%= t('admin.annotation.warning_message.mistake') %>"
     data-one-close-annotation="<%= t('admin.annotation.warning_message.one_close_annotation') %>"
     data-multiple-close-annotations1="<%= t('admin.annotation.warning_message.multiple_close_annotations_1') %>"
     data-multiple-close-annotations2="<%= t('admin.annotation.warning_message.multiple_close_annotations_2') %>">
</div>
