<% accordionLabel = "annotations-overview-accordion" %>
<% accordionLabel = "student-#{accordionLabel}" if is_students_annotations %>
<div id="<%= accordionLabel %>" class="accordion">

  <% annotations_by_lecture.each_with_index do |(lecture, annotations), index| %>
  <div class="accordion-item">
    <% collapseLabel="annotation-overview-collapse-#{index}-#{is_students_annotations}" %>

    <!-- Accordion header -->
    <h2 class="accordion-header">
      <button
        type="button"
        class="accordion-button collapsed"
        aria-controls="#<%= collapseLabel %>"
        aria-expanded="true"
        data-bs-target="#<%= collapseLabel %>"
        data-bs-toggle="collapse"
      >
        <%= lecture %> &nbsp;&nbsp;&nbsp; (<%= annotations.length %>)
      </button>
    </h2>

    <!-- Accordion body -->
    <div id="<%= collapseLabel %>" class="accordion-collapse collapse"
      data-bs-parent="#<%= accordionLabel %>">
      <div class="accordion-body">

        <% annotations.each do |annotation| %>
        <!-- Card (as clickable link) -->
        <a style="text-decoration: none;"
          data-cy="annotation-overview-card-link" href="<%= annotation[:link] %>"
          target="_blank">
          <!-- for usage in JS -->
          <% category_str = annotation[:category] if is_students_annotations %>
          <% border_style = annotation_index_border_color(annotation, is_students_annotations) %>

          <div class="annotation-overview-item card mb-3"
            style="<%= border_style %>"
            data-annotation-card-category="<%= category_str %>"
            data-cy="annotation-overview-card">

            <!-- Card header -->
            <div class="card-header d-flex justify-content-between">
              <div>
                <strong>
                  <%= annotation[:category].capitalize %>
                  <% if not annotation[:medium_title].empty? %>
                  | <%= annotation[:medium_title] %>
                  <% end %>
                </strong>
              </div>
              <div class="text-body-secondary font-monospace">
                <em><%= annotation[:medium_date] %></em>
              </div>
            </div>

            <!-- Card body -->
            <div class="card-body">
              <p class="card-text">
                <%= truncate(annotation[:text], length: 100) %>
                <br>
                <small class="text-body-secondary">
                  <%= t('time.last_updated',
                  time_ago: time_ago_in_words(annotation[:updated_at])) %>
                </small>
              </p>
            </div>
          </div>
        </a>
        <% end %>

      </div>
    </div>

  </div>
  <% end %>

</div>
