<%= stylesheet_link_tag 'annotations_overview' %>

<div class="container-md small-width">
  <h2>Your annotations</h2>
  <p>
    This list comprises all annotations you have created across various lectures.
    Click on an annotation to view it.
  </p>

  <% @user_annotations.each do |annotation| %>
    <a href="<%= annotation[:link] %>"
        style="text-decoration: none;">

      <div class="annotation-overview-item card mb-3"
          style='border-color: <%= annotation[:color] %>'>
        <div class="card-header">
          <%= annotation[:category].capitalize %>
        </div>

        <div class="card-body">
          <p class="card-text">
            <%= truncate(annotation[:text], length: 100) %>
            <br>
            <small class="text-body-secondary">
            Last updated <%= time_ago_in_words(annotation[:updated_at]) %> ago
            </small>
          </p>
        </div>
      </div>
      
    </a>
  <% end %>

</div>
