<td id="<%= dom_id(item, :status) %>" class="text-end">
  <% if campaign %>
    <% status_key = campaign.status %>
    <% status_label = t("roster.status_values.campaign_statuses.#{status_key}", default: status_key.humanize) %>
    <% text = t("roster.status_values.campaign", status: status_label) %>
    <% css_class = case status_key
                     when "open" then "bg-light text-success border border-success"
                     when "completed" then "bg-light text-info border border-info"
                     else "bg-light text-secondary border border-secondary"
                     end %>
    <span class="badge <%= css_class %>"><%= text %></span>
  <% end %>

  <% if item.skip_campaigns %>
    <span class="badge bg-light text-dark border border-dark"><%= t("roster.status_values.manual") %></span>
  <% end %>

  <% if !campaign %>
    <% mode = item.self_materialization_mode %>
    <% text = t("roster.status_values.self_materialization.#{mode}", default: mode.humanize) %>

    <% css_class = mode == "disabled" ? "bg-light text-secondary border" : "bg-light text-primary border border-primary" %>
    <span class="badge <%= css_class %>"><%= text %></span>
  <% end %>
</td>

