<div class="row">
  <div class="col-<%= input == question.answer_scheme ? 11 : 12 %>">
    <%= t('admin.quiz.your_answer') %>
    <%= solution_input %>.
    <% if input == question.answer_scheme %>
      <%= t('admin.quiz.correct_statement') %>
    <% else %>
      <%= t('admin.quiz.incorrect_statement') %>
    <% end %>
  </div>
  <% if input == question.answer_scheme %>
    <div class="col-1 text-end">
      <% unless answer.explanation.blank? %>
        <span class="text-end">
          <i class="far fa-question-circle"
             id="reveal-explanation-<%= old_id %>-<%= answer.id %>"
             style="cursor: pointer;"
             data-toggle="tooltip"
             data-placement="right"
             title="<%= t('admin.quiz.why_correct') %>">
          </i>
        </span>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <% if input != question.answer_scheme %>
    <div class="col-12">
      <%= t('admin.quiz.correct_answer_free') %>
      $<%= result %>$.
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-12
       <%= hide_as_class(input == question.answer_scheme || input[answer.id] == answer.value) %>"
       id="explanation-<%= old_id %>-<%= answer.id %>">
    <% unless answer.explanation.blank? %>
      <span class="badge badge-secondary">
        <%= t('admin.quiz.reason') %>:
      </span>
      <%= answer.conditional_explanation(input[answer.id] == answer.value) %>
    <% end %>
  </div>
</div>