<p class="h1">
  <%= t('.greetings',
        name: @resource.name.presence || t('.no_name_fallback')) %>
</p>

<%= t('.instruction') %>

<p>
  <%= link_to t('.change_password'),
              edit_password_url(@resource, reset_password_token: @token,
                                locale: I18n.locale),
              :class => "btn btn-primary mt-3" %>
</p>

<p>
  <%= t('.instruction_2') %>
</p>

<p>
  <%= t('.instruction_3') %>
</p>
