<div data-controller="reorderable-table"
            data-reorderable-table-datasource-map-value='<%= item_json(datasource).to_json %>'>
<table class="table table-sm align-middle mb-2">
                <thead class="bg-grey-lighten-5 text-dark small">
                  <tr>
                  <% configs.each do |config| %>
                    
                      <th class="fw-semibold <%= config[:header_class] %>"><%= config[:header] %></th>
                    
                  <% end %>
                  <th>Action</th>
                </tr>
                </thead>

                <tbody>
                  <% datasource.each do |item| %>
                  <tr>
                    <!-- data columns -->
                    <% configs.each do |col| %>
                    <td class="<%= col[:cell_class] %>"><%= col[:field].call(item) %></td>
                    <% end %>
                    
                    <!-- action column -->
                    <td>
                      <i class="material-icons clickable keyboard_arrow_up w-auto"
   data-action="click->reorderable-table#up"
   data-bs-toggle="tooltip"
           data-placement="right" title="<%= t('admin.item.take_time') %>"
   data-index="<%= item.preference_rank(current_user) %>">
  keyboard_arrow_up
</i>

<i class="material-icons clickable keyboard_arrow_down w-auto"
   data-action="click->reorderable-table#down"
   data-bs-toggle="tooltip"
           data-placement="right" title="<%= t('admin.item.take_time') %>"
   data-index="<%= item.preference_rank(current_user) %>">
  keyboard_arrow_down
</i>


                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
</div>