<div id='new_remark' class='no_display'>
  <div class='row'>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card m-3">
        <div class='card-header'>
           <%= t('admin.remark.create') %>
        </div>
        <div class='card-body'>
          <%= bootstrap_form_with model: remark do |f| %>
            <%= f.text_field :label %>
            <div class='text-center'>
              <%= f.submit t('buttons.save') %>
              <%= link_to t('buttons.cancel'), remarks_path,
                          class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
