<% if c.lectures.empty?  && c.available_extras.blank? %>
  <div class="row">
    <div class="col-12">
      Zu diesem Modul gibt es im Moment noch keine Vorlesungen
      <% if c.kaviar? %>
        und ausschließlich Inhalte für KaViaR.
      <% else %>
        und auch noch keine Inhalte.
      <% end %>
    </div>
  </div>
<% end %>
<% if c.lectures.present? %>
  <div class="row">
    <div class="col-12">
      Primäre Vorlesung:
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% primary_lecture = 'primary_lecture-' + c.id.to_s %>
      <%= f.form_group primary_lecture do %>
        <% c.lectures_by_date.each do |l| %>
          <%= f.radio_button primary_lecture, l.id, label: l.term_teacher_info,
                             data: { course: c.id },
                             checked: l.checked_as_primary_by?(current_user),
                             disabled: !subscribed,
                             inline: true %>
          <% if l.kaviar? %>
            <span class="mr-5 lecture-video-info">
              <i class="fas fa-video"
                 data-toggle="tooltip" data-placement="top"
                 title="Vorlesungsvideos vorhanden">
              </i>
            </span>
          <% end %>
        <% end %>
        <%= f.radio_button primary_lecture, 0, label: "keine",
                           data: { course: c.id },
                           checked: c.primary_lecture(current_user).nil?,
                           disabled: !subscribed,
                           inline: true %>
      <% end %>
    </div>
  </div>
<% end %>
<% if c.lectures.count > 1 %>
  <div id="secondaries-course-<%= c.id %>"
       style="display: <%= show(c.primary_lecture(current_user).present?) %>">
    <div class="row">
      <div class="col-12">
        Weitere Vorlesungen:
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="secondaries-course-<%= c.id %>">
        <%= f.form_group do %>
          <% c.lectures_by_date.each do |l| %>
            <% lecture = 'lecture-' + l.id.to_s %>
            <% if subscribed %>
              <% show_box = hide(l.primary?(current_user)) %>
            <% else %>
              <% show_box = hide(false) %>
            <% end %>
            <div id="<%= 'course-' + c.id.to_s + '-' + l.id.to_s %>"
                 style="display: <%= show_box %>">
              <%= f.check_box lecture, label: l.term_teacher_info,
                              checked: l.checked_as_secondary_by?(current_user),
                              disabled: !subscribed, inline: true %>
              <% if l.kaviar? %>
                <span class="mr-5 lecture-video-info">
                  <i class="fas fa-video"
                    data-toggle="tooltip" data-placement="top"
                    title="Vorlesungsvideos vorhanden">
                  </i>
                </span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if c.available_extras.present? %>
  <div class="row">
    <div class="col-12">
      Weitere Angebote:
    </div>
  </div>
  <div class="row">
    <% if c.sesam? %>
      <div class="col-12">
        <% sesam = 'sesam-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box sesam, label: 'SeSAM',
                         checked: subscribed ? details.sesam? != false : true,
                         disabled: !subscribed %>
        <% end %>
      </div>
    <% end %>
    <% if c.keks? %>
      <div class="col-12">
        <% keks = 'keks-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box keks, label: 'KeKs',
                         checked: subscribed ? details.keks? != false : true,
                         disabled: !subscribed %>
        <% end %>
      </div>
    <% end %>
    <% if c.erdbeere? %>
      <div class="col-12">
        <% erdbeere = 'erdbeere-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box erdbeere, label: 'ErDBeere',
                         disabled: !subscribed,
                         checked: subscribed ? details.erdbeere? != false : true %>
        <% end %>
      </div>
    <% end %>
    <% if c.kiwi? %>
      <div class="col-12">
        <% kiwi = 'kiwi-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box kiwi, label: 'KIWi',
                         checked: subscribed ? details.kiwi? != false : true,
                         disabled: !subscribed %>
        <% end %>
      </div>
    <% end %>
    <% if c.nuesse? %>
      <div class="col-12">
        <% nuesse = 'nuesse-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box nuesse, label: 'NÜSsE',
                         checked: subscribed ? details.nuesse? != false : true,
                         disabled: !subscribed %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
