<% if c.released_lectures.empty? %>
  <div class="row">
    <div class="col-12">
      Zu diesem Modul gibt es im Moment noch keine Vorlesungen.
    </div>
  </div>
<% end %>
<% if c.released_lectures.any? %>
  <div class="row">
    <div class="col-12">
      Primäre Vorlesung:
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% primary_lecture = 'primary_lecture-' + c.id.to_s %>
      <%= f.form_group primary_lecture do %>
        <% c.released_lectures_by_date.each do |l| %>
          <%= f.radio_button primary_lecture,
                             l.id,
                             label: l.term_teacher_info,
                             data: { course: c.id },
                             checked: l.checked_as_primary_by?(current_user),
                             disabled: !subscribed,
                             inline: true %>
        <% end %>
        <%= f.radio_button primary_lecture,
                           0,
                           label: "keine",
                           data: { course: c.id },
                           checked: c.primary_lecture(current_user).nil?,
                           disabled: !subscribed,
                           inline: true %>
      <% end %>
    </div>
  </div>
<% end %>
<% if c.released_lectures.count > 1 %>
  <div id="secondaries-course-<%= c.id %>"
       style="display: <%= show(c.primary_lecture(current_user).present?) %>">
    <div class="row">
      <div class="col-12">
        Weitere Vorlesungen:
      </div>
    </div>
    <div class="row">
      <div class="col-12"
           id="secondaries-course-<%= c.id %>">
        <%= f.form_group do %>
          <% c.released_lectures_by_date.each do |l| %>
            <% lecture = 'lecture-' + l.id.to_s %>
            <% if subscribed %>
              <% show_box = hide(l.primary?(current_user)) %>
            <% else %>
              <% show_box = hide(false) %>
            <% end %>
            <div id="<%= 'course-' + c.id.to_s + '-' + l.id.to_s %>"
                 style="display: <%= show_box %>">
              <%= f.check_box lecture,
                              label: l.term_teacher_info,
                              checked: l.checked_as_secondary_by?(current_user),
                              disabled: !subscribed,
                              inline: true %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
