<%  if c.lectures.empty?  && c.available_extras.blank? %>
  <div class="row">
    <div class="col-12">
      Zu diesem Kurs gibt es im Moment noch keine Inhalte.
    </div>
  </div>
<% end %>
<% if c.lectures.present? %>
  <div class="row">
    <div class="col-12">
      Primäre Vorlesung:
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% primary_lecture = 'primary_lecture-' + c.id.to_s %>
      <%= f.form_group primary_lecture do %>
        <% c.lectures_by_date.each do |l| %>
          <% checked = subscribed ? CourseUserJoin.where(user: @user, course: c)
                                                  .first.primary_lecture_id == l.id : false %>
          <%= f.radio_button primary_lecture, l.id, label: l.term_teacher_info,
                             data: { course: c.id },
                             checked: subscribed ? checked : l.newest?,
                             disabled: !subscribed,
                             inline: true %>
          <% if l.kaviar? %>
            <span class="mr-5" style="position: relative; left: -0.5rem;">
              <i class="fas fa-video"
                 data-toggle="tooltip" data-placement="top"
                 title="Vorlesungsvideos vorhanden">
              </i>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<% if c.lectures.count > 1 %>
  <div class="row">
    <div class="col-12">
      Weitere Vorlesungen:
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="secondaries-course-<%= c.id %>">
      <%= f.form_group do %>
        <% c.lectures_by_date.each do |l| %>
          <% lecture = 'lecture-' + l.id.to_s %>
          <% checked = @user.lectures.where(id: l.id).present? %>
          <% if subscribed %>
            <% show_box = hide(CourseUserJoin.where(user: @user, course: c).first.primary_lecture_id == l.id) %>
          <% else %>
            <% show_box = hide(l.newest?) %>
          <% end %>
          <div id="<%= 'course-' + c.id.to_s + '-' + l.id.to_s %>"
               style="display: <%= show_box %>">
            <%= f.check_box lecture, label: l.term_teacher_info,
                            checked: subscribed ? checked : l.newest?,
                            disabled: !subscribed, inline: true %>
            <% if l.kaviar? %>
              <span class="mr-5" style="position: relative; left: -0.5rem;">
                <i class="fas fa-video"
                   data-toggle="tooltip" data-placement="top"
                   title="Vorlesungsvideos vorhanden">
                 </i>
              </span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<% if c.available_extras.present? %>
  <div class="row">
    <div class="col-12">
      Weitere Angebote:
    </div>
  </div>
  <div class="row">
    <% if c.news.present? %>
      <div class="col-12">
        <% news = 'news-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box news, label: 'Newsfeed',
                         checked: subscribed ? details.news? != false : true,
                         disabled: !subscribed %>
        <% end %>
      </div>
    <% end %>
    <% if c.sesam? %>
      <div class="col-12">
        <% sesam = 'sesam-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box sesam, label: 'SeSAM',
                         checked: subscribed ? details.sesam? != false : true,
                         disabled: !subscribed %>
        <% end %>
      </div>
    <% end %>
    <% if c.keks? %>
      <div class="col-12">
        <% keks = 'keks-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box keks, label: 'KeKs',
                         checked: subscribed ? details.keks? != false : true,
                         disabled: !subscribed %>
        <% end %>
      </div>
    <% end %>
    <% if c.erdbeere? %>
      <div class="col-12">
        <% erdbeere = 'erdbeere-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box erdbeere, label: 'ErDBeere',
                         disabled: !subscribed,
                         checked: subscribed ? details.erdbeere? != false : true %>
        <% end %>
      </div>
    <% end %>
    <% if c.kiwi? %>
      <div class="col-12">
        <% kiwi = 'kiwi-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box kiwi, label: 'KIWi',
                         checked: subscribed ? details.kiwi? != false : true,
                         disabled: !subscribed %>
        <% end %>
      </div>
    <% end %>
    <% if c.reste? %>
      <div class="col-12">
        <% reste = 'reste-' + c.id.to_s %>
        <%= f.form_group do %>
          <% f.check_box reste, label: 'RestE',
                         checked: subscribed ? details.reste? != false : true,
                         disabled: !subscribed %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
