<div class="row">
  <div class="col-12">
    <h6>
      <%= t('profile.lectures_and_courses') %>
    </h6>
    <%= f.form_group :email_notifications,
                      label: { text: t('profile.email_notifications') } do %>
      <%= f.check_box :email_for_announcement,
                      label: t('profile.email_for_announcement'),
                      custom: true %>
      <%= f.check_box :email_for_medium,
                      label: t('profile.email_for_medium'),
                      custom: true %>
      <%= f.check_box :email_for_teachable,
                      label: t('profile.email_for_teachable'),
                      custom: true %>
    <% end %>
  </div>
  <div class="col-12">
    <h6>
      <%= t('profile.submissions') %>
    </h6>
    <%= f.form_group :submission_emails,
                      label: { text: t('profile.email_for_submissions') } do %>
      <%= f.check_box :email_for_submission_upload,
                      label: t('profile.email_for_submission_upload'),
                      custom: true %>
      <%= f.check_box :email_for_submission_removal,
                      label: t('profile.email_for_submission_removal'),
                      custom: true %>
      <%= f.check_box :email_for_submission_join,
                      label: t('profile.email_for_submission_join'),
                      custom: true %>
      <%= f.check_box :email_for_submission_leave,
                      label: t('profile.email_for_submission_leave'),
                      custom: true %>
      <%= f.check_box :email_for_correction_upload,
                      label: t('profile.email_for_correction_upload'),
                      custom: true %>
      <%= f.check_box :email_for_submission_decision,
                      label: t('profile.email_for_submission_decision'),
                      custom: true %>
    <% end %>
  </div>
  <div class="col-12">
    <h6>
      <%= t('profile.miscellaneous') %>
    </h6>
    <%= f.form_group :other_email_notifications,
                      label: { text: t('profile.email_notifications') } do %>
      <%= f.check_box :email_for_news,
                      label: t('profile.email_for_news'),
                      custom: true %>
    <% end %>
  </div>
</div>