<!-- Modal -->
<div id="requestDataModal" class="modal fade" aria-hidden="true"
  aria-labelledby="exampleModalLabel" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 id="exampleModalLabel" class="modal-title fs-5">
          <%= t('profile.my_data') %>
        </h1>
        <button type="button" class="btn-close"
          aria-label="Close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <%= t('profile.data_explanation') %>
      </div>

      <div class="modal-footer">
        <%= link_to t('profile.data_request'),
                      request_data_path,
                      class: "btn btn-primary",
                      id: "request-data-btn",
                      type: "button",
                      data: { 'bs-dismiss': 'modal' },
        remote: true %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Notification upon successful data retrieval -->
<div class="position-fixed top-50 start-50 translate-middle" style="z-index: 1050;"
  aria-atomic="true" aria-live="polite">
  <div
    id="request-data-toast"
    class="toast profile-card"
    aria-atomic="true"
    aria-live="assertive"
    data-bs-autohide="false"
    role="alert"
  >

    <div class="toast-header">
      <strong class="me-auto"><%= t('profile.data_request') %></strong>
      <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="toast"></button>
    </div>

    <div class="toast-body">
      <%= t('profile.data_request_sent') %>
    </div>

  </div>
</div>
