<%= bootstrap_form_with url: profile_update_path, scope: 'user' do |f| %>
  <div class="row mb-3">
    <div class="col-12">
      <div class="card bg-light" id="accordion">
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              <h5>
                Module
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <% Course.all.each do |c| %>
            <% subscribed = @user.courses.where(id: c.id).present? %>
            <% details = CourseUserJoin.where(user: @user, course: c).first if subscribed %>
            <div class="card" id="course-card-<%= c.id %>">
              <div class="card-header %>"
                   id="course-heading-<%= c.id %>">
                <div class="row">
                  <% course = 'course-' + c.id.to_s %>
                  <div class="col-8">
                    <%= f.form_group course do %>
                      <%= f.check_box course, label: c.title, id: course,
                                      checked: subscribed,
                                      data: { course: c.id } %>
                    <% end %>
                  </div>
                  <div class="col-4 text-right">
                    <button id="details-course-<%= c.id %>" type="button"
                            class="btn btn-sm btn-secondary rounded collapsed m-1"
                            data-toggle="collapse"
                            data-target="#collapse-course-<%= c.id %>"
                            aria-expanded="true"
                            aria-controls="collapse-course-<%= c.id %>">
                      Details
                    </button>
                  </div>
                </div>
              </div>
              <div id="collapse-course-<%= c.id %>" class="collapse"
                   aria-labelledby="course-heading-<%= c.id %>"
                   data-parent="#accordion"
                  data-course="<%= c.id %>">
                <div class="card-body" id="course-body-<%= c.id %>">
                  <div class="row">
                    <% if c.kaviar %>
                      <div class="col-12">
                        Videoaufzeichnung aus dem Semester:
                      </div>
                      <div class="col-12">
                        <%= f.form_group do %>
                          <% c.kaviar_lectures_by_date.each do |l| %>
                          <% lecture = 'lecture-' + l.id.to_s %>
                          <% checked = @user.lectures.where(id: l.id).present? %>
                          <%= f.check_box lecture, label: l.term.to_label_short,
                                          checked: subscribed ? checked : l.newest_kaviar?,
                                          disabled: !subscribed,
                                          inline: true %>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                    <% if c.available_extras.present? %>
                      <div class="col-12">
                        Weitere Angebote:
                      </div>
                      <% if c.news.present? %>
                        <div class="col-12">
                          <% news = 'news-' + c.id.to_s %>
                          <%= f.form_group do %>
                            <% f.check_box news, label: 'Newsfeed',
                                          checked: subscribed ? details.news : true,
                                          disabled: !subscribed %>
                          <% end %>
                        </div>
                      <% end %>
                      <% if c.sesam %>
                        <div class="col-12">
                          <% sesam = 'sesam-' + c.id.to_s %>
                          <%= f.form_group do %>
                            <% f.check_box sesam, label: 'SeSAM',
                                           checked: subscribed ? details.sesam : true,
                                           disabled: !subscribed %>
                          <% end %>
                        </div>
                      <% end %>
                      <% if c.keks %>
                        <div class="col-12">
                          <% keks = 'keks-' + c.id.to_s %>
                          <%= f.form_group do %>
                            <% f.check_box keks, label: 'KeKs',
                                           checked: subscribed ? details.keks : true,
                                           disabled: !subscribed %>
                          <% end %>
                        </div>
                      <% end %>
                      <% if c.erdbeere %>
                        <div class="col-12">
                          <% erdbeere = 'erdbeere-' + c.id.to_s %>
                          <%= f.form_group do %>
                            <% f.check_box erdbeere, label: 'ErDBeere',
                                           disabled: !subscribed,
                                           checked: subscribed ? details.erdbeere : true %>
                          <% end %>
                        </div>
                      <% end %>
                      <% if c.kiwi %>
                        <div class="col-12">
                          <% kiwi = 'kiwi-' + c.id.to_s %>
                          <%= f.form_group do %>
                            <% f.check_box kiwi, label: 'KIWi',
                                           checked: subscribed ? details.kiwi : true,
                                           disabled: !subscribed %>
                          <% end %>
                        </div>
                      <% end %>
                      <% if c.reste %>
                        <div class="col-12">
                          <% reste = 'reste-' + c.id.to_s %>
                          <%= f.form_group do %>
                            <% f.check_box reste, label: 'RestE',
                                         checked: subscribed ? details.reste : true,
                                         disabled: !subscribed %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="card bg-light">
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              <h5>
                Einstellungen
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <%= f.form_group :subscription_type,
                                label: { text: 'MaMpf liefert eine Vielzahl von ' +
                                               'verknüpften Inhalten. Ich möchte ' +
                                               'verknüpfte Inhalte' } do %>
                <%= f.radio_button :subscription_type, 1,
                                   label: 'auch aus allen Modulen sehen, die sich ' +
                                          'inhaltlich vor den von mir abonnierten ' +
                                          'Modulen einsortieren.',
                                   checked: @user.subscription_type == 1 || @user.subscription_type.nil? %>
                <%= f.radio_button :subscription_type, 2,
                                   label: "aus allen Modulen sehen.",
                                   checked: @user.subscription_type == 2 %>
                <%= f.radio_button :subscription_type, 3,
                                   label: 'ausschließlich aus den von mir abonnierten ' +
                                          'Modulen sehen.',
                                   checked: @user.subscription_type == 3 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6 col-lg-2">
              <h5>
                Account
              </h5>
            </div>
            <div class="col-6 col-lg-10 text-right">
              <% if @user.edited_profile %>
                <%= link_to "Passwort ändern", edit_user_registration_path,
                            class: "btn btn-outline-secondary mb-2" %>
              <% end %>
              <%= link_to 'Account löschen', user_registration_path,
                          class: "btn btn-outline-danger mb-2",
                          data: { confirm: 'Bist Du sicher?' }, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <%= f.submit "Profil updaten", class: 'btn btn-info' %>
    </div>
  </div>
<% end %>
