<div class="row">
  <div class="col-12">
    <%= f.form_group :locale,
                    label: { text: t('profile.locale') } do %>
      <% I18n.available_locales.each do |locale| %>
        <%= f.radio_button :locale,
                           locale.to_s,
                           label: t('locales.' + locale.to_s,
                                    locale: current_user.locale),
                           custom: true %>
      <% end %>
    <% end %>
  </div>
  <div class="col-12">
    <%= f.form_group :subscription_type,
                      label: { text: t('profile.content_info') } do %>
      <%= f.radio_button :subscription_type, 1,
                         label: t('profile.subscription_mixed'),
                         checked: @user.subscription_type == 1 ||
                                  @user.subscription_type.nil?,
                         custom: true %>
      <%= f.radio_button :subscription_type, 2,
                         label: t('profile.subscription_all'),
                         checked: @user.subscription_type == 2,
                         custom: true %>
      <%= f.radio_button :subscription_type, 3,
                         label: t('profile.subscription_strict'),
                         checked: @user.subscription_type == 3,
                         custom: true %>
    <% end %>
  </div>
</div>
