<% Course.includes(lectures: [:term, :teacher]).all.natural_sort_by(&:title)
         .each do |c| %>
  <% subscribed = c.subscribed_by?(@user) %>
  <div class="card"
       id="course-card-<%= c.id %>"
       style="display: none;">
    <div class="card-header clickable"
         id="course-heading-<%= c.id %>"
         data-toggle="collapse"
         data-target="#collapse-course-<%= c.id %>">
      <div class="row">
        <div class="col-12">
          <%= tag.i class: [circle_icon(subscribed), 'mr-2', 'text-dark',
                            'courseSubInfo'],
                    data: { course: c.id } %>
          <%= c.title %>
        </div>
      </div>
    </div>
    <div id="collapse-course-<%= c.id %>"
         class="collapse collapseCourse"
         aria-labelledby="course-heading-<%= c.id %>"
         data-parent="#accordion"
         data-course="<%= c.id %>">
      <div class="card-body"
           id="course-body-<%= c.id %>">
        <%= render partial: 'profile/details',
                   locals: { c: c,
                             f: f,
                             subscribed: subscribed } %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="accordion col-12"
       id="subscriptionsAccordion">
    <% Program.includes(divisions: [courses: [lectures: [:term, :teacher]]])
              .select { |p| p.courses.any? }.each do |p| %>
      <div class="card">
        <div class="card-header clickable"
             data-toggle="collapse"
             data-target="#program-<%= p.id %>-collapse">
          <%= p.name_with_subject %>
        </div>
        <div id="<%= 'program-' + p.id.to_s + '-collapse' %>"
             class="collapse programCollapse"
             data-program="<%= p.id %>"
             data-parent="#subscriptionsAccordion">
          <div class="card-body">
            <%= render partial: 'profile/divisions',
                       locals: { divisions: p.divisions.select { |p| p.courses.any? },
                                 f: f } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>