<div class="row">
  <div class="col-12">
    <%= f.form_group :locale,
                    label: { text: t('profile.locale') } do %>
      <% I18n.available_locales.each do |locale| %>
        <%= f.radio_button :locale,
                           locale.to_s,
                           label: t('locales.' + locale.to_s,
                                    locale: current_user.locale),
                           custom: true %>
      <% end %>
    <% end %>
  </div>
  <div class="col-12">
    <%= f.form_group :subscription_type,
                      label: { text: t('profile.content_info') } do %>
      <%= f.radio_button :subscription_type, 1,
                         label: t('profile.subscription_mixed'),
                         checked: @user.subscription_type == 1 ||
                                  @user.subscription_type.nil?,
                         custom: true %>
      <%= f.radio_button :subscription_type, 2,
                         label: t('profile.subscription_all'),
                         checked: @user.subscription_type == 2,
                         custom: true %>
      <%= f.radio_button :subscription_type, 3,
                         label: t('profile.subscription_strict'),
                         checked: @user.subscription_type == 3,
                         custom: true %>
    <% end %>
  </div>
  <div class="col-12">
    <%= f.form_group :email_notifications,
                      label: { text: t('profile.email_notifications') } do %>
      <%= f.check_box :email_for_announcement,
                      label: t('profile.email_for_announcement'),
                      custom: true %>
      <%= f.check_box :email_for_medium,
                      label: t('profile.email_for_medium'),
                      custom: true %>
      <%= f.check_box :email_for_teachable,
                      label: t('profile.email_for_teachable'),
                      custom: true %>
      <%= f.check_box :email_for_news,
                      label: t('profile.email_for_news'),
                      custom: true %>
    <% end %>
  </div>
  <div class="col-12">
    <%= f.form_group :submission_emails,
                      label: { text: t('profile.email_for_submissions') } do %>
      <%= f.check_box :email_for_submission_upload,
                      label: t('profile.email_for_submission_upload'),
                      custom: true %>
      <%= f.check_box :email_for_submission_removal,
                      label: t('profile.email_for_submission_removal'),
                      custom: true %>
      <%= f.check_box :email_for_submission_join,
                      label: t('profile.email_for_submission_join'),
                      custom: true %>
      <%= f.check_box :email_for_submission_leave,
                      label: t('profile.email_for_submission_leave'),
                      custom: true %>
      <%= f.check_box :email_for_correction_upload,
                      label: t('profile.email_for_correction_upload'),
                      custom: true %>
      <%= f.check_box :email_for_submission_decision,
                      label: t('profile.email_for_submission_decision'),
                      custom: true %>
    <% end %>
  </div>

</div>
