<% Course.includes(lectures: [:term, :teacher]).all.natural_sort_by(&:title)
         .each do |c| %>
  <% subscribed = c.subscribed_by?(@user) %>
  <div class="card"
       id="course-card-<%= c.id %>"
       style="display: none;">
    <div class="card-header"
         id="course-heading-<%= c.id %>">
      <div class="row">
        <div class="col-12">
          <%= tag.i class: [circle_icon(subscribed), 'mr-2', 'text-dark'] %>
          <%= link_to c.title,
                      "#collapse-course-#{c.id}",
                      class: 'text-dark',
                      data: { toggle: 'collapse',
                              target: "#collapse-course-#{c.id}" } %>
        </div>
      </div>
    </div>
    <div id="collapse-course-<%= c.id %>"
         class="collapse collapseCourse"
         aria-labelledby="course-heading-<%= c.id %>"
         data-parent="#accordion"
         data-course="<%= c.id %>">
      <div class="card-body"
           id="course-body-<%= c.id %>">
        <%= render partial: 'profile/details',
                   locals: { c: c,
                             f: f,
                             subscribed: subscribed } %>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="accordion col-12"
       id="subscriptionsAccordion">
    <% Program.includes(divisions: [courses: [lectures: [:term, :teacher]]])
              .select { |p| p.courses.any? }.each do |p| %>
      <div class="card">
        <div class="card-header">
          <%= link_to p.name_with_subject,
                      '#program-' + p.id.to_s + '-collapse',
                      class: "programCollapseButton",
                      data: { toggle: 'collapse',
                              project: p.id } %>
        </div>
        <div id="<%= 'program-' + p.id.to_s + '-collapse' %>"
             class="collapse programCollapse"
             data-project="<%= p.id %>"
             data-parent="#subscriptionsAccordion">
          <div class="card-body">
            <%= render partial: 'profile/divisions',
                       locals: { divisions: p.divisions.select { |p| p.courses.any? },
                                 f: f } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>