<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <label class="form-label fw-bold"><%= t('profile.locale') %></label>
      <% I18n.available_locales.each do |locale| %>
        <% cy_label = "locale-#{locale}-checkbox" %>
        <div class="form-check">
          <%= f.radio_button :locale, locale.to_s, class: 'form-check-input', "data-cy": cy_label %>
          <%= f.label :locale, t('locales.' + locale.to_s, locale: current_user.locale), 
                      value: locale.to_s, class: 'form-check-label', "data-cy": cy_label %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-12">
    <div class="mb-3">
      <label class="form-label"><%= t('profile.content_info') %></label>
      <div class="form-check">
        <%= f.radio_button :subscription_type, 2, class: 'form-check-input',
                           checked: @user.subscription_type == 2 %>
        <%= f.label :subscription_type, t('profile.subscription_all'), 
                    value: 2, class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= f.radio_button :subscription_type, 3, class: 'form-check-input',
                           checked: @user.subscription_type == 3 %>
        <%= f.label :subscription_type, t('profile.subscription_strict'), 
                    value: 3, class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= f.radio_button :subscription_type, 1, class: 'form-check-input',
                           checked: @user.subscription_type == 1 || @user.subscription_type.nil? %>
        <%= f.label :subscription_type, (t('profile.subscription_mixed') + helpdesk(t('profile.subscription_mixed_example'), false)).html_safe,
                    value: 1, class: 'form-check-label' %>
      </div>
    </div>
  </div>
</div>
