<%= stylesheet_link_tag 'profile' %>
<%= javascript_include_tag 'profile' %>

<div class="container-md">

  <div class="row mb-3">

    <!-- 🌟 Voucher -->
    <div class="d-flex justify-content-center">
      <div class="card profile-card" data-cy="redeem-voucher-card">
        <div class="voucher-redemption-pattern"></div>
        <div class="card-body" id="redeem-voucher">
          <h5 class="card-title">
            <%= t('profile.redeem_voucher') %>
          </h5>
          <%= render partial: 'profile/verify_voucher' %>
        </div>
      </div>
    </div>

  </div>

  <%= bootstrap_form_with url: profile_update_path, scope: 'user',
                        html: { id: 'profileForm'} do |f| %>

  <div class="row display-flex mb-3">

    <!-- ⭕ Profile changed warning -->
    <div class="alert alert-secondary" id="profileChange">
      <div class="profileChangeWarning"
           style="display: flex; justify-content: space-between;">
        <div>
          <%= t('profile.changes_made') %>
        </div>
        <div>
          <%= f.submit t('profile.update'), class: 'btn btn-info' %>
        </div>
      </div>
    </div>

    <!-- 🌟 Account -->
    <div class="col-12 col-md-6 mb-3 mb-md-0">
      <div class="card profile-card">
        <div class="card-header">
          <h5 class="mb-0">
            <%= t('profile.account') %>
          </h5>
        </div>

        <div class="card-body">
          <div class="mb-3">
            <%= f.label :name,
                        t('profile.name'),
                        class: "form-label" %>
            <%= helpdesk(t('profile.name_information'), true) %>
            <%= f.text_field_without_bootstrap :name,
                                               class: 'form-control' %>
            <div class="invalid-feedback"
                id="username-error">
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :name_in_tutorials,
                        t('profile.name_in_tutorials'),
                        class: "form-label" %>
            <%= helpdesk(t('profile.name_in_tutorials_information'), true) %>
            <%= f.text_field_without_bootstrap :name_in_tutorials,
                                              class: 'form-control' %>
          </div>

          <%= render partial: 'profile/subscription_type', locals: { f: f } %>
          <%= render partial: 'profile/account' %>
        </div>
      </div>
    </div>

    <!-- 🌟 Notifications -->
    <div class="col-12 col-md-6 mb-3 mb-md-0">
      <div class="card profile-card">
        <div class="card-header">
          <h5 class="mb-0">
            <%= t('profile.email_notifications_header') %>
          </h5>
        </div>

        <div class="card-body">
          <%= render partial: 'profile/email_notifications' , locals: { f: f } %>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- 🌟 Courses -->
    <div class="col">
      <div class="card profile-card">
        <div class="card-header">
          <h5 class="mb-0">
            <%= t('profile.courses') %>
          </h5>
        </div>
    
        <div class="card-body">
          <%= render partial: 'profile/subscriptions' , locals: { f: f } %>
        </div>
      </div>
    </div>

  </div>

  <% end %>

</div>

<!-- 🔘 Delete Account Modal -->
<%= render partial: 'shared/generic_modal',
           locals: { sort: 'deleteAccount',
                     title: t('profile.delete_account') } %>

<!-- 🔘 User Request Data Modal -->
<%= render partial: 'profile/request_data_modal' %>
