<%= form_with url: media_search_path,
              scope: 'search',
              remote: true,
              method: :get do |f| %>
  <div class="row p-2">
    <div class="col-6 col-lg-3 mb-3">
      <%= f.label :types, t('basics.type'),
           class: 'form-label' %>
      <%= helpdesk(t('admin.medium.info.search_type'), true) %>
      <%= f.select :types,
                   options_for_select(media_sorts_select(purpose),
                                      sort_preselect(purpose)),
                   {},
                   { id: 'search_media_types',
                     multiple: purpose.in?(['media', 'import']),
                     class: 'selectize',
                     disabled: purpose.in?(['media', 'clicker']),
                     required: true } %>
      <% if purpose == 'clicker' %>
        <%= f.hidden_field :types, value: ['Question'] %>
      <% end %>
      <% if purpose == 'media' %>
        <div class="form-check mb-2">
          <%= f.check_box :all_types,
                          id: 'search_all_media_types',
                          class: 'form-check-input',
                          checked: purpose.in?(['media', 'clicker']),
                          data: { id: 'search_media_types'} %>
          <%= f.label :all_media_types,
                      t('basics.all'),
                      { class: 'form-check-label' } %>
        </div>
      <% else %>
        <%= f.hidden_field :all_types, value: '0' %>
      <% end %>
    </div>
    <div class="col-6 col-lg-3 mb-3">
      <%= f.label :teachable_ids, t('basics.associated_to'),
                  class: 'form-label' %>
      <%= helpdesk(t('admin.medium.info.search_teachable'), true) %>
      <%= f.select :teachable_ids,
                   grouped_options_for_select(grouped_teachable_list_alternative),
                   { prompt: t('basics.select')},
                   { multiple: true,
                     class: 'selectize',
                     disabled: true,
                     required: true } %>
      <div class="form-check mb-2">
        <%= f.check_box :all_teachables,
                        class: 'form-check-input',
                        checked: true,
                        data: { id: 'search_teachable_ids' } %>
        <%= f.label :all_teachables,
                    t('basics.all'),
                    { class: 'form-check-label' } %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :teachable_inheritance,
                           '1',
                           checked: true,
                           class: 'form-check-input' %>
        <%= f.label :teachable_inheritance,
                    t('basics.with_inheritance'),
                    value: '1',
                    class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :teachable_inheritance,
                           '0',
                           class: 'form-check-input' %>
        <%= f.label :teachable_inheritance,
                    t('basics.without_inheritance'),
                    value: '0',
                    class: 'form-check-label' %>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-3">
      <%= f.label :tag_ids,
                  t('basics.related_tags'),
                  class: 'form-label' %>
      <%= helpdesk(t('admin.medium.info.search_tags'), true) %>
      <%= f.select :tag_ids,
                   options_for_select([[]]),
                   { prompt: t('basics.select')},
                   { multiple: true,
                     class: 'selectize',
                     disabled: true,
                     required: true,
                     data: { filled: false,
                             ajax: true,
                             model: 'tag',
                             locale: I18n.locale,
                             placeholder: t('basics.enter_two_letters'),
                             no_results: t('basics.no_results') } } %>
      <div class="form-check mb-2">
        <%= f.check_box :all_tags,
                        class: 'form-check-input',
                        checked: true,
                        id: 'search-all-media-tags',
                        data: { id: 'search_tag_ids' } %>
        <%= f.label :all_tags,
                    t('basics.all'),
                    { class: 'form-check-label' } %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :tag_operator,
                           'or',
                           checked: true,
                           id: 'search-media-or-tag-operator',
                           class: 'form-check-input' %>
        <%= f.label :tag_operator,
                    t('basics.OR'),
                    value: 'or',
                    class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :tag_operator,
                           'and',
                           id: 'search-media-and-tag-operator',
                           class: 'form-check-input' %>
        <%= f.label :tag_operator,
                    t('basics.AND'),
                    value: 'and',
                    class: 'form-check-label' %>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-3">
      <%= f.label :editor_ids, t('basics.editors'),
                  class: 'form-label' %>
      <%= helpdesk(t('admin.medium.info.search_editors'), true) %>
      <%= f.select :editor_ids,
                   options_for_select(add_prompt(User.only_editors_selection)),
                   {},
                   { id: 'search_media_editor_ids',
                     multiple: true,
                     class: 'selectize',
                     disabled: true,
                     required: true } %>
      <div class="form-check mb-2">
        <%= f.check_box :all_editors,
                        id: 'search_all_media_editors',
                        class: 'form-check-input',
                        checked: true,
                        data: { id: 'search_media_editor_ids' } %>
        <%= f.label :all_media_editors,
                    t('basics.all'),
                    { class: 'form-check-label' } %>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-3">
      <%= f.label :fulltext, t('basics.fulltext'),
                  class: 'form-label' %>
      <%= helpdesk(t('admin.medium.info.search_fulltext'), false) %>
      <%= f.text_field :fulltext,
                        id: 'media_fulltext',
                        class: 'form-control',
                        placeholder: t('search.media.title_placeholder') %>
    </div>
    <div class="col-6 col-lg-3 form-.group">
      <%= f.label :access, t('basics.access_rights'),
                  class: 'form-label' %>
      <%= f.select :access,
                   options_for_select([[t('access.irrelevant'), 'irrelevant'],
                                       [t('access.all'), 'all'],
                                       [t('access.users'), 'users'],
                                       [t('access.subscribers'), 'subscribers'],
                                       [t('access.locked'), 'locked'],
                                       [t('access.unpublished'), 'unpublished']],
                                       ['irrelevant']),
                   {},
                   { class: 'form-select'} %>
    </div>
    <% unless purpose == 'import' %>
      <div class="col-6 col-lg-3 mb-3">
        <%= f.label :answers_count, t('basics.answer_count'),
                    class: 'form-label' %>
        <%= helpdesk(t('admin.medium.info.answer_count'), false) %>
        <%= f.select :answers_count,
                     options_for_select([[t('access.irrelevant'), 'irrelevant'],
                                         [1,1],[2,2],[3,3],[4,4],[5,5], [6,6],
                                         ['>6', 7]],['irrelevant']),
                     {},
                     { class: 'form-select'} %>

      </div>
    <% end %>
    <div class="col-6 col-lg-3 mb-3">
      <%= f.label :per, t('basics.hits_per_page'),
                  class: 'form-label' %>
      <%= f.select :per,
                   options_for_select([[10,10],[20,20],[50,50]],[10]),
                   {},
                   { id: 'media_per',
                     class: 'form-select'} %>

    </div>
  </div>
  <%= f.hidden_field :purpose, value: purpose %>
  <%= f.hidden_field :results_as_list,
                     value: 'true' %>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <%= f.submit t('basics.search'),
                   class: 'btn btn-primary' %>
      <% if purpose.in?(['clicker', 'import']) %>
        <button type="button"
                class="btn btn-secondary"
                id="cancelSearch"
                data-purpose="<%= purpose %>">
          <%= t('buttons.cancel') %>
        </button>
      <% end %>
    </div>
  </div>
<% end %>