<!-- filepath: /home/denis/mampf/app/components/search/multi_select_component.html.erb -->
<div class="<%= column_class %> mb-3">
  <%= form.label name, label, class: "form-label" %>
  <% if help_text %>
    <%= helpers.helpdesk(help_text, true) %>
  <% end %>

  <%= form.select name, options_for_select(collection), {}, options %>

  <div class="form-check mb-2">
    <%= form.check_box all_toggle_name,
                      class: "form-check-input",
                      checked: true,
                      data: { id: element_id } %>
    <%= form.label all_toggle_name,
                  I18n.t("basics.all"),
                  class: "form-check-label" %>
  </div>

  <% if content %>
    <%= capture(self, &content) %>
  <% end %>
</div>