<!-- filepath: /home/denis/mampf/app/components/search/multi_select_component.html.erb -->
<div class="<%= column_class %> mb-3">
  <%= form.label name, label, class: "form-label" %>
  <% if help_text %>
    <%= helpers.helpdesk(help_text, true) %>
  <% end %>

  <%= form.select name,
                  options_html,
                  select_tag_options,
                  select_html_options %>
<% unless respond_to?(:skip_all_checkbox?) && skip_all_checkbox? %>
  <div class="form-check mb-2">
    <%= form.check_box all_toggle_name,
                       class: "form-check-input",
                       checked: true,
                       data: { id: all_checkbox_id } %>
    <%= form.label all_toggle_name,
                   all_checkbox_label,
                   class: "form-check-label" %>
  </div>
<% end %>
  <% if content %>
    <%= capture(self, &content) %>
  <% end %>
</div>