<title>
  <%= full_title(yield(:title)) %>
</title>

<link rel="manifest" href="/manifest.json">

<%= csrf_meta_tags %>
<%= vite_stylesheet_tag "application.scss", media: "all", "data-turbo-track": "reload" %>

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css"
      integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc"
      crossorigin="anonymous">

<% unless defined?(minimal) && minimal %>
  <%= render partial: 'layouts/head_to_replace' %>
<% end %>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= vite_client_tag %>
<%= vite_javascript_tag "application.js" %>
