<title>
  <%= full_title(yield(:title)) %>
</title>


<link rel="icon" href="/MaMpf-Logo_96x96.png">

<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application',
                        media: 'all',
                        'data-turbolinks-track': 'reload' %>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.0/css/all.min.css"
      integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0="
      crossorigin="anonymous">
<%= javascript_include_tag 'application',
                           'data-turbolinks-track': 'reload' %>
<script src="https://cdn.jsdelivr.net/npm/babel-polyfill@6.26.0/dist/polyfill.min.js"
        integrity="sha256-WRc/eG3R84AverJv0zmqxAmdwQxstUpqkiE+avJ3WSo="
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/cytoscape@3.12.1/dist/cytoscape.min.js"
        integrity="sha256-vaWKzwOlHpJzvE1q0q9nfurKXD8xeGaOhdMa6eea+wM="
        crossorigin="anonymous">
</script>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.css"
      integrity="sha384-r/BYDnh2ViiCwqZt5VJVWuADDic3NnnTIEOv4hOh05nSfB6tjWpKmn1kUHOVkMXc"
      crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/nerdamer@1.1.0/nerdamer.core.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/nerdamer@1.1.0/Algebra.js"
        integrity="sha256-rADF2WO6GbkNb5O9gqHdjQ/XhrfnXDtPdHdRe5KQmek="
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/sanitize-html@1.27.0/dist/sanitize-html.min.js" integrity="sha256-+Tha6wUu+wzAOUzilJ7AmF4OXc3CsY1aMsWopnCVwb4=" crossorigin="anonymous"></script>
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/katex.min.js"
        integrity="sha384-zDIgORxjImEWftZXZpWLs2l57fMX9B3yWFPN5Ecabe211Hm5ZG/OIz2b07DYPUcH"
        crossorigin="anonymous">
</script>
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.13.9/dist/contrib/auto-render.min.js"
        integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl"
        crossorigin="anonymous">
</script>
<link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.bootstrap4.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <%= javascript_pack_tag 'application' %>
 <%= stylesheet_pack_tag 'application' %>
 <script type="application/javascript">
    
</script>