<title>
  <%= full_title(yield(:title)) %>
</title>

<link rel="manifest" href="/manifest.json">

<%= csrf_meta_tags %>
<%= vite_stylesheet_tag "application.scss",
                        media: "all",
                        "data-turbo-track": "reload" %>

<!-- For old sprockets assets (commontator, thredded, exception_handler) -->
<%= stylesheet_link_tag "sprockets" , media: "all" %>

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.0/css/all.min.css"
      integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0="
      crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<script src="https://cdn.jsdelivr.net/npm/cytoscape@3.12.1/dist/cytoscape.min.js"
        integrity="sha256-vaWKzwOlHpJzvE1q0q9nfurKXD8xeGaOhdMa6eea+wM="
        crossorigin="anonymous">
</script>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.css"
      integrity="sha384-Pu5+C18nP5dwykLJOhd2U4Xen7rjScHN/qusop27hdd2drI+lL5KvX7YntvT8yew"
      crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/nerdamer@1.1.0/nerdamer.core.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/nerdamer@1.1.0/Algebra.js"
        integrity="sha256-rADF2WO6GbkNb5O9gqHdjQ/XhrfnXDtPdHdRe5KQmek="
        crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/sanitize-html@1.27.0/dist/sanitize-html.min.js" integrity="sha256-+Tha6wUu+wzAOUzilJ7AmF4OXc3CsY1aMsWopnCVwb4=" crossorigin="anonymous"></script>
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.js"
        integrity="sha384-2B8pfmZZ6JlVoScJm/5hQfNS2TI/6hPqDZInzzPc8oHpN5SgeNOf4LzREO6p5YtZ"
        crossorigin="anonymous">
</script>
<script defer
        src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/contrib/auto-render.min.js"
        integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js">
</script>
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.bootstrap5.min.css"
      rel="stylesheet">

<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= vite_client_tag %>
<%= vite_javascript_tag "application" %>
