<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
    <%= render partial: 'layouts/head_additional_js' %>
    <%= vite_stylesheet_tag "styles/admin.scss" %>
    <meta name="theme-color" content="#821A3B " />
  </head>

  <body data-locale="<%= I18n.locale %>" class="admin-background">
    <%= render partial: "flash/messages" %>

    <div id="admin-navbar">
      <%= render partial: "administration/navbar" %>
    </div>

    <div class="container-fluid">
      <main>
        <%= yield %>
      </main>
    </div>

  </body>
</html>
