<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
    <%= render partial: 'layouts/head_additional_js' %>
  </head>
  <body data-locale="<%= I18n.locale %>"
        class="bg-lime-lighten-5">
    <div id="admin-navbar">
      <%= render partial: 'administration/navbar' %>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
