<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
  </head>
  <body data-locale="<%= I18n.locale %>" style="overflow-y: scroll;">
    <%= render partial: 'shared/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebar"
             class="col-sm-3 col-md-2 d-block bg-blue-gray-lighten-5 pt-3">
          <%= render partial: 'shared/sidebar',
                     locals: { course:
                                 Course.includes(lectures: [:term]).find_by_id(course_id_from_cookie) || Course.first } %>
        </nav>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
          <div class="alert alert-danger" id="js-messages" role="alert"
               style="display: none;">
          </div>
          <% if alert.present? %>
            <div class="alert alert-danger" role="alert">
              <%= alert %>
            </div>
          <% end %>
          <% if notice.present? %>
            <div class="alert alert-secondary" role="alert">
              <%= notice %>
            </div>
          <% end %>
          <%= yield %>
        </main>
      </div>
    </div>
    <footer>
      <%= render partial: 'shared/footer' %>
    </footer>
  </body>
</html>
