<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
    <%= stylesheet_link_tag 'sidebar' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>
  <body data-locale="<%= I18n.locale %>"
      class="d-flex flex-column min-vh-100">
    <%= render partial: 'shared/navbar' %>
    <div class="d-flex container-fluid flex-grow-1">
      <div class="row" id="main-content-row">
        <% lecture = @lecture || current_lecture %>
        <% if lecture %>
          <div id="sidebar-container"
            class="col-sm-4 col-md-3 col-xl-2">
            <nav id="sidebar">
              <%= render partial: 'shared/sidebar',
                         locals: { lecture: lecture } %>
            </nav>
          </div>
        <% end %>
        <main class="col-sm-8 ml-auto col-md-9 col-xl-10 pt-3" role="main">
          <div class="alert alert-danger" id="js-messages" role="alert"
               style="display: none;">
          </div>
          <% if alert.present? %>
            <div class="alert alert-danger" role="alert">
              <%= sanitize alert, :tags => %w(br) %>
            </div>
          <% end %>
          <% if notice.present? %>
            <div class="alert alert-secondary" role="alert">
              <%= sanitize notice, :tags => %w(br) %>
            </div>
          <% end %>
          <%= yield %>
        </main>
      </div>
    </div>
    <div id="modal-container"></div>
    <footer class="container-fluid mt-4 p-0">
      <%= render partial: 'shared/footer' %>
    </footer>
  </body>
</html>
