<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
       <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
       </script>
     <![endif]-->
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
   <%= render 'shared/navbar' %>
    <div class="container-fluid">
       <div class="row">

         <%= render partial: 'shared/sidebar', locals: { lecture_id: cookies[:current_lecture] ||= '1'} %>
         <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
           <% if alert.present? %>
             <div class="alert alert-primary" role="alert">
               <%= alert %>
             </div>
           <% end %>
           <% if notice.present? %>
             <div class="alert alert-secondary" role="alert">
               <%= notice %>
             </div>
           <% end %>
             <%= yield %>
         </main>
       </div>
     </div>

    <hr>

    <footer>
      <p>&copy; MaMpf Team 2017. MaMpf ist auf <%= link_to 'github', 'https://github.com/fosterfarrell9/mampf' %>.
      Powered by <%= link_to 'Rails','http://rubyonrails.org/' %>, <%= link_to 'Bootstrap', 'https://getbootstrap.com/' %> and <%= link_to 'Devise', 'https://github.com/plataformatec/devise' %>.
      <br>
        Bugs meldest Du am besten auf der <%= link_to 'github', 'https://github.com/fosterfarrell9/mampf' %>-Seite.
         Weiteres Feedback kannst Du gerne auch an <%= mail_to 'mampf@mathi.uni-heidelberg.de', nil %> schicken.
    </footer>

  </div>
  </body>
</html>
