<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
       <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
       </script>
     <![endif]-->
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
   <%= render 'shared/navbar' %>
   <% if alert.present? %>
     <div class="alert alert-primary" role="alert">
       <%= alert %>
     </div>
   <% end %>
   <% if notice.present? %>
     <div class="alert alert-secondary" role="alert">
       <%= notice %>
     </div>
   <% end %>
    <div class="container-fluid">
       <div class="row">

         <%= render partial: 'shared/sidebar', locals: { lecture_id: cookies[:current_lecture] ||= '1'} %>
         <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
             <%= yield %>
         </main>
       </div>
     </div>

    <hr>

    <footer>
      <p>&copy; MaMpf Team 2017</p>
    </footer>

  </div>
  </body>
</html>
