<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
    <%= stylesheet_link_tag 'landing' %>
  </head>
  <body data-locale="<%= I18n.locale %>"
      class="d-flex flex-column min-vh-100"
      id="landing-body">
    <div class="container-sm p-0 d-flex flex-column align-items-center justify-content-center h-100 flex-grow-1">

      <%# Announcements %>
        <% if Announcement.active_on_main.exists? %>
          <div id="announcement-box" class="landing-box">
            <i class="bi bi-megaphone p-1"></i>
            <%= t('announcements')%>
            <hr>
            <%= get_announcements().html_safe %>
          </div>
        <% end %>

      <div id="signin-box" class="row landing-box position-relative">
        <div id="language-switch" title="language switch">
            <% I18n.available_locales.each do |l| %>
              <% unless l == I18n.locale %>
                <%= link_to l.to_s,
                            { locale: l } %>
              <% end %>
            <% end %>
        </div>

        <div class="row mb-2">
          <h1 class="col-12">
              <%= image_tag "MaMpf-Logo.svg", class: 'img-fluid mr-2', id:'mampf-logo' %>
              <%= t('mampf') %>
          </h1>
        </div>

        <div class="row">
          <div class="col-lg-7">
            <h5>
              <%= t('main.welcome') %>
            </h5>

            <%= t('main.about') %>
            <ul class="ul-no-indentation">
              <li>
                <%= t('main.kaviar_html') %>
              </li>
              <li>
                <%= t('main.sesam_html') %>
              </li>
              <li>
                <%= t('main.keks_html') %>
              </li>
            </ul>
            <%= t('main.interested_html',
                  blog: link_to(t('main.blog'),
                                DefaultSetting::BLOG_LINK, target: :_blank),
                  researchgate: link_to(t('main.researchgate'),
                                        DefaultSetting::RESEARCHGATE_LINK, target: :_blank),
                  guided_tour: link_to(t('here_capital'),
                                      DefaultSetting::TOUR_LINK, target: :_blank),
                  resources: link_to(t('main.resources'),
                                    DefaultSetting::RESOURCES_LINK,
                                    target: :_blank)) %>
          </div>

          <div class="signin-form col-lg-5 pr-2">
            <div class="alert alert-danger" id="js-messages" role="alert"
                style="display: none;">
            </div>
            <% if alert.present? %>
              <div class="alert alert-danger" role="alert">
                <%= sanitize alert, :tags => %w(br) %>
              </div>
            <% end %>
            <% if notice.present? %>
              <div class="alert alert-secondary" role="alert">
                <%= sanitize notice, :tags => %w(br) %>
              </div>
            <% end %>

            <%# Actual login form %>
            <div id="login-form">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    
    <footer class="container-fluid mt-4 p-0">
      <%= render partial: 'shared/footer' %>
    </footer>
  </body>
  
</html>