<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
  </head>
  <body data-badbrowser="<%= I18n.t('errors.thyme.bad_browser') %>"
    data-locale="<%= I18n.locale %>"
    data-nometadata="<%= I18n.t('errors.thyme.no_metadata') %>">
    <%= yield %>
  </body>
</html>
