<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
    <%= stylesheet_link_tag 'vignettes_navbar' %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%= render partial: 'shared/navbar' %>
    
    <% lecture = @lecture || current_lecture %>
    <% if lecture && lecture.sort == "vignettes" %>
      <div class="vignettes-navbar-container">
        <div class="vignettes-navbar">
          <nav class="nav nav-tabs justify-content-center border-0">

            <!-- Organizational -->
            <% if lecture.organizational %>
              <% path = organizational_path(lecture) %>
              <% active_class = get_class_for_path(path) %>
              <a href="<%= url_for(path)%>"
                  class="nav-link <%= active_class.present? ? 'active' : '' %>
                        <%= !lecture || !lecture.reste?(current_user) || !lecture.organizational ? 'disabled' : '' %>">
                <i class="bi bi-info-square<%= active_class.present? ? "-fill" : "" %>"></i>
                <%= t('categories.organizational_html') %>
              </a>
            <% end %>


            <!-- Questionnaires -->
            <a href="<%= lecture_questionnaires_path(lecture) %>" 
               class="nav-link <%= request.path.include?('questionnaires') ? 'active' : '' %>">
              <i class="bi bi-ui-checks me-2"></i>
              <%= t('vignettes.questionnaires') %>
            </a>

            <!-- Information -->
            <% project_name = 'reste' %>
            <% active_class = get_class_for_project(project_name) %>
            <a href="<%= lecture_food_path(lecture, params: { project: project_name }) %>" 
               class="nav-link <%= active_class.present? ? 'active' : '' %>
                      <%= !lecture || !lecture.reste?(current_user) ? 'disabled' : '' %>">
              <i class="bi bi-info-circle<%= active_class.present? ? "-fill" : "" %> me-2"></i>
              <%= t('vignettes.information') %>
            </a>

          </nav>
        </div>
      </div>
    <% end %>
    
    <!-- Main Content -->
    <main class="container-fluid flex-grow-1 pt-3" role="main">
      <% if alert.present? %>
        <div class="alert alert-danger" role="alert">
          <%= sanitize alert, :tags => %w(br) %>
        </div>
      <% end %>
      <% if notice.present? %>
        <div class="alert alert-secondary" role="alert">
          <%= sanitize notice, :tags => %w(br) %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    
    <footer class="mt-auto">
      <%= render partial: 'shared/footer' %>
    </footer>
  </body>
</html>