<p>
  <%= t('profile.become_tutor', lecture: voucher.lecture.title) %>

  <% if current_user.in?(voucher.lecture.tutors) %>
    <%= t('profile.already_tutor',
          tutorials: tutorials_with_tutor_titles(current_user, voucher)) %>
  <% end %>
</p>

<% if voucher.lecture.tutorials_without_tutor(current_user).any? %>

  <%= render partial: "vouchers/voucher_form", locals: { voucher: voucher } %>

<% elsif voucher.lecture.tutorials.any? %>

    <%= t('profile.all_tutorials_taken') %>
    <%= cancel_voucher_button %>

<% else %>

  <%= t('profile.no_tutorials_yet') %>

  <% if current_user.in?(voucher.lecture.tutors_by_redemption) %>

      <%= t('profile.already_tutor_by_redemption') %>
      <%= cancel_voucher_button %>

  <% else %>

    <p class="mt-4">
      <%= redeem_voucher_button(voucher) %>
      <%= cancel_voucher_button %>
    </p>

  <% end %>
<% end %>