<%= form_with url: redeem_voucher_path,
              remote: true,
              method: :post,
              html: { class: "form-inline" } do |f| %>
  <%= f.hidden_field :secure_hash, value: voucher.secure_hash %>
  <div class="form-group d-flex">
    <%= f.select :talk_ids,
                 options_for_select(talk_options(current_user, voucher)),
                 { prompt: t('profile.select_talks') },
                 { multiple: true, class: 'selectize me-2 w-50' } %>
    <%= f.submit t('profile.redeem_voucher'), class: "btn btn-primary" %>
    <%= cancel_voucher_button %>
  </div>
<% end %>