<%= form_with url: redeem_voucher_path,
              remote: true,
              method: :post,
              html: { class: "form-inline" } do |f| %>

  <%= f.hidden_field :secure_hash, value: voucher.secure_hash %>

  <div class="form-group d-flex">

    <%= claim_select_field(f, current_user, voucher) %>
    
    <%= f.submit t('profile.redeem_voucher'), class: "btn btn-primary",
                 data: { cy: "claim-submit"} %>
    <%= cancel_voucher_button %>
  </div>

<% end %>