<% voucher = lecture.active_voucher_of_role(role) %>
<% if voucher %>
  <div>
    <span>
        <%= t('admin.voucher.secure_hash') %>:
        <%= voucher.secure_hash %>
    </span>
    <i class="clipboardpopup far fa-copy clickable text-secondary clipboard-btn
              ms-3 clipboard-button"
       data-clipboard-text="<%= voucher.secure_hash %>"
       data-bs-toggle="tooltip"
       data-id="<%= voucher.secure_hash %>"
       title="<%= t('buttons.copy_to_clipboard') %>">
      <span class="clipboardpopuptext token-clipboard-popup"
            data-id="<%= voucher.secure_hash %>">
        <%= t('basics.code_copied_to_clipboard') %>
      </span>
    </i>
    <%= link_to invalidate_voucher_path(voucher),
                class: 'text-dark ms-2',
                data: { toggle: 'tooltip',
                        placement: 'bottom',
                        confirm: t('confirmation.generic') },
                style: 'text-decoration: none;',
                title: t('buttons.invalidate'),
                method: :post,
                remote: true do %>
        <i class="fas fa-lg fa-trash-alt"></i>
        </i>
    <% end %>

    <p>
      <%= t('admin.voucher.expires_at') %>:
      <%= l(voucher.expires_at, format: :long) %>
    </p>

  </div>
<% else %>
  <p>
    <%= t('admin.lecture.no_active_voucher',
          role: t("basics.voucher_for", role: t("basics.#{role}s"))) %>
    <%= link_to vouchers_path(params: { lecture_id: lecture.id,
                                        role: role }),
                class: 'text-dark ms-2',
                data: { toggle: 'tooltip',
                        placement: 'bottom' },
                title: t('buttons.create_voucher'),
                method: :post,
                remote: true do %>
        <i class="fas fa-plus"></i>
    <% end %>
  </p>
<% end %>
